[2022-04-20 05:24] dschult commented on #5557
For the `"a->b->c->d"` case we should have 3 triads for each node -- so if we sum the individual node counts, we should get 12 counts.  I only get 4 counts total:  2 for "021D" and 2 for "021C". And there are no triads counted for node "d".

I think we made a serious error when we added the `nodelist` parameter to this code. It would work fine if we didn't have all that code to avoid considering t

[2022-04-20 05:57] r1ght0us commented on #5557
@dschult
Sir, If there is no parameter "nodelist", is this `triad_census` to run normal?
:-)

[2022-04-20 06:37] MridulS opened #5562 "Properly handle edge cases for greedy_modularity_communities"
Currently we don't do a good job of catching edge cases like empty graph, no edges, 3 nodes 1 edge:
[code]

We should catch them and error out more gracefully.

[2022-04-20 12:21] 0ddoes opened #5564 "Sorting of Connected Components for Directed Graphs"
It is not possible to sort the connected_graphs() of a Directed Network as it raises the ```nx.NetworkXNotImplemented``` Error for me. I wanted to plot only the most connected subgraph , however it doesn't allow to sort. Is this normally not implemented for Directed Graphs?

[2022-04-20 14:22] #5530 closed

[2022-04-20 14:26] dschult commented on #5557
The `triad_census` code without a `nodelist` parameter has been around for a long time and seems to be solidly correct. (though I thought the nodelist part of it was correct, so maybe there is something subtle that we've missed). The `nodelist` feature is relatively new and I can see where the bug is coming from there, and that bug has no impact on the correctness of the calculation without `nodel

[2022-04-21 01:18] baheckman opened #5566 "induced_subgraph docs show unrelated example"
The example on the documentation for induced_subgraph [here](https://networkx.org/documentation/stable/reference/generated/networkx.classes.function.induced_subgraph.html) shows an example of a generic subgraph function, not the induced_subgraph function.

### Current Behavior

Currently the doc page in question does not show an example of the function it is documenting in the example. It shows an

[2022-04-21 01:18] baheckman commented on #5566
If this is something that should be fixed, I'm happy to take this on!

[2022-04-21 06:28] 0ddoes commented on #5535
@MridulS Could you take a look at this [PR](https://github.com/networkx/nx-guides/pull/72). I have tried to make a notebook on the Issue, however my plots are not showing in the Output. Could you please help me in solving it?

[2022-04-21 17:49] rossbar commented on #5566
This is a bit tricky... if you look at the implementation of the `subgraph` method (i.e. `G.subgraph`) it looks like it returns the induced subgraph. I agree that the docstring for `induced_subgraph` should probably show the function itself being used though, and perhaps mention that the subgraph method of graphs also returns the induced subgraph.

[2022-04-22 00:29] baheckman commented on #5566
Agree. I can give this one a shot and put a PR up in the next few days.

[2022-04-22 04:20] daytonb opened #5568 "The `maximal_independent_set` function does not always generate a *maximal* independent set for selected node(s)."
The `maximal_independent_set` function does not always generate a *maximal* independent set for selected node(s). The set it returns is guaranteed to be an independent set, but isn't guaranteed to be maximal.

### Current Behavior

Since each step proceeds with a  *randomly* chosen feasible node, the algorithm never backtracks to see if it could have chosen a node that results in a larger independ

[2022-04-22 13:49] dschult commented on #5568
Are you working toward getting a `maximum independent set`?
This function is looking for a `maximal independent set`.
Doesn't maximal only require that you can't add more? Not that backtracking could produce a better set?

[2022-04-22 14:31] daytonb commented on #5568
Well, I didn't think of it was searching for the maximum independent set because I was thinking that by specifying a given node or set of nodes that I wasn't searching *all* of the graphs maximal independent sets for the largest one. In retrospect, though expecting it to return an independent set containing my specified nodes such that no other independent set containing those nodes is larger, is

[2022-04-22 18:29] dschult commented on #5568
It's not a waste of our time -- it's a request for functionality that we currently don't provide.
I can imagine an algorithm to do what you need to do. Do you know of such an algorithm published somewhere?

And we have thought about your suggestion for independent set functions that simply use the functions for cliques. They mostly seem like one-liners. `nx.enumerate_all_cliques(nx.complement(G))`

[2022-04-23 05:15] daytonb commented on #5568
Actually I think the algorithms are essentially a duplicates of the algorithms for the cliques with a couple of minor tweaks. For example, I just finished reading through the `find_cliques_recursive` function and I *think* the same algorithm with some modifications of the set operations, but I might be wrong on that. Of course the cheat with that function would just be to modify the line where it

[2022-04-23 22:14] code-review-doctor opened #5573 "Missing `f` prefix on f-strings"
Some strings looks like they're meant to be f-strings but are missing the `f` prefix meaning variable interpolation won't happen.

https://github.com/networkx/networkx/blob/e48d5f27e7026c5d104d3042dbd9b4d603c062bf/networkx/utils/decorators.py#L248
https://github.com/networkx/networkx/blob/e48d5f27e7026c5d104d3042dbd9b4d603c062bf/networkx/readwrite/gml.py#L594

I found this issue automatically. I'm

[2022-04-24 19:26] #5573 closed

[2022-04-25 03:29] baheckman commented on #5209
Is the `@not_implemented_for("multigraph")` needed for any of the LCA algorithms? According to the docs, these functions should work on any non-null DAG, which can include a MultiDiGraph I think.

A previous change refactored the decorator from `@not_implemented_for("multigraph", "undirected")` to the current setting [here](https://github.com/networkx/networkx/pull/2603). However, I think this sho

[2022-04-25 18:11] dtekinoglu commented on #4485
Hello @dschult , I want to work on this issue if it is still needed.

[2022-04-25 20:34] dschult commented on #5209
Can you figure out whether this code for LCA algorithms works for multigraphs?  Maybe take out the "not_implemented_for" line for multigraph and try it on a few carefully constructed MultiDiGraphs. If there are inconsistent results we could start with a test that shows the problem -- that might make it possible to adapt the code to work for MultiDiGraph. If there are no inconsistent results then i

[2022-04-25 21:09] dschult commented on #4485
Hello @dtekinoglu , I think what is needed here is an example in the doc_string similar to the "workaround" above that shows users ho to update their edge attributes after the `compose` operation.
Thanks!!

[2022-04-25 22:59] #5566 closed

[2022-04-26 02:16] rossbar commented on #5568
This seems like a good idea to me - the current module docstring for `mis.py` isn't particularly illustrative. Adding examples (if possible/sensible) and illustrating the relationship to related functionality via explanation and perhaps `See Also` links would be a nice improvement.

[2022-04-26 04:54] rossbar commented on #5564
I'm not quite sure I understand the question. If you mean you want a list of the strongly connected components of a directed graph in order of component size you could do something like:

[code]

I'm not sure this is what you had in mind though... if not, it would help to have a minimal example of the behavior you're looking for!

[2022-04-26 09:24] leotrs opened #5582 "Unexpected behavior when using np.int64 instead of int when creating a graph"
When trying to create a lollipop graph, I get different results depending on whether the arguments passed are `int` or `np.int64`.

### Current Behavior
Two DIFFERENT graphs are returned, even when the arguments are numerically the same.

### Expected Behavior
The two graphs should be the same.

### Steps to Reproduce
[code]

### Environment

Python version: 3.8.10
NetworkX version: 2.5
numpy vers

[2022-04-26 16:17] dschult commented on #5582
I can verify this defect.  Thanks very much.
It looks like checking `isinstance(m, int)` doesn't work for `np.int64`.
We may want to add a conversion to `int` in the `nodes_or_number` decorator that processes `m`.
But is there a standard way to check numpy values for whether they are integers or not?

[2022-04-26 16:45] rossbar commented on #5582
Yes, that would be expected - `np.int64` is a fixed-width integer type whereas the Python int is not. A better way to check if something is *any* integer type is to use the `Integral` abc, e.g.

[code]

[2022-04-26 18:24] rossbar opened #5584 "Policy for docstring consistency among graph classes"
This discussion was originally brought up in #5529 in the context of updating the `degree` method docstring for the MultiGraph class. The question then becomes: what should be done about the `degree` method for the other classes (`Graph`, `DiGraph`, etc.)? What is the best approach for keeping the class+method docstrings in sync (and correct from a typing perspective) while taking into account the

[2022-04-26 19:12] dschult commented on #5582
Thanks @rossbar!
I think in this case, the `isinstance` is being used to determine whether the input successfully executed `list(range(n))` used inside the `nodes_or_number` decorator.
Time for an audit of the use of `nodes_or_number`   :}

Potential problems:
- The functions that actually use the 1st value returned by `nodes_or_number` are:
   - `star_graph`, `wheel_graph`, `lollipop_graph`, `com

[2022-04-27 14:22] williamjallen opened #5587 "Label propagation documentation mistake"
It appears that the documentation for [this](https://networkx.org/documentation/stable/reference/algorithms/generated/networkx.algorithms.community.label_propagation.label_propagation_communities.html) function has a typo.  Is the highlighted text supposed to be a link?  See attached screenshot.

![image](https://user-images.githubusercontent.com/16820599/165540206-c2e8635b-6f99-44f4-95ae-8088ea8b

[2022-04-27 19:48] #4485 closed

[2022-04-27 20:36] rossbar commented on #5587
Closed by #5588

[2022-04-27 20:36] #5587 closed

[2022-04-28 21:30] rossbar commented on #5584
I agree that consistency among the method docstrings for the various classes should be the goal. Based on my current understanding of how docstrings work with inheritance, there are two approaches, each with their own advantages and drawbacks:
 1. Define a single, generic docstring for the method in the base class which will be inherited by the others, or
 2. Define an explicit method docstring in

[2022-04-28 22:13] dschult commented on #5584
Nice summary and statement of the problem and some possible solutions.

The current doc_strings were created as "have a single doc_string for all 4 graph cases and copy any changes to all 4 supposedly identical versions".  Of course, over time they have diverged -- but I think only slightly. The idea behind copying the identical doc_strings was so that someone reading the code had the doc_string r

[2022-04-28 22:39] rossbar commented on #5584
This is a good point and something I didn't consider above - docstring inheritance works for the interactive-help use case (e.g. `help()` or `?`/`??` in IPython/Jupyter) and for the generated html docs (i.e. sphinx), but it doesn't help in the case of someone reading the source code which is obviously very important!

[2022-04-29 14:08] mboisson opened #5590 "networkx-2.8-py3-none-any.whl wheel is NOT compatible with all python 3"
### Current Behavior
py3-none-any wheels (for networkx 2.8) should be compatible with all versions of python 3, or it should be a cp38, cp39, cp310, etc. Shouldn't it ?

[code]

### Expected Behavior
That `py3` wheels don't have a requirement other than using python 3.x, for any x that is not EOL yet (python 3.7 is not EOL yet)

[2022-04-29 14:52] SalvatoreRa opened #5591 "Install Networkx 2.8 in colab"
I have tried to install networkx in colab. I need the latest version 2.8 or at least 2.7, since I want to use the louvain_communities.

If I use the standard example:
[code]
I get:

`AttributeError: module 'networkx.algorithms.community' has no attribute 'louvain_communities'`

Thus I tried:
[code]
which just allow me to install networkx 2.6.3

Or I tried:

`!pip install git+https://github.com/net

[2022-04-29 15:24] MridulS commented on #5591
This is probably because of google colab default python version. They have py3.7 be default and networkx 2.7+ requires python 3.8.
So please first update python in your colab session and then you should be able to update the networkx version available in google colab.

[2022-04-29 15:24] #5591 closed

[2022-04-29 18:17] jarrodmillman commented on #5590
networkx-2.8-py3-none-any.whl supports Python 3.8, 3.9, and 3.10.

[2022-04-29 18:20] jarrodmillman commented on #5590
The command
[code]
should install the most recent version of networkx that your system supports.

[2022-04-30 07:00] 0ddoes opened #5592 "```G.edges(data = True)``` not giving attributes of self loops"
While I was trying to get the edge DataView of the following graph for the Contribution #5474 I saw that the attributes assigned to the self Edge in the Multigraph is not displayed when given  ```G.edges(data = True)```. Is it because it outputs only the ```OutMultiEdgeDataView```(meaning only the out edges?) or is this a defect?
[code]

[2022-04-30 07:19] 0ddoes commented on #5564
Thank you for the response. I don't remember why exactly the error occured, but I did solve it using ```max(nx.strongly_connected_components(G), key=len)```. At the time I got the error when using sorted on Directed Graphs, and was not able to get the subgraph from the parent Graph.

I included it in #72 in nx_guides

[2022-04-30 15:19] dschult commented on #5592
There is no edge `(2,2,4)` so the set_edge_attributes didn't set those attributes.

[2022-04-30 15:26] #5564 closed

[2022-05-01 16:47] dtekinoglu opened #5594 "Inconsistent implementation of Euler algorithms"
According to my research, having an Euler Circuit and/or Euler Path does not require a graph to be connected. Instead, it is enough that all of its vertices **with nonzero degree** belong to a single connected component. Nevertheless, there are some resources which states that a graph can have Euler Path and/or Euler Circuit  iff it is connected.

In the doc_string, it is stated that `has_eulerian

[2022-05-02 04:04] dschult commented on #5594
I looked at the "blame" history of this file (available from a button at the top right of the "view file" screen which is available at the upper right of each file on the PRs diff page).
From the beginning, we have defined eulerian and the eulerian_circuit code to rule out isolated nodes. That is the eulerian circuit must visit all nodes and cross all edges.

In PR #3399 we added functions for `eu

[2022-05-02 07:48] Jasmine-lxn opened #5595 "Property graph converted using to_networkx() cannot be saved correctly to gexf file"
### Current Behavior

**I want to use to_networkx() to convert the data in torch to networkx (retain the attributes of nodes and edges in the graph data), and then save it as a gexf file by using nx.write_gexf() , but it always prompts an error, what should I do? **

### Expected Behavior

### Steps to Reproduce

`
import torch
from torch_geometric.datasets import TUDataset
from torch_geometric.da

[2022-05-02 14:07] mboisson commented on #5590
I get that, but shouldn't `py3` support all versions of Python 3 that are not end of life ? Python 3.7 is not yet end of life, and is still widely used.

[2022-05-02 17:30] dschult commented on #5595
Can you give us the error that you've got?

[2022-05-02 18:28] zabojpetr opened #5596 "TSP methods has different functional prescription and function traveling_salesman_problem doesn't count with that"
### Current Behavior

The function [traveling_salesman_problem](https://github.com/networkx/networkx/blob/7e17ff9007d2e71c2ea2a6d340889c331689343c/networkx/algorithms/approximation/traveling_salesman.py#L199) choose TSP method by one of function parameters called "method". The problem is, that [christofides](https://github.com/networkx/networkx/blob/7e17ff9007d2e71c2ea2a6d340889c331689343c/network

[2022-05-02 18:42] dschult commented on #5590
Are you saying that it should be named `networkx-2.8-py38.py39.py310-none-any.whl`?

[2022-05-02 19:47] jarrodmillman commented on #5590
The current error states:
[code]

We can change this error message, if you have some suggestions.  It seems pretty clear to me, though. Would changing this to something like:
[code]
make the error message clearer? We could also add something like:
[code]

[2022-05-02 21:18] dschult commented on #5596
Thanks very much for this!

This is an intentional, yet confusing interface and probably should be improved. There are many ways in which this could be addressed. We currently rely on people using the `method` argument by constructing a function with 2 arguments. And our current doc_string lists these two problematic [simulated_annealing_tsp](https://github.com/networkx/networkx/blob/7e17ff9007d2e

[2022-05-03 00:58] Jasmine-lxn commented on #5595
OK, I have uploaded the error information in the format of picture.

[2022-05-03 01:11] dschult commented on #5595
It looks like you have stored attributes with values that are lists. That won't work with the gexf writer.
Is there a reason you are using GEXF? Perhaps there is a better format for storing your data?
Or, perhaps you could store the data attributes as dicts or numpy arrays?

[2022-05-03 01:57] Jasmine-lxn commented on #5595
I want to use the file in gexf format to calculate the graph editing distance between two graphs. Now I know. I'll try another format. Thank you!

[2022-05-03 12:49] dschult opened #5597 "GEXF format restricts attribute lists to be a specific format for temporal graphs. Should it?"
#5595 reveals that `write_gexf` raises a somewhat cryptic error message when a graph's node/edge attributes contain lists that don't follow a specific format. The format seems to be built for temporal graphs using variable names `value, start, end`. But why should data attributes that are lists be restricted to having only 3 entries? This seems overly restrictive. Perhaps there is some benefit to

[2022-05-03 15:22] brainfo opened #5598 "What verson of NetworkX added 'louvain_communities'?"
### Current Behavior
when I import network.community or networkx.algorithms.community, there's no attribute 'louvain_communities' to be used.
[code]
Other attributes such as label_propagation_communities works fine
(I also tried networkx.algorithms.community, )
### Expected Behavior
In your manual:
The functions in this class are not imported into the top-level networkx namespace. You can access t

[2022-05-04 17:06] dschult commented on #5584
It looks like PR #5529 didn't fix the problem for `InDegreeView` and `OutDegreeView` and their counterparts in the other classes.  I foresee this arising for other base class method doc_strings (e.g. edges, nodes, adj?, others?). Perhaps a broader in scope, yet more focused effort on getting all typing correct in the base class doc_strings is warranted.

[2022-05-05 03:26] horstjens opened #5604 "bug in documentaiton of read_dot"
The usage example at the bottom of "read_dot" ( https://networkx.org/documentation/stable/reference/generated/networkx.drawing.nx_pydot.read_dot.html ) is misleading. It says:

Use `G = nx.Graph(read_dot(path))` to return a Graph instead of a MultiGraph.

should be instead:

Use `G = nx.Graph(nx.nx_pydot.read_dot(path))` to return a Graph instead of a MultiGraph.

I guess the problem is an outdate

[2022-05-05 11:07] dschult commented on #5604
Yes, this string of code would only work if you have done:
`from networkx import nx_pydot.read_dot as read_dot` or `from networkx.nx_pydot import *` or similar.

I like your suggestion of changing the string of code to:
```G = nx.Graph(nx.nx_pydot.read_dot(path))```
This is in the repo at: `networkx/drawing/nx_pydot.py`
Should be an easy fix. Thank You!

[2022-05-05 16:24] #5604 closed

[2022-05-06 13:54] stanyas commented on #5562
Hi Mridul,

I would like to work on the issue, plus its visualization. Is this the desired behavior?

Instead of ValueError, printing 'This is an empty graph.'
Instead of StopIteration, printing 'Only one edge.'
Instead of ZeroDivisionError, print 'no edges.'

Thanks.

[2022-05-06 14:49] shivonkar opened #5609 "draw_networkx_edge_labels does not work for multidigraph"
### Current Behavior

The dictionary returned by nx.get_edge_attributes has the structure (source, dest, enum):attr, where the third field just enumerates the occurrences of each edge. This third field is necessary because keys have to be unique in the dictionary. However this will imply that it cannot be used in nx.draw_networkx_edge_labels, because it expects a (source, dest):attr structured dic

[2022-05-06 14:58] Bumblebee118 opened #5610 "find_negative_cycle() raises Exception when passed a list as the source argument"
The problem of this issue has also been discussed in [this StackOverflow post.](https://stackoverflow.com/questions/72142592/networkx-find-negative-cycle-parameters?noredirect=1#comment127468735_72142592)

### Current Behavior
When a list of nodes is passed as an argument into the find_negative_cycle() function the following error occurs:
`TypeError: unhashable type: 'list'`

### Expected Behavior

[2022-05-06 16:33] RobinSobczyk commented on #5609
Had the exact same problem ! There seem to be workarounds by exporting to a dot file and using pydot/pygraphviz. However, I find matplotlib more convenient for lots of things, like widgets that are useful for teaching/interactive notebooks etc.

[2022-05-07 03:01] dschult commented on #5610
Yes, this is a documentation error. The parameter should not be a list.
It should be a node from which to start the search for a negative cycle.
The documentation is wrong.   Thank you for bringing this to our attention.

[2022-05-07 04:24] dschult opened #5612 "Consider options for decorator nodes_or_number"
Recent Issue #5582 and PR #5599 have given me a chance to look at the decorator `nodes_or_number` more closely.  I can envision different improvements that go in different directions.

- many functions use this decorator and then quickly call `empty_graph` with results. But `empty_graph` is also decorated, so the same computations are used again. But removing the decorator and just feeding the inp

[2022-05-07 05:31] shivonkar commented on #5609
Hi,The workaround may not work in production where we do not have access.
Hope, it will be fixed soon
Thank you, Shiv, 91-9108282540

    On Friday, 6 May, 2022, 10:03:32 pm IST, RobinSobczyk ***@***.***> wrote:

Had the exact same problem ! There seem to be workarounds by exporting to a dot file and using pydot/pygraphviz. However, I find matplotlib more convenient for lots of things, like widget

[2022-05-07 13:28] #5598 closed

[2022-05-07 13:52] dschult commented on #5594
After re-reading this with a couple days for perspective, I think we should stick with excluding isolated nodes from our definition of eulerian circuit and eulerian path. This should be well documented in each function, with an example in some main function(s) of how to remove isolated nodes for people who want the other definition.

The desire to allow isolated nodes is driven by a mistaken notio

[2022-05-07 13:53] #5592 closed

[2022-05-07 13:58] dschult commented on #5590
I’m going to close this since the names are chosen automatically, and since the error message is quite clear about what the problem is. Please comment more about suggestions for better error messages or other solutions. We will still see them and can re-open if needed.

[2022-05-07 13:58] #5590 closed

[2022-05-07 14:41] dtekinoglu commented on #5594
Thank you, @dschult I am starting to work on the sub-tasks you stated. Meanwhile, I will also continue to check this thread to see if any addition/change is made with respect to what needs to be done.

[2022-05-07 15:11] RobinSobczyk commented on #5609
That's true. I enquired a bit and found that it was not that easy to draw parallel edges with labels. Some code for multiedges (or at least a starting point for it) can be found here : https://stackoverflow.com/questions/22785849/drawing-multiple-edges-between-two-nodes-with-networkx
Though, there are still problems to plot the labels, as many user would like it to be plotted at the middle of the

[2022-05-07 15:15] alierdogan7 commented on #3275
I also misunderstood the sentence in the documentation. Could we make it clearer like below?

cutoff (integer or float, optional) – Depth to stop the search. Only paths of length <= cutoff are returned. (cutoff for weighted paths is the weighted length of the path -- not the number of "hops")

[2022-05-07 15:41] dschult commented on #3275
How about:  `Only paths of (weighted) length <= cutoff are returned.`

[2022-05-07 15:46] dschult commented on #3275
Wait -- which version of the docs are you looking at?  I see [this page](https://networkx.org/documentation/stable/reference/algorithms/generated/networkx.algorithms.shortest_paths.weighted.single_source_dijkstra_path.html) which has a better description:

`Length (sum of edge weights) at which the search is stopped. If cutoff is provided, only return paths with summed weight <= cutoff.`

[2022-05-07 16:16] alierdogan7 commented on #3275
OK, that's my bad. In this commit https://github.com/networkx/networkx/commit/f63e90ba4676fcb4ef74c5bd7ddda56be50d4c90 cutoff definitions were revised.

I see that `pip install networkx` installed version 2.5.1 on my Ubuntu. That's why I still see the old version of documentation in my IDE.

Thanks for your interest!

[2022-05-07 17:16] dschult commented on #5562
I think the middle error was fixed in #5550 recently.  So that’s helpful. ;}

The other two cases could maybe raise a NetworkXPointlessConcept exception explaining that there are no edges upon which to build communities.
But I’d prefer that we return an object that makes sense for the request rather than raise an exception.  That way when people apply this function to a large collection of graphs,

[2022-05-08 14:43] #5403 closed

[2022-05-09 13:44] nlevhari opened #5618 "MultiDiGraph turns loses oopositely directed edges when turned into Multigraph"
### Current Behavior

I was trying to use a MultiDiGraph object with 2 nodes and two (opposite) edges, and turn in into a MultiGraph, preserving the multi-edges, but not the edge directions.
However, when trying to do this, I get a MultiGraph with 1 edge and 2 nodes.
After some inspection, it seems like the convert.py method called "from_dict_of_dicts" calls G.is_directed on G that was created wit

[2022-05-09 15:30] dschult commented on #5618
Thanks for this!  I haven't checked it, but the code suggests that there may be an issue here.
We'll fix it if needed.  Meanwhile:

I would suggest `H = G.to_undirected()` for your use case.

[2022-05-09 15:39] nlevhari commented on #5618
Thanks, that helps

[2022-05-10 04:24] dschult commented on #5547
Sorry this took so long to respond to... I didn't catch it earlier.

The LCA code is suspect. See #4942 for a fairly long discussion that lead to us changing the `ancestors` call you point out to a call on `G` instead of `dag`.  That fixed the bug but we never understood why. It made sense to me why it would work, but I couldn't make sense of the paper describing the algorithm. Others tried to fin

[2022-05-10 11:23] JulianThx opened #5620 "Bipartite Closeness centrality algorithm does not report nodes with zero value."
### Current Behavior
The function saves closeness values of '0.0' always at closeness[len(nodes)] which is closeness[n]. This results a returned dictionary with less elements than number of nodes in the graph.

### Expected Behavior
The values of '0.0' should instead be saved at closeness[node] within the for-loops iterating over all nodes.

### Steps to Reproduce
/

### Environment
Python version

[2022-05-10 13:19] dschult commented on #5620
The docstring states that

    The closeness of a node is the distance to all other nodes in the
    graph or in the case that the graph is not connected to all other nodes
    in the connected component containing that node.

So, I think we don't intend to report nodes that are not connected to the other nodes. Isn't that the intent of this part of the code?  If I am missing something (and even i

[2022-05-10 14:07] www3cam opened #5621 "nx.navigable_small_world generates a list of edges with 3 dimensions"
### Current Behavior

Maybe there is a reason for this, but I expect navigable_small_worlds `__init__` to generate a list of edges with size and dimension (-1,2).  However with this specification: `G = nx.navigable_small_world_graph(10, p=4, q=2, r=1.5, dim=2, seed=None)` it generates a edge matrix with dimension (-1,2,2).  It looks like it is pairing tuples with other tuples as many tuples repeat

[2022-05-10 15:09] dschult commented on #5620
Ahh... yes, I understand ---  it looks like a typo, that should be `node` instead of `n` in two places.
And you said that in the original post. I was too focused on it being the bipartite and not the regular closeness centrality that I missed that.

Yes, that code appears to simply avoid dividing by zero. And instead it assigns a value to a nonexisting node.
Thanks!

[2022-05-10 15:56] dschult commented on #5621
Can you explain what you mean by "size and dimension (-1,2)."?
When I generate `G` and then try `G.edges` I get things like:  `((0,0), (0,1))` which seems right because the nodes are 2-tuples, so an edge should be a pair of 2-tuples.
Also `G.size()` reports 2939.

[2022-05-10 17:14] CameronFen commented on #5621
Oh ok.  I was mistaken.  I assumed each 2-tuple was an edge as well.  Can I rename them to have values from 0 to n number of nodes instead of the 2 tuple?  It's messing up my downstream algorithm.  You are welcome to close.

[2022-05-10 17:26] dschult commented on #5621
To relabel (that's the technical term we use) the nodes see [the relabel docs](https://networkx.org/documentation/stable/reference/relabel.html)

[2022-05-10 17:39] #5621 closed

[2022-05-10 20:05] dtekinoglu commented on #5547
Thanks @dschult , this looks like a great opportunity for me. Since I am also working on a nx-guides notebook on LCA, working on what you've suggested would help a lot.

[2022-05-11 22:01] rossbar commented on #5618
This is interesting and IIUC it boils down to the question: how are directed edges treated during conversion to an *undirected* multigraph? Should each *directed* edge between two nodes be treated as a separate edge in the multigraph, regardless of direction? The current answer in the `MultiGraph` constructor is "no":

[code]

There is a straightforward way to get the other behavior (i.e. the beha

[2022-05-12 01:25] rossbar commented on #5594
Many thanks @dtekinoglu for tracking this down and presenting the issue in such a clear and concise way! And similarly @dschult for the explanation of concepts and exploration of various possible ways to resolve this. Given the discussion, I agree with [the proposed plan above](https://github.com/networkx/networkx/issues/5594#issuecomment-1120213701)

[2022-05-12 04:39] rossbar commented on #5562
I agree that this behavior is preferable from a usability standpoint :+1:

I like this idea, assuming it makes sense in the context of what constitutes a "community" - I defer to the experts! @z3y50n does this sound reasonable to you?

[2022-05-12 04:43] rossbar commented on #3275
NetworkX 2.8 is available on [PyPI](https://pypi.org/project/networkx/) (along with 2.6.X and 2.7.X for that matter). Do you perhaps have `pip` configured to look elsewhere for packages?

[2022-05-12 05:17] rossbar commented on #5612
If it's really only 3 (or a similarly small number) of functions that would really be affected, then I think it's worth at least considering removing the `nodes_or_number` decorator. In the long run it might be a good thing to discourage new functions from adopting the API that allows *either* an integer specifying the number of nodes or a container of nodes and forcing authors to choose one or th

[2022-05-12 05:44] gao462 opened #5626 "Wrong node colors."
When I draw with following code, it gives wrong node colors.
[code]
Output:
[code]

### Current Behavior
It gives random node colors which does not follow given arguments (e.g., I get green for 0, and orange for 1).

### Expected Behavior
It should give two node clusters of different colors as outputs.

### Steps to Reproduce

### Environment

Python version: 3.9
NetworkX version: 2.8

### Additio

[2022-05-12 06:32] ibraheemalayan opened #5627 "AttributeError When Loading Node Link Data"
I have a graph where its nodes are objects of a serializable class [ City ], the graph is serialized to json using
[code]

then the json is saved in a file, when I try to load the file into a graph
[code]

### Current Behavior

I get the following error
[code]

### Expected Behavior
It should simply work

### Steps to Reproduce

the graph is initialized like the following:

[code]

then the nodes

[2022-05-12 09:08] alierdogan7 commented on #3275
Thanks for clarification, probably it's related to my pip indexes.

[2022-05-12 10:07] U-238 opened #5628 "Lowest common ancestor returns incomplete result"
### Current Behavior

In the attached dataset and code, the result returned by `lowest_common_ancestor()` is a common ancestor but certainly not the lowest one. This can be seen in the output below, which shows the path between each node and the returned result.

### Expected Behavior

`lowest_common_ancestor()` should return the LCA. In the attached example, the correct LCA of nodes 1082 and 1096

[2022-05-12 12:44] U-238 commented on #5547
@dtekinoglu please also see #5628 which contains sample data that triggers an incorrect result

[2022-05-12 13:09] MridulS commented on #5627
`data = res_file.readlines()` this bit of line returns a `list` but `nx.node_link_graph(data)` requires the data to be a dict like object. Use something like `json.load` to read in the data and then pass it to `nx.node_link_graph(data)` :)

[2022-05-12 13:23] MridulS commented on #5626
Thanks for the report! The nodes are colored in the wrong order as the nodes are **not** ordered by node_id (the assumption in the provided code), they are ordered via the order of insertion.
In this case, this is the node order
[code]
and `vcolors` will map the colors in this order!

Just change the vcolors line to `vcolors = ['green' if n < 6 else 'orange' for n in graph]` and it should be fixed

[2022-05-12 13:23] #5626 closed

[2022-05-12 18:26] #5594 closed

[2022-05-12 21:24] #5557 closed

[2022-05-13 06:34] PraharshitaK-IS commented on #5628
Can I solve this?

[2022-05-13 11:13] #5553 closed

[2022-05-13 12:13] MridulS commented on #3877
I'll go ahead and close this issue, there isn't an actionable item here :)

[2022-05-13 12:13] #3877 closed

[2022-05-13 12:27] MridulS commented on #3765
Yeah, I'm not sure why would there be an expectation of getting this as the result
[code]
The `source` and `target` are just keys in the dictionary underneath, we do not do anything with the data structure of the node itself. It just needs to be hashable so it can be a key in the dictionary and well if people use the `__hash__` to construct these kinds of classes, we can't really make any promises

[2022-05-13 12:27] #3765 closed

[2022-05-13 15:43] rossbar commented on #5535
Since this is being followed up on in networkx/nx-guides#72, I'll close this here.

[2022-05-13 15:43] #5535 closed

[2022-05-13 15:45] rossbar commented on #5501
This was closed by #5608. Of course, further example ideas are always welcome, but at least they are no longer missing here!

[2022-05-13 15:45] #5501 closed

[2022-05-13 15:50] rossbar commented on #5492
From the follow-up discussion in #5493 I think we determined that all of the info re: `pre-commit` was in the contributor guide, though it requires careful attention as there are multiple steps.

Given this, I will close the issue. I think it is indeed worthwhile to take another look at the contributor guide, perhaps after soliciting more feedback about pain points for new contributors. Thanks for

[2022-05-13 15:50] #5492 closed

[2022-05-13 15:56] rossbar opened #5636 "Unused `root` argument in `has_bridges`"
This is the last remaining issue from #5486. I've split it out into it's own issue as all of the other problems identified in #5486 have been resolved.

As originally discovered by @dtekinoglu `has_bridges` defines a `root` parameter which is not used. It should be passed on to the underlying `bridges` call. There should also be some additional tests for `has_bridges` with the `root` argument - bo

[2022-05-13 15:57] rossbar commented on #5486
Most of the issues have been resolved, so I'm going to close this one so that no one's tempted to work on things that are already fixed :)

I opened a new issue for the remaining `root` problem. If I've missed anything here, please feel free to open a new issue or amend #5636 !

[2022-05-13 15:57] #5486 closed

[2022-05-13 16:14] rossbar commented on #5466
This was fixed by #5514.

There's still the question of whether to raise a warning when a user calls `draw_networkx_edges` with an undirected graph and `arrows=True` as they'll see vastly degraded performance from the fact that edges are drawn with `FancyArrowPatch` instead of `LineCollection` in this case. That's a separate issue though!

[2022-05-13 16:14] #5466 closed

[2022-05-13 16:23] rossbar commented on #5435
This was discussed during a meeting at some point and the general consensus was that `min_edge_dominating_set` is a meaningful name in the context of graph theory/network analysis, so there is value in having API that reflects the name, even if the implementation is just a pass-through to another function.

Therefore, I'm going to close this as resolved/answered!

[2022-05-13 16:23] #5435 closed

[2022-05-13 16:26] rossbar commented on #5410
I'm going to close this as resolved - if the issue persists, feel free to reopen with updated info!

[2022-05-13 16:26] #5410 closed

[2022-05-13 16:28] rossbar commented on #5400
I believe this was closed by #5516 - please feel free to reopen if I'm mistaken!

[2022-05-13 16:28] #5400 closed, assigned to nobody

[2022-05-13 17:41] rossbar commented on #5377
I'm sure there are many instances of this besides `add_edges_from` - it'd be good to try to fix them all at once. As a starting point, here is the result of `grep -rI "container of"`:

[code]

I think a reasonable approach to fixing this issue is to go down the list and audit each instance individually. Some already say things like "an iterable container of nodes", which is closer to correct but s

[2022-05-13 17:46] rossbar commented on #5326
`nx.info` has been deprecated, but the `describe` method has not yet been added. Suggestions for what should be in the `describe` summary are welcome!

[2022-05-13 17:48] rossbar commented on #5313
It's been a few month since the last comment, so hopefully this was resolved. If not, please feel free to open with updated info on the environment and how you installed NetworkX.

[2022-05-13 17:48] #5313 closed

[2022-05-13 18:06] Lukong123 commented on #5492
Thank you, sir.

[2022-05-13 21:20] dschult commented on #5377
I am sure that many /most of these are not quite wored correctly.
Is there a glossary of other source of correct wording for the different types of ...  well...  of ...  collections?  Anyway, objects that refer to other objects and might iterate, check membership, generate, index, slice, set operations, etc.

It's often hard to know exactly what term to put in there, so it'd be nice to have a sour

[2022-05-14 02:30] U-238 commented on #5628
@PraharshitaK-IS Yes, I'd be very happy for anyone to solve this! Please also see #5547 where someone is working on the same problem.

[2022-05-14 02:31] U-238 commented on #5628
Also I should say that in the sample dataset I provided, there are actually two results that would be equally correct: **183** and **319**

[2022-05-14 03:38] U-238 commented on #5628
I've also tried a few different inputs and have more incorrect results that may assist in debugging this issue:

### Inputs are a different number of generations from expected LCA

**Inputs:** 1082, 1096
**Expected result:** 183 or 319
**Actual result:** 199
**Notes:** Expected LCAs 183/319 are 2 generations from 1082 and 1 generation from 1096

### Inputs are an equal number of generations from e

[2022-05-14 04:27] PraharshitaK-IS commented on #5628
From my understanding of the code, it looks like it has been implemented for a balanced tree.
This might be the reason why its not giving you the right output.
Looks like a bug.
Will debug and get back to you.

Thanks for explaining it from your end.

`    Only defined on non-null trees represented with directed edges from
    parents to children. Uses Tarjan's off-line lowest-common-ancestors

[2022-05-14 16:39] dschult commented on #5612
Removing `nodes_or_number` won't discourage specifying either nodes or a number as an input. It would just relocate the code where that option is provided from the decorator to the `empty_graph` function.  Removing the option to provide either a number of nodes or a collection of nodes would be a different discussion.  This question is more about where we should store the code that provides this o

[2022-05-14 20:06] rossbar commented on #5612
Good point - I was thinking about nodes or number of nodes as input for functions more generally, but in practice this is really only relevant for the graph generator functions.

Agreed - the focus should be on the latter - please ignore any of my comments that tend towards expanded scope!

[2022-05-14 20:33] rossbar commented on #5377
The definitive resource is the `abc.collections` docs, particularly this table: https://docs.python.org/3/library/collections.abc.html#collections-abstract-base-classes. I suspect the case highlighted by @Matthew-Signorotti in the OP is by far the most common case (the docs say "container" when they mean "iterable"), but I suspect there are also nuanced cases. For example, one might be tempted to

[2022-05-14 23:01] U-238 commented on #5628
The notes you quoted are from `tree_all_pairs_lowest_common_ancestor()` which is a specific implementation for trees.

`lowest_common_ancestor()` calls through to a different function `all_pairs_lowest_common_ancestor()` which says it should work on all directed acyclic graphs (DAG), and references a different paper:

As someone else has pointed out in #5547, the implementation of this function in

[2022-05-15 06:26] rossbar commented on #5050
My original question was sufficiently answered, so I will close this!

[2022-05-15 06:26] #5050 closed

[2022-05-15 06:56] rossbar commented on #5005
The `greedy_modularity_communities` code has been refactored since this issue was opened - the `dq` is no longer part of the comparison. Therefore, I will close this issue - if the issue (or related) persists, please feel free to open a new issue!

[2022-05-15 06:56] #5005 closed

[2022-05-15 07:02] rossbar commented on #4975
This issue has been inactive for a while, so I will close it. Documentation improvements & wording suggestions are welcome, but at this stage I think a concrete proposal (i.e. a PR) would be the next step in pushing the discussion forward.

[2022-05-15 07:02] #4975 closed

[2022-05-15 07:09] rossbar commented on #4882
I'm going to close this one as resolved, thanks @harshal-dupare & @dschult !

[2022-05-15 07:09] #4882 closed

[2022-05-15 07:15] rossbar commented on #4855
This was (at least partially) fixed in #5049. It's probably worth revisiting at some point to see if there isn't another way to approach this that doesn't involve overriding the base autosummary template.

I'm going to close this as resolved by #5049 , but that shouldn't stop anyone from looking into this further if interested!

[2022-05-15 07:15] #4855 closed

[2022-05-15 07:29] rossbar commented on #4834
Thanks for the report - taking a closer look at this I think the problem is in pygraphviz itself, so should be fixed there. I'm going to close the issue here and open one in the pygraphviz repo.

[2022-05-15 07:29] #4834 closed

[2022-05-15 07:51] rossbar commented on #4483
I think @dschult 's comment very nicely answers the question and IMO would be a nice addition to the docstring examples.

[2022-05-15 08:13] rossbar commented on #4316
This is an application specific problem - if you have a graph with 20,000 nodes and no edges, then `non_edges` would construct a generator that produces the edges of a complete graph with 20k nodes, i.e. around 200 million edges. @dschult is correct though - if it's possible to analyze the edges without necessarily needing to store them in a data structure, then this may be fine for your applicati

[2022-05-15 08:13] #4316 closed

[2022-05-15 08:29] rossbar commented on #4140
This one was fixed in #5139. Re: `_transition_matrix` - there's definitely still some things that could be done to improve this, but one tricky thing is that the default method in many places is pagerank, which results in a dense transition matrix, so it doesn't make sense to sparsify in that case.

[2022-05-15 08:29] #4140 closed

[2022-05-15 08:40] rossbar commented on #4089
This issue was largely addressed by #5139 and related follow-up PRs. The question of whether functions return sparse or dense arrays really depends on whether a sparse or dense method is used under-the-hood. For instance, the internal `_transition_matrix` function is used in multiple places, and can return either a sparse or dense array depending on which `walktype` is used. By default, the `walkt

[2022-05-15 08:40] #4089 closed

[2022-05-15 12:17] dschult commented on #5543
This is a feature/question for many of the `is_*` functions (both in Networkx and other packages/languages too). It even gets deep into the python language where `1 == "A"` returns False while `1 < "A"` raises an exception.

So I guess the question here is which type of user we want to help out. 1) The person who is scanning through a bunch of graphs to check for tournaments where some are directe

[2022-05-19 06:39] rossbar commented on #5543
Thanks @dschult , this makes a lot of sense. I'll admit I had a much more simple perspective (`is_<something>`, True or False?) but I agree that the current situation actually conveys *more* information and is far less likely to lead to silently surprising results.

I'll go ahead and closed this as resolved, though it probably wouldn't hurt to verify that this behavior is consistent between the ot

[2022-05-19 06:39] #5543 closed

[2022-05-19 13:34] marscher opened #5655 "DiGraph serialization (get/setstate) triggers an AttributeError for "_adj""
### Current Behavior

Passing a `DiGraph` to deepcopy uses the serialization protocol via get and set_state methods of `InEdgeView`. In the implementation there is an assignment to self._adj like this:
[code]
So the passed `Graph` does not have the `_adj` attribute. By inspection I figured, that the state dictionary contains the `_adjdict` property directly.
If I replace the code to set `_adjdict`

[2022-05-20 11:12] MridulS commented on #5655
Thanks for the report! This is indeed a bug:

A minimal example I was able to come up with (this is a bug for both `DiGraph` and `MultiDiGraph`):
[code]

This should be fixed by https://github.com/networkx/networkx/pull/5657

[2022-05-20 11:45] dschult commented on #5655
Here's another minimal example:
[code]

[2022-05-20 12:18] marscher commented on #5655
That was a really quick response and fix. Thank you so much! Have a nice weekend

[2022-05-20 18:11] boothby commented on #5612
I've used the `nodes_or_number` in a downstream package, because I find it convenient: https://github.com/dwavesystems/minorminer/blob/cc5bb76341cc71bc8730be465dd37b20a494a420/minorminer/utils/zephyr.py#L72

It would be easy to manage if the decorator was removed, but since the function is in a non-underscore module, a deprecation would be proper.

[2022-05-20 19:46] #5655 closed

[2022-05-24 00:43] harristeague opened #5658 "arg margins missing from valid_node_kwds in nx_pylab.py"
margins is a new arg for draw_networkx_nodes(), but does not pass through from draw_networkx() since it is missing from the valid args list in nx_pylab.py:271

### Current Behavior

"invalid argument" exception

### Expected Behavior

it should accept the argument

### Steps to Reproduce

        g = nx.gnm_random_graph(10, 15)
        nx.draw_networkx(g, pos=nx.planar_layout(g), margins=(1,1))

#

[2022-05-25 10:06] rgrenz opened #5662 "graphviz_layout fails with certain node labels"
### Current Behavior
When trying to layout a graph using nx_pydot.graphviz_layout, all nodes with labels of the form "A:B" that share the same prefix "A" are positioned at the same coordinates.

### Expected Behavior
The node labels should be properly escaped during the layout procedure, and should not share the same position on the final layout.

### Steps to Reproduce
[code]
![image](https://use

[2022-05-26 17:34] AtanuBarai opened #5665 "Node attributes of subgraph nodes are not accessible"
I have a digraph in .dot file that has two subgraphs as below. When I read dot file with networkx, for some reason the node attributes are empty. But if there is not subgraph cluster in the dot file, I can access the attributes normally. Is this a feature not supported in networkx?

The contents of .dot file is below.

[code]
The command I use to read the graph is as followos:
[code]
It can be obs

[2022-05-26 17:51] MridulS commented on #5662
Thanks for the report @rgrenz! This is indeed an issue but this comes from `pydot` and we already have raised this upstream https://github.com/pydot/pydot/issues/258.

[code]
A quick way right now is to use this hack-ish way of dealing with `:` in node names:

[code]

I'll go ahead and close this for now, please feel free to reopen an issue if there is something else we can do here :)

[2022-05-26 17:51] #5662 closed

[2022-05-26 19:54] #5374 closed

[2022-05-27 06:48] MridulS commented on #4663
@horvatha I'll close this issue for now. https://github.com/networkx/networkx/pull/5667 will atleast gracefully error out for cases where pydot isn't able to parse the node names correctly.

Thanks for the report!

[2022-05-27 06:48] #4663 closed

[2022-05-27 06:49] MridulS commented on #5658
fixed in https://github.com/networkx/networkx/pull/5660

[2022-05-27 06:49] #5658 closed

[2022-05-27 12:12] MridulS commented on #2932
I'll close this as we have a solution here already :)

[2022-05-27 12:12] #2932 closed

[2022-05-27 12:16] MridulS commented on #2298
It looks like we decided on **not** removing the convenience of the `@open_file` decorator. I'll go ahead and close this but feel free to reopen an issue if someone wants to start the conversation again :)

[2022-05-27 12:16] #2298 closed

[2022-05-27 12:21] #3375 closed

[2022-05-27 17:38] mjschwenne commented on #5596
I thing that there are two main approaches we could take. Either we embrace the lambda expressions as the recommended way to do this, or we could use `**kwarg` or possibly have `traveling_salesman_problem` take in an extra dict which can be passed to which ever method is identified by the `method` keyword. Either way this should be totally optional. Since the definition of the traveling salesman p

[2022-05-30 12:32] dschult commented on #5596
I think we talked about `init_cycle` last summer too.  It is not clear what the default should be. The option "greedy" seems good at first, but it does take more time than we'd like. An arbitrary list of nodes like `list(G)` might be faster for some cases, but I don't have even experience to know.  I agree that the idea of not providing a default "to make you think about it" is a little strange --

[2022-05-31 00:37] mjschwenne commented on #5596
Right, testing on some test graphs would probably be the best. It seems like the two methods to consider are

 1. `greedy_tsp`
 2. `list(G) + [next(iter(G))]`

These cannot be replaced by say a boolean since, as the doc string mentions, it is possible that we want to use the output of another tsp method as input for the threshold accepting method.

If some test graphs need to be designed, the prin

[2022-06-01 06:49] RATCOinc opened #5676 "Typo in the reference in greedy_coloring.py"
the reference [3] in https://github.com/networkx/networkx/blob/main/networkx/algorithms/coloring/greedy_coloring.py has a typo in one of the author's name. The correct spelling will be "Narsingh Deo" instead of "Marsingh Deo".

[2022-06-01 08:11] MridulS commented on #5676
Thanks for the report! and yes it's indeed an issue. Please feel free to submit a pull request :)

[2022-06-01 20:10] harristeague opened #5681 "treewidth algos depend on node types"
The treewidth functions appear to depend on the types of nodes in the input graph.

### Current Behavior

For example, the algos fail is there is a mix of nodes with integer and string types.

### Expected Behavior

The algos should not depend on node types, only the graph structure.

### Steps to Reproduce

[code]

### Environment

Python version: 3.8
NetworkX version:  2.8

### Additional contex

[2022-06-01 22:34] rossbar commented on #5681
Thanks for the report @harristeague , I can reproduce this as well.

[2022-06-02 04:49] Erotemic commented on #3036
I'm just learning about NXEP3, so I might be missing some context, but I thought I'd offer my $0.02 on this issue.

Having a generator that  only produces nodes and edges lists is a great idea, but I'm against removing the `create_using` parameter. That is partially due for backwards comparability, but mostly because it makes it non-obvious on how to parameterize logic that uses `create_using` wit

[2022-06-02 20:54] adam2392 opened #5686 "When writing pydot graph there is an extra "\n" character added"
### Current Behavior
I am trying to save graphs to disc using the DOT language. However, when I save this simple graph, it does not match IO roundtrip.

[code]

Now when I write to disc...
[code]
### Expected Behavior
There should not be an extra "\n" character

### Environment
Python version: 3.8
NetworkX version: 2.7.1

[2022-06-02 23:28] rossbar commented on #3036
Thanks for the input @Erotemic , I have to say that I very much agree - both re: having the more efficient option for producing edgelists and keeping the `create_using` keyword :+1:

[2022-06-05 03:42] lthumbe opened #5691 "Ordering of layers in multipartite_layout changed in v2.7. Add a way to control the order?"
I am trying to run a script to plot graphs, but they're coming out wrong. I've tracked down the issue to incorrect positions obtained from the multipartite_layout command, which is either ignoring or misordering the node layer information.

### Current Behavior
The positions output by multipartite_layout don't order the layers correctly.

### Expected Behavior
The positions output by multipartite_

[2022-06-05 07:35] mgorny opened #5692 "networkx/algorithms/tree/tests/test_mst.py::test_random_spanning_tree_{additive,multiplicative}_small not skipped when scipy is not installed"
### Current Behavior
The two following tests fail if scipy is not installed:

[code]

<details><summary>Full traceback</summary>

[code]

</details>

### Expected Behavior
Since other relevant tests are skipped when `scipy` is not installed, I think these two could skip as well ;-).

### Steps to Reproduce
[code]

### Environment

Python version: 3.11.0b3
NetworkX version: 2.8.3

[2022-06-05 10:53] MridulS commented on #5692
Thanks for the report @mgorny! This is indeed a bug. https://github.com/networkx/networkx/pull/5693 should fix it.

[2022-06-05 11:40] MridulS commented on #5686
Thanks for raising this @adam2392! But this behavior comes from `pydot`

[code]

One way of handling this could be to drop the line break (`\n`) explicitly while writing the graph to disk in the function `write_dot`.

[2022-06-05 12:49] dschult commented on #5686
This is not a fix, but a workaround.
If you install graphviz and pygraphviz you can use:
[code]

[2022-06-05 13:21] dschult commented on #5691
In PR #5153 we allowed non-numeric layer values. But that change also impacts the order of the layers in the multipartite layout. The order of the layers is no longer determined by the layer's numeric value.  Notice that we never intended the layer's value to be required to be a number nor to reflect the position/order of the layers. But I can see why it would be surprising to suddenly have that c

[2022-06-05 18:18] #5692 closed

[2022-06-06 19:50] adam2392 commented on #5686
How would you do this?

I have something like this, which technically doesn't rely on networkx:

[code]

[2022-06-06 23:35] jackhenderson101 opened #5694 "draw_networkx_edges ignores connectionstyle parameter"
If you call `draw_networkx_edges` with an undirected graph with no self loops, the `connectionstyle` parameter is ignored unless `arrows=True`.
This is not clear from the documentation. Either the documentation could be changed to clarify this, or the code could be changed to use the FancyArrowPatch when the connectionstyle parameter is included.

[2022-06-07 15:06] #4774 closed

[2022-06-08 05:13] peterhs73 opened #5703 "graph.copy() retains the original graph attribute dictionary if graph_attr_dict_factory is defined"
### Current Behavior

The copy created using`graph.copy` shares the same graph attribute dictionary as the original, when graph_attr_dict_factory is defined (similar to the example [antigraph](https://github.com/networkx/networkx/blob/main/examples/subclass/plot_antigraph.py)).

### Expected Behavior

Expect `H.graph` is a shallow copy of  `G.graph`.

### Steps to Reproduce

[code]

### Environmen

[2022-06-08 06:58] rossbar commented on #3093
AFAICT this issue has been addressed: both Katz centrality and CCPA are now available as `nx.katz_centrality` and `nx.common_neighbor_centrality`, respectively.

There may be other more specific questions, like why `katz_centrality` is implemented in the centrality package while `common_neighbor_centrality` is implemented in the link_prediction package, but this should be a relatively minor concer

[2022-06-08 06:58] #3093 closed

[2022-06-08 07:24] rossbar commented on #5691
I think this is the way to go. Even though the ordering was never guaranteed, it's clear that users are relying on it (see also #5515 ) and it's perfectly reasonable to expect numeric layers to be sorted. I prefer the solution proposed above to e.g. adding a new keyword argument.

[2022-06-08 08:43] Danielsrq opened #5704 "nx.community.louvain_communities(directed_graph) does not return from _one_level()."
Calling nx.community.louvain_communities(directed_G) can get stuck in an infinite loop in _one_level(). It seems to be continuously calculating `gain`. The `threshold` parameter does not resolve the problem because _one_level() is called before any comparison to `threshold`.

There is no problem with an undirected version of the graph.

### Current Behavior

louvain_communities(directed_G) does no

[2022-06-08 10:23] rossbar commented on #4478
I think this one has been sufficiently answered and the relevant info is in the docstring. This should be further bolstered by #5699. I'm going to close this but if the issue persists please feel free to reopen.

[2022-06-08 10:23] #4478 closed

[2022-06-08 10:41] rossbar commented on #5106
This was mostly resolved by #5407. There's still the issue of the mapping of sequences of edge attributes to the correct edges, but that's a more involved issue that is more of a discussion topic than anything immediately actionable. Thus I'll close this as resolved. If related issue pop up, please open a new issue!

[2022-06-08 10:41] #5106 closed

[2022-06-08 12:12] z3y50n commented on #5704
Thank you for your time reporting this. The issue seems similar to #5175 so I am going to close this. Feel free to reopen it if you think it's different!

[2022-06-08 12:12] #5704 closed

[2022-06-08 12:18] rossbar commented on #5508
Thanks for bringing this up - this is largely a duplicate of the SO post, so I will close it here as redundant. Of course, documentation improvements are always welcome, so if there are concrete ideas about adding examples, please don't hesitate to open a PR!

[2022-06-08 12:18] #5508 closed

[2022-06-08 13:54] dschult commented on #5703
If I understand correctly, your example creates a class where every instance shares the same graph attribute dict.
In that case, when you make a copy of that graph, it will still be an instance of that class, and thus it will share the same graph attribute dict.  Are you asking that the copy method create a Graph object instance of your subclass?

[2022-06-08 18:41] peterhs73 commented on #5703
I guess I am asking if this is the intended behavior, or maybe have a note in the documentation? Without looking at the internal code, the documentation and the examples suggest that a copy of the graph attribute dictionary is created.

subclass:

Factory function to be used to create the graph attribute dict which holds attribute values keyed by attribute name. It should require no arguments and

[2022-06-09 04:56] rossbar commented on #5703
The `graph_attr_dict_factory` is a *factory function* that returns a dict-like. In the particular case of the `AntiGraph` example, the factory simply returns an existing *class attribute* (i.e. `graph_attr_dict`), so yes, in this case the example is specifically designed so that the graph_attr_dict common to all AntiGraph instances. In principle this is a useful pattern as it allows the subclass d

[2022-06-09 05:44] rossbar opened #5714 "Heads up: Latest documentation now uses dark mode by default depending on browser defaults"
With `pydata-sphinx-theme==0.9`, the documentation now defaults to light/dark mode depending on your browser preferences. Mine happen to be set to dark, so I see the following at https://networkx.org/documenation/latest

![Screenshot_20220609_083711](https://user-images.githubusercontent.com/1268991/172772573-a00da108-528f-415e-94de-8a9aef4a7f57.png)

IMO the dark mode is still a little rough arou

[2022-06-09 12:07] rossbar commented on #5597
AFAICT the answer is "no". The [most recent GEXF format specification (v1.3)](https://gexf.net/primer.html) explicitly mentions list attributes in section 2.4.5, but there's nothing there about list attributes requiring a specific list format. It looks like this may have changed in v1.3 according to the [GEXF history](https://gexf.net/history.html).

I haven't taken a close look at GEXF parser in

[2022-06-09 13:06] #5714 closed

[2022-06-09 13:16] #4781 closed

[2022-06-09 18:21] jarrodmillman opened #5720 "Import nx in docstrings"
To make the docstring examples self-contained (and less confusing to new users), we should consider removing
https://github.com/networkx/networkx/blob/4e92d77ae1973e892712daac85392efbef9b3591/doc/conf.py#L118
and adding `import networkx as nx` to our docstring examples.

See https://github.com/scipy/scipy/issues/13049.

[2022-06-09 20:34] peterhs73 commented on #5703
I agree. If this is the intended behavior, I would prefer an example of how the graph attribute should be used or the behavior is noted in `graph.copy` docstring. I am going to close this issue since this depends on the interpretations. Thank you.

[2022-06-09 20:34] #5703 closed

[2022-06-09 21:00] dschult commented on #5703
Another possibly useful pattern for how this would be used is, e.g. if you wanted a defaultdict instead of a dict for your subclass. Maybe you want your subclass to assign a default attribute value of "not assigned" for any attributes that are not assigned.  Then you could create the new class like this:

[code]

[2022-06-09 21:03] #5691 closed

[2022-06-09 22:09] #4962 closed

[2022-06-10 14:20] lucasmccabe commented on #5720
If one has multiple examples in a single docstring, should each example import networkx?

[2022-06-10 16:58] MridulS commented on #4419
Both graphviz and pygraphviz have been updated on `conda-forge` and we can't really control the `defaults` channel so I'll go ahead and close this for now.

[2022-06-10 17:01] #5203 closed

[2022-06-10 17:19] MridulS commented on #5499
@PaulRitter this is indeed coming from pydot as the user needs to explicitly escape the strings in this case. Even if I use pydot to write the graph to a png file it will **not** automatically quote this specific string and throw an error. A minimal example here:

[code]

Now if the user properly quotes the string, pydot works.

[code]

I'll close this issue for now, let us know if we can do somet

[2022-06-10 17:19] #5499 closed

[2022-06-10 17:26] jarrodmillman opened #5723 "Deprecate pydot?"
In https://github.com/networkx/networkx/pull/5721, we added a `PendingDeprecationWarning` for `nx.nx_pydot.*`. It has a number of issues and isn't actively maintained. We are also planning to improve installation issues for pygraphviz. This is a tracking issue to gather feedback from users.

Please leave a comment if you have feelings either way about this change.

[2022-06-10 17:35] MridulS commented on #5686
@adam2392 after thinking a bit more thinking about this I don't think this is a "defect", we shouldn't be mixing `nx.nx_pydot.write_dot` ( a NetworkX function ) with `pydot.graph_from_dot_file` ( a pydot function). I think we should only worry about maintaining round trips inside NetworkX and that works currently.

From example the `to_pydot` and `from_pydot` function do maintain the round trip
[c

[2022-06-10 17:35] #5686 closed

[2022-06-10 17:52] dschult commented on #5720
Digging down into the discussion on scipy linked to above, it seems that each doc_string will need to do the import at the top of that doc_string. At least that will satisfy the automated testing system. But it **doesn't** satisfy the idea of cut-and-paste examples and they work. It is very rare that you cut and paste an example from the top of the doc_string code. So most cut/paste examples will

[2022-06-10 21:37] jarrodmillman commented on #5720
+0 from me as well. I prefer not having the import, but I understand that newcomers may find it confusing. So while I would prefer not having the imports, I do want to make things easier for newcomers. I am just not sure how confusing it is. I've only seen a handful of people confused over the years and I suspect it is pretty easy to figure out what is happening by entering the error in a search e

[2022-06-10 21:44] stefanv commented on #5720
Hey, that's a neat idea!  It's like some Linux distributions that tells you "You probably want `apt install foo-package`".  I'd use similar phrasing, since the recommendation might be wrong:

[code]

[2022-06-10 22:00] jarrodmillman commented on #5720
[code]

[2022-06-10 22:32] jarrodmillman commented on #5720
See https://github.com/ipython/ipython/issues/13696

[2022-06-10 22:57] bsipocz commented on #5720
Hints would be really nice, combined with the `doctest_global_setup` would address both the testing and confusion issues. (And the convenience part may not be addressed by adding the imports anyway as even then not all snippets would be fully self-contained (and the main offenders are SO and github issue snippets anyway rather than the official docs)).

[2022-06-11 09:56] joranp1 opened #5725 "Wrong load centrality implementation"
The implementation of load centrality does not seem to match the description of the centrality measure in the referenced paper. Instead load centrality just returns betweenness centrality values.

### Current Behavior
Load centrality implementation just returns betweenness centrality values

### Expected Behavior
the centrality measure should return load centraltiy measures as described in:
Mark E

[2022-06-11 17:25] dschult commented on #5725
Can you give a simple example (<=5 nodes) that doesn't work and describe what the results should be?
Thanks!

[2022-06-11 18:12] joranp1 commented on #5725
Dear

Based on figure 2 from [1], see image1 below, I would expect in this example on the image below (image2) node number 2 having a different centrality value for betweenness compared to load. This because only contributions of shortest paths between nodes 1 and 7 add to its centrality value.

Thanks in advance.

Kind regards,
Joran Paeye

[1] Ulrik Brandes. On variants of shortest-path betweenn

[2022-06-11 19:50] jarrodmillman commented on #5720
We could also have numpydoc auto-insert the imports set in `doctest_global_setup` for the HTML and PDF documentation.

[2022-06-13 04:14] lucasmccabe commented on #5725
Hi @joranp1, thanks for looking into this - unfortunately your images aren't showing here.

It's not so uncommon for [load centrality](https://github.com/networkx/networkx/blob/ec267cff8d092534fb0b2616e8f075142d2cd75b/networkx/algorithms/centrality/load.py#L9) and [betweenness centrality](https://github.com/networkx/networkx/blob/ec267cff8d092534fb0b2616e8f075142d2cd75b/networkx/algorithms/central

[2022-06-13 04:18] lucasmccabe commented on #5618
@rossbar Would it make sense to give the user the option? Maybe we can provide a `condense_edges` parameter where `condense_edges=True` gives the current behavior and `condense_edges=False` gives the other behavior.

[2022-06-13 09:08] rossbar commented on #5618
That's certainly one approach - the most important thing IMO is to make sure that whatever is implemented is consistent with the model for how the graph types should interact. I don't have a strong sense for what should happen in this case. Any thoughts?

[2022-06-13 09:15] rossbar commented on #5725
It's going to be difficult to make progress here without a specific example. @joranp1 , can you pull out the example of the "simple graph" you reference from the paper? The paper is behind a paywall (for me at least) so I can't follow the original link.

[2022-06-13 09:29] joranp1 commented on #5725
Dear

Here a link for a wetransfer with both the images and the paper I mentioned before: https://we.tl/t-nfjxbmduzp

Kind regards,
Joran Paeye

From: Ross ***@***.***>
Sent: 13 June 2022 11:15
To: ***@***.***>
Cc: ***@***.***>; ***@***.***>
Subject: Re: [networkx/networkx] Wrong load centrality implementation (Issue #5725)

It's going to be difficult to make progress here without a specific examp

[2022-06-13 09:56] Carreau commented on #5720
I'll reply more in IPython's issue later, but project like https://github.com/deshaw/pyflyby allow autoimport, and it's also a bit what `ipython --pyplot` did.

It is problematic to autoimport in the end, as it tend to import typos, or users get confused as they don't understand once they actually need an import.

It goes to further than Just NX, example often reference function from same module.

[2022-06-13 10:14] joranp1 commented on #5725
I'm sorry I'm quite new to this platform, please find the two images i mentioned earlier below. As per my reasoning the centrality value of node number 2 in image2 only depends on the shortest path between nodes 1 and 7, since no other shortest paths pass through it. By the methodology of load centrality this  node nr.2  should be assigned a lower centrality value than for betweenness centrality?

[2022-06-13 10:53] lucasmccabe commented on #5618
I don't, either.

On one hand, in writing #5727 I noticed that it was definitely a deliberate choice to not add both directions when doing the conversion. (e.g. the in-line documentation in [`convert.from_dict_of_dicts`](https://github.com/networkx/networkx/blob/ec267cff8d092534fb0b2616e8f075142d2cd75b/networkx/convert.py#L365)).

I'm not sure why, though. I think innately I would have expected th

[2022-06-13 14:00] mosikh opened #5729 "inefficiency of Steiner tree"
Dear developers,
I use the Steiner-Tree tool from Networkx library to find the best possible route between some terminal nodes in an undirected, clean graph. The considered weight for this graph is just the length of segments. The used code is as follows:

ax.steinertree.steiner_tree(G, terminal_nodes, weight='weight')

Steiner tree works without error. However, a few time I see that the suggested

[2022-06-13 14:24] lucasmccabe commented on #5729
It's worth bringing up that the [`steiner_tree`](https://github.com/networkx/networkx/blob/304682fd71ba3bae9c456b004bbabafb96022add/networkx/algorithms/approximation/steinertree.py#L50)  function is an approximation algorithm, so it's not guaranteed to give exact results.

That said, if you provide your graph using NetworkX syntax, I'd be happy to take a look!

[2022-06-14 15:38] lucasmccabe commented on #5725
Several other shortest paths pass through node 2 - for instance, the shortest paths from 1 to 4 and 1 to 5.

[2022-06-14 18:29] lucasmccabe commented on #5725
Your calculation of betweenness appears correct, though non-normalized.

Unfortunately, your calculation of load is not. Nodes 4 and 5 (via source node 1) contribute 4/3 each to the non-normalized load score for node 2. This can be seen by adding something like ```if source == 1 and v in [4, 5]: print(v, x, between[v], num_paths)``` between lines 119 and 120 [here](https://github.com/networkx/netw

[2022-06-14 18:48] joranp1 commented on #5725
thanks!

[2022-06-15 06:16] rossbar commented on #5725
Thanks @lucasmccabe for the comprehensive answer! IMO that addresses the initial question sufficiently, so I will close this issue. Please feel free to comment/reopen if there are further questions.

[2022-06-15 06:16] #5725 closed

[2022-06-15 11:49] genericCandy opened #5734 "Some methods doesn't work on child classes of graphs"
When working on child classes of `nx.Graph` (I assume it is the same for all graph classes) that have other `__init__` parameters, some methods (for example subgraph) fail since they try to access the `__init__` of the child class instead of the `__init__` of the parent class

### Current Behavior
The method tries to access the `__init__` of the child class with the parameters for the parent class

[2022-06-15 12:09] MridulS commented on #5734
thanks for raising this @genericCandy! But I'm not sure why should the given python script work? Why should the `Child` class should have access to the `subgraph` method from a `[Multi|Di]Graph` class?
How do you define a subgraph for a `Child` object?

If you want to keep a track of a graph object inside the `Child` class maybe something like this could work for you?
[code]

[code]

[2022-06-15 12:41] dschult commented on #5734
Even if you do subclass the graph class, a subclass should support the existing arguments to the base class. It can add new arguments. But if it removes possible arguments then you will need to overwrite any methods like subgraph that use these arguments.  I like @MridulS suggested approach.  But if you really need the subclass approach, then try
[code]
Or if you are envisioning a string as the da

[2022-06-15 16:53] toulbar2 opened #5750 "Documentation example on read_edgelist for directed graph has missing parentheses"
While trying to read a digraph from a list of edges, as suggested in the documentation examples for this function:
G = nx.read_edgelist("network.txt", create_using=nx.DiGraph)
generates an error
TypeError: clear() missing 1 required positional argument: 'self'

The correction was:
G = nx.read_edgelist("network.txt", create_using=nx.DiGraph())

[2022-06-16 09:01] rossbar opened #5787 "`node_link` functions `attrs` kwarg"
`node_link_graph` and `node_link_data` have a similar API to the `cytoscape` functions, where there is a `attrs` kwarg which expects a dictionary containing specific keys that is then unpacked internally.

This API is a bit un-Pythonic and was removed in favor of keyword arguments - see the related discussion in #4199. It's worth checking if the `node_link` functions wouldn't benefit from a simila

[2022-06-16 12:06] dschult commented on #5787
Yes, IMO these functions should be changed to have 5 keyword arguments instead of a single dict containing the five values.

[2022-06-17 10:16] osfrickler opened #5790 "networkx==2.8.4 triggers configuration error"
After upgrading to networkx==2.8.4, docs builds for https://opendev.org/openstack/octavia are failing.

### Current Behavior
[code]

### Expected Behavior
doc build should succeed, like it did with earlier versions

### Steps to Reproduce
Not sure if that counts as minimal, but running `tox -e docs` in a checkout of octavia shows the failure.

### Environment
Python version: 3.8 (Ubuntu 20.04), al

[2022-06-17 10:18] osfrickler commented on #5790
Adding "if not isinstance(s, str): return False" in front of https://github.com/networkx/networkx/blob/main/networkx/drawing/nx_pydot.py#L199 solves the issue for me.

[2022-06-17 11:42] hectormauer commented on #5790
I believe the bug is that this line: https://github.com/networkx/networkx/blob/main/networkx/drawing/nx_pydot.py#L281:
`        for u, v, key, edgedata in N.edges(data=True, keys=True):
            str_edgedata = {str(k): str(v) for k, v in edgedata.items() if k != "key"}
            u, v = str(u), str(v)
            raise_error = (
                _check_colon_quotes(u)
                or _check_

[2022-06-17 16:45] MridulS commented on #5790
Thanks for the report @osfrickler, this is indeed an issue.

[2022-06-20 09:17] C0casio45 opened #5798 "'_AxesStack' object is not callable"
### Current Behavior
When I'm running networkx on jupyterlab hosted on a arm architecture (raspberrypi 4 8go) I got this error:

[code]

### Expected Behavior
I used this example to be sure of my code
[networkx example](https://networkx.org/documentation/networkx-2.3/auto_examples/basic/plot_properties.html#sphx-glr-auto-examples-basic-plot-properties-py)

### Steps to Reproduce
Use docker and ins

[2022-06-20 09:41] MridulS commented on #5798
I can't really reproduce this (don't have a raspberrypi). But this error is coming from matplotlib. What version of `matplotlib` do you have?

Also the link to the example is a old version (which has a typo), pleas use the latest stable release https://networkx.org/documentation/stable/auto_examples/basic/plot_properties.html

[2022-06-20 09:45] C0casio45 commented on #5798
matplotlib 3.6.0

[2022-06-20 09:50] C0casio45 commented on #5798
huh it's strange :/ I got a dev version not referenced on their github

[2022-06-20 15:57] dschult commented on #5694
Would changing the name of `arrows` to `fancy_edges` alleviate this confusion?
When `fancy_edges` is False, the arrowstyle and connectionstyle are ignored.
Directed graphs default to `fancy_edges=True`, Undirected graphs default to `fancy_edges=False`.
Hmmmm.... maybe its the same problem.  But what do you think? Would that be less confusing?

[2022-06-20 16:18] dschult commented on #5542
I think adding `is_tournament` to the main namespace makes sense.  But I would want the code for that function to live with the other tournament code.  And if people are going to discover the function via ipython's tab-completion feature, then we need to make sure they can easily see enough of the doc_string to be able to understand what a tournament graph is. I haven't looked at that. Maybe it is

[2022-06-20 18:03] MridulS commented on #5798
Well what's happening after this clone?
Also I would suggest installing the "default" requirements of networkx. You can change your RUN command to:
[code]

[2022-06-20 18:25] MridulS commented on #3837
I believe this is fixed in https://github.com/networkx/networkx/pull/4183. I'll go ahead and close this :)

[2022-06-20 20:46] dschult commented on #5612
With regard to removing `nodes_or_number` from functions that currently call `empty_graph` immediately.
It may not be as easy as I thought to remove `nodes_or_number`. It changes behavior when duplicates appear in the incoming list of nodes.  We currently return incorrect graphs in this case!!

For example, `complete_graph` currently doesn't return the complete graph K_n (despite saying that it do

[2022-06-20 21:43] dschult commented on #5618
This question is even more complicated than described above. The resulting behavior depends on the value of the keys for the edges in the original MultiDiGraph.  And IMO it **should** depend on the key values. ('a','b',0) and ('b','a',0) both become ('a','b',0) where converting to an undirected multigraph in a world where keys are important.

[code]

If keys are not important then we can ignore th

[2022-06-20 22:07] dschult commented on #5620
It turns out the tests were actually testing this case:  Incorrectly!!
So, I've fixed the tests and the code in #5800.
Thanks for bringing this to our attention!

[2022-06-20 23:09] dtekinoglu opened #5801 "`nx.ancestors()` and `nx.descendants()` does not include the node itself."
It is not stated in the documentations of `nx.ancestors()` and `nx.descendants()` about whether the node itself is included as ancestor/descendant or not. This information can be added to related documentations.

It is also possible to add a keyword argument to the source codes so that the user can include the node itself to its ancestors/descendants.

[2022-06-21 02:03] KrishivVora opened #5803 "Converting from DOT graph file to NetworkX graph adds unexpected '\\n' node"
Converting from a DOT graph file to a NetworkX graph using the function G = nx.Graph(nx.nx_pydot.read_dot(path)) (as mentioned on https://networkx.org/documentation/stable/reference/generated/networkx.drawing.nx_pydot.read_dot.html) adds an unexpected and inexplicable '\\n' node to the NetworkX graph that is not present in the Graphviz DOT graph.

### Current Behavior
NetworkX graph has an extra '

[2022-06-21 03:13] LiuCMU opened #5804 "nx.is_isomorphic does not give consisten results"
Hi, could you please take a look at the case about the `nx.is_isomorphic` function? Thank you very much!

### Current Behavior
Two graphs that should be isomorphic are defined as False by `nx.is_ismorphic()` function.

### Expected Behavior
The `nx.is_isomorphic()`function should return True

### Steps to Reproduce
The `G_small.pkl` and `acid_r.pkl` graphs are in the attached `Archive.zip` file.
A

[2022-06-21 07:25] MridulS commented on #5803
Thanks for the report @KrishivVora, please go through https://github.com/networkx/networkx/issues/5686. This is an issue if you mix `pydot` and `networkx` read write functions. A `pydot` write to disk adds the extra `\n`.

A workaround could also be to use `nx.nx_agraph` (pygraphviz) instead of `nx.nx_pydot` (pydot). I'll close the issue for now, but please feel free to put in more details if you

[2022-06-21 07:25] #5803 closed

[2022-06-21 09:24] C0casio45 commented on #5798
Ok i reinstalled matplotlib with version 3.5.2 hardwritten in the git clone and everything works
I dunno why I got a dev version who is not released :/

[2022-06-21 09:24] #5798 closed

[2022-06-21 09:47] MridulS commented on #5804
Thanks for the report @LiuCMU!

My first hunch was this is a bug too! But it's not, these graphs are structurally isomorphic and isomorphic only if you either take the `bond_type` or `atomic_num` but not both!!

After spending way too much time debugging the NetworkX codebase I drew these things out and they are totally different "molecules" if we take both `bond_type` and `atomic_num`. The hexago

[2022-06-21 09:47] #5804 closed

[2022-06-21 11:08] rossbar commented on #5801
I think my preference would be to state explicitly in the docstring that `ancestors` and `descendants` do not include `source` itself. One could even go so far as to provide an example for how a user could easily get the ancestors/descendants with the source node included, i.e. `nx.ancestors(G, n) | n`. IMO this is preferable to expanding the API of `ancestors`/`descendants`, but that's just my op

[2022-06-21 12:10] rossbar commented on #5750
This shouldn't be a problem - `create_using` accepts either the graph class (as shown in the tutorial) or an instance of the graph class (your proposed change). Can you provide the full traceback along with which version of NetworkX you were using when you encountered the issue?

[2022-06-21 13:09] #5620 closed

[2022-06-22 08:03] #5790 closed

[2022-06-22 14:19] charlesdwright opened #5806 "deorator.py isgeneratorfunction circular import error"
### Current Behavior
When attemtpting to debug koala2 in Pycharm, process ends with circular import error pointing to networkx/decorators.py

### Expected Behavior
Shouldn't error out.

### Steps to Reproduce
See screenshot of console output when attempting to step through debug.

### Environment
Python version: 3.9.10
NetworkX version: 2.8.4

### Additional context
Pycharm 2021.1.3 (Community Edi

[2022-06-22 14:49] dschult commented on #5806
The thread of imports makes it look like Python's `inspect` library is importing `ast`. But your naming conventions for the koala project have a module named `ast`.  So, inspect is importing the koala_project `ast` instead of the intended Python library `ast`.

In the end the `inspect` module is not fully loading because your `ast` module imports networkx which dependson `inspect`. Perhaps you cou

[2022-06-22 16:21] Erotemic opened #5807 "Inconsistent documentation for `generate_*` functions in networkx.readwrite"
As discussed in #5602 there seems to be an inconsistency with the docs in networkx.readwrite. For `generate_*` functions, most of them are actually implemented as generators, but the docs often claim they are returning full text strings. E.g. generate_adjlist:

[code]

[2022-06-22 18:48] rossbar opened #5808 "Should `_hits_scipy` be removed?"
The `hits_scipy` function was made private in #5771. The user-facing `hits` function is also implemented using scipy, and at face value looks like it would be much more efficient than `_hits_scipy`.

We should review the implementation in `_hits_scipy` to a) verify that it is indeed less efficient than the main `hits` implementation and b) determine whether it has outsized pedagogical value. Again

[2022-06-23 03:48] dschult commented on #5807
It looks like was just plain wrong when I said that the `generate_*` functions returned strings of whole files rather than yielding strings for each part of the file.

For this example with `generate_adjlist`, I believe that the docs are correctly indicating that it yields (generates) one line at a time of an adjacency list format.  But it doesn't describe that format in detail. It could definitel

[2022-06-23 15:17] Erotemic commented on #5807
Generally, I would think a docstring for a generator would have a "[Yields](https://numpydoc.readthedocs.io/en/latest/format.html#yields)" section instead of a "Returns" section. I'd say the docs for this and related functions could use an update, although it is low priority. (It is a great "first issue" for a new contributor though).

[2022-06-23 20:48] MridulS commented on #5449
fixed in https://github.com/networkx/networkx/pull/5452

[2022-06-23 20:48] #5449 closed

[2022-06-24 12:00] #5046 closed

[2022-06-24 15:39] #5124 closed

[2022-06-24 16:54] rossbar opened #5814 "Improve testing for directed_edge_swap"
There is an opportunity to improve the testing of the `directed_swap_function`.

There is a concrete suggestions [here](https://github.com/networkx/networkx/pull/5663#discussion_r906225024) for improving `test_directed_edge_swap` by validating that the input and output edges are indeed different. Upon reflection, I think this check could even be improved further by verifying that the number of swa

[2022-06-25 10:56] rossbar opened #5817 "Held-Karp ascent failures due to optimize.linprog infeasibility"
The recent scipy 1.9rc release caught some failures related to our use of `optimize.linprog` in the Held-Karp implementations. For example, the following tests are failing:

[code]

The specifics related to the release are addressed elsewhere (see scipy/scipy#16466 and #5816), but taking a closer look at these failures it turns out that an underlying problem is that the results from `optimize.linp

[2022-06-25 15:29] mjschwenne commented on #5817
I had noticed the warnings coming from `optimize.linprog` and always wanted to go back and try to fix them. I guess scipy has forced my hand to at least try :smiley:. Unfortunately, the linear programming part of this has always been my weakest point with the algorithm. Also, I don't have access to my annotated copy of Held and Karp's paper at the moment but I should still have a PDF copy somewher

[2022-06-25 21:23] clevo4040 opened #5820 "karate_club_graph()"
Zachary's karate club has 17 members in each of the two communities. The original paper, other literature, Barabarsi's Network Science, and other online references suggest that the size of each community is 16 and 18, not 17 and 17. This suggest that at least one of the club member nodes is initialized wrong here:
club1 = {0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 16, 17, 19, 21}
len(club1) is 17

[2022-06-26 10:54] rossbar commented on #5820
I went ahead and double-checked this against the original paper. The `club` attribute assigned to the nodes in `karate_club_graph` is consistent with the ground-truth from the paper (i.e. the "club after fission" column of table 1). The only difference is that the nodes are 1-indexed in the paper and 0-indexed in NetworkX.

The 16/18 community sizes appear to correspond to the cuts determined by r

[2022-06-26 10:54] #5820 closed

[2022-06-26 21:28] clevo4040 commented on #5820
Appreciate your quick response! I recognize the 1-indexed node of the original paper and the 0-indexing used here.

As you will see from the following node 8 has been placed into the wrong community.

Ground Truth 17/17 from Networkx `karate_club_graph`
club1 = {0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 16, 17, 19, 21}

Ground Truth 16/18 from original publication (0-indexed)
club1 = {0, 1, 2, 3,

[2022-06-26 21:38] dschult commented on #5817
See @mjschwenne 's fix for this in #5822
In short, the lack of a solution is precisely what the algorithm is looking for and being able to check `OptimiztionResult.success == False` is very helpful.

Thanks very much for the report of this issue!  And Thanks Matt for the quick fix!

[2022-06-26 21:56] dschult commented on #5820
It looks like you are looking at the "Faction" column of the original paper instead of the "Club After Fission" column.
The original paper has 17 members in each of the two clubs after the split.

[2022-06-27 00:54] #5817 closed

[2022-06-27 07:58] rossbar commented on #5806
Thanks @dschult I will close this since the root cause here is the accidental shadowing of the built-in `inspect.ast` package.

[2022-06-27 07:58] #5806 closed

[2022-06-27 08:06] rossbar commented on #5734
Thanks @MridulS and @dschult for the nice explanations. IMO the descriptions and examples are sufficient to address the original question, so I will close this one. If the issue persists please feel free to reopen with updated info!

[2022-06-27 08:06] #5734 closed

[2022-06-27 08:46] #5595 closed

[2022-06-27 09:17] rossbar commented on #5551
I've reviewed the documentation for the functions in the `tournament` module and it looks to me like they are in good shape re: notifying the user that the input should be a tournament graph. This is admittedly a subjective assessment, so if there are ideas for concrete documentation improvements, please submit a PR!

I'm going to go ahead and close this as resolved, but again - improvements to `t

[2022-06-27 09:17] #5551 closed

[2022-06-27 09:28] rossbar opened #5823 "API consistency between bipartite/non-bipartite matching algorithms."
This was originally reported by @dschult in #5538. The original defect mentioned there was fixed, but the deeper issue re: API consistency remains. I've extracted that discussion here so that we can get rid of the discussion points that are no longer relevant

---

The deeper issue is that the API for bipartite 'matching_algorithm's returns a dict of "mates", while the non-bipartite functions retu

[2022-06-27 09:29] rossbar commented on #5538
The original issue was fixed by #5549, so I will close this.

The issue related to non-bipartite/bipartite matching algorithm API discrepancies is still relevant and has been extracted to it's own issue in #5823

[2022-06-27 09:36] #5510 closed

[2022-06-27 09:43] rossbar opened #5824 "Project Idea: Visual map of functionality available in NetworkX"
This is an awesome project idea originally brought up by @stanyas and @MridulS in #5510.

The idea is to have a visual map of NetworkX functionality, similar to (/inspired by) this excellent graphic from the scikit-learn project: https://scikit-learn.org/stable/_static/ml_map.png

The first step would be to review NetworkX's available functionality and identify any major, obvious categories for va

[2022-06-27 09:51] rossbar commented on #5326
I think there is general agreement here on adding a `describe` method. Now the question is 1) what should go in it and 2) how should the output be formatted. Proposals welcome!

[2022-06-27 10:20] rossbar opened #5825 "`remove_edges_from` behavior for MultiGraphs"
This is was originally reported in #5158 related to another issue. I've extracted the relevant pieces that need to be addressed so we can focus only on those and ignore what's already been fixed.

---

The behavior for multigraphs was changed in `remove_edge` back in [#284](https://github.com/networkx/networkx/issues/284) and it looks like the docs in `remove_edges_from` never got updated to refle

[2022-06-27 10:21] rossbar commented on #5158
The documentation update was closed by #5699. I've moved the remaining points for discussion to #5825 so we can continue the discussion there.

[2022-06-27 10:21] #5158 closed

[2022-06-27 10:23] #5128 closed

[2022-06-27 10:27] rossbar commented on #5067
From the discussion here this seems like it'll be a tricky one to get the wording right - any chance you'd be able to wrap up a suggested phrasing in a PR @jamestrimble ?

[2022-06-27 10:31] rossbar commented on #5030
This one's been inactive for awhile... I think the best way to push the discussion forward would be if there were a proposal on how the problem could be fixed. That would make it easier to see what the discrepancies might be. Any chance you'd be able to submit a PR @ChengMa-RPI ?

[2022-06-27 10:33] rossbar commented on #5013
I'm not familiar with the Pajek format... any chance you'd be able to submit a suggested fix with a simple test case that illustrates the current problem?

[2022-06-27 10:39] rossbar commented on #5009
I'm not sure what's the best way to go about this. On the one hand I understand the convenience argument of allowing `nodelist` to have nodes that are not in `G`, but one major downside of this is that it would result in silently-incorrect results when a user *accidentally* adds a node to the nodelist that is not intended to be there.

I think @dschult 's suggestion is a good one, especially since

[2022-06-27 10:46] rossbar commented on #5001
I agree with @dschult 's assessment here - this seems largely like an upstream/dependency management issue. I'm going to close this as resolved by the above suggestion. I

[2022-06-27 10:46] #5001 closed

[2022-06-27 10:50] rossbar commented on #4980
This recently came up again in #5818. I think it's definitely worth adding a simple example to the `shortest_path` docstrings showing how to reconstruct the shortest path from the returned nodes.

[2022-06-27 10:54] rossbar commented on #4978
I'm going to close this one as resolved by @dschult 's answer.

[2022-06-27 10:54] #4978 closed

[2022-06-27 11:05] rossbar commented on #4895
This definitely seems worth pursuing - 10-15x speedup for common operations would be great!

One thing that comes to mind is: how would this affect user-defined subclasses? i.e. what happens if a user-defined subclass overrides the default `adjlist_*_dict` factories?

[2022-06-27 11:09] rossbar commented on #4885
Thanks @paulbrodersen . This hasn't garnered any discussion, likely because there's a lot to digest! Any chance you'd be able to open a PR with suggested changes and/or some of the above examples as test cases?

[2022-06-27 11:43] dschult commented on #5823
I believe #4644 may also be relevant here.  That issue points out that the matching algorithms encode edges as sets and that doesn't work well for selfloops, directed edges lose their direction, and some other artifacts. It looks like the matching functions could use a general overhaul.  We can do the individual steps separately, but it might be good to only spend the effort diving into the detail

[2022-06-27 11:59] rossbar commented on #4601
Gentle ping @jeremiastraub - any updates on this?

[2022-06-27 12:03] rossbar commented on #4517
I'm going to close this one as resolved. If the issue persists or there are concrete suggestions on how the documentation could be improved, open a new issue or PR.

[2022-06-27 12:03] #4517 closed

[2022-06-27 12:13] rossbar commented on #4516
Having reviewed the above, my feeling is that this should be handled by the user rather than baked into the `cytoscape_json` function, i.e. something similar to [@Wuelle 's](https://github.com/networkx/networkx/issues/4516#issuecomment-758535520) or [@dschult 's](https://github.com/networkx/networkx/issues/4516#issuecomment-760533871) depending on the specific case.

[2022-06-27 12:15] rossbar commented on #4472
I'm going to close this one as "won't fix", as I think we agree that the source of the problem originates outside of networkx's sparse conversion functions.

[2022-06-27 14:56] mjschwenne commented on #4836
While I did mention this issue in the one about `min_weight_matching`, the implementations are completely separate, so the fix their did nothing to fix the issue here. My point their was that this is the same type of issue more than anything. In the short term, I thing that adapting the same style of edge weight conversion from that issue would help solve this problem as will. In the long term, th

[2022-06-27 15:20] MikeB2019x commented on #5009
I don't view it as a convenience but as a use-case and one that is the bulk of my work (graphs, graph evolution, graph time-series in business/finance). My guess is that the original intent of the `nodelist` argument in the method was precisely the use-case I presented in the OP.

In the to_pandas_adjacency method as described [here](https://networkx.org/documentation/stable/reference/generated/ne

[2022-06-27 16:47] rossbar commented on #4836
Gotcha, I just saw the purple "merged" button and thought I'd check. Thanks for the clarification!

[2022-06-27 17:44] lkora commented on #4836
Agreed! Original paper is quite difficult to follow. I really wanted to go for it last summer, but I landed a job, and was just preoccupied with work, studies,.. I agree with @mjschwenne whoever wants to get their feet wet with this should first try to refactor the code, as it is written "by the paper", and then rewrite some parts of it. I can see some potential improvements and efficiency gains.

[2022-06-27 17:55] paulbrodersen commented on #4885
Sorry, I now have a newborn (5 weeks) and won't have time for this for the foreseeable future. You can have a look at my implementation of the FR algorithm in netgraph [here](https://github.com/paulbrodersen/netgraph/blob/master/netgraph/_node_layout.py#L272).

[2022-06-28 04:52] teddy21019 opened #5826 "Bug in closeness_centrality() for bipartite"
### Current Behavior

Source code file: `networkx/algorithms/bipartite/centrality.py`
Function: closeness_centrallity()

In line 255 and line 265, it assigns 0 to `closeness[n]`
### Expected Behavior

It should be `closeness[node]` instead

Python version: python 3.8.3
NetworkX version: 2.8.4

[2022-06-28 06:54] jeremiastraub commented on #4601
thanks for the reminder @rossbar. Didn't get around to do it yet, and it will be another 3-4 weeks until I have the time. But I'll be happy to take up the task then.

[2022-06-28 07:47] rossbar commented on #5826
This was recently changed in #5308 - the line numbers mentioned above don't match those given in the OP. Can you take a look at [the development branch](https://github.com/networkx/networkx/blob/main/networkx/algorithms/centrality/closeness.py) and verify whether you still believe there's an issue? Everything looks correct AFAICT, but I don't know specifically what's being referred to above.

[2022-06-28 08:34] rossbar commented on #5009
This change was made in #4216, precisely to prevent the case where an accidental inclusion of a non-node in `nodelist` would result in a resulting adjacency structure with the wrong shape.

The docstring makes it seem like the intent of `nodelist` is to control the ordering, i.e. the mapping from node to row/column number.

The two obvious use-cases are 1) to control the row/column ordering (as me

[2022-06-28 11:11] rossbar commented on #4311
We should probably revisit this discussion in light of the proposed pydot deprecation. If `pydot` is removed from the equation, that leaves the `bipartite` loading functionality. Assuming the mirrored functionality is sufficiently different from its non-bipartite version, I think leaving maintaining it in the separate `bipartite` namespace makes sense. Of course, we should review to be sure this i

[2022-06-28 11:56] rossbar opened #5827 "Review the `.update` method of graph classes"
This is an action-item extracted from the discussion in #4208.

The graph classes have an `update` method which is intended to add the nodes/edges from one graph to another (similar to dict.update). There is a comment in #4208 that the implementation is not particularly easy to understand, nor is it 100% clear that it will work for all graph types (e.g. are multigraph edge keys preserved?). It wou

[2022-06-28 12:03] rossbar opened #5828 "Update documentation surrounding `union`, `disjoint_union`, `compose` and `Graph.update`"
This is an action item extracted from the discussion in #4208.

It's not always immediately clear to users how the various operators `union`, `disjoint_union`, and `compose` differ and for which use-cases each is appropriate. There is also the `update` method of the graph classes, which simply updates the nodes/edges of a graph in-place with those of another, which is related to the above operatio

[2022-06-28 12:05] rossbar commented on #4208
There's a lot of info in the above discussion so I went ahead and extracted a few of the suggestions that are actionable into separate issues to try to break things up and make it easier to get eyes on them. See the issue links above.

[2022-06-28 12:10] MridulS commented on #4207
Yeah I think I'll go ahead and close this, these things should probably be inside a bigger discussion page about the dispatch API which hopefully leads to a NXEP. I don't have any document for it yet but I'll go ahead and close this.

[2022-06-28 12:10] #4207 closed

[2022-06-28 12:49] rossbar commented on #4047
Gentle ping @kazimierz-256 . Is this issue still valid? There have been some developments on the negative cycle detection front that may be relevant here: see #5089

[2022-06-28 12:51] rossbar commented on #4005
Is this issue still relevant? @neocsbee could you provide more specific information from the paper that is at odds with the current implementation?

[2022-06-28 14:14] MikeB2019x commented on #5009
The addition of nodes as in your snippet is what I've been doing since the change was implemented.  Currently at 12,000  graphs a run (and should be increasing by an order of magnitude by year end) it's noticeable.  I've read the discussion on the change and respectfully disagree with the reasons for that change, being able to include nodes not in the graph should at least be an option and I think

[2022-06-28 14:14] #5009 closed

[2022-06-28 14:39] teddy21019 commented on #5826
Thank you for the reply.
The code I was looking at was the source code presented in the website
https://networkx.org/documentation/stable/_modules/networkx/algorithms/bipartite/centrality.html#closeness_centrality

But just as you mentioned, the issue seems to be fixed in the development branch. I appreciate your reply and the work of your team, thank you!

[2022-06-28 14:39] #5826 closed

[2022-06-28 15:46] rossbar commented on #4311
Yeah it gets pretty tricky... my initial attempt at categorization would be that "visualization" deals with viewing graphs live/interactively, whereas "readwrite" deals with loading/saving/transporting graphs.

Even this distinction breaks down in some cases though: for example, some visualization modalities use an intermediary text representation for the graph like LaTeX or PyDot. Then, in order

[2022-06-28 16:42] rossbar commented on #3832
This is an interesting discussion, thanks @dschult and @OrionStar25 ! Having gone through the above I'm wondering if there's any action-items here that we could do to improve NetworkX - perhaps a documentation example showing how `max_flow_min_cost` can be used to solve a problem like the one above? Are there any multiedge flow algorithms that would be nice to consider for addition to NX?

[2022-06-28 16:47] rossbar commented on #3820
Any thoughts on the latest comment @cw299 . Does fuzzing/contracting 0-weight edges fix the problem for your use-case?

If this problem is really isolated only to graphs that have edges with 0 weight, it's probably worth mentioning this (prominently) in the docstring.

[2022-06-28 16:53] rossbar commented on #3818
It sounds like the documentation should be improved along the lines discussed above in order to close this one.

[2022-06-28 17:10] rossbar commented on #3813
IMO this is would be one of the most impactful features we could add to `nx_pylab`! I too like @ShirsenduP 's solution and it is likely to work well for some use-cases, but I'm hesitant about adding it to `draw_networkx_edge_labels` as I don't think it'd be good to have the implicit dependence on the aspect ratio.

This is a really interesting idea and in principle would solve some of the trickies

[2022-06-28 17:14] rossbar commented on #3796
I'm going to close this one as resolved as it seems like the initial question has been sufficiently addressed and I'm not sure there's anything actionable here. If there are improvements that could be made related to this problem, I'd recommend opening a new issue/PR with the proposed changes (new algorithm, documentation improvements, or whatever) and link back to this one in the discussion. OTOH

[2022-06-28 17:14] #3796 closed

[2022-06-28 17:33] rossbar commented on #3700
This seems like it's related to #4895 . For instance, would we get the 10-15x speedup in `nx.selfloop_edges` mentioned in #4895 if `adj` were an attribute instead of a property? Said another way, is the AdjacencyView object creation the bottleneck for that (and other) functions/operations?

There are obviously tradeoffs involved here that affect core functionality, so it'd be nice to have some rob

[2022-06-28 17:48] rossbar commented on #3439
My sense is that there would need to be a bit more discussion on a general policy for parallelization before moving forward with tackling any specific function - see #4064.

[2022-06-28 18:39] rossbar commented on #3408
I'm going to close this as one as a duplicate of #4641, as there's more discussion on the topic there.

[2022-06-28 18:39] #3408 closed

[2022-06-28 18:48] rossbar commented on #3349
I assume this is referring to `min_edge_cover`, in which case this was fixed by #5549 (though in a different way than expected from the above: rather than duplicate *all* the edges in both directions, it removes duplicates entirely).

[2022-06-28 18:57] rossbar commented on #3325
This one's been inactive for awhile and I think is sufficiently addressed (at least for the typical use-cases) with reducing the number of iterations as suggested.

For reference, here's what the original example looks like with the default number of iterations (50):

![draw_spring_components](https://user-images.githubusercontent.com/1268991/176260729-0b9c3dc6-fcb6-4974-80c7-1e3b3a2e69d6.png)

Fo

[2022-06-28 19:01] rossbar commented on #3316
I'm going to go ahead an close this one as inactive. It seems like an interesting idea though, so if there's desire to do so, please follow up either by opening a new issue with more details or better yet a PR that encapsulates some of the main ideas. Note that you can open a draft PR so that you don't have to implement everything to start but can get feedback on higher-level ideas.

[2022-06-28 19:09] edxu96 commented on #4322
This issue has been resolved by [`ArborescenceIterator`](https://github.com/networkx/networkx/blob/2b258dfd59ff69b54428126decfb59aadfd94189/networkx/algorithms/tree/branchings.py#L831).

[2022-06-28 19:09] #4322 closed

[2022-06-28 19:16] rossbar commented on #3262
There are quite a few different things going on here. Re: the first question - I suspect (but haven't don the work to prove) that the change is indeed due to the insertion-order guarantee of Python dictionaries introduced in Python 3.6. Seeing as the minimum supported Python version is currently 3.8, I'm not sure that issues surrounding dictionary ordering from the 3.5/3.6 transition are particula

[2022-06-28 19:16] #3262 closed

[2022-06-28 19:17] #3316 closed

[2022-06-28 19:23] rossbar commented on #3239
This actually might be by design... I think the intended public interface for the VF2 algorithm is `nx.is_isomorphic`.

If however there is an intention to document the `*Matcher` classes, it should be straightforward to do: modifying `doc/reference/algorithms/isomorphism.vf2.rst` to use `autoclass` instead of `autosummary` should do the trick (+/- some options).

[2022-06-28 19:27] rossbar commented on #3225
It's been about ~3.5 years since this was last commented on, so I'm going to go ahead and close this. That's not to say it isn't interesting or worth pursuing! If there's still interest and bandwidth on this front, let's go ahead and open a new issue to start the discussion anew - it'd be good to have a fresh picture of the current status of the project.

[2022-06-28 19:27] #3225 closed

[2022-06-28 19:31] rossbar commented on #3152
The plan here is not to *replace* VF2 with VF2++, but to implement VF2++ alongside the existing isomorphism functionality. @kpetridis24 is currently working on this problem, so I think we can safely remove this from the "wishlist".

[2022-06-28 19:31] #3152 closed

[2022-06-28 19:40] rossbar commented on #3134
AFAICT this was fixed by #3136, and `nx.is_isomorphic` works as expected on graphs with mixed (i.e. non-sortable) nodes on 2b258dfd5:

[code]

I'm going to close this as completed, though if there's still something to do here please open a new issue!

[2022-06-28 19:51] rossbar commented on #2723
True, but I don't think this would ever be recommended!

Overall I'm ambivalent on switching from absolute to relative imports in the library. If someone were truly interested in doing so (or better yet, there were an automated tool to do so) then I'd say go for it, but as it currently stands I think it would be a lot of churn with very little payoff (and in principle practically 0 difference for

[2022-06-29 09:17] rossbar commented on #299
I'm going to re-close this one as I don't think there's anything to be done about it in NetworkX. The [underlying graphviz issue](https://gitlab.com/graphviz/graphviz/-/issues/1789) is well-known and there's [quite a bit of discussion](https://forum.graphviz.org/t/clustering-gives-undeterministic-results/989) on the topic.

While the "use-pydot-instead" approach may skirt this issue, users may run

[2022-06-29 09:17] #299 closed

[2022-06-29 09:20] hyanwong commented on #299
A warning would be good, thanks.

[2022-06-29 12:03] rossbar opened #5833 "Potential deprecation: `pygraphviz_layout` and `graphviz_layout` are the same function"
I just noticed that the `nx_agraph` package provides two functions for computing graphviz layouts on networkx objects: `nx_agraph.pygraphviz_layout` and `nx_agraph.graphviz_layout`.

This duplication seems unnecessary - I think it'd be an improvement to provide only one function for this. My question is two-fold:
 1. Is there appetite for deprecating one of the two identical functions, and if so:

[2022-06-29 14:52] dschult commented on #5833
This duplication stems from a history when we had two `graphviz_layout` functions... one for pydot and one for pygraphviz. This was an attempt to maintain backward compatibility while trying to split the function names. If we do remove support for pydot, then I think `graphviz_layout` is the better name. If we keep both we just need to be aware of the possible namespace collision.

[2022-06-29 19:28] #3880 closed

[2022-06-29 20:29] cans commented on #5723
Do you mean providing wheel package for pygraphviz? I know I had colleagues having trouble building/installing the package on MacOS. That would be awesome!

[2022-06-30 02:38] dschult commented on #5067
A homomorphism between graphs m:G1->G2 can be an isomorphism if it is bijective. It is a monomorphism if it is an injection. Thus G1 is monomorphic to G2 means that G1 is isomorphic to a set of nodes and edges from G2. But there are nodes and edges from G2 that may not be mapped to (may not appear in the range of the mapping).  Thus the term subgraph monomorphism is kind of redundant in this setti

[2022-06-30 14:27] RazerM opened #5838 "Lazy imports cause broken numpy"
With modules that use astropy/numpy we experienced "AttributeError: Module 'numpy.core' has no attribute 'records'" and managed to find the root cause was networkx's `nx.lazy_import("numpy")`.

### Current Behavior

numpy's modules end up in a broken state

### Expected Behavior
numpy should behave the same way as it does when not lazily imported by networkx

### Steps to Reproduce

[code]

[code]

[2022-07-01 18:36] jarrodmillman opened #5840 "Re-enable geospatial examples"
Re-enable  geospatial examples once pysal makes a new release. See
- https://github.com/networkx/networkx/pull/5841

Background information:
- https://github.com/networkx/networkx/pull/5779
- https://github.com/pysal/libpysal/pull/472

[2022-07-01 21:10] seberg commented on #5838
Seems all a bit strange.  I tried to lazyimport a module that does `from .submodule import *` and then fetches its `__all__`.  If I define the `__all__`, it actually seems to work fine.  But if I do not define `__all__` it fails, because `__all__` never ges auto-defined?

However, it errors then because `__all__` does not exist, not because the name itself is missing.  I am wondering if the `LazyL

[2022-07-02 13:44] kazimierz-256 commented on #4047
Yes, now I see it concerns:
- johnson
- bellman_ford_path_length
- single_source_bellman_ford
- single_source_bellman_ford_path
- single_source_bellman_ford_path_length
- bellman_ford_predecessor_and_distance
- bellman_ford_path

Great idea! To handle ties, now, `pred_edge[v]` ought to be a set of vertices, for which all edges `(u,v) for u in pred_edge[v]` lie on shortest paths leading to "v".

No

[2022-07-04 13:35] fiego opened #5842 "Truss number in k-truss is not implemented"
Truss number in k-truss is not implemented.

Can truss number  be implemented like core number of k-core?

[2022-07-04 15:35] dschult commented on #5842
Can you supply us with a good reference for what you are talking about?
Thanks.

[2022-07-05 13:37] #5498 closed

[2022-07-10 13:36] PySimpleGUI commented on #4232
I'm very late to this party.

Can you open an Issue in the PySimpleGUI project?  I am interested in the error dialog you're seeing from PySimpleGUI as well as the additional information you think would be helpful.

[2022-07-12 13:38] aeflores opened #5853 "quotient_graph won't generate self-edges"
The `quotient_graph` algorithm will not produce  self-edges even though the original graph has edges between two elements of the same equivalence class. This could make sense for some applications but not for others, maybe having a `self_loops=False` argument would be a reasonable solution that won't break existing uses of the algorithm.

### Current Behavior

A minimal example would be a graph wi

[2022-07-12 13:51] dschult opened #5854 "Add ThinGraph example to Multi*Graph doc_strings"
Based on discussion in #5813 we should add an example of a subclass of the graph classes to the MultiGraph and MultiDiGraph classes. The `ThinGraph` example from the Graph and DiGraph doc_strings was suggested in that discussion and would be easy to copy over.

[2022-07-12 13:57] dschult opened #5855 "Add subclass example using a sparse_array data factory"
An idea for an example subclass of the base graph classes is a `scipy.sparse.*_array` example.  This is mentioned in a discussion in #5813 and has been talked about a bunch before that. This could be quite involved however, so the real question is whether there is a fairly simple implementation to use as an example. In the long run we could aim for complete functionality, but perhaps for the first

[2022-07-12 18:12] dtekinoglu opened #5857 "`connectionstyle` argument of `nx.draw_networkx_edges()` does not work properly for multigraphs and undirected graphs"
`connectionstyle` argument of `nx.draw_networkx_edges()` does not work properly for MultiGraphs and Undirected graphs. Consider the following example:

[code]
Output is the following:

![image](https://user-images.githubusercontent.com/79102788/178562664-87f24247-eee1-4bf8-a594-c01e4b145fbb.png)

The outputs of the same code snippet when G is created as a multigraph and an undirected graph (`G=nx.

[2022-07-13 02:32] aphedges commented on #3924
This has been on my mind on-and-off for the past 2+ years, and I have some more ideas and thoughts about it. I will post a detailed comment here in the next week or so.

[2022-07-13 10:08] kobeliuke opened #5858 "endless loop happened in louvain_communities when use DiGraph"
### Current Behavior

When i use the following data:
[code]
run the following code:

[code]
the program will never finished.

### Environment

Python version:3.9
NetworkX version:2.8.4

### Extra instruction
I debuged the souce code, and in networkx.algorithms.community. **louvain_communities** function, used the inner fucntion **_one_level**, and in the function , _nb_moves_ field always larger t

[2022-07-13 13:36] rossbar commented on #5858
Thanks for the report - this is a known issue (see #5175 & #5704) that is fixed in #5713. I will go ahead and close this as duplicate as it will be fixed in the next release!

[2022-07-13 14:01] #5858 closed

[2022-07-14 01:38] fiego commented on #5842
This is  the core number in k-core.
https://networkx.org/documentation/stable/reference/algorithms/generated/networkx.algorithms.core.core_number.html

I now need an API like core number in k-core subgraph to easily get the turss number of the K-Truss subgraph.

[2022-07-14 06:07] danieleades commented on #3988
i've just started using this library, and i strongly agree with this. Usage would be far more discoverable with type annotations.

One slight speedbump with adding stricter mypy config to this library is that the `src` and `tests` are not separated. Often you'll want a stricter mypy config for source than for tests (at least, while incrementally adding annotations), which is painful to do when the

[2022-07-14 09:59] rossbar opened #5862 "Update `all_pairs_lca` docstrings"
Just a few potential improvements I noticed while reviewing #5736:

 - [ ] The `Returns` section should actually be a `Yields` as this is a generator. This should also simplify the return description
 - [ ] Add a `Raises` section to indicate when exceptions are raised (graph is undirected, graph isn't DAG, graph is empty, etc.)
 - [ ] Update example to show usage both with and without the `pairs`

[2022-07-14 10:05] rossbar opened #5863 "Cleanup LCA tests"
Taking a look at the [LCA test suite](https://github.com/networkx/networkx/blob/main/networkx/algorithms/tests/test_lowest_common_ancestors.py), it looks to me like there are some opportunities to improve the tests.

One obvious one is the test naming scheme: the test methods are enumerated with a comment that explains what the test is for. With the pytest framework, it'd be better if the test met

[2022-07-14 15:52] NeilGirdhar opened #5865 "Mixins incompatible with Graph"
Using a Mixin with `Graph` is currently perilous:
[code]

[2022-07-15 02:57] dschult commented on #5865
What's your use case for this?  I know what you are saying we should do and why.
But what are you trying to do that makes this helpful for you?

[2022-07-15 04:32] NeilGirdhar commented on #5865
@dschult My main motivation is that it simplifies the type annotation PR.  However, I believe there are no downsides to repairing this.

[2022-07-15 09:49] rossbar opened #5869 "Replace existing LCA functions with "naive" implementations?"
#5736 recently added "naive" implementations of the LCA functions (thanks @dtekinoglu ! :rocket: ) which avoid some [long-standing bugs](https://github.com/networkx/networkx/issues?q=is%3Aopen+is%3Aissue+label%3ALCA) that have been identified by users with the existing implementation. #5736 added the fixes as new functions with the name `naive_` prepended to the existing function names.

My questi

[2022-07-15 11:35] dschult opened #5870 "Add bfs_layers function to the bfs_* module"
The PR #5788 by @kpetridis24 on VF2++ has a nice function called `BFS_levels` which in slightly generalized form would be a good addition to the [breadth_first_search.py](https://github.com/networkx/networkx/blob/main/networkx/algorithms/traversal/breadth_first_search.py) module. It is very similar to the [topological_generations](https://github.com/networkx/networkx/blob/155513702c6562882821f61be

[2022-07-15 11:54] dschult opened #5871 "generic_bfs_edges has apparently duplicated input arguments"
The `generic_bfs_edges()` function has input arguments `neighbors` and `sort_neighbors` and they seems to do the same thing -- or more precisely, their functionality duplicates.

`neighbors` is "A function that takes a newly visited node of the graph as input and returns an *iterator* (not just a list) of nodes that are neighbors of that node"

while `sort_neighbors` is "A function that takes the

[2022-07-15 12:09] dschult commented on #5869
I am +1 for just replacing the existing functions with these naive versions.  I haven't looked closely at the function signatures to see how direct this replacement is. But I think they were created to match, so it shouldn't be a problem. And I'd prefer to get this switched before any release so no deprecations are needed.  It could even be in v2.8.5 depending on the timing.

[2022-07-15 12:33] dschult commented on #5842
But how is the truss number defined?  We have a function for the truss subgraph (I guess you know that).

There is [a nice article on core and truss](https://link.springer.com/article/10.1007/s41019-018-0068-2) and it defines a truss number of an edge. But I have not seen a truss number of a K-Truss subgraph or of a graph.

In any case, NetworkX does not currently have a function to compute what y

[2022-07-15 12:43] dschult commented on #3924
As you explore this again, I'll just note that you shouldn't worry too much about relying on a "detail of CPython implementation" with regard to deterministic hashes for integers. dict order used to be nondeterministic and in Python 3.6 (not that long ago) it changed to be deterministic. That could easily happen to CPython sets someday. So, any system we come up with depends on Python implementati

[2022-07-15 12:46] aeflores commented on #5853
Totally agree! I created the issue to make sure that when #4935 is addressed, self-loops are treated correctly.

[2022-07-15 13:15] Hanseltu opened #5872 "Why does the API `all_simple_paths` miss the nodes in a simple CFG?"
Hi all,

I am currently using `Networkx` API  (`all_simple_paths`) to explore all the simple paths in a CFG of a program, but it seems that this API can not explore all the possible paths in a simple CFG. Could you please check what happened here? Did I use `Networkx`  in an wrong way?

Please check the `png` from a `dot` file (attached at the end)

![test-cfg](https://user-images.githubuserconten

[2022-07-15 13:37] dschult commented on #5872
You can't get from the source to the target by going through those two nodes **and not revisiting node 40120e**.  Revisiting a node means the path is no longer simple (it contains a cycle -- thus crossing itself).  That's why no paths through those two nodes are generated.

[2022-07-15 13:45] Hanseltu commented on #5872
Hi @dschult, thanks for your quick diagnosis! In that case, are there any solutions to get all the possible paths that include the cycles (we may set a bound to the cycle to avoid infinite iteration) in a graph by using existing APIs in `Networkx`? For the loops in the graph, I may just set the bound of the iterative times of those cycles (e.g., only visit once when encountering a cycle) if I manu

[2022-07-15 14:46] dschult commented on #5872
That sounds specialized enough that a general function probably won't work. I suggest that you take the code for one of the path finding routines and morph it to handle the ideas you need.  One function to work from is [single_source_shortest_path](https://networkx.org/documentation/stable/reference/algorithms/generated/networkx.algorithms.shortest_paths.unweighted.single_source_shortest_path.html

[2022-07-15 14:50] Hanseltu commented on #5872
Hi @dschult, thank you so much again for your speedy and helpful suggestions! Please allow me to explore further on this need. Thanks and have a good day!

[2022-07-15 14:50] #5872 closed

[2022-07-16 06:38] rossbar commented on #5870
I agree this would be a really nice addition! Re: API I'm not sure what's best, though I do think it makes sense for the "layers" to be lists instead of sets to preserve information about the visit order within each layer (IIUC).

[2022-07-16 15:01] dschult commented on #5862
These are all in the module: `networkx/algorithms/lowest_common_ancestors.py`

[2022-07-16 20:02] MridulS commented on #5865
Wouldn't it make more sense for compatibility that Mixin is the first base class in the MRO and also call `super().__init__()`? This will make sure the user has more control over the behavior.

[code]

[2022-07-16 22:39] NeilGirdhar commented on #5865
Yes, that's fine until some other base class takes the same approach of declaring that it must come last in every inheritance list.  Then, you can't do anything.

In any case, it's still better to call super just in case someone tries to use a `Mixin` this way since currently there is silent failure to initialize.

[2022-07-17 00:09] dschult commented on #5838
It does seem to be true that LazyLoader does not put the module name into the namespace while the regular import does.

My small example requires a package with a subpackage:
[code]
The outer `__init__.py` file is:
[code]
The inner `__init__.py` file is:
[code]
The module `somestuff.py`:  `stuff = "stuff"`.

To construct the error run this script:
[code]

The error only occurs for a subpackage, an

[2022-07-17 01:58] dschult commented on #5838
@seberg, the link you gave to a Python discussion/issue is similar, and certainly related to subpackages, but there the lazy load occurs in a sub package. And the full package is already imported explicitly before the subpackage names are requested.  Still, it does seem that both are related to how the LazyLoader is handling adding names to the sub_namespaces.

I suspect numpy could import the mod

[2022-07-17 05:06] seberg commented on #5838
Yeah, that was my impression as well, Jarrod started trying it today and it looked good (but was very early).

I do wonder if LazyLoader could be "fixed" with respect to submodules here, but I have not looked at all whether it is easy.  The PEP explicitly mentions this as an incompatibility of the lazy loader!

[2022-07-17 06:45] dschult commented on #5865
I'm quite sure we don't want to try to anticipate all the possible mixin init functions that people could possibly want to use. We would need to give up our current ability to tell the user that they spelled `incoming_graph_data` incorrectly. It'd be unlikely they we'd anticipate every case anyway, and it would encourage inheritance in precisely the cases (orthogonal base classes) where using comp

[2022-07-17 06:45] #5865 closed

[2022-07-17 08:39] NeilGirdhar commented on #5865
In that case, you should probably block it by asserting that `super().__init__ is object.__init__`.  Otherwise, people get silent failures to initialize.

Yes, it's unfortunately a bug there too.  This does cause problems though.  Matplotlib recently had a problem with PySide classes not calling super.  I've run into the problem before too, but I was able to get the library maintainers to fix thei

[2022-07-17 10:13] still-n0thing commented on #5870
Should it be implemented using layer-wise bfs and return a list(or generator) with the nodes in each layer? This will also work with multiple sources.
[code]
something like this?

[2022-07-17 12:41] rossbar commented on #5865
I'm not an OO programming expert, so take this with a grain of salt, but it's my understanding that the mixin multiple inheritance pattern is primarily for extending methods, *not* creating a "subtype" (where concrete instantiation is important). A quick excerpt from [Fluent Python](https://www.oreilly.com/library/view/fluent-python/9781491946237/) (emphasis mine):

This makes it seem like it is i

[2022-07-17 14:12] NeilGirdhar commented on #5865
Mixins are used by creating a subtype.

Exactly.  The mixin itself isn't instantiated, but the subclass is.  For example:

[code]

[2022-07-17 14:55] dschult commented on #5870
@rossbar I agree that returning lists would be better than sets because they retain the information for the order in which the BFS is progressing. I think we might need a lookup in the current layer for each node. The current layer is smaller than the whole graph, but it feels wrong to do a lookup on a list. I guess a dict is a good combination of list and set: ordered and yet fast lookup.

@still

[2022-07-17 15:35] dschult commented on #5865
Mixins should be changing the methods of the class, not the data.  The example Mixin doesn't have an `__init__` for this reason. And there is no problem in this example with Graph not calling `super().__init__`. In this example, problems would arise if Graph had a method called `_contents`. Then Graph would interfere in your attempts to call `SerializationMixin._contents` using `super()._contents`

[2022-07-17 18:15] dschult commented on #5838
@RazerM Thanks for reporting this. We have a PR that removes the lazy load from networkx until this is worked out. We hope to have that in a release 2.8.5 very soon.  Hopefully we can get it fixed in Python's LazyLoader, but it's hard to know. As far as we know, this is a problem in NetworkX v2.7 - v2.8.4

Meanwhile the fix is to import numpy itself before importing from a subpackage of numpy.
[co

[2022-07-17 18:40] still-n0thing commented on #5870
@dschult can you take a look at https://github.com/networkx/networkx/pull/5879 and help me with the testing of possible?

[2022-07-17 19:11] dschult commented on #5628
Check out #5736 which could be a function that solves this issue once we rename it as the primary function.

[2022-07-17 19:15] dschult commented on #4942
Check out #5736 which could be a function that solves this issue once we rename it as the primary function.
Basically, we are giving up on the Bender paper and going to a more obvious (and actually faster) method.

[2022-07-19 01:32] #5862 closed

[2022-07-19 01:49] NeilGirdhar commented on #5865
I'm really sorry that you feel like I'm disrespecting your work, ideas, or opinions.  I love networkx.  It's a fantastic graph library.

All that I've done is make some suggestions based on my experience and try to support them with clear reasons.  You're welcome to disagree of course, and I've always respected that.

So I find this comment a bit odd.  All I did was suggest that we add type annota

[2022-07-19 01:57] NeilGirdhar commented on #5865
I'm going to respond to your last comment just because I think I ought to, but do with this as you like.

Mixins can have their own data, which they store on the object.  For example, the serialization mixin could easily have taken an encoding for example and stored it as a member variable.  In that case, the mixin would have an `__init__`.

Yes, this is always an issue with mixins, and that's why

[2022-07-19 04:13] dschult commented on #5865
Thanks for your comments here @NeilGirdhar. I think I responded when I was tired after a long week. Sorry about that. I apologize. I usually try to not do that.

I don't feel we are protecting code from change. We change lots of things. It is the style of the discussion that I was responding to -- not the particular proposal. It seemed like we were heading into a point/counter-point debate rather

[2022-07-19 14:32] still-n0thing commented on #5871
- If I get this right ```neighbors``` is a callable object (or function) which decides how the neighbors of visited node should be added to the ```queue``` ?
- Do we need to remove ```sort_neighbors```(is a callable object or function) and only work with ```neighbors```(is a callable object or function)? since that might cause break some things (I am not really sure about it)

[2022-07-19 15:48] charmoniumQ commented on #5865
@NeilGirdhar is this needed for the type annotations PR (#4014)?

It seems to me it was needed at one point, when that PR tried to deduplicate code in the constructor but is not needed any longer.

[2022-07-20 03:40] AnjoMan commented on #5662
Wondering if its possible to reopen this issue? I think the solution that we came to here was not nuanced enough to account for all of the 'dot' syntax and ignores some parts of pydot that seem to work fine.

The syntax `Example:A` and `Example:B` have a specific meaning in graphviz where `A` and `B` are supposed to be ports of the node `Example` within i visually structured node shape, allowing f

[2022-07-20 03:49] brocla commented on #5828
I'd like to be assigned to this issue. I've read through the discussion in https://github.com/networkx/networkx/issues/4208. I think I can clarify the difference between `union`, `disjoint_union`, `compose` and `Graph.update`

The first time I wanted to combine two graphs, I started at `union`, which was not what I really wanted. I can leave some descriptive bread crumbs in the "See Also" section.

[2022-07-20 11:36] rossbar commented on #5828
Sounds good @brocla ! Just as a heads up - NetworkX typically doesn't assign issues. Generally we just ask that you check whether there is already an open PR linked to the issue (you can usually see this in the `Development` panel on the RHS of the page in GitHub). Since there isn't anything open in this case, please feel free to make a PR!

If you're interested in more tid-bits about the typical

[2022-07-20 11:42] rossbar commented on #5662
Thanks for the feedback @AnjoMan . Long story short, the pydot interface in networkx has had a lot of problems lately, largely stemming from the fact that `pydot` does not currently seem to be actively maintained. Given this, the current plan is to deprecate the `nx_pydot` interface entirely - see [this pinned issue](https://github.com/networkx/networkx/issues/5723).

[2022-07-20 15:06] U-238 commented on #5628
@dschult @dtekinoglu I've tried `naive_lowest_common_ancestor` using the same dataset and inputs as above.

It gives the correct results for some of the inputs in my original post: (1082, 1096) and (1082, 1097). This is a great improvement!

However for my other inputs I can still manually find common ancestors who are lower than the output of `naive_lowest_common_ancestor`:

### Example 1

Inputs

[2022-07-21 11:36] GuyAglionby opened #5889 "Kou et al. Steiner tree approximation inefficiency"
The existing Steiner tree approximation algorithm (from Kou et al.) finds the metric closure of the whole graph `G`, which requires finding all-pairs shortest paths. However, all that is actually needed are the shortest paths between terminal nodes. For even moderately sized graphs, and in cases where there are few terminal nodes relative to total nodes, this therefore unnecessarily increases runt

[2022-07-21 13:17] AnjoMan commented on #5662
@rossbar ok, that makes sense to me. i will look at switching to `pygraphviz` on my end

[2022-07-21 14:17] RazerM commented on #5838
@dschult @seberg Thanks for the work on this. I didn't find any mention in the docs about incompatibilities with `importlib.util.LazyLoader`, and to be honest I'm not sure if it's a `LazyLoader` bug or a bug that numpy assumes submodules have already been imported implicitly. In the latter case we should probably file a numpy bug or start a discussion about whether they want to support it.

@seber

[2022-07-21 14:20] seberg commented on #5838
@RazerM yes, that one: https://peps.python.org/pep-0690/#import-side-effects:

Which seems at least the main issue, possibly the only one.

[2022-07-22 10:09] rossbar commented on #5628
Thanks for taking a look @U-238. I think it'd be great if we could boil down these failures to the absolute minimum (i.e. what is the graph with the minimum number of nodes and edges to reproduce this case) and add it as a test case. In it's current state I have a hard time verifying the "manual" ancestor determinations. I understand this may not be simple to do, so anyone who wants to take a stab

[2022-07-22 16:09] dschult commented on #5628
Your examples also bring up questions about what it means to be a lowest common ancestor when the graph is a DAG. With a tree, there is a unique LCA for each pair. But with a DAG you can have edges between nodes at the same "level" resulting in multiple choices and how do we compare "5up 3down" to "6up 2down"?

I'll try to construct a simple example to show the trouble:
Multiple LCAs:   `G=nx.DiGr

[2022-07-22 16:27] boothby commented on #3548
Gabriel Kissin contacted me privately and mentioned the R packages tsna (Temporal Social Network Analysis) and ndtv (Network Dynamic Temporal Visualization)

[2022-07-22 21:04] dtekinoglu commented on #5628
I created the subgraph induced on nodes in your first example:
![image](https://user-images.githubusercontent.com/79102788/180567061-b78249b5-6156-48e9-9f11-44c034ad92ff.png)

As @U-238 told, total path length of 233 is 7, whereas it is 8 for 236. But I don't think this necessarily means that 233 is a lower ancestor than 236. For example, going from 256 to 233 might not be going "up" but instead t

[2022-07-23 04:15] U-238 commented on #5628
@dtekinoglu @dschult Thanks for the further analysis. I agree that the issue here is defining what LCA means for a DAG, rather than necessarily a bug in the code.

[This paper](https://mediatum.ub.tum.de/doc/1094624/TUM-I0809.pdf) defines LCA as:

The results from `naive_lowest_common_ancestor` meet this definition, even if they are not always the shortest path between the two nodes and an LCA of

[2022-07-23 04:20] U-238 commented on #5869
I am also +1 for replacing the existing LCA functions with the new ones from @dtekinoglu. The `naive_` functions provide correct results where the existing functions are incorrect. This is a bug fix, not a new function.

The issues I raised in #5628 relate to the definition of LCA in a DAG where multiple LCAs exist for a pair of nodes, potentially with different path lengths between those nodes an

[2022-07-23 14:37] dschult commented on #5628
I agree that
1) LCA may have multiple solutions and so this algorithm finding one of them is a useful function.
2) adding a second function that returns **all** the lowest common ancestors is probably also useful.
There is [a post on Baeldong.com](https://www.baeldung.com/cs/lowest-common-ancestor-acyclic-graph) that describes a fairly simple algorithm to implement this second function for DAGs.

[2022-07-23 18:38] brocla commented on #5828
I made PR# 5892.

The docstrings for `union`, `disjoint_union`, and `compose` all point to each other and to `Graph.update()`.  And there is a breadcrumb statement that suggests why an alternative might be useful.

I tried to write the first line description to include a hint about about the way common nodes and edges are treated.

And I tried to begin the descriptions with more generic action wor

[2022-07-23 18:43] brocla commented on #5828
When there is agreement on these docstring changes, they should also be rolled into `union_all`, `disjoint_all`, `compose_all`

[2022-07-24 07:49] still-n0thing commented on #5871
@dschult ?

[2022-07-25 05:29] brocla commented on #5787
Thinking out loud...

Will need to:

- add key words to signature, while retaining `attrs`
- add a deprecation warning in the,
-- doc string
-- functions. Code will trigger the warning when `attrs is not None`
- Fix  the functions to use the keyword values, instead of `attrs`, when `attrs` is None
-  add tests that  use keywords instead of `attrs`. These tests will work after `attrs` is dropped.

[2022-07-25 13:32] tdene opened #5893 "Critical NetworkX 2.8.X bug with mutable cached_properties"
### Current Behavior

The `nodes()` method of a Graph is decorated with `@cached_property`.<br>
This leads to the assumption that a Graph's `nodes()` method should return a static value.<br>
This assumption is incorrect.

Notably, the `@cached_property` decorator completely breaks `Graph.subgraph()`.<br>
Trace:

Graph.subgraph -> graphviews.subgraph_view -> [this line](https://github.com/networkx/

[2022-07-25 14:06] dschult commented on #5893
Thank you!  This is indeed a bug. We will need to make a similar fix to the ones we made for G.adj/G.succ/G.pred
That is, add a data descriptor for G._node which resets the cache when G._node is set.

[2022-07-25 14:07] dschult commented on #5893
The workaround until a fix is ready is:
[code]

[2022-07-25 19:25] #5893 closed

[2022-07-25 20:43] ekhahniii opened #5895 "Incompatibility between `pydot_layout` + `draw_networkx_{nodes, edges, labels}` for graphs with non-string nodes"
Previously, `pydot_layout` handled graphs with non-string nodes. At least as of 2.8.4, the returned `dict` of positions is keyed by the string representation of the nodes, rather than the node objects themselves. This introduces an incompatibility with e.g. `draw_networkx_{nodes, edges, labels}`.

Perhaps related to #5710.

### Current Behavior

[code]
[code]

### Expected Behavior

`draw_networkx

[2022-07-25 21:01] MridulS commented on #5895
This is fixed in networkx 2.8.5, could you update the networkx version?

Also we are looking into removing pydot as it isn't actively maintained https://github.com/networkx/networkx/issues/5723, so please do comment there if you have any feelings about this change :)

[2022-07-25 21:01] #5895 closed

[2022-07-25 21:16] ekhahniii opened #5896 "`relabel_nodes` does not work for callables with `__getitem__`"
`relabel_nodes` accepts mappings in the form of functions. It differentiates function from mapping by testing`not hasattr(mapping, "__getitem__")`. This test is ambiguous for callables that do possess '__getitem__`, e.g. `str`.

Would it be better to test `isinstance(mapping, typing.Mapping)` and document accordingly?

### Current Behavior

[code]

[code]

### Expected Behavior

`relabel_nodes` wo

[2022-07-26 12:44] dschult commented on #5871
You are correct that `neighbors` is a callable function that returns the neighbors of a visited node so they can be added to the queue. And `sort_neighbors` seems to do the same thing -- only it's name emphasizes the function of sorting the results. The idea of this issue is to combine these two input arguments into one and better document what that function does.

I'm not sure exactly how this wo

[2022-07-27 12:53] brocla commented on #5787
There is a strange bit in the examples for `node_link_data`. I'm not sure that I should carry it forward.  Here is a snippet.

[code]

A dictionary of keywords is passed to `json.dumps` as keyword `default=`. But the documentation for `json.dumps` says that `default=` is a function, not a dictionary!   I tried the code. It runs, but the values in the default dict have no effect. Json ignores them.

[2022-07-27 16:16] mcauley-penney commented on #3467
@dschult I'm currently working on an implementation for the hierarchy metric using NetworkX for work and am interested in submitting it as a PR but would be interested in a guiding force to help with it because I don't have a *very* thorough understanding of Burt's writing on it. I've referred to `Structural Holes: The Social Structure of Competition` but am primarily translating the implementatio

[2022-07-28 01:41] planetb113 commented on #3469
hello! here I need some help:

file from this link
[https://networkx.org/documentation/stable//auto_examples/drawing/plot_knuth_miles.html#sphx-glr-auto-examples-drawing-plot-knuth-miles-py](url)

is not readable:
`fh = gzip.open("knuth_miles.txt.gz", "r")
for line in fh.readlines():
    break`

` OSError: Not a gzipped file (b'\n\n') `

can you let me know where could I find the right file?

[2022-07-28 06:07] Henniez-SwissWater opened #5901 "louvain_partitions iteration difference"
louvain_partitions leads to different clusterings depending on how one iterates over the returned generator

### Current Behavior
If I iterate over the generator returned from louvain_partitions by a for loop I get for each iteration the expected clustering levels.
However, if I first create a list (or tuple, deque...) and then iterate over the list I get different results. In fact, the levels hav

[2022-07-28 10:12] peterjc commented on #3469
Make sure you've downloaded the raw gzip file from GitHub, not just the webpage about the file.

[2022-07-28 16:27] #5257 closed

[2022-07-29 00:05] dschult commented on #5901
Thank you very much for reporting this!!

This is a very strange an ugly bug.  It stems from the function yielding a list-of-sets without copying those sets. When the next partition is requested, the sets are updated while computing the next partition. So the originally yielded partition gets changed while computing the next partition. This doesn't show up if you process each partition before iter

[2022-07-29 01:22] dschult commented on #5896
This is a good point.  We want to identify if something has attribute `__getitem__` (which could be a dict/list/etc) or if they have attribute `__call__` (any function, class, many other objects). But what do we choose to do when they can do both?  In terms of abc classes they are a Callable Sequence or Mapping.  Our code prioritizes mappings specified via lookup over callables. So if something ca

[2022-07-29 11:10] dschult commented on #5787
I agree with you that this second example includes a spurious dict that doesn’t actually do anything. I think is should be removed.  In fact, it would be more clear (in my opinion) to change these examples so they show the results instead of just capturing the results in a variable. Also, using the top level `nx namespace would be preferred: `nx.node_link_data` Something like:
[code]
Does this loo

[2022-07-29 15:32] ssavary opened #5904 "from_scipy_sparse_array() interprets explicit zeros as a non-zero entry"
When using a sparse array with explicit zero entries, those entries are interpreted as edges in the graph, unless we call eliminate_zeros() on the adjacency matrix prior to calling from_scipy_sparse_array().

### Current Behavior

The graph edges use the stored elements of the sparse matrix, even if their value is zero.

### Expected Behavior

The graph should be constructed only from non-zero ele

[2022-07-29 18:30] nishant42491 commented on #5889
hello I have tried to implement an alternative single source shortest path implementation linked with #5905.

[2022-07-30 03:49] brocla commented on #5787
Thanks for the feedback @dschult .   Yes, it makes sense to show the results. I can fix that up, and the namespace too.

I'm thinking that `node_link_graph` needs an example with JSON in it too.  And it needs to mention _Serialization_ in the description so someone can find it by that keyword.  I'll try something.

Note: There are question marks ("???") as placeholders in the doc string that need

[2022-07-30 20:00] jarrodmillman commented on #5904
Thanks for the feedback. Not sure what the best way forward is. We may need to discuss this at our next developer meeting.

FYI, this is related to: https://github.com/scipy/scipy/issues/3343

On a slightly related note, we recommend using the scipy.sparse array interface now. See
- https://networkx.org/documentation/latest/release/release_2.7.html#highlights
- https://docs.scipy.org/doc/scipy/ref

[2022-07-30 22:58] brocla commented on #5787
Just did an update to the PR.

Here is a synopsis. Any feedback is welcome.

- The namespace is now nx.
- The examples show the results
- There are more examples with JSON loads and dumps
- The short description for node_link_graph now refers to Serialization
- There is a new note explaining that the keyword values must match between `node_link_data` and `node_link_graph` when converting back and

[2022-07-31 17:25] adiehl96 opened #5906 "s_metric normalized parameter defaults to true resulting in error"
If I understand correctly, the following three lines always result in an error being raised unless the user changes the default value of the normalized parameter. Does someone know why this was never implemented?
https://github.com/networkx/networkx/blob/0c503e31ba0062dc9a4ed47c380481aa8d6978c8/networkx/algorithms/smetric.py#L6

https://github.com/networkx/networkx/blob/0c503e31ba0062dc9a4ed47c380

[2022-08-01 02:42] dschult commented on #5906
Actually, it was implemented and then removed. But that was close to 12 years ago before the git system was used so the comments describing why are harder to find. It looks like there used to be a graph generator which returned the graph with maximal s-metric for a given degree sequence. That is no longer provided so I'm guessing it had a problem that was not fixable.  If you know an algorithm to

[2022-08-01 11:44] #5896 closed

[2022-08-01 23:42] nthornet commented on #4973
Hi I'm interested in starting to collaborate with this freat community, is adding centrality measures still needed?

[2022-08-02 11:31] forestbat opened #5911 "Amount of nodes and edges have mistakes when reading adjlist file"
I wrote this code：
`nx.write_adjlist(network_graph, 'network_graph.adjlist')`
And debug info is like this：

However when I read the same adjlist file like this：
`network_graph = nx.read_adjlist('network_graph.adjlist')`
debug info told me：

And I can't find useful information from the wrong graph，so why it will happen and how I can solve it？
This is my adjlist file：https://paste.ubuntu.com/p/QFBNq

[2022-08-02 11:43] rossbar commented on #5911
The problem is that your nodes (which appear to be 2-tuple coordinates) contain whitespaces, which [is treated as the delimiter character by default for the `read_` and `write_` adjlist functions](https://networkx.org/documentation/latest/reference/readwrite/generated/networkx.readwrite.adjlist.read_adjlist.html).

You should be able to fix this for your case by choosing a delimiter character does

[2022-08-02 11:44] rossbar commented on #5911
AFAICT this behavior isn't mentioned in the documentation anywhere, so the documentation seems like it could be improved here!

[2022-08-02 13:07] forestbat commented on #5911
@rossbar Thank for your reply，and amount of nodes and edges are correct.
However I have another problem：networkx will parse data like (124.18640986496392, 43.72390986496422) in adjlist file to '(124.18640986496392, 43.72390986496422)'，is a string instead of tuple.
I use this setting：
`network_graph = nx.read_adjlist('network_graph.adjlist', delimiter='|', nodetype=(float, float))`
And the console

[2022-08-02 19:14] rossbar commented on #5911
The read/write adjlist functions are very simple and don't really have a mechanism for generic node serialization (i.e. converting complicated node types to/from string formats). You might want to take a look at the [parse_adjlist](https://github.com/networkx/networkx/blob/5c0b11afb4c0882a070d522ef3fa41482ba935d3/networkx/readwrite/adjlist.py#L140-L209) for further details.

At face value, it seem

[2022-08-02 22:09] jamesjer opened #5913 "Failing traveling salesman test"
### Current Behavior
I help maintain a NetworkX package for the Fedora Linux distribution.  We like to run the tests when we build, to catch problems that might affect users.  One traveling salesman test, test_asadpour_tsp at line 707 of networkx/algorithms/approximation/tests/test_traveling_salesman.py in NetworkX 2.8.5, sometimes succeeds and sometimes fails.  When it fails, it finds the tour `[

[2022-08-02 23:07] forestbat commented on #5911
@rossbar Thank you for very much！I solved my problem，however I will keep this issue open util they change document or close this issue.

[2022-08-03 01:48] mjschwenne commented on #5913
This is odd indeed. While I did author the code in question, I will admit that the random number generation pattern used in networkx isn't something that I've investigated. I haven't been able to replicate the error in my environment running Ubuntu 22.04 (python 3.10.4) against the main branch of the repo and haven't heard any reports of that test failing in our pipeline, but since you mention tha

[2022-08-03 03:58] dschult commented on #5913
I think the random number generation in asadpour is fine. But calling `traveling_salesman_problem` doesn’t present a way to provide the seed to the asadpour function directly.  One of the tests shows that it can be called with a seed by overriding the default method with a function that calls asadpour with a seed.  But…  the test that is causing troubles doesn’t do that. So no seed is set for that

[2022-08-03 14:28] jamesjer commented on #5913
Changing the test to provide a seed sounds like the right way to go.  Thank you both for the quick responses.

[2022-08-03 14:58] mjschwenne commented on #5913
Changing it to use a seed would be the best solution, but I believe that it already is? [Line 742](https://github.com/networkx/networkx/blob/28f3a4e22d32ca43ff768b1fa365b26f75a0273d/networkx/algorithms/approximation/tests/test_traveling_salesman.py#L742) in the test file of the 2.8.5 release does wrap the `asadpour_atsp` function and provides a seed value of 19 for the failing test unless I'm seri

[2022-08-03 17:49] NeilGirdhar commented on #5865
@dschult Dear Professor Schult, sorry that it's taken me so long to answer your last message. I think one problem with github is that we focus a lot on "issues" and forget to remind each other about all the great things that we appreciate:

You and the networkx team have created a marvelous graph library.  Whenever I need a graph library, I never craft my own.  I always reach for networkx.  It has

[2022-08-04 00:10] dschult commented on #5913
Whoops!  Sorry @mjschwenne I stand corrected. The seed is set in the test function. Not sure what I was looking at. :}

I have extracted the test function and run it many times with the same results. I have also added a print statement to show the next random number generated after it finishes and I get the same number from (0,1) many many times within a for loop. I'm not sure how best to debug th

[2022-08-04 10:47] #5828 closed

[2022-08-04 11:39] BrandonKMLee commented on #4973
@nthornet it is good to have them, thank you very much.

[2022-08-06 15:52] brocla commented on #5911
How about adding this text to the notes for `write_adjlist`?

A similar note should be added to `generate_adjlist`.  It has the same issue.

[2022-08-06 18:34] wernerolaf opened #5916 "find_negative_cycle error"
I got an following error

in find_negative_cycle(G, source, weight)
   2221                 return [v, v]
   2222             # should not reach here
-> 2223             raise nx.NetworkXError("Negative cycle is detected but not found")
   2224 # should not get here...
   2225 msg = "negative cycle detected but not identified"

NetworkXError: Negative cycle is detected but not found

what can i do

[2022-08-06 18:58] wernerolaf commented on #5916
after setting heuristic=False it works again

[2022-08-06 19:12] wernerolaf commented on #5916
no still broken

[2022-08-07 00:12] dschult commented on #5916
You shouldn't get that message unless something weird is going on.
Is this a single graph, or with more than one graph?  Is there any info you can give us to help track it down? Can you isolate it to a relatively small graph with specified weights?

[2022-08-07 03:23] lobpcg opened #5917 "add to contributors"
Could someone please add me to https://networkx.org/documentation/stable/developer/about_us.html#contributors :
Andrew Knyazev, https://github.com/lobpcg, https://www.linkedin.com/in/andrew-knyazev/

[2022-08-07 13:52] gracoba opened #5918 "Bug on compute initial view of edges"
### Current Behavior
Error message when a position list is provided:
`ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().`

### Expected Behavior
Calculate the position of edge list modifying the lines 845 - 848 of `nx_pylab.py`:

[code]

### Steps to Reproduce
[code]

### Environment

Python version: 3.7.13 (default, Apr 24 2022, 01:04:09)  [

[2022-08-07 14:07] dschult commented on #5918
I was not able to reproduce using:

[code]
Can you see what I'm not doing?

[2022-08-07 18:30] gracoba commented on #5918
Hi @dschult,

your piece of code helped me to find the bug on my pre-processing. The coordinates came from a dataframe, and instead a [lon, lat] there was an additional value on position tuple. Now it is fixed and just remains the warning below:

thanks

[code]

[2022-08-07 18:30] #5918 closed

[2022-08-08 08:53] davejakenic opened #5920 "deterministic pos"
The following code shall --whenever called with identical data ```V,E```-- create the exact same image.

The documentation does not permit a clue on whether or where any randomness might be involved.
I am aware that the optional argument "pos" may be created by an nx.layout function such as the kamada_kawai_layout.
Notice however, that all this misses what the question is.

[code]

[2022-08-08 09:11] rossbar commented on #5920
In general this will *not* result in deterministic node positions because the default behavior is to use `spring_layout`, which is not deterministic. This behavior is [noted in the documentation](https://networkx.org/documentation/latest/reference/generated/networkx.drawing.nx_pylab.draw_networkx.html?highlight=draw_networkx#networkx.drawing.nx_pylab.draw_networkx) (specifically, in the descriptio

[2022-08-08 11:37] #5917 closed

[2022-08-08 15:16] wernerolaf commented on #5916
{'directed': True,
 'multigraph': False,
 'graph': {},
 'nodes': [{'id': 0},
  {'id': 1},
  {'id': 2},
  {'id': 3},
  {'id': 4},
  {'id': 5},
  {'id': 6},
  {'id': 7},
  {'id': 8},
  {'id': 9},
  {'id': 10},
  {'id': 11},
  {'id': 12},
  {'id': 13},
  {'id': 14},
  {'id': 15},
  {'id': 16},
  {'id': 17},
  {'id': 18},
  {'id': 19},
  {'id': 20},
  {'id': 21},
  {'id': 22},
  {'id': 23},
  {'id': 2

[2022-08-08 15:17] wernerolaf commented on #5916
def weights_adjust(d):
    w=d['weight']
    return -w

nx.find_negative_cycle(G,state_map.current_node,lambda u, v, d: weights_adjust(d))

[2022-08-08 15:18] wernerolaf commented on #5916
---------------------------------------------------------------------------
NetworkXError                             Traceback (most recent call last)
Input In [2877], in <cell line: 5>()
      2     w=d['weight']
      3     return -w
----> 5 nx.find_negative_cycle(G,state_map.current_node,lambda u, v, d: weights_adjust(d))

find_negative_cycle(G, source, weight)
   2221                 return [

[2022-08-08 21:23] a-r-j commented on #3988
Hi folks, wanted to share a small library I made for this purpose: https://github.com/a-r-j/graphtype

If there’s interest I’d be happy to help build this in to NetworkX

[2022-08-09 00:34] ischmidt20 opened #5922 "Unable to parallelize with large graph objects"
With a large graph object (~6 GB), parallel jobs started with Dask and/or Ray fail to compute. The processes are distributed to the workers, but they will be inactive for large periods of time. The same parallel processing setup works with smaller graphs (<1 GB), and using forked workers via the `multiprocessing` package instead of Dask or Ray also works with the large graph object.

### Current B

[2022-08-09 03:16] dschult commented on #5916
It looks like the problem stems from the zero weight nodes.
I haven't tracked down the bug, but the solution is to change the weights of the 0 weight edges to a very small (positive or negative) value:
[code]
output: [16, 11, 13, 14, 9, 10, 16]

[2022-08-09 07:45] wernerolaf commented on #5916
ok thanks

[2022-08-09 09:16] songololo commented on #3988
@a-r-j worth notifying people on this discussion as well:
https://github.com/networkx/networkx/pull/4014

[2022-08-09 10:43] rossbar commented on #5922
IIUC you *do* see the problems with e.g. `dask` and `ray`, but *don't* have problems when using `multiprocessing.pool`, did I get that right?

I don't have any particularly solid ideas as to why this would be the case. However, one thing that comes to mind that is at least easy to check is whether this might be the result of a bad reaction with an underlying library, such as OpenMP. This shows up

[2022-08-09 11:00] MridulS commented on #5922
There doesn't seem to much detail here about what and how this is failing. Could you turn on logging in the dask cluster to get some more information here? It does seem like the all the processes will try to read the same graph object and that seems to be causing the issue. Dask doesn't really play well with global state (from what I remember) and in the code provided the graph object `G` is in th

[2022-08-09 11:05] #5920 closed

[2022-08-09 11:06] MridulS commented on #5920
I'll go ahead and close this, if there is a way we can make the documentation better please let us know :)

[2022-08-09 13:19] danieleades commented on #3988
as you can probably see from the discussion over at #4014 the real challenge here is in convincing maintainers that type annotations are a welcome improvement to the library.

[2022-08-09 13:42] a-r-j commented on #3988
@danieleades

I see, it's certainly a lively discussion 😁

I think this suggestion flies slightly under that radar - it seems that the concerns are primarily about readability of nx source code. I think that the feature I suggest is primarily for the benefit of users building on top of nx. If they don't like annotations they simply don't have to use them. Whilst I am in favour of annotations more

[2022-08-09 15:34] SultanOrazbayev commented on #5922
Does your `analyze` function refer to `G`? If so, it might help to create a delayed version of G and pass it explicitly to the function, which should help as I suspect that passing around this large object is bottlenecking the execution (given what you described with long pauses between observed actions). Roughly:

[code]

[2022-08-09 15:37] SultanOrazbayev commented on #5922
Also, if you are running this on every node in the graph that has 1+ mln nodes, you will overwhelm the dask scheduler (based on my experience it used to struggle with too many tasks), so you might want to execute a batch of 100-1K nodes at a time (something to fine-tune based on the experience).

[2022-08-09 15:48] SultanOrazbayev commented on #5904
I'm interested in working on this, if volunteers are needed. (though the solution I have in mind is probably not very efficient: copy A and eliminate zeros, as suggested in the original post)

[2022-08-09 15:58] rossbar commented on #5904
I actually think that the current behavior may have use-cases in the wild, and don't think it should be changed. There may be cases where 0 is a meaningful value for an edge attribute, which is what the current behavior allows. It may be inefficient on the sparse array side, but from NetworkX's side I don't think there's anything wrong with 0 values in a sparse adjacency matrix. It would be incumb

[2022-08-09 21:17] paciorek commented on #5922
Thanks for the suggestions. Setting `OMP_NUM_THREADS` to 1, using`dask.delayed` on the graph object, and using a small number of tasks don't resolve the problem.

Here's a reproducible example that illustrates the problem. Even though the function being called does essentially nothing, it takes 10s of seconds for the output of the print statements to be shown and for the tasks to finish. If anyone

[2022-08-09 21:51] ischmidt20 commented on #5922
Correct!

Thanks for the explanation, the edges do have weight attributes, but the nodes have nothing more than the label. I'll look into `ThinGraph` for the future!

The computation is only performed on a subset of the nodes, which is about 90K in this case, and it doesn't appear that reducing that number changes the behavior.

[2022-08-10 03:28] SultanOrazbayev commented on #5922
After experimenting locally with the actual file, I am confident that the issue is caused by passing around a fairly large object (graph). Below is a snippet using `future` API:

[code]

[2022-08-10 04:51] brocla commented on #5681
The same error occurs in,
  - `lexicographical_topological_sort` in `algorithms/graphical.py`
  - `MappedQueue` in `algorithms/graphical.py`

which also use `heapify`,

[2022-08-10 13:01] dschult commented on #5681
Thanks for those comments @brocla !!

Hmmm...  I thought the `create_tuple` function (line 375) in `dag.py` avoids the issue for `lexicographical_topological_sort`. But that is in `algorithms/dag.py` not `algorithms/graphical.py`. Perhaps I am missing something?

`MappedQueue` is a helper class that let's you put whatever you need to on the queue -- including the responsibility for the developer t

[2022-08-10 13:23] brocla commented on #5681
Hello @dschult .  I should have included the examples when I had them the first time. Here is how I triggered the `TypeError`.

[code]

[code]

BTW, `heapify` is also used in these files, but I was not able to coax them into a `TypeError`.  They seem to be sorting on something besides nodes.
- `algorithms/dag.py`
- `generators/degree_seq.py`

[2022-08-10 21:27] still-n0thing commented on #5871
https://github.com/networkx/networkx/pull/5925 @dschult

[2022-08-11 14:48] still-n0thing commented on #5906
@dschult should I work on an algorithm to provide the maximal s-metric graph, or to compute the maximal s-metric itself, taking https://arxiv.org/abs/cond-mat/0501169 as an reference?

[2022-08-11 22:51] dschult commented on #5906
We already had a version of the code that generated the maximal s-metric graph for a given degree distribution according to the method in that paper. Based on [the "blame" report for the smetric.py module](https://github.com/networkx/networkx/blame/main/networkx/algorithms/smetric.py) it was put in place a year after the original code for smetric to be normalized. But then was removed a year after

[2022-08-12 02:53] dschult commented on #5681
Thanks for this! It took me a little while to recall how those two functions handle sorting. We've got it fixed so most of the time it works fine. But your examples show how our unprotected inputs can lead to problems. It would be very helpful to have better documentation; and examples to show how to handle it.

Issues:
- `lexicographical_topological_sort` has an optional second argument `key` whi

[2022-08-12 02:55] #5787 closed

[2022-08-12 03:15] dschult commented on #5906
Here is a reference paper following up on the 2005 s-metric paper. It was written in 2008. It points out that the algorithm in the 2005 paper for finding a graph with maximal s-metric has not been proven to end. And in practice it appears that sometimes it takes so long you have to give up. If it finishes, then the resulting graph has the maximum value of the s-metric.

That is likely to be the ca

[2022-08-12 21:37] brocla commented on #5681
Hi @dschult . Thanks for the clear explanations. It helps me understand the code and the intentions when it was written. Great.

I'd like to draft an update to the docstrings. I'll do them one at a time, `lexicographical_topological_sort` first.

#### Here is what I think I heard...
- Better explanations for the short and long descriptions. Describe lexicographical and topological without using th

[2022-08-13 04:12] dschult commented on #5681
That list of suggested changes looks good to me.

And I agree that the example you make by putting all strings behind every non-string works for the case of a graph with nodes that are integers or strings. I think that is good enough -- anyone with a more difficult sorting case will have to figure it out.  After all lexicographical implies that the nodes themselves are sortable somehow. :}

[2022-08-13 20:34] still-n0thing commented on #5824
**Road Map could be:**
- Graph
   - Directed
       - Weighted
           - Algorithms Type 1
           - ...
       - Unweighted
           - Algorithms Type 1
           - ...
   - Undirected
       - Weighted
           - Algorithms Type 1
           - ...
       - Unweighted
           - Algorithms Type 1
           - ...

**Networkx could be broken into:**
- [Data Structures](https://network

[2022-08-13 23:16] #5901 closed

[2022-08-18 15:55] pmlpm1986 opened #5936 "all_simple_paths returns repeated paths if there are parallel arcs along the way"
### Current Behavior

The method all_simple_paths returns the same path multiple times if there are parallel arcs along the path. I have tested this with MultiDiGraphs.

This behaviour reflects the fact that there are different paths going through the same nodes, and since the method returns paths as sequences of nodes (unlike all_simple_edge_paths), the same path ends up being returned multiple t

[2022-08-19 01:55] dschult commented on #5870
Fixed in #5879. Thanks @still-n0thing!

[2022-08-19 01:55] #5870 closed

[2022-08-19 05:08] brocla commented on #5681
Hello @dschult
I started work on adding examples to the doc_string of `MappedQueue`.  I was going to explain how to use dictionaries to assign priorities, but I bumped into two small corner cases and need some direction. Are these worth worrying about?  Or are they too unlikely to deal with?

### #1
When a dictionary is used to assign priorities, if two priorities are the same, _HeapElement tries

[2022-08-19 10:00] ebokai commented on #5030
In the current implementation, the active node `u` is greedily connected to other nodes within the community until the threshold `round(deg_seq[u] * (1-mu))` is reached. However, this does not prevent the node from being connected to nodes further along in the loop. Thus the desired degree distribution only specifies a lower bound on the node degree. A possible solution is checking if incrementing

[2022-08-19 13:35] rossbar commented on #5936
+1 for documenting this. I think the behavior is intentional and arguably makes sense (after all, there are multiple paths via the different multiedges). I agree that the behavior might surprise users given that this yields lists of *nodes*, so the information about which specific edge was traversed is not captured in the output.

FWIW a simpler reproducing example:

[code]

[2022-08-19 15:54] dschult commented on #5030
If the original paper uses the configuration model method of graph generation, we should probably do that too. We have `configurnation_model()` inside `generators/degree_seq.py` already.  One caveat is that this is supposed to maintain the community structure in addition to the degree sequence. And the configuration model produces MultiGraphs, which might or might not make sense in this case. The

[2022-08-19 16:14] dschult commented on #5681
Wow -- it is definitely a bug that `__gt__` uses a `less than` check to break the ties in `_HeapElement`.  That should be fixed.

I think there are multiple ways to fix the incomparable problem of the elements in a `_HeapElement`.  Using the hash may not help because hashes are sometimes equal (a dict employs mechanisms to resolve collisions when they are equal).  I think it might be best to raise

[2022-08-20 03:47] brocla commented on #5681
OK. Got it. I think I can fix that up.  Here is my task list...

 - Add Tests
    - test `__gt__` in `_HeapElement` when priorities are tied.
    - test dictionary input in `MappedQueue`
    - test tied priorities
    - verify exception is raised for incomparable elements

 - Fix `__gt__` bug
 - Add the exception for incomparable elements. Include a helpful error message.
 - Add Examples
     - sh

[2022-08-20 21:47] QuLogic commented on #5798
This is still a bug that `networkx` needs to fix; it is calling private API that is changed in 3.6.0rc1, and [fails to run](https://copr.fedorainfracloud.org/coprs/qulogic/matplotlib-3.6.0/build/4751432/):
[code]

[2022-08-21 17:36] jarrodmillman opened #5938 "Support Matplotlib 3.6rc1"
Not sure we need to address this before releasing NX 2.8.6, but it would be nice. See #5937.

We could ignore this for now and deal with it before 2.8.7. I've already backported all other 2.8.6 PRs to the v2.8 branch. We need to decide what to do about this, I need to update the 2.8.6 release notes (won't take long), and then make the release. I am busy this afternoon, so I will take care of this

[2022-08-22 09:22] rossbar commented on #5938
Looks like this was closed by #5937 , thanks @jarrodmillman !

[2022-08-22 09:22] #5938 closed

[2022-08-22 10:43] rossbar commented on #5798
This should be fixed by #5938 , thanks for the ping @QuLogic !

[2022-08-23 11:33] jamespharvey20 commented on #5838
I think I ran into this same issue, but I'm not positive.

Using networkx 2.8.6, numpy 1.23.2, and matplotlib 3.5.3, with the following code:

[code]

I get the following exception:

[code]

If I place a breakpoint on `__init__.py::51`, I can see that `name = {str} 'utils'`.

I seem to be running the merge from 29 days ago, since I think that's included in numpy 1.23.2.

[2022-08-23 14:53] rossbar commented on #5838
@jamespharvey20 from the posted traceback it actually seems like the cause is a simple misspelling of the function name. Try `draw_networkx_edge_labels`.

Apologies if I'm missing something obvious

[2022-08-23 15:35] #5463 closed

[2022-08-23 16:01] jamespharvey20 commented on #5838
Haha, my apologies!  Yes, you're right.  I hope you saw that quickly.  Adding the `x` makes it run fine.  PyCharm isn't able to pick up that there's a problem there.  I'm fairly new to Python, and didn't recognize that's the wording it gives if you try calling a non-existent function.

[2022-08-24 09:37] rossbar commented on #5911
Thanks @brocla , your suggestion would do the trick IMO. Another option would be to add an example of round-tripping to the `Examples` section of the docstring, though that may be more work. I think either approach would be fine!

[2022-08-29 06:50] dzy49 opened #5949 "all_pairs_shortest_path ties?"
Hello, I am noticing that when multiple shortest path exist, all_pairs_shortest_path only return one.
I am wondering if there's anything setting that can allow the return of all shortest path(that have equal weight)?

[2022-08-29 10:45] cvanelteren opened #5951 "[ENH] Adding typing support"
Hi,
There is a general trend to add type hinting support to help guide the programmer and reader for adding new functionality. Type hinting was added in python 3.6, numpy added typing support in 1.20. Would it be an idea to add type support to networkx? It was thinking of adding a `typing` modules with something along the lines of

- `AbstractGraph`
- `Graph`
- `DiGraph`
- `Edge` (directed or non-

[2022-08-29 12:31] MridulS commented on #5951
There is a lot of conversation happening already about this at https://github.com/networkx/networkx/issues/3988, https://github.com/networkx/networkx/pull/4014, https://github.com/networkx/networkx/pull/5886. Let's not create a new issue about this :)

[2022-08-29 12:31] #5951 closed

[2022-08-29 14:18] dschult commented on #5949
It should return all shortest paths. It could be that you are running into round-off trouble or maybe another subtle distinction. Can you give a small example that has at least two shortest_paths but only returns one? Then we can track down the cause.

[2022-08-29 14:24] dzy49 commented on #5949
I used an unweighted graph:
`G = nx.Graph()
G.add_node(1)
G.add_node(2)
G.add_node(3)
G.add_node(4)

G.add_edge(1, 2)
G.add_edge(2, 3)
G.add_edge(3, 4)
G.add_edge(1, 4)
path = dict(nx.all_pairs_shortest_path(G))`
and this is what I got for path
`{1: {1: [1], 2: [1, 2], 4: [1, 4], 3: [1, 2, 3]},
 2: {2: [2], 1: [2, 1], 3: [2, 3], 4: [2, 1, 4]},
 3: {3: [3], 2: [3, 2], 4: [3, 4], 1: [3, 2, 1]},
 4:

[2022-08-29 14:33] dschult commented on #5949
Ahh... you are using `all_pairs_shortest_path` which finds a shortest path between all the pairs of nodes in the graph.  So it's not finding all paths. It is finding all **pairs**.  Sorry that I missed that in your original post.

You want:  `list(nx.all_simple_paths(G, 1, 3))`. The `list` is needed, because there may be a huge number of simple paths and so `all_simple_paths` is a generator which

[2022-08-29 14:41] dzy49 commented on #5949
Sorry for the cofusion, it is kind hard to describe the problem clearly.
I dont think `all_simple_paths` is what I want. I only need the **shortest** path**s**, between all pairs of nodes.
(which is like a variation of `all_shortest_paths` but for all pairs of nodes in the graph), I think this is achievable with a modification of floyd_warshall?)

[2022-08-29 15:55] dschult commented on #5949
How about:  `nx.all_shortest_paths` https://networkx.org/documentation/stable/reference/algorithms/generated/networkx.algorithms.shortest_paths.generic.all_shortest_paths.html

[2022-08-29 16:02] dzy49 commented on #5949
it could work, but I am a bit confused why it only works for one node to one node, as opposed to one node to all nodes since it uses dijkstra? So to get all pairs, I would need to run it O(n) times which is probably problematic since I am working on a large dataset.

[2022-08-29 16:11] dschult commented on #5949
Very good -- that would perhaps be a nice new feature.  If you click on the "Source" link at the top of the documentation link, you can see that most of the work is done by calling djikstra's predecessor_and_distance function. Then there is a helper function to build the paths from the predecessors.  That's the sticking point.  It might be fairly easy to rewrite that helper function for your speci

[2022-08-29 16:16] dzy49 commented on #5949
That seems like a good plan and suits my needs well.  I will try to implement that and create a PR. Thanks for the help!

[2022-08-29 16:19] claudinepeyrat06 opened #5952 "a small bug in eulerian.eulerize ?"
I think that there is a small bug in eulerian.eulerize:
it needs to find a minimum weight perfect matching , and to do that use a maximum weight  matching algorithm replacing each weight w by its inverse 1/w, which is not the correct way It should  rather use matching.min_weight_matching , that correctly replace each weight w by C-w (where C is a constant  that make sure that the weight are positi

[2022-08-29 18:14] dschult commented on #5952
I can verify that this is a bug!  And your solution should work well. I suggest that we choose C to be the maximum weight plus 1, though there might be a better choice. The ensures that integer weights stay integers to avoid round-off (another problem with using reciprocal edge weights).

We need to create a PR with the fix and also a test using the example provided above to ensure that it is gett

[2022-08-30 18:09] claudinepeyrat06 commented on #5952
I will try ....

[2022-09-01 07:34] #5936 closed

[2022-09-01 08:40] claudinepeyrat06 commented on #5952
@dschult
I think that eulerize() would be better if it were  slightly modified  :
- now it aims to add as few edges as possible to the graph to make it an eulerian multigraph, would it not be more general if it was aiming to minimize not the number of added  edges but the total weight of these edges ?

For my purpose what i actually need is  to travel all edges at least once, at minimal cost,  but

[2022-09-01 12:44] dschult commented on #5952
If I understand correctly, eulerian doesn't involve egde weights on the graph itself -- but this algorithm for "eulerizing" (is that even a word?) a graph tries to add as few edges as possible by creating an edge weight. But that edge weight is not related to the edge weights on the original graph.

Adding algorithms that deal with a weighted definition of "eulerian" sound like it is moving into n

[2022-09-01 14:49] claudinepeyrat06 commented on #5952
I agree, eulerian does not involve edge weights., because you aim to travel each edge exactly once. But a very natural reason to "eulerize" is the so called  chinese postman problem  (also known as route inspection problem)  and its variations,  the postman needs  to travel all edges at least once, starting and ending from the post office. If the graph is eulerian, you look for an eulerian circuit

[2022-09-02 02:14] dschult commented on #5952
That sounds like it should have a different function, unless there is an easy way to find the edges which eulerize and are minimal. Typically the computation needed for weighted problems is more than for the unweighted problems.

Wikipedia calls that problem [the Route inspection problem](https://en.wikipedia.org/wiki/Route_inspection_problem) and sketches an algorithm for it.

[2022-09-04 10:43] chrizzFTD opened #5962 "Pydot - Valid Labels and Tooltips With Colon ( ":" ) Fail Since Networkx-2.8.4"
Hello networkx team,

Thanks for this project!

Recent updates like those from https://github.com/networkx/networkx/pull/5710, `Catch ':' explicitly while working with pydot`, seem to be too aggressive as previous valid code like this started failing since `networkx==2.8.4`:

[code]

### Current Behavior

Running the above code snippet fails with versions after `networkx==2.8.3` (tested with`2.8.4

[2022-09-06 09:53] jan0b opened #5965 "Can not compute Laplacian matrix of graph (neither undirected nor directed)"
### Current Behavior
I am trying to compute the laplacian matrix for a simple complete graph. When using  _nx.laplacian_matrix()_ or _nx.directed_laplacian_matrix()_ an error is thrown from the same location, due to a misfit of the matrix and offsets in the initialization of the scipy _dia_matrix_. Find the detailed error below.

### Expected Behavior
The expected behaviour is, that the laplacian

[2022-09-06 13:05] dschult commented on #5965
Thanks for this -- it is currently working on my installation. I am using Scipy 1.8.1.  What version of Scipy are you using.

[2022-09-06 14:11] jan0b commented on #5965
I am using Scipy version 1.7.3.

[2022-09-06 16:02] rossbar commented on #5965
Networkx > 2.7 requires scipy >= 1.8 due to the use of the sparse array interface as opposed to sparse matrices. Upgrading to scipy>=1.8 should fix the problem.

The fact that you ran into this issue implies there may be a problem with how the dependencies are specified in whichever "channel" you installed from with conda - do you remember how the conda environment was created?

[2022-09-07 05:15] rossbar commented on #5962
The general problem with `pydot` is that there were changes associated with an updated version of `pyparsing` on which `pydot` depends that resulted in behavior changes. Things like #5710 are an attempt on NetworkX's end to work around these limitations, but unfortunately the changes are more extensive (for example, NetworkX's `nx_pydot` test suite is currently xfailed and has been failing since t

[2022-09-09 18:31] rossbar opened #5976 "Failure in vf2pp test suite from `pytest-randomly` workflow"
The weekly execution of the test suite in randomized order caught a problem in the vf2pp test suite, specifically `test_candidates.TestCandidateSelection.test_no_covered_neighbors_no_labels`:

https://github.com/rossbar/networkx/runs/8261228458?check_suite_focus=true

I suspect that this is due to the input graphs being stored as class variables (e.g. `self.G1`) which are then modified by subseque

[2022-09-13 10:56] DiamondJoseph opened #5980 "Deserialisation artifacts in adjacency_graph"
### Current Behavior

Serialising and deserialising a Graph using the matched pair json_graph.adjacency_data and json_graph.adjacency_graph produces a graph which is not equal to the incoming graph using the graphs_equal method.
This is because adjacency.py:152 and adjacency.py:156 set the edge attributes to a dictionary containing the successor node of the edge, rather than to the dictionary from

[2022-09-13 11:00] DiamondJoseph opened #5981 "Tests without assertions"
### Current Behavior

Multiple tests lack assertions and are therefore incapable of failing.

### Expected Behavior

A test should (conceptually) be able to report a failure if a condition is not true.

### Steps to Reproduce

e.g. test_adjacency.py:11

    def test_graph(self):
        G = nx.path_graph(4)
        H = adjacency_graph(adjacency_data(G))
        nx.is_isomorphic(G, H)

which does n

[2022-09-13 11:55] DiamondJoseph opened #5982 "Graph and edge attributes are not stored during tree_data serialisation of a graph"
### Current Behavior

Although it is documented behaviour of the method tree_data, as it leads to the situation that tree_graph(tree_data(G)) != G if G contained any edge attributes, I would contend that this behaviour is incorrect.

### Expected Behavior

tree_graph(tree_data(G)) == G for all G if its nodes and edges are serialisable, rather than being true whenever there are no edge attributes a

[2022-09-17 21:13] stevenstrickler opened #5987 "Weighted MultiDiGraphs never use weights in dag_longest_path and dag_longest_path_length"
### Current Behavior
Given any MultiDiGraph, using dag_longest_path will always evaluate using the default_weight keyword argument.

This is because dag_longest_path uses `G.pred[v].items()` to grab the data dictionary, but the data dictionary for a MultiDiGraph is embedded inside of another dictionary with the edge number as a key. When dag_longest_path calls `data.get(weight, default_weight)` on

[2022-09-17 21:18] brocla commented on #5982
I read through @DiamondJoseph 's comments. Ran his example code. And looked at the sources.

A few thoughts...

If the goal is to serialize a graph and then retrieve it later, with all the data intact, then `node_link_data` and `node_link_graph` are worth considering. They preserve attributes for nodes, edges and graphs.

Using the same example graphs,
[code]

However, if it is important to serial

[2022-09-20 16:56] rossbar commented on #5965
I'm going to close this one as resolved as it's a dependency issue. If the issue persists or you have any additional info about how the environment was created, please feel free to reopen/post.

[2022-09-20 16:56] #5965 closed

[2022-09-20 16:59] rossbar commented on #5869
This was done in #5883 - closing!

[2022-09-20 16:59] #5869 closed

[2022-09-20 17:36] dschult opened #5992 "VF2pp tests are not passing during the regularly scheduled randomly ordered tests"
I think we decided that this is due to some tests changing the graph stored in a test class attribute.
@kpetridis24 has some ideas for how that would get solved.
It'd be good to get this merged soon to avoid these failures, so we should put it in a separate PR.

[2022-09-20 17:38] kpetridis24 commented on #5992
@dschult oops, i forgot about that while i was fixing everything else. I will have it fixed during the next days and i will tag you when i push the changes!

[2022-09-20 18:00] rossbar commented on #5992
Thanks @kpetridis24 - a couple tips for this:
 1. Go ahead and submit these fixups as their own PR against main instead of adding them to an already-open PR. We want to get these fixes in as soon as possible, so having them be self-contained will help!
 2. There is no CI job that runs the tests in random order *on PR/pushes* - only a scheduled job - which means that the changes won't be evaluated

[2022-09-20 18:27] rossbar commented on #5854
Agreed - this is a good idea. Another benefit of moving this is that the ThinGraph would actually be executable, which would serve as additional, practical testing of the factory function mechanism for subclasses.

[2022-09-22 08:40] forestbat opened #5996 "AttributeError: module 'backend_interagg' has no attribute 'FigureCanvas'"
I want to print picture of my digraph: `nx.draw_networkx(upstream_graph, node_size=10)`

However it crashed like this: https://pastebin.ubuntu.com/p/yt5pCpKkVX/

My version of networkx is 2.8.6, and version of matplotlib is 3.6.0. I think this is not my problem,so please fix or help me resolve this problem.

[2022-09-22 12:04] dschult commented on #5996
Can you plot (in the same workflow) a simple matplotlib figure that isn't networkx?
That would indicate whether the problem is matplotlib or not.  I suspect your difficulties are with matplotlib rather than networkx.try something like: `matplotlib.pyplot.plot([1, 2, 3], [4, 5, 4])` inside the same environment that you are using to try to draw the graph. You might need `import matplotlib.pyplot` if

[2022-09-22 12:25] forestbat commented on #5996
Yes，it's matplotlib's problem. I'm sorry to disturb you.

[2022-09-22 12:25] #5996 closed

[2022-09-24 00:25] chrizzFTD commented on #5962
Thanks a lot for that additional context, @rossbar, I'll close this issue and keep an eye on the one for pydot deprecation from https://github.com/networkx/networkx/issues/5723

[2022-09-24 00:25] #5962 closed

[2022-09-26 14:09] kpetridis24 commented on #5992
@dschult @rossbar I accidentally didn't include the changes in a new PR... The issue was that the graphs were created as a class member variable and were accessed/modified by the unit tests
[code]

The ONLY change that i made was

[code]
So now no test depends on the one running prior to it.

[2022-09-27 08:32] kpetridis24 commented on #5992
There are 2 doc-related failures that i cannot understand.

[2022-09-29 13:42] vigna opened #6004 "Wrong attribution of eigenvector centrality"
This is not exactly a bug, but...

The documentation of eigenvector_centrality() claims that it has been introduced by Bonacich in 1986, referring to a paper.

However, eigenvector centrality was introduced (for chess tournaments) by Edmund Landau in 1895 (Edmund Landau. Zur relativen Wertbemessung der Turnierresultate. Deutsches Wochenschach, 11:366–369, 1895.). It has been reintroduced several t

[2022-09-29 19:11] MridulS commented on #6004
Please do update the references :)
And we can always keep multiple references too!

[2022-09-30 04:36] dschult commented on #6004
Here's my twist on the "who came up with it first" debates:
Many ideas in mathematics have been discovered and rediscovered and rediscovered. Who should get credit?  I'm not so interested in who did it first. I'm interested in who did it in a way that other people noticed so that it brought the collective state of human knowledge of mathematics to a point where it can use those ideas to expand our

[2022-09-30 10:08] vigna commented on #6004
As I wrote before, Landau is interested in chess tournaments, but Berge (1958) talks about "sociograms", i.e., directed graph representing influence of individuals, and suggests the dominant eigenvector to measure importance. It was in the context of sociology, and for a general notion of importance.

I understand your claim that none of mathematics was invented, or that who invented something sho

[2022-09-30 15:56] dschult commented on #6004
Thanks very much for this!  I'm all for correcting and merging literature histories. And even more so for adding clauses that make it clear under what conditions the method/theory applies. I would welcome updates and corrections in this function and in other functions in the library!

Also I have no vested interest in the current reference per se, except that someone (maybe me) trusted the person

[2022-09-30 15:58] vigna commented on #6004
Willdo. Then you can review it and see whether you like it.

[2022-09-30 22:24] rossbar commented on #6004
Just to quickly add my two cents: one thing that I think is important to keep in mind when updating references is to make sure information that is related to the specific implementation of the algorithm *in NetworkX* is not lost. Attribution and historical perspectives are both interesting and important, but it's also important to keep in mind that the docstrings are not research papers and the pr

[2022-10-03 06:55] vigna commented on #6004
@rossbar that's because the link points to someone's personal copy of Bonacich's paper. The paper, by the way, does not contain any algorithm, just the definition. The code, as the documentation states, uses a standard power iteration.

I plan to replace the reference with a JStor DOI, which will be available to everyone.

[2022-10-03 13:43] irisferrazzo opened #6010 "Graph edit distance using function optimal_edit_paths: Substitutions preferred over deletions/insertions?"
### Current Behavior

I work on a project that aims to align graphs. I am using NetworkX to represent the graphs, then I calculate the operations to perform between each pair of graphs using the function 'optimal_edit_paths'. My node substitution/deletion/insertion cost functions are personalized with specific scores.
Even if the deletion/insertion scores are lower than the substitution ones, the

[2022-10-03 14:23] #6010 closed

[2022-10-05 13:27] SMorrison42 opened #6015 "Graph - Edges lost orientation after added to object"
Hello,

I’ve create a Graph() object and add in the edge path I would like for it to follow. However with I print the object I notice that the edge orientation is swapped for a few of the entries in the graph. This in return impacts the calculation I perform to find the longest path. How do I preserve the order the edges are added to the graph? This is important for me to recover the correct path.

[2022-10-05 14:49] dschult commented on #6015
Perhaps you want a DiGraph instead of a Graph.  Directed graphs make a distinction between (u, v) and (v, u). Undirected graphs treat these as the same edge.

[2022-10-05 18:56] rossbar commented on #6015
It's important to recognize that you're not operating on the original graph, but on the tree that results from calling `nx.dfs_tree(graph, "1")`. This is a different graph object entirely - it *is* a DiGraph (which is why `dag_longest_path` even works, as that would raise for undirected inputs). This is easiest to get a handle on with a quick visualization:

#### The original graph, `G`
![G](https

[2022-10-06 01:23] SMorrison42 commented on #6015
Thank you so much for the explanation. This is extremely helpful and I’ll share with my colleagues.

For additional information about our use with the package is that we are trying to use the package to help us improve on genome assemblies for bacterial and viral species. One of the issues we are running into is that one of the species has repetitive elements on the ends that are identical. An exa

[2022-10-06 20:30] JibJibFlutterhousen commented on #5067
In the graph theory literature (“Graph Theory” by Diestel, “Graphs and Digraphs” by Chartrant et. al., and “Introduction to Graph Theory” by West) that is used at many graduate research schools use the following definition for subgraph:

A subgraph of a graph G is a graph H such that: the vertex set of H is a subset of the vertex set of G, and the edge set of H is a subset of the edge set of G. Fu

[2022-10-07 16:14] dschult commented on #5067
Thanks for the comment and concern and removing monomorphism.  I definitely agree with your perspective and have no plans to remove the monomorphism functionality.  And I certainly understand the historical confusion in the literature about the term subgraph and induced subgraph.

When calling subgraph monomorphism redundant I meant redundant compared to graph monomorphism, not redundant with the

[2022-10-10 10:11] Qudirah commented on #5981
Hello, I want to try working on this issue but I'm confused as to which test needs assertion. Would I have to run each of them?

[2022-10-10 10:31] Qudirah commented on #5827
I just checked the function and it is understandable. The docstrings are well explanatory and it should work well. Is there anything, in particular, you'll like me to try?

[2022-10-10 10:35] Qudirah commented on #5824
Hello! can I work on this?

[2022-10-10 16:10] dschult opened #6026 "check that expanders tests are all being run"
Based on a comment in #6014 it would be good to check that the tests in `generators/tests/test_expanders.py` are all being run. If they are, the tests should have raised an error upon usage of `.A` (which was fixed in #6014).

At least that's how I understand the discussion ...

[2022-10-10 17:33] rossbar commented on #6026
Well, the good news is I put an `assert False` in all the tests in that module and got 4 failures, so that's a good sign! I wonder if it's related to the numpy/scipy optional dependencies...

I'd like to take the opportunity to very slightly reorganize the tests!

[2022-10-11 07:38] DiamondJoseph commented on #5981
@Qudirah I picked up I think most of them in a pending patchset, but any test that calls is_isomorphic without an assert for one- there may be other methods that (used to?) don't throw an exception but also aren't checked by an assert.

[2022-10-11 08:53] harristeague commented on #5681
I'm not sure this a bug, however perhaps a better warning should be
generated.  For lexicographical_topological_sort, the whole idea is to key
the sort off of something comparable with default being the node itself.
If you have nodes that are not comparable, you should provide a different
key.

On Wed, Aug 10, 2022 at 6:23 AM Kevin Brown ***@***.***>
wrote:

[2022-10-11 16:50] #6026 closed, assigned to nobody

[2022-10-11 17:34] MridulS opened #6028 "Improve test coverage for line graph generators"
Currently we don't have full coverage for the line graphs generators. Code blocks which are highlighted with red at codcov https://app.codecov.io/gh/networkx/networkx/blob/main/networkx/generators/line.py don't have corresponding tests. The tests should be added in https://github.com/networkx/networkx/blob/main/networkx/generators/tests/test_line.py

### Current Behavior

We don't test all the pat