[2021-08-10 16:24] kevinmyers opened #5014 "Cannot import networkx.algorithms.lowest_common_ancestors"
I cannot import `networkx.algorithms.lowest_common_ancestors`

### Current Behavior
I cannot import `networkx.algorithms.lowest_common_ancestors` and specifically need to run `from networkx.algorithms.lowest_common_ancestors import lowest_common_ancestor`.

### Expected Behavior
I expect to be able to import this module.

### Steps to Reproduce
I simply tried to run the two import commands below i

[2021-08-10 17:37] dschult commented on #5014
Those imports work for me... but you should be able to do:
[code]

I notice that you are using Python 3.6.7 and NetworkX 2.6.2 doesn't officially support Python 3.6.  But I don't think that should cause this error.

[2021-08-10 17:39] kevinmyers commented on #5014
Thanks. What version of Python do you recommend using?

[2021-08-10 17:54] dschult commented on #5014
NetworkX supports Python 3.7-3.9 but should work for most tasks with 3.6-3.10.
I would get 3.9 as that's the latest (3.10 is prerelease still) but again, it seems unlikely that is the trouble.
You might also see whether you can just import networkx.
Perhaps you are running a python from your operating system, but installing networkx on a different installation of python?  That's a common issue.  C

[2021-08-10 18:39] kevinmyers commented on #5014
Thanks. I can import networkx alone no problem. I can also import other networkx modules:

`from networkx.algorithms.dag import descendants`
`from networkx.algorithms.dag import ancestors`
`from networkx.algorithms.shortest_paths.unweighted import bidirectional_shortest_path`

I also installed networkx via Anaconda and am using the same Anaconda Python.

[2021-08-10 18:57] dschult commented on #5014
If you can import networkx then it isn't a problem with it trying to find the wrong installation.

Most of networkx is available in a flat namespace from the main module. So:
`networkx.descendants`, `networkx.ancestors`, `networkx.lowest_common_ancestors`.
So you shouldn't need this feature.

But.... I don't understand why it isn't working... unless there is a typo somewhere... It works for me as

[2021-08-10 19:07] kevinmyers commented on #5014
Here is exactly what I'm typing and the resulting error:

[code]

[2021-08-10 20:17] kevinmyers commented on #5014
Ahh, I figured it out. There was something screwy with my PYTHONPATH, but I fixed that and it's working now. Thanks for all your help!

[2021-08-10 20:17] #5014 closed

[2021-08-12 08:23] rossbar opened #5016 "transitive_closure in dag.py works on non-dags"
The docstring for `transitive_closure` contains the following note:

https://github.com/networkx/networkx/blob/906bf82ab7edf0ad4cea067b3be5a4e1cba356a3/networkx/algorithms/dag.py#L557-L558

Just raising this issue here for visibility --- are there any ideas for modules where this function may be a better fit?

[2021-08-12 13:26] dschult commented on #5016
Thanks @rossbar for putting this into an Issue.

The first place that comes to mind is the module `cluster.py` dealing with triangles/triads. Is also has a function named `transitivity`.  Those are the associations that made me think of it.  The `transitive_closure` function's note says it works for all directed graphs. We should perhaps check if it could also work for undirected graphs.  I believ

[2021-08-14 11:59] #4712 closed

[2021-08-15 12:58] joelmiller opened #5023 "corner-case bug in single_source_dijkstra"
### Current Behavior
If we call `single_source_disjkstra` with the source equal to target, it returns a path of length 0, even if the source is not in the graph

### Expected Behavior
If the source is not in the graph, it should give an error message.

### Steps to Reproduce

    import networkx as nx
    G = nx.Graph()
    nx.single_source_dijkstra(G, source=1, target=1)

### Environment

Python

[2021-08-16 08:10] rubenkerkhofs opened #5024 "Failed to save graph generated using stochastic_block_model"
Saving a graph that has been generated with a stochastic_block_model is not possible using write_graphml.

### Current Behavior
When generating a random network using the stochastic block model, the returned networkx object cannot be written to a graphml file using the write_graphml function.

### Expected Behavior
When generating random graphs using the networkx package, it should be possible to

[2021-08-16 09:48] rossbar commented on #5023
Note that this issue also affects `single_source_bellman_ford`

[2021-08-16 17:45] mingxuan-he commented on #5012
This issue is fixed by PR #5015. Would greatly appreciate if someone can review and merge it!

[2021-08-17 11:26] joelmiller opened #5025 "`geometric_edges` should be accessible"
The function `geometric_edges` in `generators.geometric` is not callable.   However, I have found a case where someone wants to use it (more specifically is asking for a function that does it).  https://stackoverflow.com/q/68815295/2966723

I thought I'd just build an example for the person, but I can't figure out how to call it, presumably because it isn't in `__all__`, but I'm not an expert on t

[2021-08-17 12:27] dschult commented on #5025
The function is available in NetworkX 2.6.2.  I haven't tracked down which version it became available.
The calling name is just as you expected:  `nx.generators.geometric.geometric_edges`

But I think it makes sense to publish this function to the public interface so that `nx.geometric_edges` would work.

[2021-08-18 03:00] dschult commented on #4085
In #4976 we have a case where the `weight` function returned should do more than return the weight value. In the case of multigraph betweenness we want (for a node-pair) to return the minimum weight **and** a list of edge keys that attain that weight.  But the overall goal of this decorator is the same: let the user write their own weight function, or input a string.  So it appears we want the dec

[2021-08-18 03:33] dschult commented on #5024
Data attributes that have list values are not part of the GraphML spec. That is, you can't store graphs with list or dict attribute values using the GraphML standard. See #485 #3663 for similar discussions.

I would suggest that you save the graph in a different format.  OR you could clear out the offending data attributes before converting to GraphML.

[2021-08-18 07:32] rossbar commented on #5024
Thanks @dschult - the only thing that comes to my mind as potentially "resolving" this issue would be to improve the exception message. Otherwise I'd say this can be closed as duplicate.

[2021-08-18 08:25] rubenkerkhofs commented on #5024
Thank you very much. The solution is indeed to use a different export method. Pickling the graph for example worked perfectly for me. What could be improved is the exception message (like mentioned by @rossbar). I also suggest that  the graph generator algorithm's documentation gets updated to include a warning that it generates graphs that cannot be exported to graphml. It will help future users

[2021-08-18 14:03] akbhuker commented on #4973
hey, can I have this issue?
I'm quite new to this so I might need some guidance

[2021-08-18 14:24] BrandonKMLee commented on #4973
@akbhuker ask @MridulS

[2021-08-19 04:27] bramson opened #5026 "'NoneType' object has no attribute 'get' from greedy_modularity_communities() in v2.6.2"
I have an undirected, weighted network and I am trying to run greedy_modularity_communities() on it.  This morning I had NetworkX v2.5 and it worked great with 'weight=None' or one of my edgeWeights , but I couldn't use the resolution parameter.  So, I updated my networkx, and now when I run the algorithm, I get a TypeError in a weird place no matter what the parameters are.

### Current Behavior

[2021-08-19 07:02] z3y50n commented on #5026
Hello, I think this bug was solved by #4965 and it is not yet included in the latest stable `networkx` release.

[2021-08-19 08:30] bramson commented on #5026
I see.  Well, it's good news that the bug had been previously found and solved, but it's still the case that I can't use it at the moment.  Is there an ETA for the next stable release?  Is there a reasonable way to run the corrected version until then?

[2021-08-19 09:13] MridulS commented on #5026
You can install the main branch which has the changes by using pip:
[code]

Feel free to reopen this issue if the error persists.

[2021-08-19 09:25] bramson commented on #5026
Okay, I'll see if I can do something through conda and check if the new version works.

[2021-08-19 09:40] bramson commented on #5026
I installed the main branch, and it was able to run the unweighted version.

When specifying an edge weight (which are integers from 0 to 1000) it crashes with the following error:
[code]

I don't know how to reopen the issue.

[2021-08-19 15:31] dschult commented on #5026
Now you are running into another bug identified in #5000 and #4992
We have an idea how to fix that bug, but it is not yet implemented in the codebase.   Ack....

[2021-08-19 16:34] MridulS commented on #4973
Hey @akbhuker! As a first step you can setup a local development environment for NetworkX, the instructions to setup the environment are present in the [Contributor Guide](https://networkx.org/documentation/latest/developer/contribute.html). You can also go through the [New Contributor FAQ](https://networkx.org/documentation/latest/developer/new_contributor_faq.html) for some general FAQs. Let us

[2021-08-19 17:39] dschult commented on #5026
We are thinking of making a 2.6.3 release once we get the bugs sorted out.

[2021-08-20 01:49] bramson commented on #5026
I see.  At least it's a known bug.
I know these are things that you can't exactly plan for, but do you have an expected/hoped release date for the release with these fixes?
If it's within a week or so, I can work on other things while waiting.
If it's expected to take a while, then I'll need to make another strategy on this research thread.

[2021-08-20 03:53] divyanx commented on #5023
Hey @MridulS , I am very new.
The topic seems something I have studied in college.
Could I work on this?

[2021-08-20 16:04] dschult commented on #5026
It will not be within a week. I am hoping for a fix within two weeks and a release within a month.

In the meantime, as a solution a short term fix. The floating point round-off issue (that results in a KeyError) should be fixed by scaling all edge weights in the graph by the total weight of all edges in the graph.  The floating point round-off error comes from dividing (in the formula) by (2*m) w

[2021-08-21 14:35] dschult commented on #5026
You could also download/copy/paste the solution in #5000 where @tristanic rounds the values to ensure the keys are the same when they are close.  If that function works for you please let me know.

[2021-08-23 04:02] bramson commented on #5026
I multiplied the weights by the sum of edge weights and the algorithm doesn't crash.  Thank you!

[2021-08-23 06:36] #4957 closed

[2021-08-24 02:43] ChengMa-RPI opened #5030 "generate LFR benchmark graph and the use of configuration model"
In the original paper about the generation of LFR benchmark graph, the authors use the configuration model. However, in the implementation of the current package (LFR_benchmark_graph, networkx 2.6.2), edges are connected between randomly chosen nodes, instead of being connected by randomly chosen stubs (half-edges) in the configuration model. As a consequence, the node degrees are slightly differe

[2021-08-24 09:52] nirav0999 commented on #4973
Thanks for the above resources @MridulS
I am a first time contributor as well. Hoping to actively contribute to in making new centrality algorithms :).

[2021-08-25 01:27] AndrewEckart commented on #3700
I think there is a middle ground that could be useful in some cases: keep the property, but if it is going to be used many times, then store it as a local variable as a performance optimization. For an example of this approach, see #5032.

[2021-08-25 06:42] MridulS commented on #5023
Hi @divyanx, sure thing! Please go ahead.
As a first step you can setup a local development environment for NetworkX, the instructions to setup the environment are present in the [Contributor Guide](https://networkx.org/documentation/latest/developer/contribute.html). You can also go through the [New Contributor FAQ](https://networkx.org/documentation/latest/developer/new_contributor_faq.html) for

[2021-08-25 07:00] divyanx commented on #5023
Thanks a lot, ill go through this and ask if I get stuck somewhere.

[2021-08-25 15:28] divyanx commented on #5023
Hey @MridulS, what error message or behavior should I add for the mentioned edge case.

[2021-08-26 14:05] vadyushkins opened #5034 "`descendants` and `ancestors` functions are misplaced"
Since both `descendants` and `ancestors` work well not only for DAGs, but also for graphs in general, then I think it is better to move them to another module. It seems to me that the "Traversal" module is best choice.

I am happy to discuss this :)

[2021-08-28 00:45] #4956 closed

[2021-08-28 03:54] nirav0999 commented on #4973
Hey,
@MridulS
I want to add a new centrality algo - leverage centrality. I have written the code for it in a "leverage.py" file and have also written test cases in "test_leverage_centrality.py" file. I want to call it using nx.leverage_centrality(). Do I need to make changes somewhere (in .rst files) to do so? I am getting the "Attribute not found" error when I am calling it in test cases.

[2021-08-28 06:51] nirav0999 commented on #4973
I have submitted a PR for leverage centrality for undirected - weighted & unweighted graphs.
@MridulS Could you check it once?

[2021-08-28 14:03] vdshk opened #5043 "Refactor `transitive_closure` to support multigraphs"
By definition (see below and #5016) `transitive_closure` also works with multigraphs.
* **transitive closure of G** is the graph G* = (V, E*), where E* = {(i, j) : there is a path from vertex i to vertex j in G}"

But now this function does not work as expected.

### Current Behavior
[code]

### Expected Behavior
[code]

### Environment
Python version: `3.8.10`
NetworkX version: `2.6.2`

### Propo

[2021-08-28 16:39] rossbar commented on #5043
+1 for adding support for multigraphs. I'd recommend putting it in a separate PR though rather than adding it to #5042 - IMO it would make it easier to review if there were separate PRs for each proposal. If you want to work on it before #5042 is in, you can always open a new PR that depends on #5042 (i.e. originates from a commit on that branch) and just mark it as draft for now.

[2021-08-28 17:18] rossbar commented on #5001
I think if there were a contributor who was interested in exploring switching to `defusedxml` it would certainly be considered. Note that the security concerns do not originate in NetworkX itself, but through the use of the xml package in the Python standard library. In principle "fixing" the security vulnerabilities upstream would automatically handle the security issues in NX (and any other libr

[2021-08-29 16:02] rossbar opened #5046 "Should `geometric_edges` raise a specific exception if nodes don't have "pos" attribute?"
The `networkx.generators.geometric.geometric_edges` function assumes that the input graph contains nodes that have a `"pos"` attribute representing the 2D position of the node. If this is not the case, exceptions are raised (depending on whether or not scipy is installed) that don't really indicate what the problem is:

[code]

### with scipy

[code]
### without scipy
[code]

The thing that makes

[2021-08-29 16:35] dschult commented on #4857
The current release of NetworkX **does** lazy load numpy -- in the sense that it only imports numpy if you are using a function that requires numpy.  Pull Requests like #4909 discuss hopefully better ways to lazy-load. But the tried and true -- don't import until the function that needs numpy is called -- should work.

If you see that importing networkx causes numpy to be imported, please report t

[2021-08-29 17:14] dschult commented on #5046
I would say it should raise the exception. Putting a bunch of nodes at (0,0) would be potentially hard to notice.
Does raising the exception mean we should go through every node to check if it has a 2-tuple value on a `pos` attribute?
Or is it better to catch the current error and provide a better message for it?

[2021-08-29 17:30] rossbar commented on #5046
This is what I was thinking just because it's fewer things to modify (adding one check at the beginning versus catching exceptions in multiple branches). The latter may actually be preferable from a performance perspective however since `geometric_edges` is used internally in a couple of the geometric generators where an extra check for node attributes would be unnecessary, and would actually slow

[2021-08-29 20:13] rossbar opened #5047 "Add default distance metric to `geometric_edges`"
The `nx.generators.geometric.geometric_edges` function currently takes 3 varpos parameters. The last of these parameters `p` is the "Minkovsky distance metric", which allows users to select the power used to compute the distances.

Having looked at the function a bit, I was wondering if it wasn't worth perhaps turning `p` into an optional kwarg and giving it a default value. IIUC, `p=2` correspond

[2021-08-29 20:50] dschult commented on #5047
It seems to me that most geometric networks would use euclidean distance and this change shouldn't mess up any backward compatibility.  Sounds good to me. :}

[2021-08-30 01:47] rossbar opened #5050 "Deprecate `adjacency_matrix` alias of `to_scipy_sparse_matrix`?"
The [adjacency_matrix](https://github.com/networkx/networkx/blob/2e61dacc1ffcdcf44edb5fd68dca5f51e09db219/networkx/linalg/graphmatrix.py#L99-L157) function in the `linalg` package is an alias for `to_scipy_sparse_matrix`. Could it be a candidate for deprecation? Or maybe it should be removed from the main namespace and only available in the `linalg` namespace, where it makes more sense that adjace

[2021-08-30 15:50] #4994 closed

[2021-09-03 03:58] rossbar commented on #4328
I'm going to close this as it's been a while. Feel free to update/reopen as needed.

[2021-09-03 03:58] #4328 closed

[2021-09-03 04:19] rossbar commented on #4256
This has been dormant for a while, so I'm going to close this as resolved. If the problem persists, please feel free to reopen.

[2021-09-03 04:19] #4256 closed

[2021-09-03 04:21] rossbar commented on #4242
It's been a while without any follow up here so I'm going to close this. Feel free to reopen as needed.

[2021-09-03 04:21] #4242 closed

[2021-09-04 00:50] joelmiller opened #5060 "Issue with attribute names in `greedy_modularity_communities`"
### Current Behavior
The function is defined as

`def greedy_modularity_communities(G, weight=None, resolution=1):`

but the first step that uses any attributes is

`m = sum([d.get("weight", 1) for u, v, d in G.edges(data=True)])`

If the graph has an attribute `"weight"`, but either wants to use no attribute (`weight=None`) or a different attribute, this will use the value for `"weight"` rather t

[2021-09-04 01:14] rossbar commented on #5060
Good catch, this has already been fixed in #4996

[2021-09-04 01:14] #5060 closed

[2021-09-04 01:59] rossbar commented on #4459
So I think the reason it is structured this way (i.e. with the `_edge_func` indirection) is because of the difference in what is returned by the `MultiGraph.edges` when it is accessed as an attribute vs. when it is called as a method. For example:

[code]

Is this expected behavior? The original issue would make more sense if the expected behavior of `G.edges()` were to return edges with keys in t

[2021-09-05 01:41] #3112 closed

[2021-09-05 02:38] mamonu opened #5064 "`omega` gives values that are not within [-1,1] bounds"
According to the paper this metric has been based upon, [found here](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3604768/) , omega needs to be between [-1,1].

However nx.omega gives as a result many values that are not within [-1,1] bounds

### Current Behavior

values not being within the expected [-1,1] bounds

### Expected Behavior

values should be within [-1,1] bounds

### Steps to Reproduc

[2021-09-06 14:02] dschult commented on #4459
The attribute  `G.edges` returns 3-tuples `(u, v, key)` for MultiGraphs and has synonym `G.edges(keys=True)`.
The method `G.edges()` returns 2-tuples `(u, v)` for MultiGraphs and has synonym `G.edges(keys=False)`.
It should not matter what the `nbunch` or `data` or `default` parameters are as far as whether the edge keys are reported.

Basically `G.edges` lets the class determines whether to use 2

[2021-09-06 15:07] rossbar commented on #4459
[code]

[2021-09-06 17:36] elplatt commented on #4992
Hi all! After looking over this, #5000 and #5065, here's what I see:

* The rounding is occurring when dq is converted to -dq, and the key error occurs when -(-dq) != dq.
* The problem is that some of the MappedQueues use dq as a key and some use -dq.
* It looks like @dschult's test case works in the latest code as of @ThanasisMattas's commit 3a44d3ec7593358778a2336a5ec2faf5afe49da9, although I th

[2021-09-06 20:56] dschult commented on #4992
Given that floating point errors are really tricky to try to debug, I don't think `dq` should be involved in a dict key lookup.  The heapq documentation about how to make heaps with the ability to update the priority say that the dict should map the element to its position. I think we should do the same.

Given that we have a number of Issues about this function and in fact this very issue, I woul

[2021-09-07 13:45] jamestrimble opened #5067 "Documentation seems to imply that subgraph monomorphism is not supported"
The following part of a docstring states that "Edge-induced subgraph isomorphisms are not directly supported". If I'm not mistaken, edge-induced subgraph isomorphism is the same thing as subgraph monomorphism, which has been added to NetworkX since this docstring was written. (Sorry if I'm wrong about this!)

https://github.com/networkx/networkx/blob/59dc28a1297ec330d9bdaa0e018537615bb6750a/networ

[2021-09-07 14:01] rossbar commented on #4992
I agree with @dschult - I think correcting the behavior is the major priority. This has been affecting a lot of users so getting a fix out asap would be beneficial IMO.

[2021-09-07 15:31] rossbar commented on #5064
Thanks for the report - I can reproduce this on the development branch (96831f99). I also tried the barbell graph example you've provided with different seeds and noticed that the result was always < -1.

[2021-09-07 15:31] #4992 closed

[2021-09-07 15:44] dschult commented on #5067
Interesting.   I have not seen that subgraph monomorphism is the same thing as edge-induced subgraph isomorphism. Can you point me to something that would explain edge-induced subgraphs? I haven't worked with edge-induced subgraphs much at all so maybe I should start there.

[2021-09-07 15:57] jamestrimble commented on #5067
@dschult https://mathworld.wolfram.com/Edge-InducedSubgraph.html

"edge-induced subgraph isomorphism" turns up very few Google results, so I'm assuming it's the same thing as monomorphism but I could be wrong!

[2021-09-07 16:45] jtrim-ons commented on #5064
I've only had a very quick look at the paper you linked to @mamonu, but one question that springs to mind is whether the [-1,1] interval is just something the authors observed for graphs they looked at rather than something that is true for all graphs. Certainly the wording "Moreover, values of [omega] are restricted to the interval -1 to 1 regardless of network size." makes it sound like a genera

[2021-09-07 17:03] jtrim-ons commented on #5064
You could also see if you get close to some of the paper's values for the karate graph (`nx.karate()`) from the first row of Table 1.

[2021-09-07 17:04] jtrim-ons commented on #5064
... I got 0.35 for the karate graph, whereas the paper says 0.08. But it might just be down to random variation.

[2021-09-07 20:37] jtrim-ons commented on #5064
I've had a little look at `algorithms/smallworld.py`, and noticed the following things that may be worth checking. (Unfortunately I don't have time to check them properly, and will have to stop looking any further at this issue.)

- C is calculated using transitivity in NetworkX but using the clustering coefficient in the paper. These can be very different (http://pages.stat.wisc.edu/~karlrohe/net

[2021-09-07 20:45] jarrodmillman commented on #5050
I prefer keeping adjacency_matrix.  It is a standard term in graph theory.  And I think we should hide how we implement it.  So I would rather remove to_scipy_sparse_matrix.  But we still need to go over the linalg package to make sure it makes sense.  I would prefer leaving the package (more or less) as it is until we can refactor the whole linalg package.

[2021-09-07 21:40] mamonu commented on #5064
thanks for looking both.

btw @jtrim-ons I used to work at ONS some years ago :)

its a `smallworld` indeed. (ba-ddum-tch)

[2021-09-08 00:30] dschult commented on #5050
Just to add some more churn :)   the `to_scipy_sparse_matrix` doesn't actually say whether the resulting matrix is an "adjacency matrix" or an "edgelist matrix" or an "incidence matrix".  So the name `adjacency_matrix` is probably better anyway. The `pandas` functions made that clear -- but only years after the scipy functions had been around.

[2021-09-08 01:09] dschult commented on #5067
Thanks for that!  My search turns up the same -- it is possible that we could remove that comment completely, but I think it would be better to leave in the part about edge-induced subgraph not being supported directly, and instead of referring to line graphs, explain that they could use monomorphism to do the edge-induced search.

As far as my reasoning suggests, subgraph monomorphisms include ed

[2021-09-08 03:05] dschult commented on #5050
Good point!
We have both many matrices and also many ways to store a matrix.
Too many combinations... :}

[2021-09-08 08:45] jamestrimble commented on #5067
Sorry, a very quick reply with a couple of extra observations...

Good point about isolated vertices - I hadn't considered that.

I've also just noticed that the monomorphism functions aren't listed in the docs: https://github.com/networkx/networkx/blob/main/doc/reference/algorithms/isomorphism.vf2.rst

(e.g. this function: https://github.com/networkx/networkx/blob/5bc077c27155649f2503150a2623f49d

[2021-09-08 09:19] BrandonKMLee commented on #4973
Thanks for the help, @nirav0999 but if it is possible, please also add the other centrality algorithms within that repo.
I do think that NetworkX isn't necessarily complete with this

[2021-09-08 16:40] phil-burrows opened #5070 "Using networkx in Azure Databrick results in extremely slow writing to blob storage"
I have developed a routing process for research on transportation network disruption events. The script runs well apart from writing the results df to Azure blob storage (as csv) extremely slowly. It's a small results file (3.8mb) of a pyspark dataframe takes over 3 hours to write. It would seem to me that the bug is somehow coming from having used nx functions on the df. The same file can be read

[2021-09-08 18:24] MikeB2019x opened #5071 "write_graphml - key error on non-existent key type"
### Current Behavior
I'm trying to export a large graph (144k nodes, 435k edges) to the GRAPHML format.  I tried exporting a subset initially and that went well.  Next I tried to export the whole graph. The export fails with the error below.  The challenge is that I don't understand what that error refers to; there are no nodes or edges with a 'key' that is a dict.  All the nodes and edges that ha

[2021-09-08 19:22] dschult commented on #5070
It is extremely unlikely that NetworkX affects the time needed to write files to disk -- or internet storage.
The reason is that we don't actually do the writing... other parts of python do. We call them.
If you are writing something as a csv file, networkx is not writing the csv file.

I would suggest trying writing it to a local disk to make sure that is fast -- and then writing a different data

[2021-09-08 19:31] dschult commented on #5071
Unfortunately, GraphML doesn't support dicts or lists as attribute values.  You can convert them to strings, but then you have to convert them back to dicts when you read them.  The reason the error is a KeyError is that the code is looking up the type of the value (a dict) in the dictionary of types that our writer knows how to handle.

The poor error warning should be fixed by a recently submitt

[2021-09-08 20:04] MikeB2019x commented on #5071
Oh wow, well that is unfortunate.  Thank you for the quick response, much appreciated!

[2021-09-08 21:10] #5071 closed

[2021-09-09 00:54] #5026 closed

[2021-09-09 01:10] dschult commented on #4527
Reopen this issue if needed.

[2021-09-09 01:10] #4527 closed

[2021-09-09 12:23] nirav0999 commented on #4973
Sure, @BrandonKMLee will try adding the other algorithms as well.

[2021-09-10 06:30] #4989 closed

[2021-09-10 09:55] carlnordlund opened #5076 "Documentation: Left vs right eigenvector for eigenvector centrality"
Checking the doc for eigenvector centrality and think I might have found a typo/error: https://networkx.org/documentation/stable/reference/algorithms/generated/networkx.algorithms.centrality.eigenvector_centrality.html

The eigenvector expression in the doc is this:
Ax = λx
In the Notes section, it states that "For directed graphs this is “left” eigenvector centrality which corresponds to the in-e

[2021-09-10 11:06] #4953 closed

[2021-09-10 20:52] jtrim-ons commented on #4942
I'm in favour of using an algorithm from the literature - either a corrected version of the Bender algorithm or an algorithm from another paper. But I was thinking that it might be a good idea to have a naive implementation too, for testing the main algorithm and perhaps also as a stop-gap until we have a correct, fast implementation.

This is the implementation I came up with (with `all_pairs_low

[2021-09-11 11:02] jamestrimble commented on #4942
An update on the algorithm in the previous comment (from my other GitHub account - sorry for being confusing!):

If you replace the function `get_ancestor_set` in the big code listing above with the following version, the naive algorithm's speed seems to be competitive with the existing algorithm.

[code]

[2021-09-11 14:07] MridulS commented on #4179
Hey @NiklasBeierl!

You could use the `keys` keyword argument to get something similar to `get_out_edges`.

[code]

But yes we should do a better job of documenting these behaviours of our base classes.

[2021-09-11 15:36] rossbar commented on #4459
I just realized there is already an issue open for this - linking here for context: #4179

[2021-09-12 19:02] dschult commented on #5076
We used the standard formula for the eigenvector centrality. For undirected graphs that is what we compute even though we actually use left eigenvectors to compute it. For directed graphs we have to choose whether to compute the outbound centrality or the inbound centrality. Most literature we read uses the outbound centrality -- so that's what we decided to have this function return.  But that is

[2021-09-12 23:41] rossbar commented on #5023
Closed by #5033

[2021-09-12 23:41] #5023 closed

[2021-09-14 05:36] KHBAAW commented on #4718
I have same problem Random state index is incorrect
how to resolve it
![Screenshot (2)](https://user-images.githubusercontent.com/68842470/133200924-dc72fe9a-05e1-429e-89b0-95b9dec9ef45.png)

[2021-09-14 07:50] MridulS commented on #4718
@KHBAAW Please update your networkx installation or your decorator installation to the latest versions.

[2021-09-14 08:16] KHBAAW commented on #4718
Error while updating the decorator

![Screenshot (4)](https://user-images.githubusercontent.com/68842470/133221506-744f6e02-7222-45f4-903f-0ff08aa40989.png)

[2021-09-14 08:24] MridulS commented on #4718
Could you try deleting networkx and then reinstalling it? Maybe it will solve the dependencies issues as newer versions of networkx don't depend on decorator.

[2021-09-14 09:21] KHBAAW commented on #4718
No, I did not delete it

[2021-09-14 11:58] jamestrimble commented on #4942
One last thought on this: the naive algorithm could be further sped up by caching the ancestor list of each vertex. Perhaps this caching feature could be made optional so the user can choose a slower method that requires less memory.

[2021-09-14 13:08] dschult commented on #4718
Try deleting both decorator and networkx and then reinstall it to get the latest version.
You should probably also be using the anaconda channel "conda-forge" (seems to behave better).

[2021-09-14 13:33] dschult commented on #4942
Any idea how much the savings in time or memory is? Seems like it would be potentially storing a set of all nodes for each node which would be O(n^2) in memory -- which is on the order of a dense version of the DiGraph itself. But what is the time savings?  Could be substantial I think because you have to do the lookup for each node of each pair -- so you are collecting the ancestors n times.  Sin

[2021-09-14 17:36] c3-premjithbalakrishnan commented on #4718
Thank you, dschult. Removing networkx and decorator and then reinstalling them is what worked for me.

Just trying to upgrade decorator ran into some complex package dependency check and kept failing.

[2021-09-14 19:42] jamestrimble commented on #4942
@dschult I've now implemented a memoised version of the `get_ancestor_set()` function. Here are the timings for one run with n=300 and p=0.1:

[code]

So the cache gives an order of magnitude improvement in speed, at least for this sample of size 1 :-)

As you say, it's unfortunately O(n^2) in memory.

I'm also curious to test your proposed fix for the existing algorithm from [this comment](https:

[2021-09-15 03:40] #5024 closed

[2021-09-15 03:41] #5025 closed

[2021-09-15 03:48] dschult commented on #4942
Nice speedups!  :)  Do you understand why the number of LCAs is reported as different for the current and naive algorithm?

You are correct that the line number is now `272` and the suggestion is mistakenly written as exactly the same as the current code !oops!.   It should replace `dag` with `G`:
[code]
Note that I don't have a proof that this is the correct implementation -- just another way to

[2021-09-15 20:20] jamestrimble commented on #4942
I'm afraid I haven't got my head round the Bender algorithm yet, but the good news is that when I changed line 272 to the version you suggest, it always agrees with the naive algorithm.

The naive approach seems to scale fine - staying about an order of magnitude faster than Bender - although I haven't tried it on anything that takes more than about 10 seconds to solve so I should probably do a la

[2021-09-17 00:36] wtty7 opened #5088 "Y"

[2021-09-17 06:00] atiyabzafar commented on #4718
Hey, I am a TA in a course on network science that is being taught and some of the students are facing the exact same error with nx.draw(). The error seems to be in the random_state decorator only. I am wondering if someone can mention this to folks at conda and make sure the dependencies are met already.
`IndexError                                Traceback (most recent call last)

~\anaconda3\lib

[2021-09-17 06:38] MridulS commented on #5088
Looks like opened by mistake, closing this. Feel free to open it with more details :)

[2021-09-17 06:38] #5088 closed

[2021-09-17 12:37] dschult commented on #4718
The random_state decorator error does not look like the same error as this Issue. That is, I do not believe it is due to having a specific version of the decorator library.  Have you determined that it *can* be fixed by changing the version of the decorator library?

If the decorator library version has not been determined to fix this error, can you open a new issue with more details about what ve

[2021-09-17 12:43] atiyabzafar commented on #4718
Yes, I was planning to do the same. will do the same later today and get back to this forum. I have encountered this same error in 3 different machines in the last couple of days on fresh install of Anaconda Individual edition.

[2021-09-17 12:48] dschult commented on #4718
Ahh.. so it is repeatable --- but what is it that they were doing? :}

[2021-09-17 13:28] MridulS commented on #4718
This could be the issue, as the Anaconda distribution could have pinned to a previous release by default instead of the latest one.
Could you confirm the version of networkx and decorator after a fresh install?

Something like
[code]

[2021-09-17 13:45] atiyabzafar commented on #4718
@MridulS Yeah It is definitely due to Fresh conda install pinning the modules.
Networkx and Decorator versions are as mentioned below
[code]
Conda is not letting me update the version as well.

[code]

Same issue with updating networkx obviously.

I removed networkx (this removes a lot of dependent packages including numpy, pandas,etc) And then installed networkx again this time to 2.6.2. And then

[2021-09-17 14:32] #5043 closed

[2021-09-18 02:26] atiyabzafar commented on #4718
Commenting for anyone who face this problem.

This is an issue with conda freezing the versions of packages.

Safest way to handle this is

`conda update --all`

This solves the environment and updates most of the packages that conda can update to latest stable release without breaking the environment .

No need to open another issue for this. I guess people at anaconda will update this in later r

[2021-09-20 00:36] dschult opened #5090 "Update documentation for planar embedding"
Let's update the documentation to make it clear that the `check_planarity` function is the primary interface for the planar embedding tools.  Also, the class `PlanarEmbedding` is tricky to make sure it maintains the planar data structure. People not familiar with those ideas should definitely start with the `check_planarity` function.

See discussion in #5079

[2021-09-20 16:41] #3389 closed

[2021-09-20 16:47] rossbar opened #5092 "Improve test suite for random graphs"
The tests for the random graph generators in `test_random_graphs.py` could benefit from a refactor/review. Some things that immediately stand out:
 - Improve granularity: some tests have many `assert` statements and are not particularly specific to testing any one thing. Breaking these up into smaller tests should improve readability, specificity, and reduce instances where code is being run but n

[2021-09-21 15:05] SimoneGasperini commented on #5092
Can I work on this issue? My idea would be to improve the test suite granularity and specificity splitting the big outer class in smaller specific classes for the following "types" of random generators:
- gnp
- gnm
- watts strogatz
- barabasi albert
- powerlaw cluster
- random regular
- random shell
- random lobster
- random kernel

Each one of the above classes would contain its own test_* functi

[2021-09-21 15:44] rossbar commented on #5092
By all means!

I'm not sure such a reorganization would be an improvement. IMO it would be an improvement to get rid of any class-based organization, which adds an extra layer of indirection that doesn't actually add anything in this case.

To give you an example of what I had in mind re: granularity, take a look at the first test in the module:

https://github.com/networkx/networkx/blob/dc3c48613

[2021-09-21 16:23] SimoneGasperini commented on #5092
Ok thank your for your help and for the example... Very clear! I go ahead refactoring the file section by section.

[2021-09-23 19:05] shivamkalra13 commented on #4973
Hi @MridulS,
I am also a first-time contributor, I went through all the comments in this thread and the resources provided here.
May I work on Laplacian Centrality, please?

Thanks.

[2021-09-25 10:24] alexmalins commented on #3813
@ShirsenduP: super work on this issue - thank you

I think the root cause here is the same as [this Q](https://stackoverflow.com/questions/50871343/connectionstyle-arc3-fancyarrowpatch-and-path-curve3-two-quadratic-bezier-cu) on stackoverflow.

The edges when created in `networkx.draw_networkx_edges()` use matplotlib `FancyArrowPatch`, which is using the display space coordinates. Your code calcul

[2021-09-26 14:35] zozo123 opened #5103 "Why do networkx's approximations for vertex cover not include self-loop nodes?"
In networkx docs we define vertex cover as follows:

### Current Behavior
The returned vertex cover set lacks the self-connected nodes.
for this graph:
![image](https://user-images.githubusercontent.com/553010/134812281-e7ec79a1-7fcf-4782-a01f-af7bb4434037.png)

the found vertex cover will be `{0}` which omits nodes `1` and `2`

### Expected Behavior
I would expect it to consider self-connected lo

[2021-09-26 18:33] abxhr commented on #5090
I would love to work on this! 🙋‍♂️

For more context, what all should be added onto the documentation of `PlanarEmbedding` class?

[2021-09-26 19:02] dschult commented on #5090
I think the main trouble #5079 revealed is that it is not clear where to start using the features we have. It is tempting to go straight to the class. But the better place to start is with the function `check_planarity`.  So I think a pointer in the class documentation would be good, a statement in the function doc_string that it is the primary interface to the routines for planarity, and a paragr

[2021-09-27 07:49] joelmiller commented on #5103
As a comment, the documentation is clearly assuming a simple graph.  If this algorithm is updated to also consider self-loops, then the text in the documentation about the inequality between number of nodes in a vertex cover and the number of edges breaks down.

[2021-09-27 08:28] zozo123 commented on #5103
@joelmiller where does it state that it assumes a simple graph? https://networkx.org/documentation/stable/reference/algorithms/generated/networkx.algorithms.approximation.vertex_cover.min_weighted_vertex_cover.html

[2021-09-27 09:13] joelmiller commented on #5103
I'm not saying it states that it assumes a simple graph.  But even though that statement is not made, it is still clear that it implicitly assumes no self edges.

First, the algorithm apparently doesn't work on graphs with self-loops, as you've noted.  So the algorithm assumes a simple graph.

Second, the in the documentation, the statement: "the total weight of the set is guaranteed to be at most

[2021-09-27 09:18] zozo123 commented on #5103
@joelmiller do you mind explaining why if there can be self-edges the following statement isn't true?

[2021-09-27 09:24] joelmiller commented on #5103
I think you've got me there.  I was mis-reading what S and S^* where.

[2021-09-27 10:13] alexmalins commented on #3813
Looked at this again and it is more complicated than just setting the text location once after finding the `FancyArrowPatch` control point. The control point location changes depending on the aspect ratio set up by the GUI when the figure is rendered, and also upon some user operations in interactive mode.

The text will need to be aware of both the start and end points of `FancyArrowPatch`, i.e.

[2021-09-27 21:12] rossbar commented on #5103
Looking at the implementation, it's straightforward to see why this is the case:

https://github.com/networkx/networkx/blob/9ebca28d883d9c5971ab55b19bad850e71c7ad44/networkx/algorithms/approximation/vertex_cover.py#L67-L74

To me, the question is: what's the desired behavior? I very quickly skimmed the paper referenced in the docstring and the [vertex cover wikipedia article](https://en.wikipedia.

[2021-09-28 02:27] mgbckr opened #5106 "`draw_networkx_edges` does not adhere to `g.edges()` order when self-loops are present"
### Current Behavior
`draw_networkx_edges` seems to jumble formatting arguments for individual self-loop edges.

### Expected Behavior
Among other example, in the code snippet below, the upper right self transition should be orange and the upper left one pink. Luckily the normal edges seem to be formatted fine.

### Steps to Reproduce
[code]

### Environment
Python version: 3.9
NetworkX version: 2

[2021-09-28 03:37] dschult commented on #5106
I can verify this color issue. After playing with it a little, it looks to me like the edges are drawn first with the correct colors and then the selfloops are drawn again using the colors in the order specified, but only applying them to the selfloops.

So we get `[(0,0): red, (0,1): green, (1,1): orange, (2,1): blue, (2,2): pink]`
but then we redraw the self-loops:   `[(0,0): red, (1,1): green,

[2021-09-28 17:03] rossbar commented on #5106
You're spot-on @dschult - self-loops are handled separately from non-self edges (prior to 2.6, they were silently ignored and weren't drawn at all for undirected graphs). This breaks the expected 1-to-1 mapping between edges and `len(edges)` containers when there is a mixture of edges + self-loops. I expect this bug affects every kwarg where edge properties are specified in a `len(edgelist)` conta

[2021-09-28 18:42] dschult commented on #5106
Very helpful Issue @mgbckr !

Thanks @rossbar for explaining how it works and noticing that every kwarg representing edge properties probably is affected.  Would it be better to construct dicts instead of sequences where the dicts are keyed by edge tuple? The Matplotlib API seems to rely on arrays (or sequences) quite a lot. Presumably that makes a performance difference.

We are breaking that pat

[2021-09-28 19:30] zozo123 commented on #5103
@rossbar, IMHO, when one adheres to the definition "A vertex cover is a subset of nodes such that each edge in the graph is incident to at least one node in the subset.," it implies that all edges should be taken into consideration including self-loops.

FWIW JGraphT does [support self-loops](https://python-jgrapht.readthedocs.io/en/jgrapht-1.5.0.1/_modules/jgrapht/algorithms/vertexcover.html#bary

[2021-09-29 00:04] boothby commented on #5103
By the definition of a vertex cover, every node with a self-loop must belong to every vertex cover.  The most obvious solution would be to run the existing algorithm on the subgraph of nodes without self-loops.  I'm not sure what approximation ratio that algorithm would achieve, but I suspect that it would be the same or better, and not worse.

[2021-09-29 00:52] joelmiller commented on #5103
If your idea is to run the existing algorithm and then augment with the nodes having self-loops, I don't think that will work.  Consider the line graph 1-2-3, with nodes 1 and 3 having self-loops.  The best vertex cover including self-loops is {1,3}.  But running it without 1&3 (or even just without the loops) would get {2}.

[2021-09-29 01:13] rossbar commented on #5103
Thanks for the extra info!

In that case, I think #5014 is a viable solution

[2021-09-29 02:42] boothby commented on #5103
That will not work indeed.  What I suggested was to remove the nodes with self-loops, run the algorithm on the remaining graph, and then add the nodes with self-loops to the result.  In your example, we'd remove nodes 1 and 3, get an empty vertex cover on the remaining subgraph since it has no edges, and return {1, 3}.

I hadn't read #5014, but it does look like that should do the job.

[2021-09-29 03:29] joelmiller commented on #5103
Ah yes, I'm not doing well on my quick suggestions in this thread, am I?  I think I've now convinced myself that what you're suggesting would work.

[2021-10-01 14:07] mjschwenne commented on #4993
It's been a while since there was any activity on this issue, but today I had some time to think it over. I started by looking at the research paper which is referenced in the `directed_laplacian_matrix` docs, but it was not very helpful. In particular I was curious where that definition came from. On page 5, it merely states "The Laplacian of a directed graph G is defined by" followed by that for

[2021-10-04 10:38] veager opened #5112 "Inconsistent results of Dijkstra algorithm"
The function `nx.shortest_path` and `nx.all_pairs_dijkstra_path` will yields inconsistent results for Dijkstra algorithm.
networkx version: 2.6.3

Test example:
[code]

Two ways to realize Dijkstra algorithm
[code]

The partial outputs with different routes:
[code]

Seems `nx.shortest_path(method='dijkstra')` has incorrect results

[2021-10-04 15:48] dschult commented on #5112
The shortest_path function ignores edge weights unless you specify e.g. `weight="weight"`.
The `all_pairs_dijkstra`-like routines use a default edge attribute of "weight".

So, the way you used the functions, `shortest_path` returns the path with fewest hops, while `path_all` holds shortest weighted paths as sums of the edge attribute "weight".

[2021-10-06 09:56] #5112 closed

[2021-10-06 09:58] veager commented on #5112
Got it! Thank you so much! @dschult

[2021-10-06 11:24] MridulS opened #5118 "Documentation deploy is flaky when generating documentation for osmnx example"
There is a flaky deploy of documentation while building the osmnx example. It was an issue in osmnx (https://github.com/gboeing/osmnx/issues/734) but the fix is not in a released version yet.

### Current Behavior

From GitHub actions https://github.com/networkx/networkx/runs/3814138884?check_suite_focus=true
[code]

[2021-10-10 12:31] LelioC opened #5123 "multipartite_layout() fails when some node labels are not float"
Dear contributors,
I am facing currently the following issue which I believe is a bug.
Calling `multipartite_layout()` on a graph which has some nodes with labels which are not float (or integers) will result in an error.

### Current Behavior
Calling `multipartite_layout()` on a graph which has some nodes with hashable labels which are not float (or integers) will result in the following exceptio

[2021-10-10 19:32] joseberlines opened #5124 "Add a figure to every example of layout"
Problem: trying to decide what layout is better for a DAG graph

### Current Behavior
Going through tall the available layouts: https://networkx.org/documentation/stable/reference/drawing.html

### Expected Behavior
Having a collection of figures that help to decide what is better

[2021-10-11 00:52] dschult commented on #5124
I would suggest looping over all the layouts, calling each one and sending that into a draw command.  You'll need to use Matplotlib functions to create a new figure.

[code]
Lots more fancy stuff can be added to this of course... :}

[2021-10-11 17:43] rossbar commented on #5124
I think this would actually be a valuable addition to the [example gallery](https://networkx.org/documentation/latest/auto_examples/index.html).

It might be kind of tricky to select a good example graph that highlights the differences between the different layouts, but IMO this would be a nice improvement to the docs. I'm going to go ahead and reopen this so we can track the suggestion!

[2021-10-12 05:03] stefanv opened #5128 "Refactor _AntiGraph to `nx.classes`?"
`_AntiGraph` is defined in `kcomponents.py` and used in `k_components`. Is this the right place for that class to live?  The same exact class definition also appears [in the examples](https://github.com/networkx/networkx/blob/main/examples/subclass/plot_antigraph.py#L23).

[2021-10-12 21:50] LelioC commented on #5123
Yes this is what I figured out. Just to clarify what I think the problem is : the node names, and not the partition values (with default key "subset"), are assumed to be numeric.

Hence, the following fails (some node have names which are string)
[code]
while the following will work (all the nodes' names are numeric)
[code]

[2021-10-13 04:49] rossbar commented on #5123
I recommend running this second example :)

[2021-10-14 16:50] #5118 closed

[2021-10-14 16:53] #5070 closed

[2021-10-14 16:58] rossbar commented on #5076
Thanks @dschult for the explanation. I think the docstring accurately reflects the state of affairs here, though of course proposed wording suggestions are always welcome!

Since there is nothing clearly *incorrect* here, I'm going to close the issue. Again, proposed improvements to the docstring to help clarify the situation re: left/right eigenvectors and inbound/outbound centrality are very wel

[2021-10-14 19:56] rossbar commented on #4111
Here's the current list of (potentially) missing functions, found using @jamestrimble 's procedure from the OP (thanks for sharing!)

[code]

[2021-10-16 04:34] BrandonKMLee commented on #4973
For those who wishes to add more algorithms, please check https://github.com/networkx/networkx/discussions/4808 and https://github.com/networkx/networkx/issues/4371, and if possible https://github.com/networkx/networkx/discussions/5062

[2021-10-17 11:30] moemode opened #5133 "eigenvector_centrality"
Hi all,
the [documentation](https://networkx.org/documentation/stable/reference/algorithms/generated/networkx.algorithms.centrality.eigenvector_centrality.html?highlight=eigenvector_centrality#networkx.algorithms.centrality.eigenvector_centrality) of eigenvector_centrality defines **right** eigenvector centrality in its opening sentences (without mentioning **right** explicitly). However for direc

[2021-10-17 15:37] #5133 closed

[2021-10-19 17:16] Aksem opened #5135 "Undefined variable in Exception message"
I tried to compile a project which includes networkx with nuitka and got following error: `networkx/utils/decorators.py:1017: Will always raise an exception: "UnboundLocalError(local variable 'name' referenced before assignment)"` . After analysis of source code, I can confirm the problem: `name` variable is defined under the condition above.

Python version: 3.8
NetworkX version: 2.6.3

[2021-10-20 05:03] #5135 closed, assigned to nobody

[2021-10-21 05:39] rossbar opened #5141 "Replace internal `_n_choose_k` with `math.comb`"
Python 3.8 added [`math.comb`](https://docs.python.org/3/whatsnew/3.8.html#math) which can be used to replace an internal helper function:

https://github.com/networkx/networkx/blob/486c89bb710b13f4c6dcd6751c260b678d37b322/networkx/algorithms/similarity.py#L1518-L1557

This would involve:
 - [ ] removing the internal _n_choose_k function
 - [ ] replace all uses of `_n_choose_k` with appropriate ca

[2021-10-25 18:37] rossbar opened #5152 "MAINT: TODO's for 3.10 support"
Follow-up for #4807

- [x] unpin the `python_version` on scipy, matplotlib, and pandas once we have wheels for these projects on all three platforms.
- [x] Update Python version for testing matrix in `nx-guides` workflows.

[2021-10-27 20:37] rossbar opened #5155 "MAINT: Test suite failing on pydot tests"
The tests related to pydot in the test suite are now causing problems. It's not clear exactly what the problem is - the tests seem to fail on Python versions 3.8, 3.9, and 3.10 (though the failures may be slightly different). It also doesn't appear that pydot [has had a new release](https://pypi.org/project/pydot/) (last release was Feb. 2021).

See https://github.com/networkx/networkx/pull/5154#i

[2021-10-27 23:58] #5155 closed, assigned to nobody

[2021-10-28 00:00] rossbar opened #5157 "MAINT, CI: Revert #5156 when pydot/pyparsing issue is resolved."
Remove the explicit `pyparsing` version pin that was added in #5156 as a temporary fix due to issues with some pyparsing versions in pydot.

[2021-10-28 16:12] mikidep opened #5158 "`networkx.MultiDiGraph.remove_edges_from` has inconsistent documentation (v2.6.2)"
In [this doc page](https://networkx.org/documentation/stable/reference/classes/generated/networkx.MultiDiGraph.remove_edges_from.html) the parameters list reads that if the elements of `ebunch` are

However,  both in the second example below and in my tests, it seems that only one edge between u and v is removed. The functionality described in the parameters list would be useful to have.

[2021-10-30 16:23] elfring opened #5161 "Increase the usage of augmented assignment statements"
:eyes: Some source code analysis tools can help to find opportunities for improving software components.
:thought_balloon: I propose to [increase the usage of augmented assignment statements](https://docs.python.org/3/reference/simple_stmts.html#augmented-assignment-statements "Augmented assignment statements") accordingly.

Would you like to integrate anything from a transformation result which c

[2021-10-30 18:54] #5161 closed

[2021-11-01 21:46] stonebig opened #5167 "possible compatibility problem with Matplotlib-3.5.0 ?"
doing my usual global test on coming matplotlib-3.5.0rc1, or matplotlib-3.5.0.dev2445+gb09aad279b-cp39-cp39-win_amd64.whl of Matplotlib-master CI of october 30th, I notice a problem of display.

[code]

### Current Behavior
![image](https://user-images.githubusercontent.com/4312421/139746028-a5416f89-224d-44ba-b35f-2cf4b4d96674.png)
### Expected Behavior
when using matplotlib-3.4.3, I have no prob

[2021-11-01 22:19] rossbar commented on #5167
Thanks for the report @stonebig , I can reproduce this as well with matplotlib 3.5.0-rc1.

Just to note, in the first image in the OP, if you zoom into the lower left corner, you will see the nodes and the edges (the tiny black dot in the image) are both drawn, but in different locations and (potentially) with different scales. I've just run the NX docs build with mpl 3.5-rc1 to look at the sphinx

[2021-11-02 03:40] rossbar commented on #5167
I went ahead and did the bisection which identified matplotlib/matplotlib@1f4708b310 as the source of the behavior change. I've reported there and we'll see whether this is the intended behavior, in which case we'll have to figure out how to update `nx_pylab` accordingly.

[2021-11-02 11:06] jamestrimble commented on #4942
Sorry to be putting so many code listings in this thread! Below is the latest version of my naive algorithm implementation, for the record. I think there might even be a citation on Wikipedia to a paper that describes this kind of algorithm.

I'd like to do a proper pull request with a tidied-up version of this algorithm (perhaps as an additional option for a lowest common ancestor algorithm), but

[2021-11-02 16:05] usbader opened #5168 "ImportError: cannot import name 'independent_set' from 'networkx.algorithms.approximation'"
Hello all,

when I execute my code, the following import error is displayed:

ImportError: cannot import name 'independent_set' from 'networkx.algorithms.approximation'

networkx==2.6.3

[2021-11-02 16:23] rossbar commented on #5168
This is because there is no function with the name `independent_set` in the networkx.algorithms.approximation package. Did you mean `networkx.algorithms.approximation.clique.maximum_independent_set`?

[2021-11-02 18:08] usbader commented on #5168
Yes. That's what I meant.

[2021-11-02 18:10] rossbar commented on #5168
In that case, try:

[code]

[2021-11-02 18:10] #5168 closed

[2021-11-03 04:49] BrandonKMLee commented on #4973
More items to consider (for Prestige Measures) https://stackoverflow.com/a/53894286

[2021-11-04 02:30] #5123 closed

[2021-11-05 22:24] rossbar commented on #5167
From the discussion in matplotlib/matplotlib#21517, this looks like it needs a fix on the networkx side - fortunately, it is quite minor.

However we may also want to consider another NetworkX 2.6 patch to either backport the fix or pin matplotlib < 3.5 so that users who happen to get NetworkX 2.6 with Matplotlib 3.5 aren't bit by this.

[2021-11-07 00:55] #5167 closed

[2021-11-08 16:03] owen-mcmahon commented on #5001
Are there any plans to address this/merge in the commits made in the fork above to switch to `defusedxml`?

We have enterprise restrictions preventing us from downloading all versions of `networkx` at the moment due to the vulnerability, hence why I am asking.

[2021-11-08 20:55] dschult commented on #5001
From [the Python docs for the `xml` library](https://docs.python.org/3/library/xml.html): So long as you use expat 2.4.1 or later, the `xml` standard library is Safe except for the `xmlrpc` module which we do not use. But the version of expt shipped with Python is 2.2.8 for Python 3.8 AFAICT

What would allow your Enterprise restrictions to allow NetworkX?
- How are they allowing you to use Python

[2021-11-09 13:51] Z-MU-Z opened #5175 "louvain for directed graph cannot stop"
### Current Behavior

### Expected Behavior

### Steps to Reproduce

### Environment

Python version:
NetworkX version:

### Additional context

[2021-11-09 14:44] dschult commented on #5175
Try starting with a small graph and increasing the size to see how the time varies.
It might be that you graph is so big it will just take a long time.

[2021-11-09 15:52] Z-MU-Z commented on #5175
my graph has 30000 nodes and the nb_moves is always around 27000 and cannot drop
I also try a graph with only 100 edges, but the same thing happen

@dschult

[2021-11-10 04:13] BrandonKMLee commented on #5076
Inbound and Outbound Eigenvector Centrality... whenever I check visualizations it is almost exclusively from a certain direction. If possible I would recommend splitting the EigenCent into the version below vs an "inverse eigenvector centrality".
https://sci-hub.se/10.5811/westjem.2016.11.31299
![image](https://user-images.githubusercontent.com/58927531/141048355-d348d586-bc50-499e-93e4-3cb558a67a

[2021-11-10 04:16] BrandonKMLee commented on #5076
As a bonus, any directed centrality (e.g. PageRank) can have an inverse directional composite, which makes this question necessary.

[2021-11-10 05:00] Z-MU-Z commented on #5175
my graph seemingly  has very bad structure, and i also test a graph  with 10 edges, For some bad structures the program seems to get stuck in a dead loop, I tried to shuffle  the neighbor_com list, which seems to work for me

[2021-11-10 05:31] rossbar commented on #5175
It would be very useful if you could share a minimal reproducing example that results in the bad behavior: for example, the graph with only 10 edges that results in the dead loop. This can help us determine whether there is something in the code that can be improved.

[2021-11-10 08:54] ginandsherry commented on #5175
import networkx as nx

G = nx.DiGraph()
for i in range(10):
    G.add_node(i)
G.add_edges_from([(0, 2), (0, 1), (1, 0), (2, 1), (2, 0), (3, 4), (4, 3), (7, 8), (8, 7), (9, 10), (10, 9)])

pa=nx.algorithms.community.louvain_communities(G,seed=123)

[2021-11-10 08:54] Z-MU-Z commented on #5175
@rossbar

[2021-11-10 09:59] z3y50n commented on #5175
So it seems that we also need to check the neighbor communities of a node in a random order to fix the issue.

When I do that on the example graph provided by @ginandsherry I get a result.

[2021-11-10 18:04] rossbar commented on #5175
Interesting - many thanks @ginandsherry for the reproducer!

It does indeed seem that node order has an effect here. A slight modification of the initial example that results in a different insertion order has no problem:

[code]

However, when running the reproducer as presented (i.e. adding nodes prior to edges) I get the stated behavior:

[code]

[2021-11-10 19:55] z3y50n commented on #5175
The order in which the nodes are considered definitely affects the outcome as stated by the authors of the algorithm [here](https://arxiv.org/pdf/0803.0476.pdf)

the nodes are considered. Preliminary results on several test cases seem to indicate that
the ordering of the nodes does not have a significant influence on the modularity that
is obtained. However the ordering can influence the computati

[2021-11-11 01:48] Z-MU-Z commented on #5175
On my experimental data, using the directed graph louvain classified the vast majority of points into one class, which was far worse than the performance when i converting  the directed graph into an undirected graph. In fact I have some doubts about some details of the algorithm. According to the definition of Q, it seems that s_{i,in} needs to consider both i->C and C->i weights, but in the code

[2021-11-15 07:45] fabriz-io commented on #5064
I would like to look into this issue including the comments from the discussion. From the contributor guide I could not identify if issues get assigned, so I would just start? If I am missing something, please let me know.

[2021-11-16 09:03] BrandonKMLee commented on #4973
There is an alternative implementation of Participation Coeff. in https://whitakerlab.github.io/scona/_modules/scona/graph_measures.html

[2021-11-16 23:13] #5157 closed

[2021-11-19 05:53] rossbar opened #5189 "Replace custom solvers in algebraicconnectivity with scipy.sparse.linalg equivalents"
There are two private classes in the `algebraicconnectivity` module that implement sparse solvers via both the PCG method and LU factorization.

The `scipy.sparse.linalg` module has [similar solvers](https://docs.scipy.org/doc/scipy/reference/sparse.linalg.html#matrix-factorizations), see e.g. [`lobpcg`](https://docs.scipy.org/doc/scipy/reference/generated/scipy.sparse.linalg.lobpcg.html#scipy.spa

[2021-11-19 06:01] rossbar commented on #5189
Looking closer at the file, it turns out `lobpcg` *is* already used, but not for the `tracemin_pcg` solver, which relies on the internal `_PCGSolver`. I still think it's worth investigating if `lobpcg` (or some other existing solver) can be used for the `tracemin_pcg` option.

[2021-11-19 06:24] rossbar commented on #5189
It looks like the `_LUSolver` is mostly just a compatibility shim for `scipy.sparse.linalg.splu` (though I think it should be revisited whether the compatibility layer is necessary). The `_PCGSolver` implements its own solver.

[2021-11-19 19:06] rossbar commented on #5189
The comments linked below should also be reevaluated, as they reference scipy issues that have been resolved:

https://github.com/networkx/networkx/blob/2b032ed3eb33d82729b0f05f04357e89a125bfd1/networkx/linalg/algebraicconnectivity.py#L299-L306

[2021-11-19 20:22] rossbar opened #5192 "Improve bethe_hessian_matrix"
There are a couple of opportunities to improve `nx.bethe_hessian_matrix`:

 - [ ] The return type in the docstring is incorrect
 - [ ] The docstring needs (at least) one relevant example
 - [ ] At least one of the docstring ref links is improperly formatted
 - [ ] The initialization of `r` could be improved (i.e. only construct a container from the degree generator once).

[2021-11-20 07:35] rossbar opened #5195 "Sparse implementation for attr_matrix"
This is thematically similar to the discussion in #5193.

There are two functions in the `attrmatrix` module: `attr_matrix` and `attr_sparse_matrix`. These perform essentially the same function, except one returns a numpy matrix and the other returns a scipy.sparse matrix. IMO it would be an improvement to only have one function for this. What makes the most sense to me would be to use the sparse

[2021-11-20 10:06] DavidNemeskey commented on #4836
I ran into this problem as well. I am not sure, but I think I agree with @dschult on what I imagined the minimum branching would be. Maybe this logic could be used in `Edmonds` to arrive to it:
1. Set the weight of all branches to `max_edge_weight - weight + min_edge_weight`(the last part so that the edges with the maximum weight are not left out)
2. do `find_optimum` with `max`
3. Re-set the weig

[2021-11-21 02:43] dschult commented on #5195
I think this is related to #4217 .
We should provide a nice interface to move data between the Graph classes and common Scientific Python data structures.

It makes sense to me that sparse arrays be the default data structure (i.e. `attr_matrix`) created as you suggest. I'd love to have a good API for changing to the many different data structures available. I'm not sure how to manage that, but I

[2021-11-22 04:16] rossbar commented on #5195
Agreed - there's definitely a lot of discussion to be had on this topic. In the `attr_matrix` case specifically, I think it makes the most sense to use the sparse array by default because then users can use the built-in methods (i.e. `toarray()`) on the sparse objects to convert to dense arrays (and from there, any other data structure that knows how to build from/interoperate with numpy arrays).

[2021-11-22 08:47] fabriz-io commented on #5064
I tried to keep it as short as possible, but I think the explanation is necessary for further discussion.

Following the comments from @jtrim-ons, I started by inspecting if the \[-1, 1\] bounds are meant to be tight. From what I understand,  yes, they should be tight bounds, even if they mention a deviation for small networks:

*Note that as the size of the network is reduced, the tails of the x

[2021-11-22 08:51] fabriz-io commented on #5064
And of course adding tests for `omega` being within the bounds, if we come to the conclusion that these are indeed tight bounds

[2021-11-22 10:14] jtrim-ons commented on #5064
@fabriz-io From a quick read, this looks like really great work! Unfortunately I don't have time time at the moment to look carefully through what you've done; I'll need to leave that for others.

[2021-11-25 11:45] yingYYDoL opened #5201 "bug of greedy_modularity_communities"
Clauset-Newman-Moore greedy modularity maximization algorithm should using max heap,and you use min heap

### Current Behavior

 use min heap in dq_dict
### Expected Behavior

shoukd use maxheap
### Steps to Reproduce

import networkx as nx
from networkx.algorithms.community import greedy_modularity_communities
from networkx.algorithms.community.quality import modularity

G = nx.Graph()
G.add_edge

[2021-11-25 15:04] jarrodmillman opened #5202 "failure when testing prereleases of dependencies"
@rossbar We are getting the following failure when testing prereleases.  I suspect the issue is related to NumPy 1.22.0rc1.
[code]

[2021-11-25 15:37] grusin opened #5203 "nx.drawing.nx_pydot.to_pydot() does not handle correctly nodes with ":""
### Current Behavior
When creating graph with nodes containing colon, for example "3:3" the to_pydot function will create invalid pydot graph, because ":" is a special character in graphviz/dot. ":" symbolizes port number (used in records, to point arrows to given record  cell)

### Expected Behavior
There should be additional parameter to py_dot function to escape the ":" characters, so that call

[2021-11-26 14:24] dschult commented on #5201
What would you expect the communities to be for this example?
The example doesn't show that anything is incorrect (as far as I can tell).
Remember, that the way to use a max heap is to use a min heap with negated values.
Are you reading the code to see something is wrong? Or running an example where you know what the answer should be?

[2021-11-26 18:05] hidayatrzayev opened #5204 "TypeError: unhashable type: 'list' when adding custom Python objects containing list attributes as nodes into a graph"
I am trying to build a graph containing custom Python objects as nodes. These Python objects contain attributes of type list.

### Current Behavior
Whenever I want to add the object as a node, e.g. `graph.add_node(obj)`, the following error is thrown:
`TypeError`: unhashable type: 'list'

### Expected Behavior
I would expect the object to be added as a node like any primitive type, such as `int`.

[2021-11-26 18:24] #5204 closed

[2021-11-26 18:25] hidayatrzayev commented on #5204
Sorry, my bad. Got the root of the issue, and fixed it by adding a __hash__ function to my object.

[2021-11-28 13:32] jarrodmillman commented on #5202
[code]

[2021-11-29 17:52] seberg commented on #5202
I was trying to look into this (because I that https://github.com/numpy/numpy/issues/20455 might be the reason), but I can't reproduce the failure with NumPy main locally?   Do you happen to have an idea what else could be the reason?  SciPy 1.7.3 is pretty very new?

[2021-11-29 18:11] jarrodmillman commented on #5202
Hmm.  I can't reproduce the error either.  Maybe it is an Ubuntu issue (it is failing on Ubuntu and I run Fedora).

[2021-11-29 18:15] rossbar commented on #5202
I wasn't able to reproduce locally either. I'm curious about what's going
on, but likely won't have a chance to look at it before Wednesday.

On Mon, Nov 29, 2021, 10:11 AM Jarrod Millman ***@***.***>
wrote:

[2021-11-30 16:07] MichelangeloConserva opened #5206 "Self loop drawing not working with custom layout"
The self loop drawing functionality works pretty well for network on the predefined layouts. However, for my custom layout it looks terrible.
Instead of drawing a nice curvy self loop, it draws some sort of spikes.

### Current Behavior
Spiky self loops drawing.

### Expected Behavior
Nice and curvy self loops drawing.

### Steps to Reproduce

import matplotlib.pyplot as plt
import networkx as nx

[2021-11-30 18:13] dschult commented on #5206
The size of the self-loops is tricky to get right. We've done a fairly good job, but some special cases lead to trouble.

Your example has all nodes using the same y coordinate. So the scale of the network has size ~10 in the x-direction and 0 in the y-direction. The self-loops fill the y-direction because whatever size we make them, they fill the y-direction. But in the x-direction they scale to

[2021-11-30 19:26] MichelangeloConserva commented on #5206
Thanks for the quick response!

I understand that handling all possible edge cases is unfeasible.

However, I was thinking, would it make sense to relate the size of the self loop arcs to the size of the node circle instead of the scale of the axes?

[2021-12-03 22:16] tkmamidi opened #5209 "lowest_common_ancestor for multigraph"
Hello,
I am working with a multigraph and would like to find the lowest common ancestor for nodes. It looks like there's no implementation for multigraph. Can you please help me with this?

[2021-12-03 22:26] #5202 closed

[2021-12-03 22:47] dschult commented on #5209
Hmmm...  How would that differ for multigraph and graph?
Can't you just use the same function?

[2021-12-03 22:50] rossbar opened #5211 "Problem with spiral layout with `equidistant=True`"
`nx.spiral_layout` has an `equidistant` kwarg that is False by default. According to the docstring parameter description, this is supposed to enforce that the laid out nodes are all equidistant from one another when True. However, the iterative implementation is such that the node in the first iteration is handled differently than all the rest, resulting in the following behavior:

### Current Beh

[2021-12-03 22:59] tkmamidi commented on #5209
This is what I get
![image](https://user-images.githubusercontent.com/41593805/144683566-76877580-78d5-4b7f-abb6-88b1d2117f82.png)

Also, the source code says that it is not implemented for multigraph
https://networkx.org/documentation/stable/_modules/networkx/algorithms/lowest_common_ancestors.html#lowest_common_ancestor

[2021-12-03 23:05] rossbar opened #5212 "`spiral_layout` needs more documentation/context"
It is difficult to determine how the `spiral_layout` is intended to look. The docstring is relatively sparse and doesn't include a functional example (the example simply calls `nx.spiral_layout` without visualizing or validating the output). Other ways this could be improved might be:
 - Include a gallery example
 - Improve the test suite so that there are some validated checks against expected ou

[2021-12-04 04:02] dschult commented on #5211
As part of this issue we should also add a paragraph to the docstring to describe what a spiral layout is and how it is affected by the `equidistant` option.

[2021-12-04 04:12] dschult commented on #5209
Hmmm...  You are right -- the code explicitly checks for multigraphs and rules them out.
We should probably look at that more closely. I can't think of a reason why that should be done.

A workaround is to convert the graph to a `nx.DiGraph` for the `lowest_common_ancestor` calculation:
[code]

[2021-12-04 04:53] dhimmel commented on #3392
Ah this surprised: see https://github.com/related-sciences/nxontology/pull/18. I'm a bit puzzled why `nx.transitive_reduction` wouldn't want to preserve node/edge/graph data. Silently dropping it seems dangerous and inconsistent with other functions like `graph.reverse` and `nx.DiGraph(graph)`, which preserve data.

Can't the algorithm just copy everything over at the end? Or take an option to pre

[2021-12-04 16:09] tkmamidi commented on #5209
That works for now :)
Thanks for the help!
I really appreciate it!

[2021-12-04 21:11] rossbar opened #5213 "Graph generators in the `small` module need docstrings"
There are a number of named graphs defined in `networkx.generators.small` that are not well-documented:

https://github.com/networkx/networkx/blob/766becc132eda01c9d0d458de2d75ab763f83493/networkx/generators/small.py#L183-L575

Each of these functions should have a more extensive docstring with at least a `Parameters`, `Returns`, and `Examples` section, and preferably also a reference to the corre

[2021-12-05 07:25] joelmiller opened #5215 "Documentation for `draw_shell` does not explain all arguments"
### Current Behavior
I was trying to debug code which assigns `nlist` in `draw_shell`. I didn't understand that until I read the source code.

The documentation for `draw_shell` says that the keyword arguments match `nx.draw_networkx`.  But `nlist` is not described there.  Instead it is described in `nx.shell_layout`.

### Expected Behavior
documentation that explains nlist.

### Steps to Reproduc

[2021-12-05 19:03] aramasethu commented on #5213
Hi,

I have started working on this issue. I noticed that the `LCF_graph` function's docstring has all the details that you have specified in the issue. Can use the same format for rest of the modules?

[2021-12-05 19:30] dschult commented on #5213
That doesn't provide the nice headers that sphinx can make use of.
I would suggest something more like the function [fullrary](https://github.com/networkx/networkx/blob/766becc132eda01c9d0d458de2d75ab763f83493/networkx/generators/classic.py#L67) in `generators/classic.py`

Thanks!

[2021-12-12 14:46] #4220 closed

[2021-12-13 04:18] #4985 closed

[2021-12-13 20:07] rossbar commented on #5206
FWIW this strategy is used as a fallback for certain cases. If you're interested, I think it'd be worth investigating modifying this so that self-loop scale is always computed based on node size - though I suspect that has it's own hairy corner cases.

[2021-12-17 19:32] cjmaria opened #5235 "G.add_nodes_from() Unexpected Behavior"
### Current Behavior

A array of consecutive integers is generated, and then a random sampling occurs to keep only a portion of the integers.
The sampled numpy ndarray is then used to populate nodes in an empty graph using `G.add_nodes_from()`.
The number of nodes in the resulting graph are not the same as that of the input array.
[code]

The behavior appears to persist when the numpy ndarray is c

[2021-12-17 19:38] z3y50n commented on #5175
Here is the original implementation in C++ for the Directed Louvain https://github.com/nicolasdugue/DirectedLouvain

This is the function that computes the modularity gain on each step
https://github.com/nicolasdugue/DirectedLouvain/blob/00398d5659ee49973171f67db4f6dacb4230bfbf/include/community.h#L121-L134

It looks similar to the one we have in NetworkX and they don't shuffle the nodes after eve

[2021-12-17 19:55] rossbar commented on #5235
The `nodes` are not unique in your example: `np.random.choice` samples with replacement by default (see the `replace` kwarg), which means you can have duplicates in the nodes.

[2021-12-17 19:57] cjmaria commented on #5235
Wow, what an obvious oversight on my part, thank you!

[2021-12-17 19:57] #5235 closed

[2021-12-19 02:23] aramasethu commented on #5213
Hi this is an example of the doc string for bull graph:
[code]

Let me know if this looks okay.

[2021-12-19 15:03] dschult commented on #5213
Our documentation creation tool, sphinx, uses the first part (up to a blank line) as a short description with each link to this function in the docs.  So, it renders much better if the first line is short and sweet, followed by a blank line and  then a paragraph description of what the function is/does.   Also, we usually describe what the function does as `Returns` rather than `creates`.  So mayb

[2021-12-22 11:15] alabarre opened #5239 "minimum_cut returns correct value, valid partition, but different from what it claims to return"
I see two open issues related to `minimum_cut` but I have just encountered yet another problem. The function claims to return a partition `(left, right)` where `left` contains all nodes reachable from the source in the residual network and `right` contains the rest, but the following instance shows that the code behaves differently:

    ...     G.add_edge(u, v, capacity=c)

    (1, ({35, 36, 37,

[2021-12-22 16:38] dschult commented on #5239
Why do you say the node `41` is unreachable from node `35` in the residual network? If the cut is made on edge `(46, 47)`, the cut has value `1` and reachable nodes are as the coe returns. Perhaps in this case there are more than one minimum cut?  But maybe I'm missing something...

[2021-12-22 17:03] alabarre commented on #5239
The maximum flow has value 1 and assigns a flow of 1 on every arc. Therefore, the corresponding residual network has the following arcs:

-  (35, 36, 1), (36, 37, 1), (37, 39, 1), (39, 40, 1) (we've used 1/2 units, so those "forward" residual capacities have a value of 1);
-  (36, 35, 1), (37, 36, 1), (39, 37, 1), (40, 39, 1) (same reason: we've pushed a flow of 1, so those "backward" capacities h

[2021-12-22 18:47] dschult commented on #5239
A minimum cut is a cut with the smallest total weight of the edges which if removed would disconnect the source from the sink.  So if we cut (46, 47, 1) the source `35` and target `47` are disconnected and the total edge weights cut is 1.

I think your question can be boiled down to:  Should the unreachable node set be the set of nodes that *can* reach the target after the cut? Or should it be the

[2021-12-22 20:04] alabarre commented on #5239
We agree on the definitions and on the fact that both cuts are minimum.

My issue is with the behaviour of the code with respect to the comment (again, in version 2.4, which seems to be the same as version 2.6): "(...) **reachable** and non reachable nodes **from source** in the residual network form the node partition that defines the minimum cut.".

Maybe I'm parsing this the wrong way, but read

[2021-12-22 21:02] dschult commented on #5239
Yes -- I agree.  The comment described the code prior to that commit.  It should have been changed when the code was changed -- OR -- the code shouldn't have been changed.

@ysitu do you recall why it is better to partition the nodes based on those that cannot reach the sink?
(this can be traced to #1102 where there is a commit that has in it [the commit message](https://github.com/networkx/networ

[2021-12-24 19:15] aramasethu commented on #5213
Hi,

I have added the docstrings to all the graphs (starting from bull graph). I have linked the PR to this issue. Please let me know what your feedback is.

Thanks for your help

[2021-12-29 15:38] BrandonKMLee commented on #4973
BTW this exercise includes all centrality from "Consistency and differences between centrality measures across distinct classes of
networks" by Oldham et. al.

[2022-01-03 01:58] zephyr111 opened #5246 "Improving the performance of triangles"
Hello everyone,

Based on [this StackOverflow post](https://stackoverflow.com/questions/70554095/counting-triangles-in-a-graph-by-iteratively-removing-high-degree-nodes/70559707), we have found that `triangles` of NetworkX is a bit slow and can be improved (assuming a higher memory footprint is acceptable).

For non-directed graph, the following code can be used:

[code]

This code is significantl

[2022-01-03 04:01] SultanOrazbayev commented on #5246
Two tiny suggestions:
- ignore nodes with only one neighbour,
- use `res=defaultdict(int)`

These are relatively harmless in dense graphs, but can give a boost on large, sparse graphs.

[code]

[2022-01-06 14:04] dschult commented on #5246
I think it is quite promising to count each triangle once (by tracking which nodes have already been processed). And yes, this would be nice to improve NetworkX with.

- A tweak will be needed to allow nodes that are not ordered (where `n > node` will not work).

- Also, the suggestion of not including nodes with one neighbor might save time, but it will change the resulting dict so that it doesn'

[2022-01-07 13:04] ajmal92 opened #5248 "from_pandas_edgelist does not create weighted graphs despite providing weight column in edge_attrs"
I am using snowflake as my data source. I fetched the contents of a table and wanted to build a directed weighted graph based on the contents of different columns in snowflake table.
Using snowflake connector in python, I was able to fetch the contents of the table as a data frame using
[code]
I am now trying to provide the data frame as input to
`from_pandas_edgelist(data_frame, source= 'col1', t

[2022-01-07 14:00] MridulS commented on #5248
Can you look at the output of `data_frame`? I am not able to reproduce this.

Does it matches a schema like this?
[code]

Running the minimal example below seems to work for me.

[code]

[2022-01-07 15:22] MridulS commented on #2382
Support for shapefiles I/O is deprecated in NetworkX https://github.com/networkx/networkx/pull/4298. There are a bunch of [new examples in our gallery for users who want to work with geospatial data and networkx](https://networkx.org/documentation/latest/auto_examples/index.html#geospatial).

https://github.com/geopandas/geopandas/issues/1592 discusses the enhancement proposal of interop between g

[2022-01-07 15:22] #2382 closed

[2022-01-10 02:10] ajmal92 commented on #5248
[code]

[2022-01-10 07:59] MridulS commented on #5248
If this is the output of dataframe it should give you an error while you run `from_pandas_edgelist(data_frame, source= 'col1', target = 'col2', edge_attr=True, create_using = G)` as `col1 != COL1`.

It would be great if you can you give a minimal example where it's failing. Thanks!

[2022-01-13 06:48] rossbar opened #5255 "Examples section of `to_numpy_array` could be improved"
Currently there is only a single example using an `nx.MultiDiGraph` as input. IMO it would be good to improve a basic example to illustrate the absolute basics of adjacency matrices, then add subsequent examples highlighting the features available via the many keyword arguments.

[2022-01-13 20:03] dschult opened #5257 "Distance_measures.py functions should work for weighted graphs too."
Many of the functions in `distance_measures.py` work for unweighted graphs, but have straightforward definitions for weighted graphs too.  We should go through this module and upgrade each function to work for weighted graphs.  It should be a straightforward fix with a keyword "weight" input which defaults to the current unweighted treatment.  The `shortest_path` functions provide a nice interface

[2022-01-14 04:55] SultanOrazbayev commented on #5246
While the 'ignore 1-degree' might give big boost for some graphs, I agree that it introduces unnecessary complexity into the code.

[2022-01-14 17:22] lucasmccabe opened #5261 "Edge contraction misses multi-edges"
It's possible that we are working with different definitions of edge contraction, but I figured I should bring this up:

[1] defines contraction of an edge e with endpoints u, v in a graph G as follows:

![image](https://user-images.githubusercontent.com/12187602/149555923-1eef1736-8284-4024-9c39-ccccdb3e3bc2.png)

This seems inconsistent with the behavior of `nx.contracted_edge`. If this is delib

[2022-01-16 19:24] dschult commented on #5261
Use a MultiGraph to start with:  `G = nx.MultiGraph(e)`
Or convert to a multigraph as you input it to `contracted_edge`:
`H = nx.contracted_edge(nx.MultiGraph(G), (4, 3))`

[2022-01-16 20:13] lucasmccabe commented on #5261
Ah, this helps a lot. Thank you!

[2022-01-16 20:14] #5261 closed

[2022-01-18 06:32] rossbar opened #5266 "Deprecate `make_small_graph` and `make_small_undirected_graph` from `small` submodule?"
These two functions are defined in the `generators.small` submodule, and are used internally within the module to generate many of the graphs therein. `make_small_graph` is publicly exposed in the namespace, while `make_small_undirected_graph` is not.

Looking at the implementation however, it seems that these functions insert an unnecessary layer of indirection (i.e. a `graph_description` argumen

[2022-01-18 16:29] #5213 closed

[2022-01-19 14:38] lucasmccabe commented on #5257
To be clear, we mean `distance_measures.py`, right? Or is `distance_measurements.py` somewhere and I'm just not seeing it?

[2022-01-19 19:06] dschult commented on #5257
Thanks -- Yes -- I mean `distance_measures.py`.  I'll correct it by editing my statement.

[2022-01-22 15:06] nishant42491 commented on #5257
Can i work on this issue

[2022-01-23 17:16] Alt-Shivam commented on #5257
Hey @dschult
I would like to work on it.
Thanks.

[2022-01-24 03:05] lucasmccabe commented on #5257
Hi All, I would also be interested in contributing to this.

It looks like there are handful of functions to address - perhaps we can split the work among ourselves?

[2022-01-24 05:14] Alt-Shivam commented on #5257
Yeah, @lucasmccabe
let's do this. :)

[2022-01-24 05:27] nishant42491 commented on #5257
sure lets do it

[2022-01-24 05:45] Alt-Shivam commented on #5257
Yeah @nishant42491 @lucasmccabe :)

[2022-01-25 01:41] disooqi opened #5277 "Using `networkx.readwrite.json_graph.tree_data` does not preserve Graph attributes"
When using `networkx.readwrite.json_graph.tree_data` to returns data in tree format that is suitable for JSON serialization and then convert this data back using `networkx.readwrite.json_graph.tree_graph`, you lose the Graph attributes.

### Current Behaviour
For example the following is the current behaviour

[code]

### Expected Behavior
I should get the following
[code]

### Environment

Python

[2022-01-25 09:34] z3y50n commented on #5277
Yeah, looking at the `json_graph.tree_data` and `json_graph.tree_graph` functions the graph's data aren't stored in the resulting dict object. It should be fairly easy to copy the data using the following code
[code]
It could be a nice feature to add to the functions above though.

[2022-01-25 15:00] BasLaa commented on #3152
Hi,

I recently started looking into NetworkX and saw that there was this open project to implement this VF2++ algorithm for subgraph isomorphism. To my knowledge, it hasn't been implemented yet in Python, nor has it been offloaded to the C++ LEMON library. I think it would be a great challenge for me as a computer science student to actually implement the algorithm, so I would be interested in ta

[2022-01-26 12:58] MridulS commented on #5266
+1 on deprecation. I'm not sure if we still need `make_small_graph`, `from_dict_of_lists` is definitely more canonical NetworkX IMO.

PS: Most of the `make_small_graph` code hasn't been touched in 17 years!

[2022-01-26 21:12] rossbar commented on #5266
Awesome, thanks taking a look @MridulS . Any deprecation would depend on #5267 going in, so I'll wait for that. I'll add a milestone to this one though so it doesn't get lost!

[2022-01-26 22:13] oakca opened #5281 "`network_simplex()` function gives overflow warning and cannot calculate"
### Current Behavior
overflow warning on `network_simplex()` function, eventhough using the integer values for edges weight and demand

### Expected Behavior
no overflow warning and calculate the result

### Steps to Reproduce
I am using a `directed_graph` and try to calculate the `network_simplex(directed_graph)`. If you could somehow tell me how to save a directed graph and send it to you, I wou

[2022-01-27 00:48] dschult commented on #5281
The stackoverflow screenshot of the graph characteristics suggests that the degree of most if not all nodes is zero. Perhaps the code divides by the number of edges somewhere causing an overflow?  Anyway, we need more information before we can help you.

Try making a very small(and similar) DiGraph and see if it does the same thing -- copy/paste the error message (much easier than screen shot -- *

[2022-01-27 09:29] oakca commented on #5281
It is just a warning, python keeps running. However bad return values for network_simplex():
[code]

Here is the demand and capacity values for the graph. Demand is always 1, and the capacity is always 107274.
[code]

Here is the whole code-piece.
[code]

[2022-01-27 14:13] dschult commented on #5281
Have you tried changing parts of this to narrow down the trouble?
What jumps out to me is that you are setting the demand of every node to be 1, but the total demand of the network must be zero, or the flow raises a `NetworkXUnfeasible` error.
Somehow, you're not giving us a reproducible description.

Can you try it with a small simple graph? Does it give the same warning?

[2022-01-28 01:33] dschult commented on #4652
We've got Louvain implemented in NX now. The functions from #1090 might still be implemented if someone wants to compare speeds with the BrainX versions (does that still exist?).  But I think we've got the functionality in the new code.

[2022-01-28 01:33] #4652 closed

[2022-01-28 09:37] z3y50n opened #5286 "`json_graph.tree_data` can cause maximum recursion depth error."
### Current Behavior

Currently the algorithm compares the `n_nodes` with `n_edges` to check if `G` is a tree. https://github.com/networkx/networkx/blob/0cc70051fa0a979b1f1eab4af5b6587a6ebf8334/networkx/readwrite/json_graph/tree.py#L74-L75
This check can be bypassed with specific inputs and cause a recursion error.

### Expected Behavior

The code should check whether there are cycles with `root`

[2022-01-29 03:01] #5286 closed

[2022-01-30 21:38] dschult commented on #4111
I went through the list of functions shown by this script and made the changes in #5289.
I think we should leave this issue open though and just move it to the next version so we do this check for each version.

[2022-01-31 21:23] taylorn3 opened #5292 "Write_graphml doesn't work on contracted graphs"
I cannot write a graph that has been contracted to a graphml file.

### Current Behavior
I receive the following error:
[code]

### Expected Behavior
The graph should be exported to test.graphml

### Steps to Reproduce
[code]

### Environment

Python version: 3.9.5
NetworkX version: 2.6.3

### Additional context
It appears the issue is that NetworkX writes contractions as attributes of the node, b

[2022-01-31 21:27] rossbar opened #5293 "Write_graphml fails on contracted graphs"
### Discussed in https://github.com/networkx/networkx/discussions/5291

<div type='discussions-op-text'>

<sup>Originally posted by **taylorn3** January 31, 2022</sup>
I'm unsure if this is a known bug, so I'll write it here first.  I'm trying to export a graph with write_graphml that is the output of a contraction, and it throws an error.  A minimal working example:
[code]
The error thrown is
[co

[2022-01-31 21:28] rossbar commented on #5293
Closing as duplicate!

[2022-01-31 21:28] #5293 closed

[2022-01-31 21:32] rossbar commented on #5292
Good question. Does the GraphML standard support containers as node attributes? If so then I'd say this is a bug, but even if not I think a more informative exception message could be raised.

[2022-02-01 03:16] dschult commented on #5292
Here's a fix.  The idea is that you need to remove the node attribute that has a value which is a dict. That's a limitation of the GraphML format. If you need these attributes, you can try a different graph format.

[code]

[2022-02-01 14:08] taylorn3 commented on #5292
I understood the issue, and I could have solved it myself, if I saw it as not an issue with the package but with my own code.  Does NetworkX need to keep a record of the contractions that have been made?  Is that record used elsewhere?

[2022-02-01 19:59] BasLaa commented on #5257
Hi guys,

Are you still working actively on this? Otherwise I can also take over some work.

[2022-02-01 20:17] gnu-lorien opened #5294 "draw_networkx_edge_labels examples don't work with MultiDiGraphs"
The canonical examples I seem to be able to find for drawing edge labels look something like this:
[code]

### Current Behavior

When applied to a MultiDiGraph, the way in which this data is structured isn't supported by `draw_networkx_edge_labels`. You get something like the following exception:

[code]

This is because the edge attributes on a MultiDiGraph are a 3-tuple which includes the key.

[2022-02-01 20:22] gnu-lorien commented on #5294
You can transform the edge labels returned by `nx.get_edge_attributes` into the correct form with the following snippet:
[code]

[2022-02-01 20:48] rossbar commented on #5294
Good point - there isn't really much in the way of automatic support for multiedge visualization. It would be a very nice enhancement, but would likely require quite a bit of effort to figure out how to handle the positioning of multiple edges in a generic way.

As you've pointed out, one solution is to "reduce" multiedges into a single edge. It's important to note that the suggestion above implic

[2022-02-02 10:07] haricash commented on #5257
Hello, if you guys are still working on this and need an extra helping hand, do add me too!

[2022-02-02 10:43] haricash commented on #5255
Hello! I am a first timer, and this seems like something I can work on!

If I understand the issue correctly, you would like the documentation to :
1. Talk about what an adjacency matrix is and why it is useful
2. Contain examples that show the functionality of `to_numpy_array` 's many other keyword arguments

If that is all, I can start working on it right away! Please confirm, and do let me know

[2022-02-02 12:14] MridulS commented on #5255
@haricash please go ahead!

The examples section can be improved by adding more examples which show the use of other arguments like `dtype`, `weight`, `nonedge`. We don't necessarily need to explain what adjacency matrix is and why it is useful in the examples section of  `to_numpy_array`. Just examples of how to convert a NetworkX graph to numpy array.

Do let us know if you have any other questi

[2022-02-02 12:22] MridulS commented on #5257
Hello all! It's great to see so much interest to work on the project :)

You can read more about the development processes on our website:

- [New Contributor FAQ](https://networkx.org/documentation/latest/developer/new_contributor_faq.html)
- [Contributor Guide](https://networkx.org/documentation/latest/developer/contribute.html)

For the point about assigning issues we don't usually assign issue

[2022-02-02 12:51] MridulS opened #5295 "Make a matching generic_edge_bfs to accompany generic_bfs_edge"
### Discussed in https://github.com/networkx/networkx/discussions/5270

<div type='discussions-op-text'>

<sup>Originally posted by **Talos878** January 19, 2022</sup>
There are two algorithms, edge_bfs and bfs_edge, which do breath first traversals of graphs. The first will show edges connecting to already searched nodes, while the second one does not. (see the documentation in their source code

[2022-02-02 13:31] BasLaa commented on #5257
Alright, so most of the functions actually just use the `eccentricity` function, or the `extrema_bounding` method in the case of `usebounds=True` (BTW this isn't in the documentation or the docstring). So I'm going to start with the `diameter` function just to see how everything works if no one objects.

[2022-02-02 13:49] MridulS commented on #5292
I don't think it's used anywhere inside networkx (the need for keeping a track of the contraction) but it's definitely something that people use (I remember using it for a project).
This is also an issue with supporting a bunch of different formats (this would be perfectly fine to be exported as a JSON blob for example).

I agree with @rossbar this should raise a better exception rather than the c

[2022-02-02 14:25] taylorn3 commented on #5292
Is the XML writer standard and unchangeable? Instead of throwing errors, would it be easier to (after line 769, for example) ask that k and v be of a certain type that the writer can handle, and ignore them otherwise?  Or would that just be too annoying to maintain?

[2022-02-03 20:22] rossbar commented on #5292
IMO since there is a defined standard for this format I think it's best to adhere to it. Implementing features beyond the standard has a lot of potential downsides. For example, if NetworkX implements features that are not in the current version of the GraphML standard, but then GraphML is updated at some future date in a way that differs from NetworkX's implementation, then we have the sticky sce

[2022-02-03 20:28] rossbar commented on #5292
Looking back at the issues history, it seems this has come up quite frequently. See also: #5058 #485 #3663 #5071.

Note that more informative error messages have already been added in #5058, so I will close this.

[2022-02-03 20:28] #5292 closed

[2022-02-03 20:45] rossbar commented on #5248
I'm going to close this as I think there needs to be an MRE to make progress here. If the issues persists, please reopen with an executable example to illustrate the issue.

[2022-02-03 20:45] #5248 closed

[2022-02-03 20:53] rossbar commented on #5203
This seems like a reasonable request but it's not really possible to judge the implementation when it's pasted in an issue as it's much more difficult to see what this changes (i.e. it's much easier to review *diffs*) and we can't evaluate whether this breaks existing behavior because the tests aren't run.

@grusin would you be interested/comfortable submitting your suggestion as a pull request? T

[2022-02-03 20:55] rossbar commented on #5201
The conversation has been stalled here for a couple months, so I will close this due to inactivity. If the issue persists please feel free to reopen this and address [dschult's questions](https://github.com/networkx/networkx/issues/5201#issuecomment-980012747)

[2022-02-03 20:55] #5201 closed

[2022-02-03 21:32] rossbar commented on #5158
I've added the milestone for the documentation component (i.e. point 1) above) which is clearly incorrect and should be fixed before the next release. The other points may require separate discussion --- in fact, it may make sense to break out @dschult 's comment into a separate issue or discussion topic, but we can cross that bridge when we come to it!

[2022-02-03 21:39] rossbar commented on #5128
Good point - I'm not sure what the best approach is here. On the one hand, having duplicated code is obviously not ideal. OTOH, the `AntiGraph` in the examples is intended to illustrate how to properly subclass one of NetworkX's graph classes, whereas in `kcomponents.py` that same implementation is used internally (and, fortunately, privately) in the `kcomponents` code.

Due to the differing goals

[2022-02-04 02:07] dschult commented on #5128
I think having duplicate code as a private function and as an example is OK.
The codes can diverge over time -- but it probably is a good thing to let them diverge if needed to serve their different goals.

[2022-02-04 03:15] dschult commented on #5158
To address 2) above:
I think I favor the "same namespace" approach hinted at in 3) above:
   The way to remove all the edges between u and v in a multi(di)graph is:  `G.remove_edges_from([(u, v)])`

The current behavior for this idiom is to remove a single arbitrary edge between u and v. This makes `remove_edges_from` behave as the doc_string says it should. So, this behavior is backward incompati

[2022-02-04 09:23] BasLaa commented on #5257
I opened a draft PR #5298

[2022-02-04 10:29] MridulS commented on #3343
Thanks for filing this! All of the formats should have better support now.

 - GraphML succeeds (it's saved as a string but it can recovered back to ints
[code]
 - It also works with GML by using (de)stringizer
[code]
I'm closing this one, feel free to open a new issue if there are any issues :)

[2022-02-04 10:29] #3343 closed

[2022-02-04 11:10] corneliusroemer opened #5302 "DOCS: Docs stable version (2.6.2) does not match latest release (2.6.3)"
### Current Behavior
The latest release was in September to 2.6.3, but it seems like it was forgotten to update the docs' stable version to 2.6.3 as it's still at 2.6.2, this is confusing.

See current docs version:
![image](https://user-images.githubusercontent.com/25161793/152519129-85ee835f-8cde-417f-bb88-35567a6682b2.png)

See latest release:
![image](https://user-images.githubusercontent.com/

[2022-02-04 17:23] soma2000-lang commented on #5302
@corneliusroemer  I want to work on this issue .please assign me this

[2022-02-05 01:20] lucasmccabe commented on #5257
Hello, I think I have things figured out in [#5305](https://github.com/networkx/networkx/pull/5305). What do you think?

[2022-02-05 11:48] BasLaa commented on #5257
I didn't realise you were still working on this issue as I didn't get a response @lucasmccabe , so I added weights for eccentricity and extrema bounding and thus for most distance measures. The weight argument can be a string or a function like in the shortest paths algorithms.

It's PR #5298, could you take a look?

[2022-02-06 15:07] BasLaa commented on #4973
I'm going to work on implementing bridging centrality this week.

[2022-02-07 05:55] BrandonKMLee commented on #4973
@BasLaa it would be good if you can document the code style needed for implementing other centrality measures (possibly improving implementations on Degree, Betweenness and Closeness centrality since other libraries are faster).

[2022-02-07 12:54] BasLaa commented on #4973
@BrandonKMLee do you mean for the other centrality measures you mentioned, Laplacian and Communicability? Or how do you mean documenting for implementing other measures?

[2022-02-07 22:41] juansebastianl opened #5309 "`to_numpy_recarray` throws `KeyError: weight`"
Hello! I am running into trouble with `networkx` version 2.6.3 running an extremely simple script:

     import networkx as nx
     c_50 = nx.complete_graph(50)
     nx.to_numpy_recarray(c_50)

Which throws a `KeyError: weight` in `convert_matrix.py`.

[2022-02-07 23:43] rossbar commented on #5309
`to_numpy_recarray` expects to be passed a structured dtype with named fields, which are used to determine which attributes to use in constructing the adjacency matrix. If you don't supply a dtype, then it's assumed that `"weight"` is the attribute of interest (though this fact is not adequately documented). This explains the exception you're seeing.

In your particular case it's not clear why you

[2022-02-08 00:21] juansebastianl commented on #5309
That is useful to know! I was writing a function which relied on the `recarray` output and the unweighted graph was a case I wanted to handle. In the general case I guess `nx.to_numpy_array` makes the most sense.

[2022-02-08 19:07] BasLaa commented on #4973
@BrandonKMLee Have a look at the PR if you like

[2022-02-08 19:39] hyanwong commented on #299
There is hidden non-determinism with clusters in graphviz: https://forum.graphviz.org/t/clustering-gives-undeterministic-results/989

[2022-02-09 01:36] AnryYang opened #5312 "incorrect indice in the adjacency matrix"
### Current Behavior

I input an edgelist file in which nodes are represented by 0,1,2,3,...,2070 and obtain a graph object G. I used networkx.adjacency_matrx(G) to obtain the adjacency matrix but found the entry indices do not accord with the node ids in the edgelist file.
It seems that in this networkx.adjacency_matrx function, the rows and columns are ordered according to the parameter nodelist

[2022-02-09 10:54] akazakci opened #5313 "No module named 'networkx.algorithms.approximation.traveling_salesman' (networkx-2.6.3)"
Hello,
Tring to import and work with traveling_salesman.

I tried many ways to import:
import networkx.algorithms.approximation.traveling_salesman
from networkx.algorithms.approximation import traveling_salesman
from networkx.algorithms.approximation.traveling_salesman import *
etc

None worked. I tried with version 2.5, updated to version 2.6.3, still getting the same error.

What might be the ca

[2022-02-09 19:53] rossbar commented on #5313
How did you install networkx? Any of those import patterns should be fine. IIRC the traveling salesman subpackage was only added in 2.6, so you will need networkx version 2.6 or newer.

[2022-02-10 02:16] dschult commented on #299
Yes, this is a known behavior in graphviz (as stated in the link you provide).
Is there anything we should know or do about this? Or is this comment to help people who come to this closed issue looking for a reason why it isn't deterministic?

[2022-02-10 03:29] dschult commented on #5312
In Python 3.6 (I think),  dicts changed to maintain the order in which keys are added to the dict.

Try
[code]
and see whether the keys are in the order you'd expect.

[2022-02-10 06:23] AnryYang commented on #5312
Thanks for your reply.
I have tried your example code in Python 2.7 and Python 3.6.9, which return "[1,2,3]" and
"dict_keys([3, 1, 2])", respectively. So this means networkx.adjacency_matrx(G) in Python 2.7 will create the adjacency matrix based on the sorted node ids, but in Python 3.6, it creates the adjacency matrix based on the ordering of input nodes.

[2022-02-10 06:46] #5312 closed

[2022-02-10 08:25] hyanwong commented on #299
For us, this issue seemed to be resolved by using pydot rather than pygraphviz. From that issue, I'm unclear as to why this should be, but it might be helpful to others who face the same problem.

[2022-02-10 21:33] gonzalesMK commented on #5277
Hey, I'm going to work on this one, if there isn't already somebody on it.

[2022-02-11 04:03] #5309 closed

[2022-02-12 12:14] sengels97 opened #5325 "size() and degree() returning unexpected result when using a subgraph view"
### Current Behavior

After creating a subgraph view, H.size() wrongly returns 1. However, H.copy().size() correctly returns 2. This seems to be due to the degree of node "4" in H.degree wronlgy being specified as 0 instead of 2. H.copy().degree works as expected. This odd behaivor does not happen with every graph. But it happens when using a graph G as specified in Graph.txt (GraphML format) and

[2022-02-12 17:16] #5266 closed

[2022-02-12 17:17] #5215 closed

[2022-02-12 18:41] MridulS commented on #5152
nx-guides is updated https://github.com/networkx/nx-guides/pull/62 and I think we have no more py3.10 specific bits in our CI anymore.

We can close this :)

[2022-02-12 18:44] #5152 closed

[2022-02-12 18:47] bagrow opened #5326 "`nx.info()` no longer informative"
I am the original proposer of `networkx.info()`: #26. Now, `info` provides very little information (see #4139, #4193, #4241). Please consider making `info` give richer output.

***
The use case I envisioned for `info` is a researcher working in IPython who is juggling a couple of different graphs:
[code]
_Oh, that's why `H` is weird!_

Such a person may be working to debug a processing script, or

[2022-02-12 18:55] rossbar commented on #3997
@benmaier sorry for letting this sit so long. I really like this idea - a 100x speedup would be an excellent improvement. If you are still interested/have time, it'd be great if you could open a PR. There are other examples like this where there are multiple implementations, e.g. `pagerank`, which has a fast scipy-based implementation and a slow pure-Python implementation.

Your idea of adding a n

[2022-02-12 20:21] #5294 closed

[2022-02-12 21:28] #4389 closed

[2022-02-13 02:34] #5064 closed

[2022-02-13 04:56] dschult commented on #5325
The problem seems to be in your edge filter.
You only check one direction of your edge.
It should work if you check `(u,v) in I or (v, u) in I`.
Your edge filter would work with a DiGraph.

Once you use the `.copy()` feature you copy two edges to the new graph, and it is a Graph so while the edge is added in one direction, it is an undirected edge and suddenly node 4 has degree 2.

[2022-02-13 09:00] sengels97 commented on #5325
Yes, you are right. Thanks for the quick answer. The behavior still seems a bit unexpected to me, since H shows to be a Graph and not a DiGraph. Also both with and without (v,u) in de edge filter H.edges returns the exact same object it seems. But knowing that including (v,u) additionally to (u,v) makes a difference also for undirected graphs, solves the issue. So I get how to obtain the desired r

[2022-02-13 09:00] #5325 closed

[2022-02-13 20:27] dschult opened #5329 "Line graph raises an error when nodes are not ordered."
When nodes are not ordered, the line_graph function raises a TypeError.
[code]

This happens because we want the 2-tuple identity of an edge to become a node in the line_graph. So to ensure a unique representation, we rewrite all edge tuples in the canonical order (u, v) where u<v.  There are other ways to achieve this outcome that don't rely on ordered nodes.  Let's use one of them. :}

For examp

[2022-02-13 20:43] dschult commented on #5325
Maybe before leaving this I should ask how you got to the subgraph view code you tried. There is a networkx filter named `nx.show_edges` which would have done what you wanted -- but perhaps is not documented well enough to find.
I would have expect you to use:    `H = nx.subgraph_view(G, filter_edge = nx.show_edges(I))`

What parts of the docs did you look at to figure out the method you used?  We

[2022-02-14 02:51] #4459 closed

[2022-02-14 10:33] sengels97 commented on #5325
Thanks for your comment and the alternative way of writing the subgraph view. I actually noticed one notable difference between `filter_edge = nx.filters.show_edges(I)` and `fitler_edge = lambda u,v: (u,v) in I or (v,u) in I`, namely the behavior when I changes. In the first case, the subgraph view does not change and has to be recreated, whereas in the second case the graph view changes dynamical

[2022-02-14 13:18] dschult commented on #5325
Great!  Thanks that is helpful for us to improve those docs.
I think it would not be hard to rewrite `show_edges` so that it handles I as a dynamic set. We chose not to do it that way to avoid surprise changes in the subgraph when the set is later changed. But I can see the appeal both ways.  That might be a good example actually.   Thanks!

[2022-02-17 05:13] tkmamidi opened #5333 "[graphviz_layout] OSError: Error: <stdin>: syntax error in line"
Hello,
Thank you so much for everything you all are doing. Great work!

I'm interested in analyzing [Human Phenotype Ontology](https://hpo.jax.org/app/). I'm trying to draw a graph based on a given node/s to the parent/root node.

### Current Behavior

When using `graphviz_layout`, I got this strange error (FYI - name of node is 'short stature')

[code]

Here's the snippet used for this, where `fi

[2022-02-17 05:45] dschult commented on #5333
I can reproduce the error -- with the nodes and edges you provide. And I also added a node "short stature" and that worked fine too.  It looks like `dot` is creating the error. Perhaps you should save the graph to a dot file with:
[code]

[2022-02-17 05:57] tkmamidi commented on #5333
Is there a way that I can bypass saving files? This is my implementation in a streamlit app

[code]

[2022-02-18 19:48] jarrodmillman opened #5340 "Speed up max_weight_matching"
Follow up to #4897.

[2022-02-21 19:03] nico5300 opened #5353 "networkx.drawing.nx_pydot.read_dot parses dot files incorrectly"
I tried to load the dot file of a control flow graph created by LLVM down below into a networkx graph using this code:
[code]
When looking at the dotfile down below one would assume three nodes being connected by two edges. But in reality one more node gets created with the label "\\\\n".

### Steps to Reproduce

Load following dotfile with the code above and print the node list:
[code]

When remo

[2022-02-21 19:22] rossbar commented on #5353
I suspect this is related to pydot/pydot#277. NetworkX has had to xfail the `nx_pydot` tests due to the pydot/pyparsing issues. You can try installing the older version of `pyparsing` in your environment, e.g.

[code]

Though this certainly isn't a long term solution. Unfortunately I don't think there's anything NX can do unless/until this is fixed upstream.

[2022-02-21 19:31] nico5300 commented on #5353
Ah I see! Thanks for the workaround :)
I'll close the issue then.

[2022-02-21 19:31] #5353 closed

[2022-02-21 20:10] rossbar commented on #5333
Hmm I can't reproduce this - the following works fine for me:

[code]

I get the same result with both `pygraphviz` versions 1.7 and 1.9. What are the versions of `pygraphviz` and `Graphviz` in your environment?

[2022-02-21 20:27] tkmamidi commented on #5333
[code]

[2022-02-21 21:54] tkmamidi commented on #5333
I updated the `pygraphviz` version to `1.9` and it still isn't working for me :(

Is it something to do with plotting it?

[2022-02-21 22:13] tkmamidi commented on #5333
I have a `networkx` composed DiGraph (merged multiple graphs) and it can't write as a dot file
command - `final_graph.write("tst.dot")`
Error - `AttributeError: 'DiGraph' object has no attribute 'write'`

[2022-02-22 00:45] dschult commented on #5333
I apologize for my misleading comment earlier. I can *not* reproduce this issue.  Though I haven't tried using the version of Graphviz 2.50.0.    Perhaps you should try using an earlier Graphviz version to see if it makes a difference.

My point with suggesting that you write to a dot file and use command lines is so you can debug whether it is a GraphViz problem or a pygraphviz problem.  I don't

[2022-02-22 04:04] tkmamidi commented on #5333
If you don't mind, can you please share your versions? This was my initial environment
[code]

[2022-02-22 04:25] rossbar commented on #5333
Here's the output of `pip list` for the env:

<details>
  <summary>my env</summary>
<pre>
  Package                       Version     Editable project location
----------------------------- ----------- -------------------------
alabaster                     0.7.12
argon2-cffi                   21.3.0
argon2-cffi-bindings          21.2.0
asttokens                     2.0.5
attrs

[2022-02-22 04:55] tkmamidi commented on #5333
Thank you so much!
I really appreciate you helping out!

I'm seeing something really strange here and could use your help to debug. This is the script that you can run to reproduce the same error.

[code]

PS - The script works fine if you remove `HP:0004322` from the list `terms`.

Again, thank you so much for your help!

[2022-02-22 05:08] tkmamidi commented on #5333
I think I figured it out. Looks like the below command is not working as it is supposed to
`final_graph = nx.DiGraph(final_graph)`

I had this workaround and it worked
[code]

I don't think this is a version issue though.

I really appreciate your help in this!

[2022-02-22 05:08] #5333 closed

[2022-02-22 17:29] JatinSharma opened #5355 "Error in running requirements/test.txt"
While installing networkx, I was following the instructions on the contributor guide.

### Current Behavior

The following code:
`conda install -c conda-forge --file requirements/default.txt --file requirements/test.txt --file requirements/developer.txt`
results in error:
`InvalidVersionSpec: Invalid version '0.14;platform_python_implementation!='PyPy'andpython_version<='3.10'': invalid character(

[2022-02-22 18:14] rossbar commented on #5355
Requirements files are specifications for `pip` - AFAIK conda does not fully support reading from requirements files.

[2022-02-22 18:16] JatinSharma commented on #5355
When I removed the said line, it worked. Also in developer.txt file, the ~ operator was not recognized. Can I take up this issue to work seamlessly for conda?

[2022-02-22 18:25] rossbar commented on #5355
These lines are important for correctly specifying all the constraints, so I'm -1 on modifying requriements files to make them work with `conda`. In principle we could add an `environments.yml`, but IME that's a bit of a pain from a maintenance standpoint.

For conda users, my recommendation would be to use `conda` for environment management, then `pip` to install everything in the environment.

[2022-02-22 18:26] JatinSharma commented on #5355
Ok. Thank you.

[2022-02-22 18:26] #5355 closed

[2022-02-22 20:54] dschult commented on #5355
Maybe we should rewrite our docs then to suggest the hybrid approach instead of having an example line of code that doesn't actually work.  I typically just go in and change the requirements file locally so it works for `conda`.  Does `pip` do things like install GraphViz when you install pygraphviz? Maybe pip is smarter now than when I last looked at it closely. :}

Anyway, we should fix the docs

[2022-02-22 21:11] rossbar commented on #5355
No it doesn't; pip doesn't handle non-Python dependencies whereas `conda` handles installation of more packages. In order to install e.g. `pygraphviz` (or any library that has a non-Python dependency) with pip, users will have to have that package installed separately on their system.

The way `conda` handles environment specification is with [environment files](https://docs.conda.io/projects/cond

[2022-02-23 14:47] jkudla commented on #5329
Hi, can I work on this issue? I'm new to the project and followed the first steps :)

Idea would be introducing the `node_index` mapping as you described, @dschult. Run the same construction, perhaps with something like `nodes = [tuple(sorted([node_index[x[0]], node_index[x[1]]])) + x[2:] for x in get_edges(u)]`. Finally, transform the node indices back to the original node labels. This could be d

[2022-02-23 18:14] dschult commented on #5329
Thanks for looking at this.  I think the best approach is to leave the node labels as they are, but any time they are sorted, use the index dict as the "key" function for the sorting: `sorted(x[:2], key=node_index.__get__)`

[2022-02-24 05:50] JatinSharma commented on #5295
Please assign this to me.

[2022-02-24 13:22] jkudla commented on #5329
Thank you for pointing this out, that's much more elegant!

[2022-02-25 05:41] henrykironde opened #5358 "Urgent GSoC revisions are needed."
Confirmation needed: https://github.com/numfocus/gsoc/issues/396
Google is not happy with our idea lists.

1. Be sure to include whether the project is a 175 hour (medium sized) or 350 hour (large project). If it can be either, please state that-per idea.
2. `Your Ideas Page URL should be accessible to all and not require login. --- (Covered)`
3. As we state in the Defining a Project Idea List sec

[2022-02-25 16:46] MridulS commented on #5358
We conform with the Google requirements :)

[2022-02-25 16:46] #5358 closed

[2022-02-25 20:19] rossbar commented on #5106
Having looked at this again, I think the problem extends beyond the graph-with-selfloops case. There can be mapping problems when specifying a sequence of visualization properties (e.g. a list of edge colors) even with no self-loops are present. This arises from the fact that the default `edgelist=list(G.edges)` might have a different ordering than a user expects. For example:

[code]

I naively e

[2022-02-27 11:01] alejandro-gitt opened #5363 "Error in MultiDiGraph.edges(nbunch)"
The documentation  for

says:

Perhaps **incident** is incorrect, as it is the opposite behavior (as seen in the example in networkx):
[code]
Where G.edges([0,2]) returns the edges that comes **out** of the nodes 0 and 2.

[2022-02-27 16:09] dschult commented on #5363
You are correct, that is a documentastion error. The "Latest" documentation (for version 2.7 due to be released any day now) has the documentation for `nbunch` fixed to be:  "The view will only report edges from these nodes."
Thanks for the report!

[2022-02-27 16:09] #5363 closed

[2022-02-28 04:56] #5211 closed

[2022-02-28 23:36] Sandy4321 opened #5366 "sequential figures are not created: first figure is shown but second not - only white window for second figure"
sequential figures are not created: first figure is shown, but second not

### Current Behavior

plt.figure()
cvb = nx.generators.barabasi_albert_graph(80, 6)
nx.draw_spring(cvb, with_labels=True)
plt.show(block = False)

plt.figure()
abc = nx.generators.watts_strogatz_graph(70, 7, 0.2)
nx.draw_spring(abc, with_labels=True)
plt.show(block = False)
q=0

### Expected Behavior

all figures should be

[2022-02-28 23:44] rossbar commented on #5366
I can't reproduce this - both figures from your example render correctly on my system.

Given this has to do with sequential drawing in separate figures, I suspect the problem has something to do with the matplotlib backend in your environment.

[2022-03-01 01:49] Sandy4321 commented on #5366
I see
thanks
for
nx.__version__
'2.5.1'
all ok for me as well

[2022-03-01 04:10] stevenengler opened #5367 "Error when importing networkx: "module 'importlib' has no attribute 'machinery'""
When importing networkx, the error `AttributeError: module 'importlib' has no attribute 'machinery'` occurs.

It seems like networkx is not importing `importlib.machinery`.

### Steps to Reproduce
[code]

### Environment
Python version: Python 3.10.0rc2
NetworkX version: networkx-2.7

[2022-03-01 05:07] rossbar commented on #5367
Very strange - maybe something is wrong with the `python3` package in the fedora image? It seems weird that you're getting 3.10rc2 (without specifying that explicitly).

FWIW I can't reproduce locally and CI never caught anything w/ Debian-based linux, macos, or windows.

[2022-03-01 05:35] stevenengler commented on #5367
I think this is due to which modules are loaded by default, which I guess is a platform-specific setting. For example:

Fedora 35:
[code]

Ubuntu 20.04:
[code]

[2022-03-01 05:49] rossbar commented on #5367
AFAIK `importlib.machinery` is part of the standard library and should be expected to be available in a Python installation. It seems like its absence might be an explicit decision in how Python is packaged in Fedora? I'm not sure there's a whole lot NetworkX can do about this, since the `SourceFileLoader` is an important component in the implementation of lazy loading in networkx

[2022-03-01 05:55] stevenengler commented on #5367
It is available, just not always imported by default. I think all that's needed is to add the line `import importlib.machinery` to `lazy_imports.py`. For example, Python 3.9 on the current dev version of Ubuntu 22.04 doesn't include it by default either.

[code]

[2022-03-01 05:56] rossbar commented on #5366
I see no difference for various versions of networkx (2.5.1, 2.6.3, and 2.7) - I suspect the reason you see a difference is that you have different versions of matplotlib (and/or matplotlib dependencies) installed in the environment in which you have nx-2.5.1 vs. that which has nx-2.7.

[2022-03-01 06:09] rossbar commented on #5367
I had assumed that, since this never failed in CI nor in any developer's dev env that this was a problem with the Python packages in other distros... it appears that it's the opposite - the availability of `importlib.machinery` by default doesn't seem to be intentional:

https://github.com/python/cpython/blob/df9f7597559b6256924fcd3a1c3dc24cd5c5edaf/Lib/importlib/__init__.py#L2

I think you're rig

[2022-03-02 01:22] tdene commented on #5367
+1 person here to report on this issue causing problems with my CI.
Commenting so that I get auto-notified when the issue closes.

(btw, thanks for your development and continued maintenance of this great library!)

[2022-03-02 02:01] jarrodmillman commented on #5367
We plan to release a fix for this in 2.7.1 on Monday, March 7th.  Thanks for the bug report.

[2022-03-02 03:59] rossbar commented on #5367
FWIW I set up docker and I can't reproduce this in any of the official images mentioned above, i.e. `fedora:35`,  `ubuntu:focal`, nor `ubuntu:jammy`. I'm not 100% convinced that this isn't some sort of python packaging problem in the images that are being used - the only evidence I've found to the contrary is the `__all__` I linked above from the `importlib` module, but that doesn't necessarily te

[2022-03-02 04:34] tdene commented on #5367
I can provide the following data points:

[GitHub CI failling](https://github.com/tdene/synth_opt_adders/runs/5384343915?check_suite_focus=true) with nearly the same trace as OP, using [this workflow](https://github.com/tdene/synth_opt_adders/blob/main/.github/workflows/config.yml). The workflow `runs-on: ubuntu-latest` and uses CPython 3.10.2

On my personal machine with Python 3.8.10 and Ubuntu

[2022-03-02 04:35] tdene commented on #5367
Now, why this causes errors in GitHub's CI, but not in local CI or manual use, I have no idea.

[2022-03-02 06:07] stevenengler commented on #5367
Some other interesting behaviour: Which modules are loaded depends on whether you're in an interactive or non-interactive interpreter. For example on fedora:35, `machinery` is automatically added to the `importlib` namespace in an interactive interpreter, but not in a non-interactive one.

[code]

In a non-interactive interpreter, importing `importlib.util` loads `machinery` into the `importlib` n

[2022-03-03 20:55] #5367 closed

[2022-03-04 12:39] MridulS opened #5374 "Filter* views input checks for NODE_OK look for .nodes attributes (?)"
While working on https://github.com/networkx/networkx/issues/4433 I started looking into the code of `Filter*` views and I was wondering why do we have the bit about checking for the `.nodes` attributes in filtered nodes input (`NODE_OK`).

https://github.com/networkx/networkx/blob/8feb4a645c93598bb187bf1707beb673fa27915e/networkx/classes/coreviews.py#L275-L278

Was this to make something like thi

[2022-03-04 14:38] dschult commented on #5374
The blame indicates that this was added to try to speed up the subgraph views.  #3017
Most of the time we are using induced subgraphs. And most of the time there are far fewer nodes in the subgraph than in the graph. So we can speed up the process by iterating over the nodes of the filter and checking if they are in the graph, rather than iterating over the graph and checking if the nodes are in t

[2022-03-05 03:32] dschult commented on #5374
Perhaps this wasn't as clear as I intended. The testing for a `nodes` attribute is not to check if a NetworkX Graph `H` is used to specify the nodes in the subgraph. Any `show_nodes` filter has an attribute `nodes`. So, e.g.
[code]
It's only the `show_nodes` filter, as far as I can tell, that benefits from this, but that is a common filter to use.

[2022-03-05 17:06] #5302 closed

[2022-03-06 15:22] dschult commented on #5326
Thanks for this Issue!  It forms an important part of our long-term discussion about how to provide a quick way to get information about a network without requiring lots of compute time.  This function has evolved over time toward a simple description -- mostly because the more complex summary data can be computationally intense, because different applications value different measures, and because

[2022-03-08 18:47] Matthew-Signorotti opened #5377 "In docstrings, the parameter type "container" has ambiguous meaning"
The term "container" often refers to an object with a `__contains__` method, as in the `collections.abc.Container` abstract base class, or `typing.Container` in the case of type hints. However, multiple function docstrings state that some parameter is to accept containers of some type, when functionality besides a `__contains__` method is expected.

For example, in NetworkX 2.7.1, argument `ebunch

[2022-03-08 18:54] rossbar commented on #5377
No, I think switching to more precise language (i.e. iterable over container) would be an improvement.

[2022-03-09 10:32] gaborberei commented on #4973
Hi I would like to work on the Laplace_Centrality measure.

[2022-03-09 15:03] jarrodmillman opened #5382 "Avoid black formatting when using git blame"
We should look into adding a `.git-blame-ignore-revs` file for using with `git blame`:
https://black.readthedocs.io/en/stable/guides/introducing_black_to_your_project.html#avoiding-ruining-git-blame

Looks like GH may also soon support it:
https://github.com/github/feedback/discussions/5033

[2022-03-09 21:37] psrubing opened #5383 "Weird results in average_neighbor_degree for directed graph"
Hi,
I was looking at average_neighbor_degree method with directed graphs and I've got results that don't match with my intuition and my hand calculation.

My graph:
![digraph](https://user-images.githubusercontent.com/37271385/157540141-125f7746-9258-45ea-b215-7f1c4433732b.png)

I've run average_neighbor_degree with every possible combination with params source and target which implies basic attri

[2022-03-09 22:35] dschult commented on #5383
Can you upgrade NetworkX?  This function was updated last summer and you've got a version older than that.

My results show:
[code]

[2022-03-09 23:02] psrubing commented on #5383
Okey, I've upgraded NetworkX to version 2.7.1 and now I have the same results as you, but still I can't understand the math behind calculating those values. Let's take for example node number 3. It's has 5 neighbors (0, 1, 4, 6, 5 where 0,1,4 are in neighbors and 5,6 are out neighbors). Let's suppose I want to calculate source=in and target in version. Shouldn't it be (in_degree_0 + in_degree_1 _

[2022-03-09 23:40] rossbar commented on #5383
The `average_neighbor_degree` calculation is described in the [docstring of the function](https://networkx.org/documentation/latest/reference/algorithms/generated/networkx.algorithms.assortativity.average_neighbor_degree.html)

Alternatively you can take a look at the implementation itself to get a better sense of how it's computed. This is very easy to do with e.g. IPython, where the `??` will sh

[2022-03-10 01:13] dschult commented on #5383
It looks like the question is: "What is a neighborhood?"  You are thinking (reasonably in my view) that when `source_degree` is "in", that the neighbors should be the incoming neighbors. That is any nodes which connect to the source node. But in fact, that is not what is done in the code. And it seems to be mixed up from what I'd expect.

In the code, the sum is always over the neighbors on the ou

[2022-03-10 19:53] psrubing commented on #5383
@rossbar Thanks for your answer! Regarding to how this method calculates due to @dschult explanation now I understand and know where those results come from, but to be honest it still doesn't match my intuition on how should it be calculated (like @dschult said, "the sum is always over the neighbors on the outgoing edges from the source node. But the size of the neighborhood is computed based on t

[2022-03-10 22:05] dschult commented on #5383
Yes -- let's leave this issue open so that we will address the documentation at the least and (hopefully) improve the method so it is actually taking an average of degrees instead of summing over one neighborhod and dividing by the size of another neighborhood.

I'd love to have a paper that talks about "nearest neighbor average degree" (or "average neighbor degree") in the context of directed gra

[2022-03-13 16:39] water-vapor opened #5388 "min_weight_matching gives incorrect results"
Consider the following graph:
[code]

### Current Behavior

The program returns `{(2, 1), (4, 3)}`
### Expected Behavior

There are two maximal matchings in the graph, (1,2)(3,4) with weight 1+4=5, and (1,4)(2,3) with weight 2+2=4. The minimum weight maximal matching should be (1,4)(2,3) which has weight 4.
### Steps to Reproduce

Run the code provided
### Environment

Python version: 3.9
NetworkX

[2022-03-13 16:53] dschult commented on #5388
Thanks!   You are correct.

That is a faulty way of thinking about turning a min problem into a max problem. Maximizing over sums of reciprocal weights does not minimizing correctly.  Other options include negating (if the problem doesn't have trouble with negative weights -- which min_weight_matching does not... but shortest_path does). Or perhaps a more robust approach would be to subtract the w

[2022-03-15 21:55] dschult commented on #5388
Looking into this bug, I'm pretty sure the keyword argument `maxcardinality` should be deprecated and set to True inside the function. What would `min_weight_matching` mean for `maxcardinality=False`?  It would mean the empty matching or maybe the matching that is just the lowest weight edge.

I propose that we deprecate `maxcardinality`, and inside the function where we call `max_weight_matching`

[2022-03-18 09:52] gaborberei commented on #4973
Hi, I finished the implementation, ran the tests with and without the new Laplacian.py in both cases from approximately 4900 test 200 failed. If I could ask for some help regarding testing, that would be great.

[2022-03-18 16:34] sheldonkhall opened #5400 "no symmetry in graph_edit_distance"
I have been trying to use the network x implementation of the graph edit distance to do some clustering. However this led to some unexpected errors. The root cause of these errors has been a non-symmetric distance matrix that I have tracked back to non-symmetric edit distances produced by the `nx.graph_edit_distance` measure.

A minimal example is this:

g1 is the graph  c - d  with a self edge on

[2022-03-19 03:57] dschult commented on #5400
My understanding is that the graph_edit_distance can depend on the order of the inputs if the match function causes it to.
For example, g1->g2 has cost 3 with steps: add node "e", remove edge ("d","d"), add edge ("d","e").
While g2->g1 has cost 2 with steps: rewire edge ("d","e") to ("d","d"), remove node "e".

In other words with this match function, rewiring ("d","d") to ("d","e") takes two step

[2022-03-19 13:46] goar5670 commented on #4891
Hi, can I work on this issue? It's my first time contributing to Networkx so I might need some guidance.

[2022-03-20 01:47] dschult commented on #5329
Fixes by #5357

[2022-03-20 01:47] #5329 closed

[2022-03-20 18:34] sheldonkhall commented on #5400
The match function I have used is designed to only match when the undirected edge is the same. Therefore as you say ("d","d") will not match ("d", "e"). The surprising behaviour is that instead of picking a substitution ("d", "d") -> ("d", "e") for a cost of 1 it opts for a delete and then an insert which has a cost of 2. This is not the minimum edit path as it has a total cost of 3. However, in t

[2022-03-21 03:44] dschult commented on #5400
Seems like node order does matter for this code.  It was written before dict's maintained insertion order, so this could be a subtle bug that got created during that shift. It only seems to matter for self-loops making it even harder to identify.  Thank you for tracking it down to such simple input graphs!  Now we just need to find where in the code we treat self-loops.

Perhaps @aparamon will see

[2022-03-21 04:23] jbbeltran opened #5402 "Getting TypeError upon calling extrema_bounding(G, compute="eccentricities") in distance_measures.py"
I tried using the ``extrema_bounding`` function from ``networkx.algorithms.distance_measures`` to compute eccentricity values for all nodes in a Graph. The documentation does not present the "eccentricities" option for the ``compute`` keyword argument but it is available in the source code so I went ahead and tried it. The exact function call I did was ``extrema_bounding(G, compute="eccentricities

[2022-03-21 08:00] z3y50n commented on #5402
I can reproduce this error and from what I see the `eccentricities` option is not listed in the doc string as well.

Also if `compute` is not one of the five values `"diameter", "radius", "periphery", "center", "eccentricities"` it will throw an `UnboundLocalError` on the next line since `ruled_out` variable won't be initialized. https://github.com/networkx/networkx/blob/6a0b4faf09ec9d3d40ad93e2ec

[2022-03-21 09:52] sheldonkhall commented on #5400
Thanks for simplifying the test further @dschult . I will spend a little time this week understanding the code in more detail and see if I can spot a fix while we wait to see if @aparamon has any ideas.

[2022-03-21 17:20] aaronzo opened #5403 "Bipartite projection on nodes with duplicates raises ZeroDivisionError"
When calculating the 'top' nodes for the `weighted_projected_graph` [here](https://github.com/networkx/networkx/blob/6a0b4faf09ec9d3d40ad93e2ec9b431d6bab5dc4/networkx/algorithms/bipartite/projection.py#L192), if the user submits a list with duplicates, the function either gives incorrect results or a `ZeroDivisionError` when `ratio=True`. If the user first checks their set with `is_bipartite_node_

[2022-03-22 08:26] MridulS commented on #5403
Thanks for reporting this @aaronzo!

I agree, this can be surprising. How about we raise an `Error` for `is_bipartite_node_set` if the user passes in a node list which has duplicates. At least then `is_bipartite_node_set` fails correctly for the input list of nodes. A check like `if len(nodes) > len(S): raise ...`

https://github.com/networkx/networkx/blob/6a0b4faf09ec9d3d40ad93e2ec9b431d6bab5dc4/

[2022-03-22 08:50] MridulS commented on #5382
They have a public beta open. Should I ask them to put us in there?

[2022-03-22 10:55] aaronzo commented on #5403
@MridulS I agree with the proposal, and it's probably overkill to check sets within the functions themselves - after all, the function doesn't check the nodeset is a valid partitioning of the graph either. Perhaps alongside your suggestion of checking sets in `is_bipartite_node_set`, we could add a note in the docstring for `weighted_projected_graph`
(and any other functions we think this might a

[2022-03-23 14:05] svalkiers opened #5410 "AttributeError for matrix conversion"
Hi,

When trying to convert a graph into a sparse matrix, I run into an `AttributeError` related to the `scipy` package. Within the new 2.7.1 version of `networkx`, the `to_scipy_sparse_array` function looks for a `scipy.sparse.coo_array`, which is a non-existent object. Instead, this should be `scipy.sparse.coo_matrix`.

Here is a little example of the error:

[code]

Python version: 3.8.12
Netwo

[2022-03-23 14:59] rossbar commented on #5410
Thanks for reporting - the scipy.sparse array interface is only available in the latest scipy version (1.8) so if you are using an older version of scipy you will need to upgrade (e.g. `pip install --upgrade scipy`).

If for whatever reason upgrading is not possible, you can still use the `to_scipy_sparse_matrix` function, which relies on the older scipy.sparse matrix interface, though this will (

[2022-03-23 18:04] adam2392 commented on #1168
Was this ever addressed/implemented? If not, what are the challenges? It looks like based on the discussion the `MixedGraph` abstraction seemed plausible?

I had a similar question that I raised before seeing this issue: https://github.com/networkx/networkx/discussions/5408

[2022-03-23 21:13] rossbar commented on #5402
Looking at `extrema_bounding` more carefully, I wonder if it was ever intended to be called directly? It seems like it's mostly used internally for the supported measures mentioned in the docstring and `extrema_bounding` itself is untested!

[2022-03-24 04:54] rossbar opened #5415 "Is `extrema_bounding` intended to be a public function?"
I mentioned this in #5402 but I think the point deserves it's own issue:

There are currently two ways of computing the bounds for the various distance measures. Take the `diameter` metric for example:
 1. Use `extrema_bounding` directly: `nx.extrema_bounding(G, compute="diameter")`
 2. Call `diameter` with the `usebounds` kwarg: `nx.diameter(G, usebounds=True)`

The latter simply calls `extrema_b

[2022-03-24 12:19] dschult commented on #5415
I'm pretty convinced that `extrema_bounding` should be a private function. Looking at the history, I don't think we/I looked very carefully at the naming convention for private/public functions at this time. If it wasn't in `__all__` I thought of it as private. It would be good to get the naming and deprecation changes done before v2.8, but we do also needs tests. Not sure if that is needed before

[2022-03-24 19:07] adam2392 opened #5418 "Is it possible to draw networkx edges by attribute?"
Hi,

I'm trying to extend networkx for usage with causal graphs, which encompass multiple types of edges (i.e. direct and bidirected arrows).

To draw the edges such that they don't overlap I have to indicate the `edge_list` parameter inside networkx. Is it possible to add a parameter to draw edges based on edge attribute?

E.g. this code ends up becoming unwieldy if I have to manually specify eve

[2022-03-24 19:08] adam2392 commented on #5418
If so, I'm happy to submit a PR.

All I ask is some handy advice on where to start in the code. (Have exp doing open source software, but not familiar with the networkx  codebase yet :p)

[2022-03-24 19:10] rossbar commented on #4891
Thanks for your interest in @goar5670 - there's already been quite a bit of progress on this issue: step 1 is implemented and in the latest NetworkX release, and step 2 is being discussed in [NXEP 4](https://networkx.org/documentation/latest/developer/nxeps/nxep-0004.html).

Since this issue is largely addressed I will close it - discussion related to NXEP 4 should happen elsewhere; I'll open a di

[2022-03-24 19:10] #4891 closed

[2022-03-24 20:45] rossbar commented on #5418
Currently this is not supported. IIRC this has been discussed before (though I failed to find any relevant links from a quick scan of the issue tracker); extracting the visualization attributes directly from the  graph/node/edge attributes is a significant departure from the way `nx_pylab` currently works. It's an interesting idea (and more akin to how e.g. Graphviz works) but it strikes me as a l

[2022-03-24 21:29] #5402 closed

[2022-03-24 22:19] vappiah opened #5421 "Networkx generates an unusual graph (figure keeps on changing and labels are scattered)"
### Current Behavior
When I generate a weighted graph  labels are not placed properly. Also the figure keeps on changing anytime I run the codes.
Here are three figures that were generated using the same codes.
![Figure_1](https://user-images.githubusercontent.com/14283733/160019015-5026f06c-a738-4c3a-828d-223b904397d1.png)
![Figure_2](https://user-images.githubusercontent.com/14283733/160019022-6

[2022-03-24 23:24] rossbar commented on #5421
Thanks @vappiah - I went ahead and just embedded the reproducing code directly in the issue, as it's much more straightforward to see what's going on.

There are two things in this example that jump out to me:
 1. You are not using the `pos` with `draw` - this is why the edge labels are in different positions than the edges
 2. You are not using a seed when computing the layout, which is why the r

[2022-03-25 01:48] jbbeltran commented on #5402
Thanks to the contributors for your hard work! I tried to use ``extrema_bounding`` to compute for the eccentricities of _all_ nodes of a Graph (not just diameter or center), as the current ``eccentricity`` function runs in a brute-force manner, performing a single-source shortest path from every node. I also found the original source code (C++) of the author/s of the papers listed in the docstring

[2022-03-25 04:04] rossbar opened #5423 "Future Deprecation: replace utils.pairwise with itertools equivalent"
Good news! The `pairwise` function has been included in itertools, so the home-made version (which, according to the comments, originated from an itertools recipe) in `utils.misc` can be replaced with the itertools version.

This change can't be made quite yet however as `itertools.pairwise` [was only added in Python 3.10](https://docs.python.org/3/library/itertools.html#itertools.pairwise), so NX

[2022-03-25 18:36] #5415 closed

[2022-03-25 19:10] MridulS commented on #5423
Well that's going to be [atleast April 2024](https://numpy.org/neps/nep-0029-deprecation_policy.html) :)

PS: While typing this I thought ah 4 years away but well 😅

[2022-03-25 20:13] MridulS commented on #5421
Changing the code with @rossbar suggestions should get you the same results every time.

Editing the code at these 2 places gives me consistent results locally when I run it multiple times :)

[code]

Feel free to reopen this issue if you have any other queries :)

[2022-03-25 20:13] #5421 closed

[2022-03-25 20:35] #5382 closed

[2022-03-25 21:38] vappiah commented on #5421
Thanks @rossbar  and @MridulS .
The codes  you suggested worked successfully and gave consistent output.

[2022-03-25 23:39] rossbar opened #5426 "Deprecate or improve `utils.misc.to_tuple`"
`to_tuple` is a simple function that recursively converts nested lists to tuples. It is only used in one place within networkx in the `json_graph` module:

https://github.com/networkx/networkx/blob/2e490a307b97518c98066c058136981dcae95606/networkx/readwrite/json_graph/node_link.py#L167

The usage here makes sense as there's a potential use-case for a node that is stored in json as a nested list (t

[2022-03-26 01:23] rossbar commented on #5426
Playing devil's advocate against myself... one argument against deprecation is there isn't really a built-in one-liner or simple fix that we can point to instead (at least off the top of my head). I still lean towards deprecation since the behavior is so specific, but definitely another angle to consider!

[2022-03-26 17:47] rossbar commented on #4100
I just stumbled across discussions in other projects on whether/how to adopt keyword-only arguments, e.g. scipy/scipy#14714. It appears scikit-learn has adopted this already and has a well-thought-out policy: https://scikit-learn-enhancement-proposals.readthedocs.io/en/latest/slep009/proposal.html

FWIW there is a general consensus that keyword-only arguments are a great idea for *new* functions.

[2022-03-26 20:01] dschult commented on #5426
I agree that this makes sense as a private function in the `json_graph` code. And we can deprecate the public version and move the code to the new place.

[2022-03-27 20:30] 0ddoes commented on #5124
Hey I would like to contribute into the example gallery if possible. I am Izza and applying for the Outreachy Cohort '22.

[2022-03-27 20:37] martwebber commented on #5124
Hello @MridulS @joseberlines, I am an Outreachy applicant and I would love to make a contribution to this issue.

[2022-03-27 20:52] #5426 closed

[2022-03-28 01:05] #5383 closed

[2022-03-28 12:00] Lukong123 commented on #5255
Hello, @MridulS I will love to work on this issue.
I am a newbie here too and I am also willing to learn more, how should the illustration be; should it be something like a jupyter notebook file or how?

[2022-03-28 20:53] ChrisKeefe opened #5433 "DOC: scipy conf. citation links spin forever"
The PDF and BibTeX links [here](https://networkx.org/documentation/latest/#citing) point to conference.scipy.org endpoints that never resolve. This is probably someone else's problem ™️, and I'm hoping you folks know who to check in with for a new URL or an upstream fix.

### Current Behavior
When I click the link, the target page never resolves, resulting in a Connection Timed Out error after a c

[2022-03-29 00:01] rossbar opened #5434 "CI: `black` is currently broken"
Just an FYI - discussed in detail at psf/black#2964.

The recommended short-term solution is to pin `click <=8.1.0`. My vote is to wait a bit and see if `black` doesn't release a patch in the very near future.

[2022-03-29 00:46] rossbar opened #5435 "Question about `maximal_matching` vs. `min_edge_dominating_set`"
I recently noticed that the `min_edge_dominating_set` function simply calls `maximal_matching` (after checking that the graph is not empty). I was curious about the distinction between the two names/concepts and whether there should be two separately named functions, or if one should be preferred over the other.

[2022-03-29 00:59] ichard26 commented on #5434
We did -> https://pypi.org/project/black/22.3.0/ :tada:

[2022-03-29 01:28] rossbar opened #5436 "Investigate `min_weighted_dominating_set` for directed graphs"
I noted the following `TODO` in the code:

https://github.com/networkx/networkx/blob/ead0e65bda59862e329f2e6f1da47919c6b07ca9/networkx/algorithms/approximation/dominating_set.py#L20

I'm raising this here to increase visibility in case anyone wants to investigate the question further!

[2022-03-29 08:17] MridulS commented on #5255
Here we are talking about https://networkx.org/documentation/stable/reference/generated/networkx.convert_matrix.to_numpy_array.html, if you go down to the examples section you
will see that the example which is uses a `MultiGraph` doesn't use other available arguments
like `multigraph_weight`, `dtype`, etc. The example for MultiGraph should be improved by
adding the other arguments.

It shouldn't

[2022-03-29 10:03] MridulS commented on #5433
Yeah that's not good. Thanks for the report!

[2022-03-29 14:24] jarrodmillman commented on #5434
See #5438.

[2022-03-29 17:12] aterrel commented on #5433
Server has been restored. We should move these though as that server is on an old cluster that we want to migrate away from.

[2022-03-29 17:14] MridulS commented on #5433
Thanks @aterrel!

[2022-03-29 17:14] #5433 closed

[2022-03-30 01:28] yusuf-csdev commented on #5436
The reason why min_weighted_dominating_set function does not work for directed graphs stems from the fact that in directed graphs we need to take into account the direction of the edges however the function does not so when calculating cost effectiveness of a node using _cost function.

I have done some search for the possible algorithms which can work in case of directed graphs. I have found a pa

[2022-03-30 02:00] dschult commented on #5436
This is quite helpful.

Can you expand on your first paragraph about why this doesn't work?
When calculating the cost effectiveness of a node, do we look at neighbors or edges from that node? If neighbors, can't we just use outgoing neighbors for a directed graph?  If edges, can't we just use outgoing edges for directed graphs?

These heuristics would allow us to construct another function to hand

[2022-03-30 08:22] sheldonkhall commented on #5400
@dschult I have isolated the lines causing this behaviour:
- https://github.com/networkx/networkx/blob/1e48dad5c6038b549d7a4a01f190ffd3765eb913/networkx/algorithms/similarity.py#L751
- https://github.com/networkx/networkx/blob/1e48dad5c6038b549d7a4a01f190ffd3765eb913/networkx/algorithms/similarity.py#L757

On those lines there is a specific condition for self edges. When that gets triggered for so

[2022-03-30 08:38] yusuf-csdev commented on #5436
The definition of minimum weight directed dominating set (MWDDS) in the paper I have shared above is:

_For any node-weighted directed graph (digraph), a directed dominating set SD is a subset of nodes such that every node of the
digraph either belongs to SD or has an arc directed from a node in SD to itself. The minimum weight directed dominating set problem (MWDDS) seeks a directed dominating se

[2022-03-30 09:59] 0ddoes commented on #5255
Sir, wouldn't it be cooler if we could include a link that takes you to an external webpage (maybe nx-guides) containing a jupyter notebook explaining what this function does thoroughly , than include a small example in the same documentation?

In that way probably we can include from Basic multidirected graphs that we define, to real datasets (For eg Political Blogs or Social Networks) on same no

[2022-03-30 14:31] williamjallen commented on #5326
I saw this issue back when it was first created, and have been thinking about it some in the time since.  Just the other day, I was playing around with a brand new (and rather large) graph I recently created, and remembered this issue when I was in the process of computing some basic statistics about the graph.  It would have been very nice to be able to just use an `info` or `describe` function t

[2022-03-30 16:50] riccardobucco opened #5443 "Exception not raised when `to_graph6_bytes` is used on directed graphs"
When I use `networkx.readwrite.graph6.to_graph6_bytes` with a **directed** graph, I expect a `NetworkXNotImplemented` exception to be raised (because the graph6 format is for undirected graphs only). This is also stated in the method docstring:
[code]

### Current Behavior
[code]

### Expected Behavior
[code]

### Environment

Python version: 3.10.4
NetworkX version: 2.7.2rc1.dev0

### Additional

[2022-03-30 16:51] riccardobucco commented on #5443
I'll work on this issue. I'll also add a few tests (there are no tests for the `to_graph6_bytes` method

[2022-03-30 17:33] 0ddoes commented on #5090
Sir, I am an Outreachy applicant. Is this issue still open? Can I try to make any updates to the documentation to make it more clear? If so please do guide me in what you expect , as to how I can improve it?

[2022-03-30 18:18] rossbar commented on #5255
This would be nice too, but is a separate issue. Generally, the `Examples` section in the docstring should highlight the features of a function and demonstrate them for common use-cases. Oftentimes, having quick, clear examples is the quickest way to understand a function!

Having more extensive narrative documentation is a nice idea, but IMO it would make the most sense not to focus on `to_numpy_

[2022-03-31 01:05] rossbar opened #5445 "`graph6.py` module - possible refactor candidate"
While recently looking at the `graph6.py` module, I was struck by the number of internal functions defined and called within the module. At face value there seems to be a lot of indirection involved for some of the public functions. Look at `write_graph6` for example:

[`write_graph6`](https://github.com/networkx/networkx/blob/1e48dad5c6038b549d7a4a01f190ffd3765eb913/networkx/readwrite/graph6.py#L

[2022-03-31 08:11] Oddoes commented on #5255
Understood Sir! I will try to do a good example as well . Also if the latter issue ever gets opened sometime I would love to explore it 👍

[2022-03-31 08:45] 0ddoes commented on #5255
Understood Sir! I will try to work on a good example as well. Also if the latter issue is opened sometime, I will love to explore it!

Sorry for previous comment. That was a different account , not registered with Outreachy.

[2022-03-31 09:03] riccardobucco commented on #5445
I'm gonna have a look at this (I already know the graph6 format, and this might also be a good first contribution to networkx as it's a self-contained project).

[2022-03-31 09:06] riccardobucco commented on #5445
@rossbar The `sparse6.py` module has basically the same problem. Should its refactor be part of this issue or is it better to open a new issue? Just wondering what's the best practice, sorry for the dumb question.

[2022-03-31 12:00] MridulS opened #5449 "Condensation function: mapping and members attributes are hardly accessible."
### Discussed in https://github.com/networkx/networkx/discussions/5446

<div type='discussions-op-text'>

<sup>Originally posted by **Moss4t** March 31, 2022</sup>
In [this](https://networkx.org/documentation/stable/_modules/networkx/algorithms/components/strongly_connected.html#condensation) documentation, I found how to access mapping attribute on graph C: C.graph['mapping']. But still no idea h

[2022-03-31 15:17] ManasviGoyal commented on #5449
Hi. I am an Outreachy applicant. Can I work on this issue?

[2022-03-31 15:33] kpetridis24 commented on #5449
I was already working on it btw :) But if you want we could cooperate or provide examples both. It's a documentation related issue so i think that if we both provided some examples it would be ok

[2022-03-31 15:59] MridulS commented on #5449
There is example available at https://github.com/networkx/networkx/discussions/5446#discussioncomment-2477595 but feel free to change it or add more.

@ManasviGoyal please do checkout https://github.com/networkx/outreachy/ too.

[2022-03-31 16:56] kpetridis24 commented on #5449
@MridulS Is there a place that code-examples are meant to be placed except for the ''example' dir? For this specific issue, the goal is to provide examples of how to access the returning graph. Where should the examples be placed exactly?

[2022-03-31 17:09] kpetridis24 commented on #5449
oh ok nice. So it's all placed inside the documentation.

[2022-03-31 17:59] kpetridis24 commented on #5449
@MridulS Added 2 examples and created a PR. Heading to find another issue to solve.

[2022-03-31 18:55] kpetridis24 commented on #3729
@iljau @MridulS I started working on this. I will let u know about any possible questions

[2022-03-31 19:17] parikshit14 commented on #5209
@dschult can we apply the same solution internally as well for finding multigraph's `lowest_common_ancestor`, if so then I can create a PR for that.

[2022-04-01 02:09] #5443 closed

[2022-04-01 02:26] dschult commented on #5209
I think of this method (converting the MultiDiGraph to a DiGraph so it produces a lowest_common_denominator) as a workaround. I'd rather figure out why the algorithm doesn't work for a `MultiDiGraph` and fix it.  It seems like it should.

[2022-04-01 02:55] dschult commented on #5436
When I run this code (after removing the decorator `nx.not_implemented_for('directed')` ) I get the correct answer `{0}`. Do you?

[code]

[2022-04-01 03:04] dschult commented on #5400
I agree that those two lines look for selfloops.  But it's not clear to me whether the next line might also get triggered sometimes when there is a selfloop (that is not simply u-u or v-v).  Then there is tracking down what `ind_h` and `_ind_g` get used for.  Presumably they flag those edges to be changed -- but it is in the logic which tries to change them that we will find whether an edge substi

[2022-04-01 03:17] dschult commented on #3729
I think the algorithm you are working with assumes you've got the topological order stored alongside the graph, so when any graph change occurs, you update the order and thus still have the correct order each time you change the graph.  That's what would make it "dynamic".  It slows down the process of adding nodes or edges, but might result in speed-ups if you have to compute the order many times

[2022-04-01 08:50] yusuf-csdev commented on #5436
I should have got {1, 2, 3} as an answer for the graph above because I have updated the function and it considers successors rather than neighbors. When I use the NetworkX function I also get {0}.

However, the function still does not work as expected. Consider the following code and graph (NetworkX and matplotlib gave overlapping nodes, that's why I got the graph image from the paper mentioned ab

[2022-04-01 11:26] kpetridis24 commented on #3729
The thing is, when i try to add a new edge (x,y) with x->y, the algorithm needs to know the ord(x), but we do not acquire such a function. Even the functions implemented till this point need to access all nodes to sort them and there is no function called to return the ord of x immediately. However in original topological sorting, x->y implies that x always comes before y and ord(x) < ord(y). Does

[2022-04-01 11:36] kpetridis24 commented on #3729
For example i have
1->2->3->4->5      6->7
Adding 8 such that 7->8 and 8->3
i need to get [1 2 6 7 8 3 4 5]
By separating
sB = [6 7 8] which is returned by the backward DFS traversal
sF = [3 4 5] from the forward DFS traversal
Placing them in topological order
[6 7 8 3 4 5]
and merging them in the initial array

This didn't take into consideration any function 'ord'. However it computed the correc

[2022-04-01 11:36] iljau commented on #3729
Some implementations of that algorithm are listed in "Notes" section: https://whileydave.com/publications/pk07_jea/

[2022-04-01 11:52] riccardobucco commented on #5445
I compared two methods to compute the bit string used in the graph6 method. _Method 1_ is what is currently used, _Method 2_ is a new approach based on NumPy.

**Method 1** (current approach)
[code]

**Method 2** (based on NumPy)
[code]

Here is the code I used to carry out speed tests:
[code]
Here are the results:
[code]
_Method 2_ seems to be faster when used with big graphs

[2022-04-01 13:00] kpetridis24 commented on #3729
The first implementation i made seems to work. However, it generates a new topological sorting, which is different from that, generated by the already implemented functions. As i understand, topological ordering is not unique

for example:
(0 and 1)->2->3->4->5

both 0 and 1 point to 2. So both topological orderings [0 1 2 3 4 5] and [1 0 2 3 4 5] are correct.

**Is this valid?**

[2022-04-01 14:18] riccardobucco commented on #5445
Currently,  in the `to_graph6_bytes` method, "if self loops are present they are silently ignored" (i.e., the method does not fail but produces the representation of a graph possibly without some of its original edges).

I think that the method should either raise an exception
[code]
or at least print a warning message.

What's your opinion?

[2022-04-01 15:03] 0ddoes commented on #5255
Sir, I tried working on the issue. I am finding a few other issues with the results obtained. I have summarised what I get below:

I tried to make an example from a simple graph and a Multi directed graph to show the difference in usage of arguments.

**Simple Graph:**

https://github.com/0ddoes/outreachy/blob/e1ef9bb528a5b26cf7f94de2296ee920aeed801d/2022-round-1/0ddoes/Issue5255.py#L6-L22

This s

[2022-04-01 16:34] dtekinoglu commented on #5255
Hi, @MridulS I am an Outreachy applicant for 2022 Round 1. I added examples for "nonedge" and "nodelist" arguments and created a pull request. Looking forward to hearing your feedback ! :)

[2022-04-01 19:35] #5388 closed

[2022-04-02 14:04] Lukong123 commented on #5212
Hello, @rossbar @MridulS I am an outreachy applicant and I will love to work on this issue.
I have checked out the documentation on `spiral_layout` I will love to work on this issue with your guidance where necessary

[2022-04-02 14:15] MridulS commented on #5212
@Lukong123 please go ahead and submit a Pull Request when you are ready :)

[2022-04-02 19:24] 0ddoes commented on #5090
@MridulS Hi, Is this issue still open? And if so can you guide me on how I can improve it?

[2022-04-03 10:34] aliveevie commented on #5449
#5449

[2022-04-03 10:56] aliveevie commented on #5277
- [ ] #5277

[2022-04-03 13:53] 0ddoes commented on #5255
Hey @rossbar , I would like to contribute more examples. Could you please review my comment above? I appear to still face the same issues. The example given in documentation with structured ```dtype``` doesn't give me the same output as well. Please let me know.

[2022-04-03 16:26] dschult commented on #5255
@oddoes for simple graph it looks like you used `nan` (which is a `float`) but set the dtype to `int`.  That's why it shows a large integer value instead of nan.

I can't easily follow the other questions. Can you put the code you are asking about inline with your comments? To do that, use \`\`\`python at the beginning and \`\`\` at the end.

[code]

[2022-04-03 20:10] 0ddoes commented on #5255
Hi, thanks for pointing that out about ```nan```. I understand the mistake I made. I figured if I passed float("nan") , it will override it. But it doesn't seem the case.

Also I have edited the comment above for the other issues. I hope its alright.

[2022-04-03 20:31] 0ddoes opened #5463 "Improve Examples Section of ```set_edge_attributes```"
While looking at the ```set_edge_attributes``` function, it doesn't include an example using multigraphs. As the ```values``` argument is passed different for non-multigraphs and multigraphs, I figured having a small example will show the difference easily.

NetworkX version: 2.6.2

[2022-04-04 05:51] rossbar commented on #5463
I agree that a multigraph example would be a nice improvement. The fact that `values` expects the dict keyed by 3-tuples is definitely worth highlighting.

[2022-04-04 06:53] 0ddoes commented on #5463
Okay thanks! I will try to include an example and add a PR. Can you guide me on which file in the repo to be edited?

[2022-04-04 18:27] dtekinoglu opened #5466 "Direction of arrows for undirected graphs -nx.draw(G, arrows=True)- misleading"
When I create an undirected graph and use `nx.draw()` function with argument `arrows=True`, arrows appear only in one direction even though I explicitly add edges (u,v) and (v,u) -which is actually not necessary in case of undirected graphs.

**Current Behavior**

`G=nx.Graph()`
`G.add_edge(2,0)`
`G.add_edge(0,1)`
`G.add_edge(1,0)`
`nx.draw(G, arrows=True, with_labels=True)`
![image](https://user-

[2022-04-04 20:28] dschult commented on #5466
The default is to draw arrows with single arrowhead.
But one can set the `arrowstyle` to "<->" if that is desired.
I guess you are saying that a more reasonable arrowstyle default
for undirected graphs would be "<->".

[2022-04-04 20:41] dtekinoglu commented on #5466
Thank you @dschult , I am working on this then.

[2022-04-05 03:17] Lukong123 commented on #5212
Hello sir, I have difficulties drawing the spiral layout.
IWhen I use
[code]
 it does not return an error message but I can't see the diagram, and when I use the next line of code it returns an error. Please sir I need your help.
[code]

[2022-04-05 03:29] dschult commented on #5212
`spiral_layout` takes as input a Graph and it returns a dictionary keyed by node to that node's (x, y) position value.
Then to draw the Graph with those positions, you need to call `nx.draw_networkx` with both the Graph and also the position dict.  Usually something like:

[code]

[2022-04-05 04:25] jarrodmillman commented on #5466
I am not sure it makes sense to draw arrows for an undirected graph.  Maybe it should at least raise a warning.  And if we do draw arrows, I agree that we should use "<->".

[2022-04-05 04:59] rossbar commented on #5463
Check out [our new contributor FAQ](https://networkx.org/documentation/latest/developer/new_contributor_faq.html#q-i-want-to-work-on-a-specific-function-how-do-i-find-it-in-the-source-code) which will hopefully give you some ideas for how to navigate the code base!

[2022-04-05 05:13] rossbar commented on #5445
One downside of re-implementing the bit-packing with numpy is that the graph6 module will then *depend* on numpy, meaning that users who currently rely on NetworkX to read/write graph6 data without numpy will lose that functionality. This can still be done with e.g. `try/except ImportError` though, with the added complexity of having two private bitpacking functions.

I don't feel strongly about i

[2022-04-05 08:21] kpetridis24 commented on #1705
I removed all prefixes from NetworkX errors, inside the exception.py file, and replaced all their old occurences inside the project. Can i somehow check that everything works correctly in the entire project? Is there a specific way to check everything (for example run all doctests)?

[2022-04-05 08:46] Lukong123 commented on #5212
Okay sir thanks

[2022-04-05 10:00] Lukong123 opened #5472 "Adding examples on functions related to graph covers"
There are currently no examples under functions related to graph covers. I will love to add some examples under them. As it will be helpful for the community.

[2022-04-05 10:04] kpetridis24 commented on #4157
I am working on it

[2022-04-05 10:16] kpetridis24 commented on #4157
In a lot of functions there is no 'Parameters' section. Is it a convention that this section is optional (when the meaning of arguments is self-explanatory) os should all functions explain their arguments in the docstring?

[2022-04-05 10:43] kpetridis24 commented on #4064
I am bringing this up since i am a big lover of parallelism. What about MPI and CUDA? Are we interested in them as well?

[2022-04-05 15:23] 0ddoes commented on #5466
According to Complex Network Theory, I don't think there should be double headed arrows for undirected graphs. If given <->, then there would not be any difference between ```nx.Graph()``` and ```nx.DiGraph()``` once arrows = ```True```. Or in other words, it might remove the difference between undirected and bidirectional graphs. Undirected is supposed to be showing connectedness while directed s

[2022-04-05 15:24] 0ddoes commented on #5466
According to Complex Network Theory, I don't think there should be double headed arrows for undirected graphs. If given <->, then there would not be any difference between ```nx.Graph()``` and ```nx.DiGraph()``` once arrows = ```True```. Or in other words, it might remove the difference between undirected and bidirectional graphs. Undirected is supposed to be showing connectedness while directed s

[2022-04-06 00:58] dschult commented on #4157
It is standard to have a Parameters section.
If they don't have it the doc_string is incomplete.
A fair amount of code (especially in threshold.py)
is so old those conventions hadn't been even discussed yet.

[2022-04-06 04:25] osamarais opened #5481 "greedy_coloring() provides a coloring with fewer colors than maximum degree of graph"
When attempting to color the following graph:

NodeView((1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88,

[2022-04-06 04:46] #5481 closed

[2022-04-06 05:34] rossbar commented on #1705
What's the motivation for this aside from the fact that it's the pattern followed by other projects? Is there a major gain or improvement from renaming the exceptions to remove the prefix? Having shorter exception names is nice and I understand that the information is redundant, but neither of these seem to be a major improvement --- at least not when weighed against the potential for breaking exi

[2022-04-06 07:46] 5aumy4 commented on #5124
Hello @MridulS  @joseberlines , I am an Outreachy applicant and I would like to work on this issue.

[2022-04-06 07:52] MridulS commented on #5124
Hello @5aumy4! There is already an open Pull Request which implements this for Directed Acyclic Graphs https://github.com/networkx/networkx/pull/5432

[2022-04-06 10:46] Lukong123 opened #5484 "Adding Example for chain decomposition."
Adding example to chain decomposition.

[2022-04-06 10:48] dtekinoglu opened #5486 "Defects of Bridges Algorithms"
Algorithms in the [Bridges](https://networkx.org/documentation/stable/reference/algorithms/bridges.html) section only applicable for undirected graphs. However, this is not stated in the documentation. They `Raise` `NetworkXNotImplemented` when the input is a directed graph. However, I am a bit confused about the following point:

Output of `nx.bridges(G)` is `<generator object bridges at 0x7f7073

[2022-04-06 11:56] 0ddoes opened #5487 "Issues with ```to_numpy_array``` outputs"
Sir, I tried working on the issue. I am finding a few other issues with the results obtained. I have summarised what I get below:

I found a few issues with ```to_numpy_array``` while I worked on Issue #5255. Attaching the part of the Comment below:

**MultiDiGraph**

In this example I wanted to show the significance of the other arguments : ```multigraph_weight``` and structured array ```dtype```

[2022-04-06 16:07] jarrodmillman commented on #5487
What version of networkx are you using?

[2022-04-06 16:12] 0ddoes commented on #5487
2.6.2 ... Should I install the latest version? Ig its 2.7.1?

[2022-04-06 16:35] jarrodmillman commented on #5487
You should work off the main branch.  There is some information about how to contribute to NetworkX here:
- https://github.com/networkx/networkx/blob/main/CONTRIBUTING.rst

[2022-04-06 18:03] rossbar commented on #5487
`to_numpy_array` doesn't support multiple edge attributes for MultiGraphs. If you run your example on the development branch, you should see something like:

[code]

[2022-04-06 18:03] #5487 closed

[2022-04-06 18:41] 0ddoes commented on #5487
Okay! Thanks for the clarifications :)

[2022-04-07 03:35] Lukong123 opened #5492 "Improving Contribution Guidelines"
Hello everyone, I am a newbie to the networkx repository, when following the contribution guidelines I stepped on `pre-commit install` when I ran this command it returned an error because I never had it installed on my computer since I never knew how important it was I did not immediately research on how to install it, but later on I used `pip install pre-commit` before going ahead with `pre-commi

[2022-04-07 03:49] dschult commented on #5492
I think that is a good idea.  It could be simply:  install pre-commit using pip or conda so you don't have to get into too much detail. but I guess detail is OK if it is still readable.

[2022-04-07 04:56] Lukong123 commented on #5492
Okay sir thanks, I will love to work on it.

[2022-04-07 17:48] fishbacp opened #5495 "Unable to import louvain_partitions"
Python 3.9 on Mac OSX 11.6.1 with networkx 2.7.1 (latest release)

I'm unable to access the ```louvain_partitions``` tool from networkx to determine the communities in a simple un-directed network. While I have no problems creating graphs and doing other operations, I just can't import this method. Here's a simple example with the error message. I must be missing something obvious.

    import num

[2022-04-07 18:10] #5495 closed

[2022-04-07 19:25] MridulS commented on #5212
fixed in https://github.com/networkx/networkx/pull/5471

[2022-04-07 19:25] #5212 closed

[2022-04-08 09:14] 0ddoes opened #5498 "Improving Triads Algorithms Documentation"
There are 7 Functions under Triads.

1. [triadic_census](https://networkx.org/documentation/stable/reference/algorithms/generated/networkx.algorithms.triads.triadic_census.html#networkx.algorithms.triads.triadic_census)(G[, nodelist])
2. [random_triad](https://networkx.org/documentation/stable/reference/algorithms/generated/networkx.algorithms.triads.random_triad.html#networkx.algorithms.triads.ra

[2022-04-08 10:52] PaulRitter opened #5499 "write_dot does not properly escape quotes in node attribute values"
when saving a graph with a node attribute value which contains one or more quotes, write_dot does not properly escape the quotes, leading to an invalid dot-file.

Actual:
[code]
Expected:
[code]

I assume this issue also extends to edge attributes.

[2022-04-08 13:36] MridulS commented on #5499
Thanks for the report! I can reproduce this.

Adding a minimal example:
[code]

[2022-04-08 13:37] MridulS commented on #5498
Thanks for the report @0ddoes! Feel free to work on them.

[2022-04-08 14:51] Lukong123 opened #5501 "Add Examples under distance measures"
The distance measures algorithm currently lacks some examples to show how it works. I will love to work on this by adding examples and also reference an explanatory notebook on `distance measures`.

[2022-04-08 19:16] jarrodmillman commented on #2850
https://github.com/jarrodmillman.gpg

[2022-04-08 19:16] #2850 closed

[2022-04-08 23:57] yusuf-csdev commented on #5499
I have been debugging the sample code and I have came to conclusion that the issue is not related to NetworkX but Pydot.

After nx.nx_pydot.write_dot(G, 'test.dot') line runs, we see that the label attribute is as expected (please see the image below).
![1](https://user-images.githubusercontent.com/62771956/162547262-05a6198c-f3f2-48ba-bd3e-a43ef992c51c.png)

This expected data is passed to read_d

[2022-04-09 06:26] rossbar commented on #5486
Hmm interesting - I would've expected this to raise directly but it looks like there might be a slight behavior change here as a result of `argmap`, maybe due to `_lazy_compile`? FWIW this is a regression from NX 2.5 where the `NetworkXNotImplementedError` is raised when `nx.bridges` is called:

[code]
@boothby what do you think about the `_lazy_compile` hypothesis? Is there an easy way to toggle

[2022-04-09 06:59] rossbar commented on #5192
Closed by #5458 with cherry-picked contributions from #5303

[2022-04-09 06:59] #5192 closed

[2022-04-09 10:10] stanyas opened #5508 "Find all cycles of given length in an undirected graph - documenting the solution"
In Stack Overflow, I found the [following question](https://stackoverflow.com/questions/44994389/find-all-cycles-of-given-length-networkx): "Given an undirected graph, how do you go about finding all cycles of length n (using networkx if possible). So input would be the Graph and n, and the function would return all cycles of that length." I want to look at it and document a solution in a notebook

[2022-04-09 11:47] stanyas opened #5510 "Describing what the algorithms are helpful for with a brief visual and textual examples - a GSoC idea"
### Current Behavior

The descriptions of algorithms [are missing](https://networkx.org/documentation/stable/reference/algorithms/), so it is hard to know which are suitable. If one approaches the NetworkX without thorough background knowledge of graphs, they may not understand which of them would be helpful without a lengthy comprehensive googling.

### Expected Behavior

There can be an overview

[2022-04-10 14:45] PaulRitter commented on #5499
@yusuf-csdev
I'm a bit confused about what you discovered, but as far as i can tell, thats not the issue here.
The issue is that nx.nx_pydot.write_dot uses the to_string method provided by pydot to get the data to save to the file. The problem is that to_string returns a string-representation of the graph **without** properly escaped quotationmarks. Now this behaviour does make sense, since i'd as

[2022-04-10 19:30] sheldonkhall commented on #5400
@dschult I have a working fix now [here](sheldonkhall:bugfix-for-issue-5400). I think it is not ready to merge quite yet as I want to check the one failing assert statement and I am not sure if my fix is entirely general just yet.

[2022-04-10 23:18] dtekinoglu commented on #5486
I realized a few more problems regarding bridge algorithms.

- Firstly, all three methods raise `NetworkXNotImplemented` if `G` is directed or multigraph. However, `@not_implemented_for("multigraph")` is statement only written for `local_bridges()` method. Considering the parts of source code that are related to multigraphs, I believe the intention was making these algorithms to work for multigrap

[2022-04-11 14:27] dschult commented on #5486
I think these results might be due to the recent changes to bridges.py #5397
If you update your version of NetworkX to v2.8 does that get rid of these issues?

[2022-04-11 15:10] dtekinoglu commented on #5486
Thank you @dschult , I got rid of the issue with multigraphs. However, `NodeNotFound` is still not working.

[2022-04-11 17:18] rossbar commented on #5486
Ah of course, thanks @dschult

I'm going to open a new, separate issue for the delayed-exception issue [mentioned above](https://github.com/networkx/networkx/issues/5486#issuecomment-1093738471).

[2022-04-11 17:33] rossbar opened #5520 "Regression: Delayed exceptions for Generators decorated with `not_implemented_for`"
This was originally identified in #5486 - splitting out into a separate issue so we can focus on this specifically.

There has been a behavior change in `not_implemented_for` after NX 2.5. Previously, the `not_implemented_for` would raise exceptions "eagerly" - i.e. behave as if the input checking occurred before any of the body of the decorated function was run. After 2.5, `not_implemented_for` s

[2022-04-11 17:45] boothby commented on #5520
This is not intentional.  I'll look for a fix this week.

[2022-04-12 01:46] dschult commented on #5486
Yes -- the `NodeNotFound` does not work for `has_bridges`, as you demonstrate. :}
In fact, `has_bridges` does not even use the `root` argument at all!!

I think it needs to be put into the `nx.bridges(G, root)` call -- it must have been left out.
That means we should also create a test for `has_bridges` being called with a non-node.

Thanks very much @dtekinoglu ...  You are uncovering interesting

[2022-04-13 00:00] boothby commented on #5520
Well, it isn't entirely intentional, anyway.  The problem is here:

[code]

That is, if we're decorating a generator, we make a generator.  Therefore, the prequel to the eventual function call is not evaluated until the generator is pumped for the first time.  My first inclination was to add a parameter to `argmap` so that `not_implemented_for` could clobber the generator:

[code]

However, that w

[2022-04-13 02:16] boothby commented on #5520
[code]

My *extremely* scientific benchmarking confirms my suspicions.  We can get both (miniscule) runtime and (trifling) compile-time performance boost by removing the generator-dependent behavior.  The only reason I can imagine wanting to maintain this code is if `argmap` was doing something super expensive and/or we wanted perfect laziness.  I can't think of anything that we'd need that for in

[2022-04-13 04:47] boothby commented on #5520
Alternatively we could stop flattening across `not_implemented_for`, moving the `self._clobber_generator` check out of `__call__` and into `self.assemble`.  There is some position-dependence, which seems okay; the only issue I see is if somebody expects `open_file` to happen lazily but opens all the files in a large array, they could exceed the file descriptor limit.  To which, I think the answer

[2022-04-13 12:48] Anaphory opened #5530 "greedy_modularity_communities raises StopIteration for unconnected (?) graph"
After an update of `networkx` from 2.6.3 to 2.8, one of my tests suddenly failed with
[code]
It turns out that the internals of `greedy_modularity_communities` have changed, so the function doesn't work any more with unconnected graphs.

### Current Behavior

`networkx.algorithms.community.greedy_modularity_communities` fails with undocumented error message for unconnected graphs, or graphs withou

[2022-04-13 13:03] MridulS commented on #5510
I do like this! Something like https://scikit-learn.org/stable/_static/ml_map.png but for network science algorithms could help direct folks towards the "right" kind of algorithm they are looking to work on :)

[2022-04-13 17:40] rossbar commented on #5530
Thanks for the report @Anaphory - you are correct, there indeed has been a behavior changed for unconnected graphs. Your suggestions as to what to do about it seem sensible, though I'm not sure which approach we should take (i.e. document the new behavior or treat this as a regression). I'd like to know what others thing, especially @martacki & @dschult

[2022-04-13 18:10] rossbar commented on #5510
Agreed - the sklearn knowledge map is awesome and a great way to get a sense of available functionality in the library. Something similar for NetworkX would be great. It'd be *extra* awesome if we generated the knowledge map using... networkx :)

[2022-04-13 20:14] boothby commented on #5520
Yeah, that's my preference too; I'm mostly documenting my thought process (with invitation to participate) before I bring the hatchet down.

[2022-04-14 02:41] boothby commented on #5520
Aha, there is some necessary complexity here.  The following unit test fails:

[code]

The problem being that `finally` blocks are executed after returning the generator, and not after exhausting the generator.  In terms of the actual decorators we use:

[code]

This has a fairly fundamental consequence: we can't eagerly raise an exception for a bad file (without some extreme convolutions, I'm sur

[2022-04-14 02:44] dschult opened #5532 "Update code in similarity.py"
The code in `similarity.py` uses some out of date Python constructions and would be IMO clearer and easier to maintain if it was updated.

Looking through the code for `match_edge` while reviewing #5516  I saw some rewrites that could take advantage of current Python features. For example, there are many `list` functions calls which should be made into list comprehensions. Similarly the `zip(range

[2022-04-14 03:30] dschult commented on #5530
I would like us to handle disconnected graphs for the user (and not making them split the graph into connected components first). We have to figure out what the new `cutoff` and `best_n` parameters mean in that case though... Maybe we will have to ensure that `cutoff` is at least the number of connected components. Or maybe we can simply use a try-except on a StopIteration for the `next` call.  We

[2022-04-14 08:51] stanyas commented on #5510
Thanks, @MridulS @rossbar.

I love the idea of metanetworkx map (MM) in style of scikit. I could possibly make the MM made in Networkx and explored in [Gephi](https://gephi.org/) also clickable and filterable like with [sigma.js](https://www.sigmajs.org/). The MM could also enable including tutorials or examples from the web in the "leaves" of the graph.

What are the next steps with the applicati

[2022-04-14 12:00] MridulS commented on #5510
Yes that helps us suggest more things.

That would be great!

As these things are flexible you can choose to either submit a 175 hour or 350 hour proposal :)

[2022-04-14 16:56] 0ddoes opened #5535 "Examples for Centrality Algorithms"
Except for the 4 ```EigenVector``` Centrality Measure Algorithms, there aren't any simple basic Examples for the rest of the **Centrality measures**. I would like to work on some. If alright, can I try to include real datasets analysis in the Examples and put the link to the dataset in the documentation?

[2022-04-14 17:40] rossbar commented on #5510
Just a quick comment here - I think it'd be a priority to keep as much of the analysis and visualization in Python/NetworkX as possible (this is a networkx project after all!) I think there are plenty of options for visualization that are better tied to Python, and specifically the scientific Python ecosystem. Just my two cents before you start committing too heavily to any particular approach!

[2022-04-14 18:37] MridulS commented on #5535
The correct place to put an example like this would be in the https://github.com/networkx/nx-guides repository. We could have a notebook about various centrality measures explained via a real world dataset.

[2022-04-14 19:07] Okabe-Junya commented on #5508
Hi!

Here is the solution using [nx.connected_components(G)](https://networkx.org/documentation/stable/reference/algorithms/generated/networkx.algorithms.components.connected_components.html#networkx.algorithms.components.connected_components).

To create a simple sample, we will create a sample with the following Python code.

[code]

This code generates a random undirected graph with 10 nodes an

[2022-04-15 03:33] boothby commented on #5520
*sigh* it is not as simple as I would have liked.

Code generation for

[code]
was previously equivalent to
[code]
and is now
[code]

[2022-04-15 04:47] rossbar commented on #1705
This was [recently discussed](https://github.com/networkx/archive/blob/main/meetings/2022-04-08.md#long-term-tracking-items) and the general consensus was that there wasn't a lot of motivation for this change.

@boothby noted that there would be a way to go about this without breaking user code by creating new, non-prefixed exceptions that inherit from the current exceptions, e.g.

[code]

then re

[2022-04-15 04:47] #1705 closed

[2022-04-15 05:14] rossbar opened #5538 "Duplicate directed edges in `min_edge_cover` set"
I was surprised by the following result when reviewing the `min_edge_cover` in #5478:

[code]

The duplication of the `(0, 2)` edge (disregarding order) seems incorrect for a *minimal* edge cover, at least based on [my limited understanding of the min edge cover problem](https://en.wikipedia.org/wiki/Edge_cover).

[2022-04-15 12:45] dschult commented on #5538
This is definitely a defect!!   The returned result is *not* a minimum edge cover...
A quick [look at the code](https://github.com/networkx/networkx/blob/bf69de52440a68202f9251e6a402a91fb14eaefe/networkx/algorithms/covering.py#L84) makes me suspect that the trouble is that we add both directions of an edge when building the min_cover.  Why??  We should only add one direction of the edge -- this is

[2022-04-16 06:58] 0ddoes commented on #5535
Yes right! Actually I am working on one now. I am trying to include plots as well to make it more interesting. I will put the updates soon :)

[2022-04-16 13:57] kpetridis24 commented on #5532
I will start working on this as well! @dschult @MridulS

[2022-04-16 18:34] rossbar opened #5542 "Export `is_tournament` to main namespace?"
Currently all of the functions defined in the `tournament` module must be accessed through the `tournament` namespace, i.e.

[code]

This makes sense for many of the functions because they require the input graph to be a tournament graph and the `tournament` namespace is an effective way of enforcing this policy without having to add an `is_tournament` validation to every function. There are other

[2022-04-16 18:42] rossbar opened #5543 "`is_tournament` behavior for undirected and multigraphs"
Currently, `is_tournament` is decorated with `not_implemented_for` for the undirected and multigraph cases, so users see the following:

[code]

Based on the docstring and module description, I would've expected `is_tournament` to return `False` for these cases rather than throw a `NotImplemented` exception. I would propose to modify the behavior as such, so the above examples become:

[code]

Tho

[2022-04-17 14:16] dtekinoglu opened #5547 "Implementation of LCA algorithm does not match with referenced paper"
The [reference paper](https://www3.cs.stonybrook.edu/~bender/pub/JALG05-daglca.pdf) stated in NetworkX documentation for lowest common ancestor, describes the algorithm as follow:

However, when I look at the current implementation, I saw that there are major differences.

- NetworkX implementation sorts the lists with respect to Euler tour of G although it should be of T.
[code]
- The paper state

[2022-04-17 19:10] dschult commented on #5538
As suspected, the problem is not due to un-covered code by the tests, but rather that the code was only tested for the special case when a bipartite version of `matching_algorithm` was used. The deeper issue is that the API for bipartite 'matching_algorithm's returns a dict of "mates", while the non-bipartite functions return a set of edge 2-tuples.  When the non-bipartite matching API switched to

[2022-04-18 00:35] #5090 closed

[2022-04-18 04:15] Astroakanksha24 commented on #5295
Hey @MridulS , I am an outreachy applicant and I would like to work on this issue. Is this issue still open? If yes can you assign this issue to me or should I directly work on this? Thanks in advance!!

[2022-04-18 09:01] NikitaSharma1 opened #5551 "Wrong output in `hamiltonian_path()`"
According to documentation, the `hamiltonian_path()` function is applicable only for tournament graphs, but, it is not checking whether the graph is a tournament or not. Moreover, it gives the wrong output even if the graph doesn't have a hamiltonian path.

Current Output
[code]
The code should check for the tournament graph first and return "G is not a tournament graph" instead of the wrong outpu

[2022-04-18 09:08] NikitaSharma1 commented on #5551
Another suggestion,
Every tournament graph has a hamiltonian path but the hamiltonian path can exist even if the graph is not a tournament or directed graph. So, maybe this function can be used for all undirected and directed graphs as well.

[2022-04-18 13:13] NikitaSharma1 opened #5553 "Cannot access `branching_weight()`"
The documentation of [branching_weight()](https://networkx.org/documentation/stable/reference/algorithms/generated/networkx.algorithms.tree.branchings.branching_weight.html#networkx.algorithms.tree.branchings.branching_weight) specifies `Returns the total weight of a branching`  but I am unable to access the function.

[code]

[2022-04-18 16:13] MridulS commented on #5553
`branching_weight` needs to imported from the `tree` namespace, not everything is imported into the root level `networkx` namespace.

[code]

This should be better documented.

[2022-04-18 16:22] MridulS commented on #5551
Finding the hamiltonian path is a hard problem and it's not trivial to generalize the hamiltonian function for a tournament graph to work with any general graph :)

But we should definitely catch the "G is not a tournament graph" error as users shouldn't really use a function from a sub-package namespace on general graph in networkx.

[2022-04-18 16:38] NikitaSharma1 commented on #5553
Thank you, I can work on this.

[2022-04-18 16:38] NikitaSharma1 commented on #5553
Thank you, I can work on this.

[2022-04-18 17:38] dschult commented on #5551
The tournament module is quite clear in the documentation that rather than check `is_tournament` for each function, it is the responsibility of the user to provide a tournament graph as input. So, my impression is that we don't want to make each function test for a tournament graph before it runs its code. Perhaps that warning language needs to be spread to all the function doc_strings as well. I

[2022-04-18 18:06] MridulS commented on #5295
There is no need to assign the issue, feel free to start working on it :)

[2022-04-18 19:30] stanyas commented on #5510
A tentative abstract:

NetworkX contains many algorithms. When I tried to have some specific functionality of a graph algorithm, I needed to do a lengthy googling of its behavior that would lead me to its name in NetworkX.

The purpose of my project would thus be to demonstrate the functioning of each of the 60+ algorithms visually side by side in an image posted in a hyperlinked GitHub repository

[2022-04-19 03:11] r1ght0us opened #5557 "parameter nodelist for triadic_census"
This is the code example:
[code]
This is the result:
[code]
Is it wrong with this parameter nodelist setting?

[2022-04-19 14:13] dschult commented on #5557
the example is correct. For each type of triad, it shows how many triads are of that type. With only 1 node in the nodelist there are no triads. So there are no triads of any of the types.

[2022-04-19 14:20] dschult commented on #5520
I believe this is now fixed in #5537 so I'll close it. Comment here or reopen if there is more to do.

[2022-04-19 14:20] #5520 closed

[2022-04-19 15:03] r1ght0us commented on #5557
@dschult
[code]
I got the same result as the parameter nodelist
[code]
So, sir. how can I get the triads type and quantity of a node?

[2022-04-19 15:12] MridulS commented on #5557
Just by calling `nx.triadic_census(G))` it will return the triad type and number of occurrences. If you want the type of triad and all the triad graphs please use `nx.triads_by_type(G)`.

[2022-04-19 15:31] r1ght0us commented on #5557
@MridulS
Mr., I just want to get the quantity of the triads and the triads group belonging to a single node.
use ```nx.triads_by_type(G)``` . Because it's a bigger graph and takes a long time

[2022-04-19 15:53] dschult commented on #5557
A single node in the nodelist contains no triads -- there is only one node!!
Perhaps you want to include only the node and its neighbors:
```nx.triad_census(G, nodelist=['b']+list(G['b']))```

[2022-04-19 17:27] dschult commented on #5557
I see what you mean, but clearly this attempt to implement triad_census for a nodelist does not count the same way you suggest.  The PR that implemented it is #4361. It is possible that there is a bug in that change.  I haven't looked carefully, but I think that the condition `m[u] < m[v]`, which is supposed to eliminate double counting of triads, does not work correctly when only a subset of the

[2022-04-20 03:07] r1ght0us commented on #5557
@dschult
For each node in "a<-b->c", i expect to be able to get each node to belong to “021D”,  for each node, the "021D" type quantity value is 1

For each node in "a->b->c->d":
- node "a" get {"021C": 1}
- node "b" get {"021C": 2}
- node "c" get {"021C": 2}
- node "d" get {"021C": 1}