[2022-10-11 17:40] MridulS opened #6029 "Improve test coverage for algorithms in maxflow.py"
Currently we don't have full coverage for algorithms in maxflow.py. Code blocks which are highlighted with red at codcov https://app.codecov.io/gh/networkx/networkx/blob/main/networkx/algorithms/flow/maxflow.py don't have corresponding tests. The tests should be added in https://github.com/networkx/networkx/blob/main/networkx/algorithms/flow/tests/test_maxflow.py

### Current Behavior

We don't te

[2022-10-11 17:43] MridulS opened #6030 "Improve test coverage for algorithms in beamsearch.py"
Currently we don't have full coverage for algorithms in beamsearch.py. Code blocks which are highlighted with red at codcov https://app.codecov.io/gh/networkx/networkx/blob/main/networkx/algorithms/traversal/beamsearch.py don't have corresponding tests. The tests should be added in https://github.com/networkx/networkx/blob/main/networkx/algorithms/traversal/tests/test_beamsearch.py

### Current Be

[2022-10-11 17:45] MridulS opened #6032 "Improve test coverage for algorithms in dominating_set.py"
Currently we don't have full coverage for algorithms in dominating_set.py. Code blocks which are highlighted with red at codcov https://app.codecov.io/gh/networkx/networkx/blob/main/networkx/algorithms/approximation/dominating_set.py don't have corresponding tests. The tests should be added in https://github.com/networkx/networkx/blob/main/networkx/algorithms/approximation/tests/test_dominating_se

[2022-10-11 17:48] MridulS opened #6033 "Improve test coverage for algorithms in betweenness_subset.py"
Currently we don't have full coverage for algorithms in betweenness_subset.py. Code blocks which are highlighted with red at codcov https://app.codecov.io/gh/networkx/networkx/blob/main/networkx/algorithms/centrality/betweenness_subset.py don't have corresponding tests. The tests should be added in https://github.com/networkx/networkx/blob/main/networkx/algorithms/centrality/tests/test_betweenness

[2022-10-11 17:50] MridulS opened #6034 "Improve test coverage expanders line graph generators"
Currently we don't have full coverage for graph generators in expanders.py. Code blocks which are highlighted with red at codcov https://app.codecov.io/gh/networkx/networkx/blob/main/networkx/generators/expanders.py don't have corresponding tests. The tests should be added in https://github.com/networkx/networkx/blob/main/networkx/generators/tests/test_expanders.py

### Current Behavior

We don't

[2022-10-11 17:51] MridulS opened #6035 "Improve test coverage expanders stochastic graph generators"
Currently we don't have full coverage for the stochastic graphs generators. Code blocks which are highlighted with red at codcov https://app.codecov.io/gh/networkx/networkx/blob/main/networkx/generators/stochastic.py don't have corresponding tests. The tests should be added in https://github.com/networkx/networkx/blob/main/networkx/generators/tests/test_stochastic.py

### Current Behavior

We don'

[2022-10-11 17:53] MridulS opened #6036 "Improve test coverage for algorithms in load centrality"
Currently we don't have full coverage for the algorithms in load centrality. Code blocks which are highlighted with red at codcov https://app.codecov.io/gh/networkx/networkx/blob/main/networkx/algorithms/centrality/load.py don't have corresponding tests. The tests should be added in https://github.com/networkx/networkx/blob/main/networkx/algorithms/centrality/tests/test_load_centrality.py

### Cur

[2022-10-11 18:40] nsengiyumva-wilberforce commented on #6028
@MridulS, can I work on this?

[2022-10-11 19:13] MridulS commented on #6028
Yes please go ahead :)

[2022-10-11 19:27] Qudirah commented on #5067
Isn't it just easier to specify explicitly which of the induced subgraphs? Either it is edge-induced or node-induced because that automatically separates anyone from thinking it is a monomorphism. I mean it is easier to think of monomorphism when induced subgraphs are mentioned. But explicitly saying which type of induced subgraph takes away monomorphism.

I'm just guessing from a couple of books

[2022-10-11 22:11] JibJibFlutterhousen commented on #5067
I am also of the belief that using “edge-induced” and “vertex-induced” terminology would remedy confusion between subgraph monomorphism and subgraph isomorphism.

The logic behind using “edge-induced” and “vertex-induced” is that in both cases, there is a rigid structure behind what kind of set is being used to create the smaller graph from the host. In one case, you are taking a subset of the edg

[2022-10-12 03:02] dschult commented on #5067
My understanding is that monomorphism allows isolated nodes that aren't isolated in the original graph. For example, The triangle graph `nx.complete_graph(3)` can have "non-induced subgraph" with nodes [0,1,2] and an edge (1, 2).  That subgraph isn't node-induced nor is it edge-induced.  If I understand correctly, that is a subgraph of the original graph.

[2022-10-12 03:29] chimaobi-okite commented on #6032
Hi @MridulS , I would like to work on this.

[2022-10-12 05:44] MridulS commented on #6032
Sure, Please go ahead :)

[2022-10-12 14:30] chimaobi-okite commented on #6034
Hi @MridulS, I would like to work on this. Quick question, is there a way I can check my codes with code coverage to ensure the tests covers every line before raising a PR?

[2022-10-12 20:15] #5981 closed

[2022-10-12 21:25] chimaobi-okite commented on #6032
Hi @MridulS , I made a pull request on this , could you help review it?

[2022-10-12 22:44] reregaga opened #6049 ""Error: node, position, expected two doubles" when using AGraph renderer"
### Current Behavior

Get error about `Error: node A, position (0, 0), expected two doubles`:
[code]
if run code:
[code]

### Expected Behavior

Without errors.

### Steps to Reproduce
#### Without converting `pos` I get this error and image is not correct
Code:
[code]
Result `out.dot` file:
[code]
Rendered image:
![out](https://user-images.githubusercontent.com/76629445/195459562-bcac373b-1ba1-4b

[2022-10-13 02:12] ladykkk commented on #6030
fix#6045

[2022-10-13 04:06] steven-nicolaou opened #6052 "simple_cycles infinite loop"
### Current Behavior
`simple_cycles` appears to enter an infinite loop. My graph has under 4000 nodes and edges. If I subtract a handful of them (less than 100), it runs successfully in just about a minute. I could not reduce it to a minimal example, so I have hashed the nodes and attached the smallest example that I could reproduce it with. It does not seem to be just a matter of a large number o

[2022-10-13 13:14] hrshshrm commented on #6029
Hi @MridulS, I would like to take this issue up.

[2022-10-13 17:25] paulitapb commented on #6036
I'm gonna be working on this

[2022-10-13 22:20] paulitapb commented on #6035
Working on this! Already made a pull request!

[2022-10-14 08:32] RoseZhen2022 commented on #6033
Hi @MridulS , I would like to work on this issue. Thanks!

[2022-10-14 10:28] ladykkk commented on #6033
Working on it now and opened PR for it.

[2022-10-14 13:10] RoseZhen2022 commented on #6033
Hi @ladykkk , It's ok. I didn't know someone has taken this. If you need any help, I'm glad to be here. Thank you!

[2022-10-14 22:58] tindi-plus opened #6078 "Networkx tutorial does not include examples of vendor graph databases where networkx can be used."
The [networkx tutorial](https://networkx.org/documentation/latest/tutorial.html) does not include examples of graph databases that support networkx. For example, graph databases that support gremlin graph traversal language include AWS Neptune, Neo4j, InfinixGraph, etc. Read more [here](https://en.wikipedia.org/wiki/Gremlin_(query_language))

I believe that readers seeing practical databases where

[2022-10-15 04:10] MridulS commented on #6078
Closing this as there a duplicate discussion https://github.com/networkx/networkx/discussions/6079

[2022-10-15 04:10] #6078 closed

[2022-10-15 07:02] MridulS commented on #6015
I'll go ahead and close this. thanks for opening this @SMorrison42

[2022-10-15 07:02] #6015 closed

[2022-10-15 07:03] MridulS commented on #6029
Please go ahead :)

[2022-10-15 07:08] MridulS commented on #6034
You can run pytest locally to get the coverage report with:

[code]

[2022-10-15 08:52] chimaobi-okite commented on #6034
Thank you, this helped .

[2022-10-15 12:43] Qudirah commented on #6029
Hello @MridulS, I think this issue is either resolved or not necessary. The error is in line 158 of https://app.codecov.io/gh/networkx/networkx/blob/main/networkx/algorithms/flow/maxflow.py and the function test_kwargs_default_flow_func() solves it. This is because if the flow_func is none, it becomes default and the kwargs is supplied in this function which summarizes that line. Please let me kno

[2022-10-15 19:29] eecharlie opened #6081 "cutoff argument improperly disallowed when calling `minimum_cut` with `shortest_augmenting_path`"
It should be possible to call `minimum_cut(G, s, t, flow_func=shortest_augmenting_path, cutoff=3)` however this raises an exception.

From `maxflow.py`, `minium_cut()` definition:
[code]
where
[code]
however the docstring and source for `shortestaugmentingpath.py` do allow the `cutoff` argument.

[2022-10-15 21:30] paulitapb commented on #6052
Hi, I could replicate your problem. How did you select which nodes to subtract?

[2022-10-15 21:37] stevennic commented on #6052
Just trial and error, but it seems to happen with arbitrary combinations of nodes, so I don't think the problem is with individual nodes per se. This is just as minimal as I could get it.

[2022-10-15 21:43] paulitapb commented on #6052
ok! I was looking at the algorithm cover test and there's one if-condition branch that was not tested. I will see if that's where the problem occurs.

[2022-10-15 21:53] paulitapb commented on #6081
I think the problem is that cutoff for shortest_augmenting_path is not working properly that's why is disabled even when the function does allow the argument.

[2022-10-15 23:56] eecharlie commented on #6081
Can you point me to any github issue or failing unit test for `shortest_augmenting_path`?

[2022-10-16 17:14] dschult commented on #6081
In the details of #1102 it seems that the initial flagging of functions that don't have the cutoff functionality correctly included the `shortest_augmenting_path` (as well as some others) but the `cutoff` functionality was added in a commit a few days later. It looks like an oversight that these functions did not get removed from the list of functions that do not support the cutoff input parameter

[2022-10-16 19:38] paulitapb commented on #6081
I'll do it

[2022-10-16 22:49] eecharlie commented on #6081
Awesome! I might suggest the list variable be called `flow_funcs_without_cutoff` for readability.

[2022-10-17 00:29] dschult commented on #6081
I agree that the name of that variable needs to be changed. That suggestion looks good to me.

[2022-10-17 15:04] paulitapb commented on #6081
this is the PR that correct the list of functions that don't allow cutoff: https://github.com/networkx/networkx/pull/6085

[2022-10-17 15:52] #6036 closed

[2022-10-17 19:44] paulitapb opened #6086 "boykov_kolmogorov and dinitz algorithms allow cutoff but are not tested"
I noticed in *test_maxflow.py* that cutoff tests don't include boykov_kolmogorov and dinitz algorithms. I'm already working on this!

[2022-10-17 20:32] dschult commented on #6086
Great! You can connect this issue to that PR using the "Development" option on the right (under milestone). That makes a link so this Issue is automagically closed when that pull request is merged.

[2022-10-17 20:34] paulitapb commented on #6086
great!

[2022-10-18 04:17] eecharlie commented on #6081
So, follow up question as I keep pulling the string here...
The [doc page](https://networkx.org/documentation/stable/reference/algorithms/generated/networkx.algorithms.connectivity.connectivity.local_edge_connectivity.html#local-edge-connectivity) for `local_edge_connectivity` interestingly uses `edmonds_karp` as the default max_flow algorithm and states that edmonds_karp and shortest_augmenting_p

[2022-10-18 10:01] Qudirah commented on #5694
@dschult can I work on this?

[2022-10-18 10:12] Qudirah commented on #5911
@rossbar Can I work on what you have suggested?

[2022-10-18 13:01] Qudirah opened #6088 "Improve test coverage for multigraph class"
I discovered there are still some red spots in this link https://app.codecov.io/gh/networkx/networkx/blob/main/networkx/classes/multigraph.py and will like to work on it.

The tests will be added in https://github.com/networkx/networkx/blob/main/networkx/classes/tests/test_multigraph.py

Current Behavior
We don't test all the paths the code can take us.

Expected Behavior
We should be testing ever

[2022-10-18 14:18] paulitapb commented on #6081
I checked connectivity.py and `local_edge_connectivity` is using `edmonds_karp` if flow_func is None. Then when `maximum_flow_value` is called _flow_func_ is `edmonds_karp` because that is passed through _**kwargs_ argument.
I did a simple experiment and I confirmed that. I also checked the doc page and It seems that we should correct that only edmonds_karp and shortest_augmenting_path support _cu

[2022-10-18 14:52] dnabanita7 opened #6090 "can't install pygraphviz in my system due to some gcc error"
When I install pygraphviz through the development repo, i.e. from ``requirements/extra.txt``, I get the following error:
[code]
Even after installing graphviz, it is still showing the same error. The following line shows the graphviz installation report:
[code]

### Environment

Python version: 3.9.7
NetworkX version:'3.0b2.dev0'

[2022-10-18 15:11] dschult commented on #6081
I don't think a new Issue for checking docs for correct statements about `cutoff` is needed. We can do that in this issue. And if the PR doesn't complete that process, that's OK. We can have multiple PRs if needed to fix this Issue. I guess I see fixing the docs and fixing the code as part of the same process.  Both are correcting this mismatch between which functions are providing a cutoff featur

[2022-10-18 15:54] dschult commented on #5694
I think it would be fine to work on this -- but you should realize that the final API decisions haven't been made. It might be helpful to see what could work though.

It looks like `arrows` is only used to help set a variable called `use_lineCollection`.  Maybe that should be the name of the input variable instead of `arrows` or `fancy_edges`. Whatever we call it, it should have 3 possible inputs:

[2022-10-18 17:48] rossbar commented on #5911
Absolutely, please do!

[2022-10-18 18:02] Qudirah commented on #6088
I noticed that the red line (line 480) is probably unnecessary.

G = nx.MultiGraph()
G.add_edge(1,2)

works perfectly fine.

and unless the statement is stated like:
G.add_edge (u_for_edge=1,v_for_edge=3) which anyone hardly ever does.

When I used this G.add_edge (u_for_edge=None,v_for_edge=3), it did generate a graph with edge point none. What would you say I do? remove the test line as it seems

[2022-10-18 18:51] Qudirah opened #6092 "Improve test coverage for algorithms in dispersion.py"
I discovered there are still some red spots in this link https://app.codecov.io/gh/networkx/networkx/blob/main/networkx/algorithms/centrality/dispersion.py and will like to work on it.

The tests will be added in https://github.com/networkx/networkx/blob/main/networkx/algoritms/centrality/tests/test_dispersion.py

Current Behavior
We don't test all the paths the code can take us.

Expected Behavio

[2022-10-19 08:11] MridulS commented on #6090
Are you using a M1 mac? How did you install graphviz?

Trying searching in the pygraphviz issue tracker about this, one suggestion https://github.com/pygraphviz/pygraphviz/issues/398#issuecomment-1038476921.

I'll go ahead and close this issue as this is a pygraphviz installation issue, please search in the current open issues here https://github.com/pygraphviz/pygraphviz. You only need pygraphviz

[2022-10-19 08:11] #6090 closed

[2022-10-19 08:18] MridulS commented on #6088
I can not reproduce this. This gives an error (as it should!). Can you give a minimal example how to reproduce this?
It shouldn't be possible to get a graph with a `None` node.

You need to add a test when somewhere tries to do something like
[code]
it generates an error.

[2022-10-19 09:24] Qudirah commented on #6088
<img width="454" alt="Multi_graph" src="https://user-images.githubusercontent.com/94577309/196652247-4731500f-7dfa-4fb2-b50e-912dbf23ecf9.PNG">

[2022-10-19 09:25] Qudirah commented on #6088
@MridulS This is the behavior. There is no error

[2022-10-19 09:55] MridulS commented on #6088
Well, that's interesting. Can you check your networkx version? What does `nx.__version__` prints out?

[2022-10-19 09:58] MridulS commented on #6088
This was fixed in https://github.com/networkx/networkx/pull/4892/ so should be in networkx version > 2.6

[2022-10-19 10:28] Qudirah commented on #5911
Just to be clear I go to the doc/readwrite/adjlist.rst and indicate a note under read_adjlist and generate_adjlist. Please correct me if I am wrong

[2022-10-19 10:36] Qudirah commented on #6088
I'm so sorry. I totally forgot to upgrade because I changed my laptop. I'll make a pull request now.

[2022-10-19 11:55] Qudirah opened #6102 "Improve test coverage for graph class"
I discovered there are still some red spots in this link https://app.codecov.io/gh/networkx/networkx/blob/main/networkx/classes/graph.py and will like to work on it.

The tests will be added in https://github.com/networkx/networkx/blob/main/networkx/classes/tests/test_graph.py

Current Behavior
We don't test all the paths the code can take us.

Expected Behavior
We should be testing everything so

[2022-10-19 11:56] Qudirah commented on #6102
It has the same issue with #6088 so I'm already on them.

[2022-10-19 12:23] paulitapb commented on #6081
I was trying to correct the doc page [local_edge_connectivity](https://networkx.org/documentation/stable/reference/algorithms/generated/networkx.algorithms.connectivity.connectivity.local_edge_connectivity.html#networkx.algorithms.connectivity.connectivity.local_edge_connectivity). But I cant find where should I change it. @MridulS

[2022-10-19 12:57] naught101 commented on #5723
I looked at the PR mentioned, and it looks like the deprecation warning for `nx.nx_pydot.pydot_layout` doesn't suggest a replacement. Is there a way to use pygraphviz via networkx for generating graph layouts? If not, please don't deprecate yet - those layout generators are seriously useful (e.g. the spring layouts are much better than the native networkx ones, as far as I can tell).

[2022-10-19 13:01] naught101 commented on #5723
Ah, I see `nx.nx_agraph.pygraphviz_layout` exists - perhaps those could be added to the deprecation message?

[2022-10-19 13:51] paulitapb opened #6103 "Improve test coverage for generators/tree.py"
Increase coverage over [`tree.py`](https://github.com/networkx/networkx/blob/main/networkx/generators/trees.py) so all the code blocks that are highlighted in
https://app.codecov.io/gh/networkx/networkx/blob/main/networkx/generators/trees.py are properly tested.

[2022-10-19 15:28] paulitapb commented on #6052
good point! I think that may be the problem. Because for g2 the number of simple cycles is 89113 which is not much compared with the worst case for a graph of 3587 nodes. And as @steven-nicolaou chose the number of nodes and edges randomly it's very likely that g1 is a graph with too many simple cycles.

[2022-10-19 16:02] steven-nicolaou commented on #6052
Interesting point and I was afraid about the possibility of 1 edge adding an exponential number of cycles. But it also crashes due to out of memory error if I let it run long enough. I thought it might be a memory leak, but if it's something that simply needs a long time to run, it should do so without crashing.

[2022-10-19 23:20] #6081 closed

[2022-10-19 23:57] tindi-plus commented on #5863
I am working on this.

[2022-10-20 01:53] rfulekjames commented on #6052
I haven't observed any memory leak while enumerating cycles of g1 for several hours. Since the function is a generator, storing simple cycles in memory throughout its execution is not necessary. Therefore I am not sure where the problem could be.

[2022-10-20 03:07] mraa022 opened #6107 "Invalid spanning tree returned by random_spanning_tree"
Hello, i was trying to, given a complete 3-partite graph G, find a random spanning tree of G. so i used the networkx.algorithms.tree.mst.random_spanning_tree method, but it returned a tree t which is invalid since it connects 2 vertices in the same part (eg. 10 and 11 are in the same part but they share an edge). Here is my code
`t = nx.algorithms.tree.mst.random_spanning_tree(G)`. here are the tr

[2022-10-20 12:04] dschult commented on #6107
The random spanning tree algorithm doesn't know about or maintain any information about the 3-partite structure of your network. That said, if you give it a graph G that respects the edge restrictions you are looking for, the spanning tree will be formed with only those edges and thus respect the edge restrictions too.

[2022-10-20 12:07] dschult commented on #6052
If you try to store all the simple cycles in a e.g. list, you will run out of memory. Also, the code you posted above can't be the code you actually use because it only creates the generator -- and doesn't iterate over it -- so no work is actually done.  Are you using it with code that will store all the paths?

[2022-10-20 15:08] Qudirah opened #6109 "Improve test coverage for digraph class"
I discovered there are still some red spots in this link https://app.codecov.io/gh/networkx/networkx/blob/main/networkx/classes/digraph.py
I will like to work on it.

The tests will be added in https://github.com/networkx/networkx/blob/main/networkx/classes/tests/test_digraph.py

Current Behavior
We don't test all the paths the code can take us.

Expected Behavior
We should be testing everything s

[2022-10-20 15:11] Qudirah commented on #6109
@MridulS I want to work on these. Since they are the same as #6088 . I want to know if I can make the correction in a single pull request. Or I should create the issues for the two classes differently and separate the PRs

[2022-10-20 16:09] rfulekjames commented on #6107
I guess you meant `t = nx.algorithms.tree.mst.random_spanning_tree(graph)` rather than `t = nx.algorithms.tree.mst.random_spanning_tree(G)`.

I am not sure how you got your `t` matrix.

The problem might just be that the nodes are permuted in `t.nodes()` of type `NodeView` with respect to `graph.nodes()`.
One can (re)-construct the tree `t` differently, so that the nodes are ordered in the same wa

[2022-10-20 18:09] mraa022 commented on #6107
I thought the algorithm found a spanning tree of G though, and to do that it can only pick edges already in G. some of the edges in my tree aren't even in G. am i misunderstanding the point of the algorithm? Can you please perhaps give an example of how to edit it so the tree it returns only has edges already in G.
Regards

[2022-10-20 18:10] mraa022 commented on #6107
Unfortunately some vertices that are in the same part are still connected

[2022-10-20 18:52] rfulekjames commented on #5952
Hi all, I would be happy to fix this small bug (as a first time contributor) in case nobody plans to work on it and possibly also implement the generalization in the direction of [the Route inspection problem](https://en.wikipedia.org/wiki/Route_inspection_problem) with the option _"... to start and end at specified vertices_ ..." in case this is still of interest.

cc @dschult, @claudinepeyrat06

[2022-10-20 19:39] mraa022 commented on #6107
Thank you for the detailed response. I ran your code and the assertion isn't raised in my machine too. Perhaps sharing the code that generates the invalid spanning trees would be better. So, bellow is the code i used to generate the spanning trees.
[code]
When i use this code to generate the spanning tree, one of t1 or t2 violates the partition property.

[2022-10-20 19:55] rossbar commented on #6107
How often does this happen? Every time? Sometimes? Once? Again I am not able to reproduce, at least using another brute-force initial check for a failing instance:

[code]

There's nothing obvious in the above function to indicate whether/why there'd be a failure.

I suspect there is something going on outside of this function that is causing the behavior you are not expecting. For example, is `G`

[2022-10-20 20:02] rossbar commented on #5952
I'm +1 for implementing the fix+tests proposed in the OP. Investigating new algorithms e.g. for route inspection is interesting, but I'd propose to handle that in a separate issue/discussion/PR as that will likely require more discussion. Fixing the defect in `eulerize` is a high priority IMO.

[2022-10-20 21:07] mraa022 commented on #6107
sorry about that, after investigating more i realized the cause of the bug was something else. if you get a random spanning tree t of G, and then create another tree with the same Adjacency matrix as t  you get 2 different trees. the working example i have attached shows this.  Why is that? shouldnt 2 trees with the same adjacency matrix equal one another?
Thank you soo much for the help, sorry i

[2022-10-20 21:59] rossbar commented on #6107
It depends on what you mean by "the same" :). The connections between nodes are the same, but the nodes are being implicitly relabeled with all of the conversion back-and-forth between adjacency and graph representations. A close look at the `adjacency_matrix` docstring reveals the `nodelist` parameter, which is used to determine the *order* of the nodes. When not specified, it uses the order of `

[2022-10-20 22:16] mraa022 commented on #6107
oooooh, i get it now. thank you sooo much for all the help

[2022-10-20 22:16] #6107 closed

[2022-10-21 00:40] dschult commented on #5952
Yes -- @rfulekjames please make a PR to fix the bug! We can help with any first-time questions you might have.
Thanks!

[2022-10-21 01:26] #6086 closed

[2022-10-21 01:33] rossbar opened #6111 "Undocumented parameters in `dispersion`"
The signature for `nx.dispersion` is:

[code]

but the three parameters `alpha`, `b` and `c` are not described in the docstring.

[2022-10-21 07:19] Qudirah commented on #6111
will do that now!

[2022-10-21 08:14] Qudirah commented on #6111
@rossbar @MridulS from what I gather, alpha,b, and c are optimal values for obtaining maximum performance. Would that suffice?

[2022-10-21 08:30] #6088 closed

[2022-10-22 00:59] #5857 closed

[2022-10-22 14:15] Mjh9122 opened #6115 "Increase test coverage in core.py"
Some untested conditionals in https://app.codecov.io/gh/networkx/networkx/blob/main/networkx/algorithms/core.py and I'd like to add them.

The tests will be added in https://github.com/networkx/networkx/blob/main/networkx/algorithms/tests/test_core.py

Current Behavior:
Not testing exceptions that are raised

Expected Behavior, test all conditions

Steps to reproduce, Look at coverage link above.

[2022-10-22 20:26] Qudirah opened #6118 "Improve test coverage for multidigraph class"
I discovered there are still some red spots in this link https://app.codecov.io/gh/networkx/networkx/blob/main/networkx/classes/multidigraph.py
I will like to work on it.

The tests will be added in https://github.com/networkx/networkx/blob/main/networkx/classes/tests/test_multidigraph.py

Current Behavior
We don't test all the paths the code can take us.

Expected Behavior
We should be testing ev

[2022-10-22 20:38] Qudirah commented on #6029
@rossbar please help check this out?

[2022-10-22 22:40] jeftersantiago commented on #5824
I'll like to work on this too, @Qudirah are you working on it? If so, maybe we can help each other?!

[2022-10-24 20:23] #6102 closed

[2022-10-25 05:14] #5987 closed

[2022-10-25 05:32] #6103 closed

[2022-10-25 17:53] staillefer opened #6134 "Crash in coreviews.py"
Hi,

I have a crash inside coreviews.py :

  m2 = ox.plot_route_folium(G, listeNoeuds, route_map = mapGraphe, weight = 3)
  File "/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/osmnx/folium.py", line 96, in plot_route_folium
    gdf_edges = utils_graph.graph_to_gdfs(G.subgraph(route), nodes=False).loc[uvk]
  File "/Library/Frameworks/Python.framework/Versions/3.9/lib

[2022-10-25 18:12] MridulS commented on #6134
Could you give some details how you ended up getting this output?
I see you are using osmnx, can you provide the code block that generated this output?

From the output it does look like node `583097016` is not in the Graph `G`

[2022-10-25 18:45] staillefer commented on #6134
print( G.nodes[583097016])
{'y': 45.593018, 'x': -73.6822982, 'street_count': 3}

It  proves that the node exists in G.

    On Tuesday, October 25, 2022 at 02:12:43 p.m. GMT-4, Mridul Seth ***@***.***> wrote:

Could you give some details how you ended up getting this output?
I see you are using osmnx, can you provide the code block that generated this output?

From the output it does look like no

[2022-10-25 19:30] rossbar commented on #6134
@staillefer the existence of the node in `G` is not particularly helpful in chasing down the problem. Generally, when reporting an issue it is useful to provide a minimum reproducing example along with the traceback, as one would need the full context in order to be able to determine the root cause of a problem.

For example - the node may be in `G`, but from the traceback above I see calls that a

[2022-10-25 20:57] staillefer commented on #6134
My code:

import osmnx as ox

OSM_DUVERNAY              = "Duvernay, Laval, Quebec, Canada"
OSM_SAINT_FRANCOIS        = "Saint-Francois, Laval, Quebec, Canada"
OSM_SAINT_VINCENT_DE_PAUL = "Saint-Vincent-de-Paul, Laval, Quebec, Canada"
OSM_AUTEUIL               = "Auteuil, Laval, Quebec, Canada"

districts = [OSM_DUVERNAY, OSM_SAINT_FRANCOIS, OSM_SAINT_VINCENT_DE_PAUL, OSM_AUTEUIL]

listNodes =  (5

[2022-10-25 23:12] rossbar commented on #6134
Thanks @staillefer this is helpful. The problem is that the `listNodes` doesn't seem to define a valid "route" in your graph, i.e. there is no edge between the final two nodes `583097017` and `583097016`.

I will close this as there isn't an underlying problem with NetworkX. You may want to consider opening an issue in `osmnx`, perhaps to propose a more informative exception message when the `rout

[2022-10-25 23:12] #6134 closed

[2022-10-26 00:07] staillefer commented on #6134
Thank you very much for your time !

[2022-10-26 16:08] paulitapb opened #6136 "Improve test coverage for matching.py"
Currently,  the test coverage is only 95% and I would like to improve it.

[2022-10-27 06:45] ajgrove456 opened #6137 "Unable to access any functions related to traveling salesman problem upon importation of approximation"
### Current Behavior

I am able to import approximation but am not able to use functions such as greedy_tsp() or christofides().
![image](https://user-images.githubusercontent.com/116789197/198209758-b43a9790-1af0-4b1b-85d4-62ef37f0aa00.png)

### Expected Behavior

Importation of approximation package and access to greedy_tsp and christofides
![image](https://user-images.githubusercontent.com/1167

[2022-10-27 07:52] #6109 closed

[2022-10-27 11:43] paulitapb commented on #6137
The function is still in aproximation. I reproduced this with networkX 2.8.7 and Python 3.8 but didn't get that error. Are you using a virtualenv? If helps I also tested networkX 2.6.3 and It works.

[2022-10-27 17:34] #6092 closed

[2022-10-28 05:34] rossbar commented on #6115
Thanks @Mjh9122 , it turns out that `find_cores` is actually supposed to be removed in the next release! Your discovery via coverage is very helpful, thanks for opening the issue!

[2022-10-28 13:57] paulitapb opened #6141 "Improve test coverage in clique.py"
Currently `clique.py` in the Algorithms section doesn't have full coverage. I want to improve that.

[2022-10-28 16:27] paulitapb opened #6144 "directed_edge_swap: ZeroDivisionError when passing a digraph without edges"
I was working on improving test coverage for `swap.py` and tested `directed_edge_swap` with a digraph without edges. That resulted in a ZeroDivisionError from `nx.utils.cumulative_distribution`.

### Steps to Reproduce

[code]
### Current Behavior

ZeroDivisionError is raised because in `nx.utils.cumulative_distribution` there's a division by the sum of the input distribution that is zero. The dis

[2022-10-29 16:33] paulitapb commented on #6144
This error also occurs in `double_edge_swap` from `swap.py`. I'll be adding a PR to solve that.

[2022-10-29 20:09] paulitapb opened #6150 "In smallworld.py: ZeroDivisionError when passing a graph without edges"
This is a similar error to #6144 that comes from the use of `nx.utils.cumulative_distribution` with graphs without edges. In #6144 there is a deeper explanation of the bug.

[2022-10-30 08:07] Qudirah opened #6154 "Improve test coverage for voterank algorithm"
I discovered there are still some red spots in this link
https://app.codecov.io/gh/networkx/networkx/blob/main/networkx/algorithms/centrality/voterank_alg.py

I will like to work on it.

The tests will be added in
https://app.codecov.io/gh/networkx/networkx/blob/main/networkx/algorithms/centrality/tests/test_voterank.py

Current Behavior
We don't test all the paths the code can take us.

Expected

[2022-11-01 17:21] #5911 closed

[2022-11-01 20:12] tinaoberoi commented on #6029
Hi @MridulS is this issue still open? If yes I would like to take this up if no one is working on it.

[2022-11-02 11:34] Qudirah opened #6170 "Improve test coverage for percolation centrality algorithm"
I discovered there are still some red spots in this link
https://app.codecov.io/gh/networkx/networkx/blob/main/networkx/algorithms/centrality/percolation.py

I will like to work on it.

The tests will be added in
https://app.codecov.io/gh/networkx/networkx/blob/main/networkx/algorithms/centrality/tests/test_percolation_centrality.py

Current Behavior
We don't test all the paths the code can take u

[2022-11-03 17:58] Mjh9122 opened #6173 "Improve testing coverage in Algorithms/Bipartite"
### Current Behavior

Test coverage can be improved. See https://app.codecov.io/gh/networkx/networkx/tree/main/networkx/algorithms

[2022-11-03 18:29] #6115 closed

[2022-11-04 09:33] Qudirah commented on #6170
@MridulS @rossbar @jarrodmillman I need help with this one. I don't understand how to approach it.

[2022-11-04 09:35] Qudirah commented on #6111
hello @rossbar @MridulS @jarrodmillman I need your help with this

[2022-11-04 09:56] Qudirah commented on #4792
Can I make this correction?

[2022-11-04 17:42] rossbar commented on #4792
Sure - IMO the parameter description from `tol` could be updated to note that the convergence condition is `N * tol`, since that is an accurate representation of the current behavior.

Note that you'll likely have to update multiple docstrings, as `pagerank` calls the private `_pagerank_scipy` under-the-hood.

[2022-11-04 17:50] rossbar commented on #6111
According to the implementation, these three parameters are used in the normalization procedure where the dispersion is normalized by embeddedness. Probably the best way to get a clear description of the normalization procedure is to investigate the paper referenced in the docstring.

[2022-11-04 17:53] nsengiyumva-wilberforce opened #6177 "Improve test coverage for matchhelpers.py"
Currently we don't have full coverage for algorithms in matchhelpers.py. Code blocks which are highlighted with red at codcov [](https://app.codecov.io/gh/networkx/networkx/blob/main/networkx/algorithms/isomorphism/matchhelpers.py) don't have corresponding tests. The tests should be added in [](https://github.com/networkx/networkx/blob/main/networkx/algorithms/isomorphism/tests/test_match_helpers.

[2022-11-04 17:53] #6177 closed

[2022-11-04 17:57] nsengiyumva-wilberforce opened #6178 "Improve test coverage for matchhelpers.py"
Currently we don't have full coverage for algorithms in matchhelpers.py. Code blocks which are highlighted with red at codcov https://app.codecov.io/gh/networkx/networkx/blob/main/networkx/algorithms/isomorphism/matchhelpers.py don't have corresponding tests. The tests should be added in https://github.com/networkx/networkx/blob/main/networkx/algorithms/isomorphism/tests/test_match_helpers.py

Cur

[2022-11-04 18:17] rossbar commented on #6173
While this is true, I don't think it warrants opening an issue since it's not very specific. I'll go ahead and close this one!

[2022-11-04 18:17] #6173 closed

[2022-11-04 18:53] rossbar opened #6180 "Deprecate `nx.number_of_cliques`?"
Just a thought I had while [reviewing 6171](https://github.com/networkx/networkx/pull/6171#pullrequestreview-1169036037).

The `number_of_cliques` helper function creates (by default) a dictionary keyed by node where the values are the number of cliques containing the node. The default behavior essentially boils down to a one-liner:

[code]

The majority of the implementation of `nx.number_of_cliq

[2022-11-04 19:09] rossbar commented on #6170
From the coverage report, the untested code is when `weight` is specified (i.e. `weight` is something other than the default `None`).

So the way to test this would be to generate a simple graph with weighted edges, determine what the expected percolation centrality value is for each node both *with* and *without* edge weights, then code up a test that checks the results of the function against th

[2022-11-04 20:57] dschult commented on #6180
Another function like that is `graph_number_of_cliques`.  It is literally `len(cliques)` if the input `cliques` is already computed and it is `sum(1 for c in nx.find_cliques(G))` if the cliques input is `None`. Removing these functions (I am sure there are others in this module) and replacing them with examples in the `find_cliques` doc_string seems like a good idea.

[2022-11-05 11:35] anushka192001 opened #6181 "not able to interpret read_graphml function . (query regarding read_graphml function)"
when i fed this graphml file below ino networkx using the tutorial
![image](https://user-images.githubusercontent.com/63954873/200117856-806b1b32-33fe-4742-a6c8-301da3e7edd2.png)

https://networkx.org/documentation/stable/reference/readwrite/generated/networkx.readwrite.graphml.read_graphml.html#networkx.readwrite.graphml.read_graphml

then these many edges and nodes are coming out .

![image](htt

[2022-11-05 15:11] dschult commented on #6181
The graphml reading function creates a MultiGraph or MultiDiGraph. So, each edge has an "edge key".
Printing `G.edges` shows each edge as a 3-tuple with the two nodes for that edge, and an edge key to identify which edge it is. You can remove the edge keys if you don't want multiple edges between nodes by using:
[code]

[2022-11-06 11:44] Qudirah commented on #6111
Alright. I'll look into that.

[2022-11-07 14:42] Mjh9122 opened #6184 "Testing coverage increase in generators/community.py"
### Current Behavior
Many branches not tested in community.py. Most are simple errors and need easy test cases to be written, I should have a PR up today.
See coverage here : https://app.codecov.io/gh/networkx/networkx/blob/main/networkx/generators/community.py
### Expected Behavior
100% coverage should be possible with a few extra tests.
### Steps to Reproduce
View coverage

[2022-11-08 03:02] rossbar commented on #6180
Looking over all the functions in the `clique.py` module, the ones that could be replaced by one-liners on the output of `find_cliques` are:
 - `graph_clique_number`: returns the size of the largest clique in the graph
 - `graph_number_of_cliques`: returns the number of maximal cliques in the graph
 - `number_of_cliques`: The number of maximal cliques for each node
 - `cliques_containing_node`: Li

[2022-11-08 16:16] me-kell opened #6187 "contracted graphs cannot be converted to `pydot`"
### Current Behavior

Contracted graphs cannot be converted/exported to `pydot`. They have unquoted values in the 'contraction' attribute.

### Steps to Reproduce

[code]

[code]

[code]

**Workaround:** remove "contraction" attribute from nodes and edges.

[code]

[code]
### Environment

Python version: 3.9
NetworkX version: 2.8.8

[2022-11-08 20:59] rossbar opened #6188 "`approximate_current_flow_betweenness_centrality` `kmax` parameter not directly used in algorithm"
`approximate_current_flow_betweenness_centrality` has a parameter `kmax` which is currently only used to check that `k`, which is computed from the number of nodes in the graph and the user-provided `epsilon` value, is not above a certain user-specified threshold:

https://github.com/networkx/networkx/blob/ddb1cb663d1c0be293aaa4d4284eab641255014f/networkx/algorithms/centrality/current_flow_between

[2022-11-08 23:30] #5854 closed

[2022-11-08 23:31] #6184 closed

[2022-11-09 15:03] Mjh9122 opened #6191 "Testing increase in generators/line"
Missing many branches in line.py.
See link: https://app.codecov.io/gh/networkx/networkx/blob/main/networkx/generators/line.py
### Expected Behavior
More tests are needed.
### Steps to Reproduce
Look at the coverage.

[2022-11-09 18:30] rossbar commented on #6187
There are many features that no longer work with pydot as that project seems to no longer be actively maintained. NetworkX's interface to pydot is pending deprecation. See #5723 for details.

[2022-11-09 19:50] me-kell commented on #5723
Will `DOT` export further be supported e.g. via `pygraphviz`?

[2022-11-09 22:00] me-kell commented on #6187
Will NetworkX's continue to support the interface to `pygraphviz`?

[2022-11-09 22:10] me-kell commented on #6187
With `pygraphviz` there is no problem with `contraction`:

[code]

[2022-11-09 23:47] rossbar commented on #6187
Yes

Great! I'm going to go ahead and close this as it's likely just related to the deprecated dependency.

[2022-11-09 23:47] #6187 closed

[2022-11-10 15:25] #6035 closed

[2022-11-13 14:09] Qudirah opened #6213 "Improve coverage for current flow betweenness subset"
I discovered there are still some red spots in this link
https://app.codecov.io/gh/networkx/networkx/blob/main/networkx/algorithms/centrality/current_flow_betweenness_subset.py
I will like to work on it.

The tests will be added in https://github.com/networkx/networkx/blob/main/networkx/algorithms/centrality/tests/test_current_flow_betweenness_centrality_subset.py

Current Behavior
We don't test a

[2022-11-13 18:21] rossbar commented on #6213
Thanks for reporting - this was already covered in #6143

[2022-11-13 18:21] #6213 closed

[2022-11-14 09:33] ilya-causalens opened #6216 "Bug: `is_minimal_d_separator` may return True even for a non d-separating set"
When experimenting with `networkx` 3.0.rc1, specifically with the d-separation algorithms, I noticed a bug where a set would be non d-separating, however would still return `True` for `is_minimal_d_separator`. Interestingly, it returns `False` for `d_separated`.

### Current Behavior
[code]

### Expected Behavior
[code]

### Steps to Reproduce

[code]

### Environment

Python version: 3.8.12
Netwo

[2022-11-14 21:34] rossbar commented on #6216
I can confirm that this issue is present on `main`. Here's my reproducer (with visualization):

[code]
![dsep](https://user-images.githubusercontent.com/1268991/201769426-ff1a098a-ef1b-495e-8184-6c1892ac8e00.png)

It's clear that node "F" is unreachable from "C" regardless of "D", so {"D"} should is not a d-separating set:

[code]

Perhaps `nx.is_minimal_d_separator` assumes that `z` is a valid d-

[2022-11-14 21:40] dschult commented on #6216
@adam2392 Can you verify if the assumption is that input set `z` is a valid separating set?

[2022-11-14 22:39] rossbar commented on #6181
@dschult 's explanation sufficiently addresses the initial question, so I will close this as resolved.

[2022-11-14 22:39] #6181 closed

[2022-11-14 22:49] rossbar commented on #6154
Closed by #6161

[2022-11-14 22:49] #6154 closed

[2022-11-15 17:14] diogobaltazar opened #6217 "README mentions unexisting force.py file"
The [README](https://github.com/networkx/networkx/blob/main/examples/external/force/README.txt) mentions the unexisting ``force.py`` file to generate the necessary data for the example.

[2022-11-15 17:58] MridulS commented on #6217
Yeah the file was renamed to `javascript_force.py` -> https://github.com/networkx/networkx/blob/main/examples/external/javascript_force.py in https://github.com/networkx/networkx/pull/4422. Feel free to send a PR to fix the typo :)

[2022-11-15 19:14] rossbar commented on #5913
Are you still seeing this issue @jamesjer ? Have you tried NX>2.8.5? I can't reproduce it locally either.

[2022-11-15 19:54] rossbar commented on #5992
I believe this was also fixed by #5972

[2022-11-15 19:54] #5992 closed

[2022-11-15 21:02] rossbar commented on #4458
Thanks for reporting this @caph1993 . This has been fixed in the switch to the naive LCA algorithm in #5736. I went ahead and added the case you reported to the test suite as an extra regression test.

[2022-11-16 05:40] rossbar opened #6220 "Potential bug in connected_double_edge_swap"
The following test case failed during a `pytest-randomly` workflow:

https://github.com/networkx/networkx/blob/895963729231fe02153afe92ecc946a400247f1d/networkx/algorithms/tests/test_swap.py#L37-L39

I was able to reproduce locally on `main` by running interactively. When running without a `seed`, I occasionally get `1` instead of `0`. This is also reproducible when seeded:

[code]

I tested with

[2022-11-16 12:16] #4458 closed

[2022-11-17 14:06] dschult commented on #6220
Looks like this new test is not a valid test. (Added in #6176)

The path graph with 4 nodes does have a valid edge swap:  (0,1) and (2,3) can be swapped.
So, this should not test that the swapcount is 0. Of course, sometimes it will be zero.

[2022-11-17 19:43] rossbar commented on #6220
Thanks @dschult - of course it makes sense to check when the test itself was added - another silly oversight. Fortunately an easy fix!

[2022-11-18 01:34] rkc88 commented on #6028
Hello @nsengiyumva-wilberforce are you still working on this? If not I would like to work on it

[2022-11-18 10:10] ilya-causalens commented on #6216
@adam2392  Ah, that makes sense. I am not sure if the flag is required since it's quite easy to also do the `d_separated` check yourself. But the doc string should just clearly state that it is not checked. Of course, this is just my opinion and up to you/admins here.

Thanks for your answer and indeed for adding this capability to `networkx`!

[2022-11-18 16:13] adam2392 commented on #6216
@ilya-causalens if you're up for the PR, I can help review. Otw I can possibly do it this weekend.

[2022-11-18 16:32] ilya-causalens commented on #6216
@adam2392 Sounds good. I will get on that. Also likely this weekend. Will add you as a reviewer :)

[2022-11-19 07:33] Qudirah opened #6226 "Improve test coverage for Eigenvector centrality"
I discovered there are still some red spots in this link
https://app.codecov.io/gh/networkx/networkx/blob/main/networkx/algorithms/centrality/eigenvector.py

I will like to work on it.

The tests will be added in
https://app.codecov.io/gh/networkx/networkx/blob/main/networkx/algorithms/centrality/tests/test_eigevector_centrality.py

Current Behavior
We don't test all the paths the code can take us

[2022-11-20 08:05] tamandeeps commented on #6216
Hi everyone.
Is there anyone working on this issue, or I can start working on this issue? Btw I am new here and would love to be part of this community.

[2022-11-20 16:48] yuanyuan-april-song opened #6229 "Graph edit distance slow"
I am using this graph_edit_distance for two graphs (directed graphs: 11 nodes and 14 edges; 16 nodes and 14 edges). I let the algorithm run overnight (about 8 hours), and it is cannot finised. Any idea why this happened? Any suggestions how I should proceed?

[2022-11-20 19:41] adam2392 commented on #6216
@tamandeeps I think @ilya-causalens already started a PR? If not, and they want, you can start one and address the comments raised here?

[2022-11-20 20:38] dschult commented on #6229
Check the documentation at: https://networkx.org/documentation/stable/reference/algorithms/similarity.html
If gives some alternatives.  This is a hard problem (indeed it is NP-hard) so each algorithm that specific graph formations which make it very slow. But the `optimize_graph_edit_distance` might work for you.

[2022-11-21 09:13] ilya-causalens commented on #6216
@tamandeeps - feel free to start a PR. I was planning on it but never got around to starting it.

[2022-11-21 11:53] tamandeeps commented on #6216
sure, I will get on it.

[2022-11-21 14:27] yuanyuan-april-song commented on #6229
Thanks much for your quick response. I tried the approximation method, which does provide the result quickly.

A follow-up on this, do you have any insights in terms of the accuracy of the approximation method? I have looked through the cited reference of this function (Abu-Aisheh et al, 2015), but it seems they don't have any evidence regarding accuracy in the paper. ("In future work, we aim at p

[2022-11-21 18:24] #6220 closed

[2022-11-22 15:43] dschult opened #6233 "Request for all_lowest_common_ancestor"
It would be good to add a function that returns all the lowest common ancestors.
There is [a post on Baeldong.com](https://www.baeldung.com/cs/lowest-common-ancestor-acyclic-graph) that describes a fairly simple algorithm to implement this function for DAGs.

See #5628 for more discussion on why this might be helpful.

[2022-11-22 15:44] dschult commented on #5628
I opened an issue requesting a function for all_lowest_common_ancestors. I think that means this one can be closed (with a pointer to it for those interested).

[2022-11-22 15:44] #5628 closed

[2022-11-22 15:50] dschult commented on #5547
This can be closed due to #5736 and #5883
Thanks!

[2022-11-22 15:50] #5547 closed

[2022-11-22 19:29] dschult commented on #5694
Closed due to being fixed in #6098

[2022-11-22 19:29] #5694 closed

[2022-11-23 18:44] stefanv commented on #5838
NumPy side resolved in https://github.com/numpy/numpy/pull/22045

[2022-11-24 02:31] lloesche opened #6235 "Introduction of circular reference in 2.8.1"
### Current Behavior

Between NetworkX 2.8 and 2.8.1 a new behaviour was introduced that is still present in 2.8.8. Whether or not this is considered a bug is up for debate, but it caused one of our tests to fail when the behaviour changed in the minor version.

Since 2.8.1 the refcount to a graph is permanently increased after calling `number_of_edges()` on it. In 2.8 this function did not have a

[2022-11-24 03:28] rossbar commented on #6235
I suspect this is related to switching to the `cached_property` decorator for properties of the graph classes, see #5614 which indeed has the 2.8.1 milestone, so the version matches up as well.

I don't recall object persistence/refcounting being discussed w.r.t. `cached_property`, so this seems most like an implementation detail. However if the object persistence is a major sticking point for som

[2022-11-24 14:37] tamandeeps commented on #6233
Hi @dschult
I would love to implement this function. Should I make a new file under this directory networkx\algorithms\tree? We will also be needing tests also so I can add tests also for this new function.
so, can I start working on this?

[2022-11-25 06:07] dschult commented on #6233
I think a more natural place for it is in the module `networkx/algorithms/lowest_common_ancestors.py`
The tests would then be put in `networkx/algorithms/tests/test_lowest_common_ancestors.py`

Thanks!

[2022-11-25 11:50] tamandeeps commented on #6233
Sure! I will get on this work and will be able to make a PR by next week.

[2022-11-26 08:09] ikarsokolov opened #6239 "nx.dfs_labeled_edges does not return last visited edge if depth_limit is specified"
`nx.dfs_labeled_edges` does not return last (deepest) visited edge when traversing backwards if **depth_limit** is specified.

### Current Behavior
[code]
Note that edge  `(3, 4, 'reverse')` is missing.

### Expected Behavior
[code]
### Environment
Python version: 3.10
NetworkX version: 2.8.8 and 3.0rc1

[2022-11-26 17:13] dschult commented on #6239
I can verify that there is a bug in `dfs_labeled_edges` for the reporting of reverse edges at the requested `depth_level`. The fix is to add an else clause for the check on `depth_now > 1`. And there are almost no tests currently for "reverse" edge reporting in the test suite. So we should add those.

[2022-11-26 20:28] dschult commented on #6239
This may not be a bug afterall...  more like a question about the definition of a "reverse" edge.

A "reverse" edge is one in which both u and v have been visited and the edge is in the DFS tree. But with the depth_limit, we don't actually visit node v when we move forward along (u, v)... we reach the depth limit and stop that branch.  Because we haven't visited that node, some people could argue

[2022-11-26 21:51] ikarsokolov commented on #6239
@dschult thanks for quick and detailed responses!

Simple example:
I have tree and want to do DFS from the root. I also have list of nodes that should be excluded from DFS result with their complete subtrees. Something like "I want filtered iterator over tree without these particular nodes and all their children".

I listen to traversal events:

- "forward" edge pointed to excluded node => exclude

[2022-11-27 08:52] dschult commented on #6239
With our code, you can get the "examine" trait of an edges by looking for `etype in ("forward", "nontree")`. So, I'm not sure it helps all that much. The difference I see is that the boost code has a "finish_vertex" moment. That's really what you are looking for: a point when you can be sure the tree from that node has been explored completely. That's what we use "reverse" to indicate.

But we hav

[2022-11-28 00:09] james-sherrell commented on #5825
I see three different questions here:

1. How should we delete parallel edges/arcs
2. How should we delete edges/arcs between two vertices regardless of node order in edge tuple
3. What is the differentiation between `G.remove_edge` and `G.remove_edges_from`

Regarding point 3, the intuitive answer is for `G.remove_edge` to be used solely for single edge deletion and `G.remove_edges_from` to permi

[2022-11-28 00:36] james-sherrell commented on #5825
Additionally, it looks like the `G.get_edge_data` function will not differentiate between two parallel arcs with the same key specification, e.g. `weight==4`.

[2022-11-28 02:57] dschult commented on #5825
The MultiGraph method `MG.remove_edges_from([('u', 'v', 1), ('u', 'v', 2)])` will remove the **second** and **third** edges while leaving the first and fourth in place. In general a 3-tuple specifies an edge in a MultiGraph while a 2-tuple in a MultiGraph is not specific enough to specify which edge is referred to. Also, note that the 3-tuple ('u', 'v', 3) will not refer to EDGE 4 because the node

[2022-11-28 19:50] ikarsokolov commented on #6239
@dschult I tried your patch and it works exactly like I wanted.
Thanks.

[2022-11-29 02:01] mmpust opened #6242 "AttributeError: module 'networkx' has no attribute 'weisfeiler_lehman_subgraph_hashes'"
### Current Behavior
AttributeError: module 'networkx' has no attribute 'weisfeiler_lehman_subgraph_hashes'

### Steps to Reproduce
'''
import networkx as nx
nx.weisfeiler_lehman_subgraph_hashes(graph1nx, iterations=3, digest_size=8)
'''
### Environment
Ubuntu 20.04 (x86/64)
Python version: 3.9.12
NetworkX version: 2.5

[2022-11-29 02:57] adam2392 opened #6243 "Subclassing networkx with Mixin class defined with Python Protocol results in an error during graph creation"
### Current Behavior

If I define a subclass of a networkx graph and augment it with some mixin class that defines some extra functions everything works as expected. However, if I subclass a Python "Protocol" class in my mixin class to allow mypy to do its thing and for me to define an API interface, there is an error.

### Expected Behavior

`nx.to_networkx_graph(ts_edges, create_using=Graph)` sh

[2022-11-29 04:16] dschult commented on #6242
You are using NetworkX 2.5 and that function was introduced in v2.7.  v2.5 was not built for python 3.9, so you should probably upgrade to a newer version.  Perhaps v2.8.8?

[2022-11-29 04:51] dschult commented on #6243
That's funny...  The typing.Protocol class changes the return value of the type() function, breaking our type-checking... :}  Perhaps we need to go back to ducktyping where we just try to create a graph with `create_using` and if it doesn't break we assume that all is OK.

OK...  more seriously, What does the `typing.Protocol` say about how to check the type of the subclass? In particular, we want

[2022-11-29 07:31] boothby commented on #6243
The `inspect` module has an official `isclass` method for this purpose.

[2022-11-29 15:26] dschult commented on #6243
That seems like the right fix: In empty_graph, replace the `elif type(create_using) is type:` with
[code]

I guess the workaround in the meantime is to make sure `create_using` is an instance by adding () to get:

```nx.to_networkx_graph(ts_edges, create_using=Graph())```

[2022-11-29 15:32] adam2392 commented on #6243
Want me to start a PR?

[2022-11-29 16:00] dschult commented on #6243
Thanks for the offer -- I guess I should have waited... :}
Anyway, can you see if #6244 does what you want? I added a test that broke before and this fixes it, but not sure it is the best test...

[2022-11-29 16:33] adam2392 commented on #6243
Yes so this gets rid of the error due to the type checking. But another issue arised.

Some more specifics are that I am trying to leverage networkx 's generality to store essentially anything "hashable" as a node. Therefore, I can store a 2-tuple as nodes to create a time-series graph, with the first index being the variable name and the second index being the time-lag. I then override the `add_e

[2022-11-29 17:55] dschult commented on #6243
Why not check the edges before sending them into the graph object? Something like:
[code]

[2022-11-29 18:00] adam2392 commented on #6243
This gets around the instantiation part but not when you want to add edges after instantiation.

Then you would need to do the checks every time you call "add_edge" outside the function call itself?

[2022-11-29 18:31] #5838 closed

[2022-11-29 19:29] dschult commented on #6243
You can still do the checks each `G.add_edge`...
And, of course, you can overwrite the `__init__` function to make max_lag available to the add_edges_from method before G.graph is created.  Lots of options... when you are the creator...

[2022-11-29 19:39] adam2392 commented on #6243
I was going to store max lag in the graph attributes. Why do graph attributes need to be instantiated after edge creation?

[2022-11-30 00:17] dschult commented on #6243
They don't....  And I would have said the same thing about "why does edge creation need to be after graph attribute loading?".  It doesn't...  Someone might need to look at the graph attribute in order to set the edges. And someone might need to look at edges in order to set the graph attribute...  But almost always, there isn't any interaction between the inputs to the Graph constructor.

Perhaps

[2022-11-30 03:49] adam2392 commented on #6243
Ah fair point. Sounds good!

In the meantime, https://github.com/networkx/networkx/pull/6244 seems like it solves the issue at hand.

[2022-11-30 03:49] adam2392 commented on #6216
Hi @tamandeeps was there any progress on this?

[2022-11-30 12:40] tamandeeps commented on #6216
Yes, I made a PR for the same.
Apologies for the delay. I was thinking of various approaches to fix this issue and understanding how it is working. I basically checked for d-separation.

[2022-11-30 18:49] j6k4m8 opened #6248 "Allow caller to opt out of adding `weight` attributes in `from_numpy_array`"
### Current Behavior

Right now, calls to `from_numpy_array` add a `weight` attribute to all edges in the newly created (non-multi)graph.

### Expected Behavior

It would be nice to allow the user to opt out of this behavior, or to specify an attribute that should receive this weight.

### Steps to Reproduce

[code]

[code]

### Environment

* Python version: 3.10
* NetworkX version: All (2.6.3)